/* css */
.{color:#000000;}
x{color:#000176;}
.{color:#0002ec;}
x{color:#000462;}
.{color:#0005d8;}
x{color:#00074e;}
.{color:#0008c4;}
x{color:#000a3a;}
.{color:#000bb0;}
x{color:#000d26;}
.{color:#000e9c;}
x{color:#001012;}
.{color:#001188;}
x{color:#0012fe;}
.{color:#001474;}
x{color:#0015ea;}
.{color:#001760;}
x{color:#0018d6;}
.{color:#001a4c;}
x{color:#001bc2;}
.{color:#001d38;}
x{color:#001eae;}
.{color:#002024;}
x{color:#00219a;}
.{color:#002310;}
x{color:#002486;}
.{color:#0025fc;}
x{color:#002772;}
.{color:#0028e8;}
x{color:#002a5e;}
.{color:#002bd4;}
x{color:#002d4a;}
.{color:#002ec0;}
x{color:#003036;}
.{color:#0031ac;}
x{color:#003322;}
.{color:#003498;}
x{color:#00360e;}
.{color:#003784;}
x{color:#0038fa;}
.{color:#003a70;}
x{color:#003be6;}
.{color:#003d5c;}
x{color:#003ed2;}
.{color:#004048;}
x{color:#0041be;}
.{color:#004334;}
x{color:#0044aa;}
.{color:#004620;}
x{color:#004796;}
.{color:#00490c;}
x{color:#004a82;}
.{color:#004bf8;}
x{color:#004d6e;}
.{color:#004ee4;}
x{color:#00505a;}
.{color:#0051d0;}
x{color:#005346;}
.{color:#0054bc;}
x{color:#005632;}
.{color:#0057a8;}
x{color:#00591e;}
.{color:#005a94;}
x{color:#005c0a;}
.{color:#005d80;}
x{color:#005ef6;}
.{color:#00606c;}
x{color:#0061e2;}
.{color:#006358;}
x{color:#0064ce;}
.{color:#006644;}
x{color:#0067ba;}
.{color:#006930;}
x{color:#006aa6;}
.{color:#006c1c;}
x{color:#006d92;}
.{color:#006f08;}
x{color:#00707e;}
.{color:#0071f4;}
x{color:#00736a;}
.{color:#0074e0;}
x{color:#007656;}
.{color:#0077cc;}
x{color:#007942;}
.{color:#007ab8;}
x{color:#007c2e;}
.{color:#007da4;}
x{color:#007f1a;}
.{color:#008090;}
x{color:#008206;}
.{color:#00837c;}
x{color:#0084f2;}
.{color:#008668;}
x{color:#0087de;}
.{color:#008954;}
x{color:#008aca;}
.{color:#008c40;}
x{color:#008db6;}
.{color:#008f2c;}
x{color:#0090a2;}
.{color:#009218;}
x{color:#00938e;}
.{color:#009504;}
x{color:#00967a;}
.{color:#0097f0;}
x{color:#009966;}
.{color:#009adc;}
x{color:#009c52;}
.{color:#009dc8;}
x{color:#009f3e;}
.{color:#00a0b4;}
x{color:#00a22a;}
.{color:#00a3a0;}
x{color:#00a516;}
.{color:#00a68c;}
x{color:#00a802;}
.{color:#00a978;}
x{color:#00aaee;}
.{color:#00ac64;}
x{color:#00adda;}
.{color:#00af50;}
x{color:#00b0c6;}
.{color:#00b23c;}
x{color:#00b3b2;}
.{color:#00b528;}
x{color:#00b69e;}
.{color:#00b814;}
x{color:#00b98a;}
.{color:#00bb00;}
x{color:#00bc76;}
.{color:#00bdec;}
x{color:#00bf62;}
.{color:#00c0d8;}
x{color:#00c24e;}
.{color:#00c3c4;}
x{color:#00c53a;}
.{color:#00c6b0;}
x{color:#00c826;}
.{color:#00c99c;}
x{color:#00cb12;}
.{color:#00cc88;}
x{color:#00cdfe;}
.{color:#00cf74;}
x{color:#00d0ea;}
.{color:#00d260;}
x{color:#00d3d6;}
.{color:#00d54c;}
x{color:#00d6c2;}
.{color:#00d838;}
x{color:#00d9ae;}
.{color:#00db24;}
x{color:#00dc9a;}
.{color:#00de10;}
x{color:#00df86;}
.{color:#00e0fc;}
x{color:#00e272;}
.{color:#00e3e8;}
x{color:#00e55e;}
.{color:#00e6d4;}
x{color:#00e84a;}
.{color:#00e9c0;}
x{color:#00eb36;}
.{color:#00ecac;}
x{color:#00ee22;}
.{color:#00ef98;}
x{color:#00f10e;}
.{color:#00f284;}
x{color:#00f3fa;}
.{color:#00f570;}
x{color:#00f6e6;}
.{color:#00f85c;}
x{color:#00f9d2;}
.{color:#00fb48;}
x{color:#00fcbe;}
.{color:#00fe34;}
x{color:#00ffaa;}
.{color:#010120;}
x{color:#010296;}
.{color:#01040c;}
x{color:#010582;}
.{color:#0106f8;}
x{color:#01086e;}
.{color:#0109e4;}
x{color:#010b5a;}
.{color:#010cd0;}
x{color:#010e46;}
.{color:#010fbc;}
x{color:#011132;}
.{color:#0112a8;}
x{color:#01141e;}
.{color:#011594;}
x{color:#01170a;}
.{color:#011880;}
x{color:#0119f6;}
.{color:#011b6c;}
x{color:#011ce2;}
.{color:#011e58;}
x{color:#011fce;}
.{color:#012144;}
x{color:#0122ba;}
.{color:#012430;}
x{color:#0125a6;}
.{color:#01271c;}
x{color:#012892;}
.{color:#012a08;}
x{color:#012b7e;}
.{color:#012cf4;}
x{color:#012e6a;}
.{color:#012fe0;}
x{color:#013156;}
.{color:#0132cc;}
x{color:#013442;}
.{color:#0135b8;}
x{color:#01372e;}
.{color:#0138a4;}
x{color:#013a1a;}
.{color:#013b90;}
x{color:#013d06;}
.{color:#013e7c;}
x{color:#013ff2;}
.{color:#014168;}
x{color:#0142de;}
.{color:#014454;}
x{color:#0145ca;}
.{color:#014740;}
x{color:#0148b6;}
.{color:#014a2c;}
x{color:#014ba2;}
.{color:#014d18;}
x{color:#014e8e;}
.{color:#015004;}
x{color:#01517a;}
.{color:#0152f0;}
x{color:#015466;}
.{color:#0155dc;}
x{color:#015752;}
.{color:#0158c8;}
x{color:#015a3e;}
.{color:#015bb4;}
x{color:#015d2a;}
.{color:#015ea0;}
x{color:#016016;}
.{color:#01618c;}
x{color:#016302;}
.{color:#016478;}
x{color:#0165ee;}
.{color:#016764;}
x{color:#0168da;}
.{color:#016a50;}
x{color:#016bc6;}
.{color:#016d3c;}
x{color:#016eb2;}
.{color:#017028;}
x{color:#01719e;}
.{color:#017314;}
x{color:#01748a;}
.{color:#017600;}
x{color:#017776;}
.{color:#0178ec;}
x{color:#017a62;}
.{color:#017bd8;}
x{color:#017d4e;}
.{color:#017ec4;}
x{color:#01803a;}
.{color:#0181b0;}
x{color:#018326;}
.{color:#01849c;}
x{color:#018612;}
.{color:#018788;}
x{color:#0188fe;}
.{color:#018a74;}
x{color:#018bea;}
.{color:#018d60;}
x{color:#018ed6;}
.{color:#01904c;}
x{color:#0191c2;}
.{color:#019338;}
x{color:#0194ae;}
.{color:#019624;}
x{color:#01979a;}
.{color:#019910;}
x{color:#019a86;}
.{color:#019bfc;}
x{color:#019d72;}
.{color:#019ee8;}
x{color:#01a05e;}
.{color:#01a1d4;}
x{color:#01a34a;}
.{color:#01a4c0;}
x{color:#01a636;}
.{color:#01a7ac;}
x{color:#01a922;}
.{color:#01aa98;}
x{color:#01ac0e;}
.{color:#01ad84;}
x{color:#01aefa;}
.{color:#01b070;}
x{color:#01b1e6;}
.{color:#01b35c;}
x{color:#01b4d2;}
.{color:#01b648;}
x{color:#01b7be;}
.{color:#01b934;}
x{color:#01baaa;}
.{color:#01bc20;}
x{color:#01bd96;}
.{color:#01bf0c;}
x{color:#01c082;}
.{color:#01c1f8;}
x{color:#01c36e;}
.{color:#01c4e4;}
x{color:#01c65a;}
.{color:#01c7d0;}
x{color:#01c946;}
.{color:#01cabc;}
x{color:#01cc32;}
.{color:#01cda8;}
x{color:#01cf1e;}
.{color:#01d094;}
x{color:#01d20a;}
.{color:#01d380;}
x{color:#01d4f6;}
.{color:#01d66c;}
x{color:#01d7e2;}
.{color:#01d958;}
x{color:#01dace;}
.{color:#01dc44;}
x{color:#01ddba;}
.{color:#01df30;}
x{color:#01e0a6;}
.{color:#01e21c;}
x{color:#01e392;}
.{color:#01e508;}
x{color:#01e67e;}
.{color:#01e7f4;}
x{color:#01e96a;}
.{color:#01eae0;}
x{color:#01ec56;}
.{color:#01edcc;}
x{color:#01ef42;}
.{color:#01f0b8;}
x{color:#01f22e;}
.{color:#01f3a4;}
x{color:#01f51a;}
.{color:#01f690;}
x{color:#01f806;}
.{color:#01f97c;}
x{color:#01faf2;}
.{color:#01fc68;}
x{color:#01fdde;}
.{color:#01ff54;}
x{color:#0200ca;}
.{color:#020240;}
x{color:#0203b6;}
.{color:#02052c;}
x{color:#0206a2;}
.{color:#020818;}
x{color:#02098e;}
.{color:#020b04;}
x{color:#020c7a;}
.{color:#020df0;}
x{color:#020f66;}
.{color:#0210dc;}
x{color:#021252;}
.{color:#0213c8;}
x{color:#02153e;}
.{color:#0216b4;}
x{color:#02182a;}
.{color:#0219a0;}
x{color:#021b16;}
.{color:#021c8c;}
x{color:#021e02;}
.{color:#021f78;}
x{color:#0220ee;}
.{color:#022264;}
x{color:#0223da;}
.{color:#022550;}
x{color:#0226c6;}
.{color:#02283c;}
x{color:#0229b2;}
.{color:#022b28;}
x{color:#022c9e;}
.{color:#022e14;}
x{color:#022f8a;}
.{color:#023100;}
x{color:#023276;}
.{color:#0233ec;}
x{color:#023562;}
.{color:#0236d8;}
x{color:#02384e;}
.{color:#0239c4;}
x{color:#023b3a;}
.{color:#023cb0;}
x{color:#023e26;}
.{color:#023f9c;}
x{color:#024112;}
.{color:#024288;}
x{color:#0243fe;}
.{color:#024574;}
x{color:#0246ea;}
.{color:#024860;}
x{color:#0249d6;}
.{color:#024b4c;}
x{color:#024cc2;}
.{color:#024e38;}
x{color:#024fae;}
.{color:#025124;}
x{color:#02529a;}
.{color:#025410;}
x{color:#025586;}
.{color:#0256fc;}
x{color:#025872;}
.{color:#0259e8;}
x{color:#025b5e;}
.{color:#025cd4;}
x{color:#025e4a;}
.{color:#025fc0;}
x{color:#026136;}
.{color:#0262ac;}
x{color:#026422;}
.{color:#026598;}
x{color:#02670e;}
.{color:#026884;}
x{color:#0269fa;}
.{color:#026b70;}
x{color:#026ce6;}
.{color:#026e5c;}
x{color:#026fd2;}
.{color:#027148;}
x{color:#0272be;}
.{color:#027434;}
x{color:#0275aa;}
.{color:#027720;}
x{color:#027896;}
.{color:#027a0c;}
x{color:#027b82;}
.{color:#027cf8;}
x{color:#027e6e;}
.{color:#027fe4;}
x{color:#02815a;}
.{color:#0282d0;}
x{color:#028446;}
.{color:#0285bc;}
x{color:#028732;}
.{color:#0288a8;}
x{color:#028a1e;}
.{color:#028b94;}
x{color:#028d0a;}
.{color:#028e80;}
x{color:#028ff6;}
.{color:#02916c;}
x{color:#0292e2;}
.{color:#029458;}
x{color:#0295ce;}
.{color:#029744;}
x{color:#0298ba;}
.{color:#029a30;}
x{color:#029ba6;}
.{color:#029d1c;}
x{color:#029e92;}
.{color:#02a008;}
x{color:#02a17e;}
.{color:#02a2f4;}
x{color:#02a46a;}
.{color:#02a5e0;}
x{color:#02a756;}
.{color:#02a8cc;}
x{color:#02aa42;}
.{color:#02abb8;}
x{color:#02ad2e;}
.{color:#02aea4;}
x{color:#02b01a;}
.{color:#02b190;}
x{color:#02b306;}
.{color:#02b47c;}
x{color:#02b5f2;}
.{color:#02b768;}
x{color:#02b8de;}
.{color:#02ba54;}
x{color:#02bbca;}
.{color:#02bd40;}
x{color:#02beb6;}
.{color:#02c02c;}
x{color:#02c1a2;}
.{color:#02c318;}
x{color:#02c48e;}
.{color:#02c604;}
x{color:#02c77a;}
.{color:#02c8f0;}
x{color:#02ca66;}
.{color:#02cbdc;}
x{color:#02cd52;}
.{color:#02cec8;}
x{color:#02d03e;}
.{color:#02d1b4;}
x{color:#02d32a;}
.{color:#02d4a0;}
x{color:#02d616;}
.{color:#02d78c;}
x{color:#02d902;}
.{color:#02da78;}
x{color:#02dbee;}
.{color:#02dd64;}
x{color:#02deda;}
.{color:#02e050;}
x{color:#02e1c6;}
.{color:#02e33c;}
x{color:#02e4b2;}
.{color:#02e628;}
x{color:#02e79e;}
.{color:#02e914;}
x{color:#02ea8a;}
.{color:#02ec00;}
x{color:#02ed76;}
.{color:#02eeec;}
x{color:#02f062;}
.{color:#02f1d8;}
x{color:#02f34e;}
.{color:#02f4c4;}
x{color:#02f63a;}
.{color:#02f7b0;}
x{color:#02f926;}
.{color:#02fa9c;}
x{color:#02fc12;}
.{color:#02fd88;}
x{color:#02fefe;}
.{color:#030074;}
x{color:#0301ea;}
.{color:#030360;}
x{color:#0304d6;}
.{color:#03064c;}
x{color:#0307c2;}
.{color:#030938;}
x{color:#030aae;}
.{color:#030c24;}
x{color:#030d9a;}
.{color:#030f10;}
x{color:#031086;}
.{color:#0311fc;}
x{color:#031372;}
.{color:#0314e8;}
x{color:#03165e;}
.{color:#0317d4;}
x{color:#03194a;}
.{color:#031ac0;}
x{color:#031c36;}
.{color:#031dac;}
x{color:#031f22;}
.{color:#032098;}
x{color:#03220e;}
.{color:#032384;}
x{color:#0324fa;}
.{color:#032670;}
x{color:#0327e6;}
.{color:#03295c;}
x{color:#032ad2;}
.{color:#032c48;}
x{color:#032dbe;}
.{color:#032f34;}
x{color:#0330aa;}
.{color:#033220;}
x{color:#033396;}
.{color:#03350c;}
x{color:#033682;}
.{color:#0337f8;}
x{color:#03396e;}
.{color:#033ae4;}
x{color:#033c5a;}
.{color:#033dd0;}
x{color:#033f46;}
.{color:#0340bc;}
x{color:#034232;}
.{color:#0343a8;}
x{color:#03451e;}
.{color:#034694;}
x{color:#03480a;}
.{color:#034980;}
x{color:#034af6;}
.{color:#034c6c;}
x{color:#034de2;}
.{color:#034f58;}
x{color:#0350ce;}
.{color:#035244;}
x{color:#0353ba;}
.{color:#035530;}
x{color:#0356a6;}
.{color:#03581c;}
x{color:#035992;}
.{color:#035b08;}
x{color:#035c7e;}
.{color:#035df4;}
x{color:#035f6a;}
.{color:#0360e0;}
x{color:#036256;}
.{color:#0363cc;}
x{color:#036542;}
.{color:#0366b8;}
x{color:#03682e;}
.{color:#0369a4;}
x{color:#036b1a;}
.{color:#036c90;}
x{color:#036e06;}
.{color:#036f7c;}
x{color:#0370f2;}
.{color:#037268;}
x{color:#0373de;}
.{color:#037554;}
x{color:#0376ca;}
.{color:#037840;}
x{color:#0379b6;}
.{color:#037b2c;}
x{color:#037ca2;}
.{color:#037e18;}
x{color:#037f8e;}
.{color:#038104;}
x{color:#03827a;}
.{color:#0383f0;}
x{color:#038566;}
.{color:#0386dc;}
x{color:#038852;}
.{color:#0389c8;}
x{color:#038b3e;}
.{color:#038cb4;}
x{color:#038e2a;}
.{color:#038fa0;}
x{color:#039116;}
.{color:#03928c;}
x{color:#039402;}
.{color:#039578;}
x{color:#0396ee;}
.{color:#039864;}
x{color:#0399da;}
.{color:#039b50;}
x{color:#039cc6;}
.{color:#039e3c;}
x{color:#039fb2;}
.{color:#03a128;}
x{color:#03a29e;}
.{color:#03a414;}
x{color:#03a58a;}
.{color:#03a700;}
x{color:#03a876;}
.{color:#03a9ec;}
x{color:#03ab62;}
.{color:#03acd8;}
x{color:#03ae4e;}
.{color:#03afc4;}
x{color:#03b13a;}
.{color:#03b2b0;}
x{color:#03b426;}
.{color:#03b59c;}
x{color:#03b712;}
.{color:#03b888;}
x{color:#03b9fe;}
.{color:#03bb74;}
x{color:#03bcea;}
.{color:#03be60;}
x{color:#03bfd6;}
.{color:#03c14c;}
x{color:#03c2c2;}
.{color:#03c438;}
x{color:#03c5ae;}
.{color:#03c724;}
x{color:#03c89a;}
.{color:#03ca10;}
x{color:#03cb86;}
.{color:#03ccfc;}
x{color:#03ce72;}
.{color:#03cfe8;}
x{color:#03d15e;}
.{color:#03d2d4;}
x{color:#03d44a;}
.{color:#03d5c0;}
x{color:#03d736;}
.{color:#03d8ac;}
x{color:#03da22;}
.{color:#03db98;}
x{color:#03dd0e;}
.{color:#03de84;}
x{color:#03dffa;}
.{color:#03e170;}
x{color:#03e2e6;}
.{color:#03e45c;}
x{color:#03e5d2;}
.{color:#03e748;}
x{color:#03e8be;}
.{color:#03ea34;}
x{color:#03ebaa;}
.{color:#03ed20;}
x{color:#03ee96;}
.{color:#03f00c;}
x{color:#03f182;}
.{color:#03f2f8;}
x{color:#03f46e;}
.{color:#03f5e4;}
x{color:#03f75a;}
.{color:#03f8d0;}
x{color:#03fa46;}
.{color:#03fbbc;}
x{color:#03fd32;}
.{color:#03fea8;}
x{color:#04001e;}
.{color:#040194;}
x{color:#04030a;}
.{color:#040480;}
x{color:#0405f6;}
.{color:#04076c;}
x{color:#0408e2;}
.{color:#040a58;}
x{color:#040bce;}
.{color:#040d44;}
x{color:#040eba;}
.{color:#041030;}
x{color:#0411a6;}
.{color:#04131c;}
x{color:#041492;}
.{color:#041608;}
x{color:#04177e;}
.{color:#0418f4;}
x{color:#041a6a;}
.{color:#041be0;}
x{color:#041d56;}
.{color:#041ecc;}
x{color:#042042;}
.{color:#0421b8;}
x{color:#04232e;}
.{color:#0424a4;}
x{color:#04261a;}
.{color:#042790;}
x{color:#042906;}
.{color:#042a7c;}
x{color:#042bf2;}
.{color:#042d68;}
x{color:#042ede;}
.{color:#043054;}
x{color:#0431ca;}
.{color:#043340;}
x{color:#0434b6;}
.{color:#04362c;}
x{color:#0437a2;}
.{color:#043918;}
x{color:#043a8e;}
.{color:#043c04;}
x{color:#043d7a;}
.{color:#043ef0;}
x{color:#044066;}
.{color:#0441dc;}
x{color:#044352;}
.{color:#0444c8;}
x{color:#04463e;}
.{color:#0447b4;}
x{color:#04492a;}
.{color:#044aa0;}
x{color:#044c16;}
.{color:#044d8c;}
x{color:#044f02;}
.{color:#045078;}
x{color:#0451ee;}
.{color:#045364;}
x{color:#0454da;}
.{color:#045650;}
x{color:#0457c6;}
.{color:#04593c;}
x{color:#045ab2;}
.{color:#045c28;}
x{color:#045d9e;}
.{color:#045f14;}
x{color:#04608a;}
.{color:#046200;}
x{color:#046376;}
.{color:#0464ec;}
x{color:#046662;}
.{color:#0467d8;}
x{color:#04694e;}
.{color:#046ac4;}
x{color:#046c3a;}
.{color:#046db0;}
x{color:#046f26;}
.{color:#04709c;}
x{color:#047212;}
.{color:#047388;}
x{color:#0474fe;}
.{color:#047674;}
x{color:#0477ea;}
.{color:#047960;}
x{color:#047ad6;}
.{color:#047c4c;}
x{color:#047dc2;}
.{color:#047f38;}
x{color:#0480ae;}
.{color:#048224;}
x{color:#04839a;}
.{color:#048510;}
x{color:#048686;}
.{color:#0487fc;}
x{color:#048972;}
.{color:#048ae8;}
x{color:#048c5e;}
.{color:#048dd4;}
x{color:#048f4a;}
.{color:#0490c0;}
x{color:#049236;}
.{color:#0493ac;}
x{color:#049522;}
.{color:#049698;}
x{color:#04980e;}
.{color:#049984;}
x{color:#049afa;}
.{color:#049c70;}
x{color:#049de6;}
.{color:#049f5c;}
x{color:#04a0d2;}
.{color:#04a248;}
x{color:#04a3be;}
.{color:#04a534;}
x{color:#04a6aa;}
.{color:#04a820;}
x{color:#04a996;}
.{color:#04ab0c;}
x{color:#04ac82;}
.{color:#04adf8;}
x{color:#04af6e;}
.{color:#04b0e4;}
x{color:#04b25a;}
.{color:#04b3d0;}
x{color:#04b546;}
.{color:#04b6bc;}
x{color:#04b832;}
.{color:#04b9a8;}
x{color:#04bb1e;}
.{color:#04bc94;}
x{color:#04be0a;}
.{color:#04bf80;}
x{color:#04c0f6;}
.{color:#04c26c;}
x{color:#04c3e2;}
.{color:#04c558;}
x{color:#04c6ce;}
.{color:#04c844;}
x{color:#04c9ba;}
.{color:#04cb30;}
x{color:#04cca6;}
.{color:#04ce1c;}
x{color:#04cf92;}
.{color:#04d108;}
x{color:#04d27e;}
.{color:#04d3f4;}
x{color:#04d56a;}
.{color:#04d6e0;}
x{color:#04d856;}
.{color:#04d9cc;}
x{color:#04db42;}
.{color:#04dcb8;}
x{color:#04de2e;}
.{color:#04dfa4;}
x{color:#04e11a;}
.{color:#04e290;}
x{color:#04e406;}
.{color:#04e57c;}
x{color:#04e6f2;}
.{color:#04e868;}
x{color:#04e9de;}
.{color:#04eb54;}
x{color:#04ecca;}
.{color:#04ee40;}
x{color:#04efb6;}
.{color:#04f12c;}
x{color:#04f2a2;}
.{color:#04f418;}
x{color:#04f58e;}
.{color:#04f704;}
x{color:#04f87a;}
.{color:#04f9f0;}
x{color:#04fb66;}
.{color:#04fcdc;}
x{color:#04fe52;}
.{color:#04ffc8;}
x{color:#05013e;}
.{color:#0502b4;}
x{color:#05042a;}
.{color:#0505a0;}
x{color:#050716;}
.{color:#05088c;}
x{color:#050a02;}
.{color:#050b78;}
x{color:#050cee;}
.{color:#050e64;}
x{color:#050fda;}
.{color:#051150;}
x{color:#0512c6;}
.{color:#05143c;}
x{color:#0515b2;}
.{color:#051728;}
x{color:#05189e;}
.{color:#051a14;}
x{color:#051b8a;}
.{color:#051d00;}
x{color:#051e76;}
.{color:#051fec;}
x{color:#052162;}
.{color:#0522d8;}
x{color:#05244e;}
.{color:#0525c4;}
x{color:#05273a;}
.{color:#0528b0;}
x{color:#052a26;}
.{color:#052b9c;}
x{color:#052d12;}
.{color:#052e88;}
x{color:#052ffe;}
.{color:#053174;}
x{color:#0532ea;}
.{color:#053460;}
x{color:#0535d6;}
.{color:#05374c;}
x{color:#0538c2;}
.{color:#053a38;}
x{color:#053bae;}
.{color:#053d24;}
x{color:#053e9a;}
.{color:#054010;}
x{color:#054186;}
.{color:#0542fc;}
x{color:#054472;}
.{color:#0545e8;}
x{color:#05475e;}
.{color:#0548d4;}
x{color:#054a4a;}
.{color:#054bc0;}
x{color:#054d36;}
.{color:#054eac;}
x{color:#055022;}
.{color:#055198;}
x{color:#05530e;}
.{color:#055484;}
x{color:#0555fa;}
.{color:#055770;}
x{color:#0558e6;}
.{color:#055a5c;}
x{color:#055bd2;}
.{color:#055d48;}
x{color:#055ebe;}
.{color:#056034;}
x{color:#0561aa;}
.{color:#056320;}
x{color:#056496;}
.{color:#05660c;}
x{color:#056782;}
.{color:#0568f8;}
x{color:#056a6e;}
.{color:#056be4;}
x{color:#056d5a;}
.{color:#056ed0;}
x{color:#057046;}
.{color:#0571bc;}
x{color:#057332;}
.{color:#0574a8;}
x{color:#05761e;}
.{color:#057794;}
x{color:#05790a;}
.{color:#057a80;}
x{color:#057bf6;}
.{color:#057d6c;}
x{color:#057ee2;}
.{color:#058058;}
x{color:#0581ce;}
.{color:#058344;}
x{color:#0584ba;}
.{color:#058630;}
x{color:#0587a6;}
.{color:#05891c;}
x{color:#058a92;}
.{color:#058c08;}
x{color:#058d7e;}
.{color:#058ef4;}
x{color:#05906a;}
.{color:#0591e0;}
x{color:#059356;}
.{color:#0594cc;}
x{color:#059642;}
.{color:#0597b8;}
x{color:#05992e;}
.{color:#059aa4;}
x{color:#059c1a;}
.{color:#059d90;}
x{color:#059f06;}
.{color:#05a07c;}
x{color:#05a1f2;}
.{color:#05a368;}
x{color:#05a4de;}
.{color:#05a654;}
x{color:#05a7ca;}
.{color:#05a940;}
x{color:#05aab6;}
.{color:#05ac2c;}
x{color:#05ada2;}
.{color:#05af18;}
x{color:#05b08e;}
.{color:#05b204;}
x{color:#05b37a;}
