/* css */
.{color:#000000;}
x{color:#000110;}
.{color:#000220;}
x{color:#000330;}
.{color:#000440;}
x{color:#000550;}
.{color:#000660;}
x{color:#000770;}
.{color:#000880;}
x{color:#000990;}
.{color:#000aa0;}
x{color:#000bb0;}
.{color:#000cc0;}
x{color:#000dd0;}
.{color:#000ee0;}
x{color:#000ff0;}
.{color:#001100;}
x{color:#001210;}
.{color:#001320;}
x{color:#001430;}
.{color:#001540;}
x{color:#001650;}
.{color:#001760;}
x{color:#001870;}
.{color:#001980;}
x{color:#001a90;}
.{color:#001ba0;}
x{color:#001cb0;}
.{color:#001dc0;}
x{color:#001ed0;}
.{color:#001fe0;}
x{color:#0020f0;}
.{color:#002200;}
x{color:#002310;}
.{color:#002420;}
x{color:#002530;}
.{color:#002640;}
x{color:#002750;}
.{color:#002860;}
x{color:#002970;}
.{color:#002a80;}
x{color:#002b90;}
.{color:#002ca0;}
x{color:#002db0;}
.{color:#002ec0;}
x{color:#002fd0;}
.{color:#0030e0;}
x{color:#0031f0;}
.{color:#003300;}
x{color:#003410;}
.{color:#003520;}
x{color:#003630;}
.{color:#003740;}
x{color:#003850;}
.{color:#003960;}
x{color:#003a70;}
.{color:#003b80;}
x{color:#003c90;}
.{color:#003da0;}
x{color:#003eb0;}
.{color:#003fc0;}
x{color:#0040d0;}
.{color:#0041e0;}
x{color:#0042f0;}
.{color:#004400;}
x{color:#004510;}
.{color:#004620;}
x{color:#004730;}
.{color:#004840;}
x{color:#004950;}
.{color:#004a60;}
x{color:#004b70;}
.{color:#004c80;}
x{color:#004d90;}
.{color:#004ea0;}
x{color:#004fb0;}
.{color:#0050c0;}
x{color:#0051d0;}
.{color:#0052e0;}
x{color:#0053f0;}
.{color:#005500;}
x{color:#005610;}
.{color:#005720;}
x{color:#005830;}
.{color:#005940;}
x{color:#005a50;}
.{color:#005b60;}
x{color:#005c70;}
.{color:#005d80;}
x{color:#005e90;}
.{color:#005fa0;}
x{color:#0060b0;}
.{color:#0061c0;}
x{color:#0062d0;}
.{color:#0063e0;}
x{color:#0064f0;}
.{color:#006600;}
x{color:#006710;}
.{color:#006820;}
x{color:#006930;}
.{color:#006a40;}
x{color:#006b50;}
.{color:#006c60;}
x{color:#006d70;}
.{color:#006e80;}
x{color:#006f90;}
.{color:#0070a0;}
x{color:#0071b0;}
.{color:#0072c0;}
x{color:#0073d0;}
.{color:#0074e0;}
x{color:#0075f0;}
.{color:#007700;}
x{color:#007810;}
.{color:#007920;}
x{color:#007a30;}
.{color:#007b40;}
x{color:#007c50;}
.{color:#007d60;}
x{color:#007e70;}
.{color:#007f80;}
x{color:#008090;}
.{color:#0081a0;}
x{color:#0082b0;}
.{color:#0083c0;}
x{color:#0084d0;}
.{color:#0085e0;}
x{color:#0086f0;}
.{color:#008800;}
x{color:#008910;}
.{color:#008a20;}
x{color:#008b30;}
.{color:#008c40;}
x{color:#008d50;}
.{color:#008e60;}
x{color:#008f70;}
.{color:#009080;}
x{color:#009190;}
.{color:#0092a0;}
x{color:#0093b0;}
.{color:#0094c0;}
x{color:#0095d0;}
.{color:#0096e0;}
x{color:#0097f0;}
.{color:#009900;}
x{color:#009a10;}
.{color:#009b20;}
x{color:#009c30;}
.{color:#009d40;}
x{color:#009e50;}
.{color:#009f60;}
x{color:#00a070;}
.{color:#00a180;}
x{color:#00a290;}
.{color:#00a3a0;}
x{color:#00a4b0;}
.{color:#00a5c0;}
x{color:#00a6d0;}
.{color:#00a7e0;}
x{color:#00a8f0;}
.{color:#00aa00;}
x{color:#00ab10;}
.{color:#00ac20;}
x{color:#00ad30;}
.{color:#00ae40;}
x{color:#00af50;}
.{color:#00b060;}
x{color:#00b170;}
.{color:#00b280;}
x{color:#00b390;}
.{color:#00b4a0;}
x{color:#00b5b0;}
.{color:#00b6c0;}
x{color:#00b7d0;}
.{color:#00b8e0;}
x{color:#00b9f0;}
.{color:#00bb00;}
x{color:#00bc10;}
.{color:#00bd20;}
x{color:#00be30;}
.{color:#00bf40;}
x{color:#00c050;}
.{color:#00c160;}
x{color:#00c270;}
.{color:#00c380;}
x{color:#00c490;}
.{color:#00c5a0;}
x{color:#00c6b0;}
.{color:#00c7c0;}
x{color:#00c8d0;}
.{color:#00c9e0;}
x{color:#00caf0;}
.{color:#00cc00;}
x{color:#00cd10;}
.{color:#00ce20;}
x{color:#00cf30;}
.{color:#00d040;}
x{color:#00d150;}
.{color:#00d260;}
x{color:#00d370;}
.{color:#00d480;}
x{color:#00d590;}
.{color:#00d6a0;}
x{color:#00d7b0;}
.{color:#00d8c0;}
x{color:#00d9d0;}
.{color:#00dae0;}
x{color:#00dbf0;}
.{color:#00dd00;}
x{color:#00de10;}
.{color:#00df20;}
x{color:#00e030;}
.{color:#00e140;}
x{color:#00e250;}
.{color:#00e360;}
x{color:#00e470;}
.{color:#00e580;}
x{color:#00e690;}
.{color:#00e7a0;}
x{color:#00e8b0;}
.{color:#00e9c0;}
x{color:#00ead0;}
.{color:#00ebe0;}
x{color:#00ecf0;}
.{color:#00ee00;}
x{color:#00ef10;}
.{color:#00f020;}
x{color:#00f130;}
.{color:#00f240;}
x{color:#00f350;}
.{color:#00f460;}
x{color:#00f570;}
.{color:#00f680;}
x{color:#00f790;}
.{color:#00f8a0;}
x{color:#00f9b0;}
.{color:#00fac0;}
x{color:#00fbd0;}
.{color:#00fce0;}
x{color:#00fdf0;}
.{color:#00ff00;}
x{color:#010010;}
.{color:#010120;}
x{color:#010230;}
.{color:#010340;}
x{color:#010450;}
.{color:#010560;}
x{color:#010670;}
.{color:#010780;}
x{color:#010890;}
.{color:#0109a0;}
x{color:#010ab0;}
.{color:#010bc0;}
x{color:#010cd0;}
.{color:#010de0;}
x{color:#010ef0;}
.{color:#011000;}
x{color:#011110;}
.{color:#011220;}
x{color:#011330;}
.{color:#011440;}
x{color:#011550;}
.{color:#011660;}
x{color:#011770;}
.{color:#011880;}
x{color:#011990;}
.{color:#011aa0;}
x{color:#011bb0;}
.{color:#011cc0;}
x{color:#011dd0;}
.{color:#011ee0;}
x{color:#011ff0;}
.{color:#012100;}
x{color:#012210;}
.{color:#012320;}
x{color:#012430;}
.{color:#012540;}
x{color:#012650;}
.{color:#012760;}
x{color:#012870;}
.{color:#012980;}
x{color:#012a90;}
.{color:#012ba0;}
x{color:#012cb0;}
.{color:#012dc0;}
x{color:#012ed0;}
.{color:#012fe0;}
x{color:#0130f0;}
.{color:#013200;}
x{color:#013310;}
.{color:#013420;}
x{color:#013530;}
.{color:#013640;}
x{color:#013750;}
.{color:#013860;}
x{color:#013970;}
.{color:#013a80;}
x{color:#013b90;}
.{color:#013ca0;}
x{color:#013db0;}
.{color:#013ec0;}
x{color:#013fd0;}
.{color:#0140e0;}
x{color:#0141f0;}
.{color:#014300;}
x{color:#014410;}
.{color:#014520;}
x{color:#014630;}
.{color:#014740;}
x{color:#014850;}
.{color:#014960;}
x{color:#014a70;}
.{color:#014b80;}
x{color:#014c90;}
.{color:#014da0;}
x{color:#014eb0;}
.{color:#014fc0;}
x{color:#0150d0;}
.{color:#0151e0;}
x{color:#0152f0;}
.{color:#015400;}
x{color:#015510;}
.{color:#015620;}
x{color:#015730;}
.{color:#015840;}
x{color:#015950;}
.{color:#015a60;}
x{color:#015b70;}
.{color:#015c80;}
x{color:#015d90;}
.{color:#015ea0;}
x{color:#015fb0;}
.{color:#0160c0;}
x{color:#0161d0;}
.{color:#0162e0;}
x{color:#0163f0;}
.{color:#016500;}
x{color:#016610;}
.{color:#016720;}
x{color:#016830;}
.{color:#016940;}
x{color:#016a50;}
.{color:#016b60;}
x{color:#016c70;}
.{color:#016d80;}
x{color:#016e90;}
.{color:#016fa0;}
x{color:#0170b0;}
.{color:#0171c0;}
x{color:#0172d0;}
.{color:#0173e0;}
x{color:#0174f0;}
.{color:#017600;}
x{color:#017710;}
.{color:#017820;}
x{color:#017930;}
.{color:#017a40;}
x{color:#017b50;}
.{color:#017c60;}
x{color:#017d70;}
.{color:#017e80;}
x{color:#017f90;}
.{color:#0180a0;}
x{color:#0181b0;}
.{color:#0182c0;}
x{color:#0183d0;}
.{color:#0184e0;}
x{color:#0185f0;}
.{color:#018700;}
x{color:#018810;}
.{color:#018920;}
x{color:#018a30;}
.{color:#018b40;}
x{color:#018c50;}
.{color:#018d60;}
x{color:#018e70;}
.{color:#018f80;}
x{color:#019090;}
.{color:#0191a0;}
x{color:#0192b0;}
.{color:#0193c0;}
x{color:#0194d0;}
.{color:#0195e0;}
x{color:#0196f0;}
.{color:#019800;}
x{color:#019910;}
.{color:#019a20;}
x{color:#019b30;}
.{color:#019c40;}
x{color:#019d50;}
.{color:#019e60;}
x{color:#019f70;}
.{color:#01a080;}
x{color:#01a190;}
.{color:#01a2a0;}
x{color:#01a3b0;}
.{color:#01a4c0;}
x{color:#01a5d0;}
.{color:#01a6e0;}
x{color:#01a7f0;}
.{color:#01a900;}
x{color:#01aa10;}
.{color:#01ab20;}
x{color:#01ac30;}
.{color:#01ad40;}
x{color:#01ae50;}
.{color:#01af60;}
x{color:#01b070;}
.{color:#01b180;}
x{color:#01b290;}
.{color:#01b3a0;}
x{color:#01b4b0;}
.{color:#01b5c0;}
x{color:#01b6d0;}
.{color:#01b7e0;}
x{color:#01b8f0;}
.{color:#01ba00;}
x{color:#01bb10;}
.{color:#01bc20;}
x{color:#01bd30;}
.{color:#01be40;}
x{color:#01bf50;}
.{color:#01c060;}
x{color:#01c170;}
.{color:#01c280;}
x{color:#01c390;}
.{color:#01c4a0;}
x{color:#01c5b0;}
.{color:#01c6c0;}
x{color:#01c7d0;}
.{color:#01c8e0;}
x{color:#01c9f0;}
.{color:#01cb00;}
x{color:#01cc10;}
.{color:#01cd20;}
x{color:#01ce30;}
.{color:#01cf40;}
x{color:#01d050;}
.{color:#01d160;}
x{color:#01d270;}
.{color:#01d380;}
x{color:#01d490;}
.{color:#01d5a0;}
x{color:#01d6b0;}
.{color:#01d7c0;}
x{color:#01d8d0;}
.{color:#01d9e0;}
x{color:#01daf0;}
.{color:#01dc00;}
x{color:#01dd10;}
.{color:#01de20;}
x{color:#01df30;}
.{color:#01e040;}
x{color:#01e150;}
.{color:#01e260;}
x{color:#01e370;}
.{color:#01e480;}
x{color:#01e590;}
.{color:#01e6a0;}
x{color:#01e7b0;}
.{color:#01e8c0;}
x{color:#01e9d0;}
.{color:#01eae0;}
x{color:#01ebf0;}
.{color:#01ed00;}
x{color:#01ee10;}
.{color:#01ef20;}
x{color:#01f030;}
.{color:#01f140;}
x{color:#01f250;}
.{color:#01f360;}
x{color:#01f470;}
.{color:#01f580;}
x{color:#01f690;}
.{color:#01f7a0;}
x{color:#01f8b0;}
.{color:#01f9c0;}
x{color:#01fad0;}
.{color:#01fbe0;}
x{color:#01fcf0;}
.{color:#01fe00;}
x{color:#01ff10;}
.{color:#020020;}
x{color:#020130;}
.{color:#020240;}
x{color:#020350;}
.{color:#020460;}
x{color:#020570;}
.{color:#020680;}
x{color:#020790;}
.{color:#0208a0;}
x{color:#0209b0;}
.{color:#020ac0;}
x{color:#020bd0;}
.{color:#020ce0;}
x{color:#020df0;}
.{color:#020f00;}
x{color:#021010;}
.{color:#021120;}
x{color:#021230;}
.{color:#021340;}
x{color:#021450;}
.{color:#021560;}
x{color:#021670;}
.{color:#021780;}
x{color:#021890;}
.{color:#0219a0;}
x{color:#021ab0;}
.{color:#021bc0;}
x{color:#021cd0;}
.{color:#021de0;}
x{color:#021ef0;}
.{color:#022000;}
x{color:#022110;}
.{color:#022220;}
x{color:#022330;}
.{color:#022440;}
x{color:#022550;}
.{color:#022660;}
x{color:#022770;}
.{color:#022880;}
x{color:#022990;}
.{color:#022aa0;}
x{color:#022bb0;}
.{color:#022cc0;}
x{color:#022dd0;}
.{color:#022ee0;}
x{color:#022ff0;}
.{color:#023100;}
x{color:#023210;}
.{color:#023320;}
x{color:#023430;}
.{color:#023540;}
x{color:#023650;}
.{color:#023760;}
x{color:#023870;}
.{color:#023980;}
x{color:#023a90;}
.{color:#023ba0;}
x{color:#023cb0;}
.{color:#023dc0;}
x{color:#023ed0;}
.{color:#023fe0;}
x{color:#0240f0;}
.{color:#024200;}
x{color:#024310;}
.{color:#024420;}
x{color:#024530;}
.{color:#024640;}
x{color:#024750;}
.{color:#024860;}
x{color:#024970;}
.{color:#024a80;}
x{color:#024b90;}
.{color:#024ca0;}
x{color:#024db0;}
.{color:#024ec0;}
x{color:#024fd0;}
.{color:#0250e0;}
x{color:#0251f0;}
.{color:#025300;}
x{color:#025410;}
.{color:#025520;}
x{color:#025630;}
.{color:#025740;}
x{color:#025850;}
.{color:#025960;}
x{color:#025a70;}
.{color:#025b80;}
x{color:#025c90;}
.{color:#025da0;}
x{color:#025eb0;}
.{color:#025fc0;}
x{color:#0260d0;}
.{color:#0261e0;}
x{color:#0262f0;}
.{color:#026400;}
x{color:#026510;}
.{color:#026620;}
x{color:#026730;}
.{color:#026840;}
x{color:#026950;}
.{color:#026a60;}
x{color:#026b70;}
.{color:#026c80;}
x{color:#026d90;}
.{color:#026ea0;}
x{color:#026fb0;}
.{color:#0270c0;}
x{color:#0271d0;}
.{color:#0272e0;}
x{color:#0273f0;}
.{color:#027500;}
x{color:#027610;}
.{color:#027720;}
x{color:#027830;}
.{color:#027940;}
x{color:#027a50;}
.{color:#027b60;}
x{color:#027c70;}
.{color:#027d80;}
x{color:#027e90;}
.{color:#027fa0;}
x{color:#0280b0;}
.{color:#0281c0;}
x{color:#0282d0;}
.{color:#0283e0;}
x{color:#0284f0;}
.{color:#028600;}
x{color:#028710;}
.{color:#028820;}
x{color:#028930;}
.{color:#028a40;}
x{color:#028b50;}
.{color:#028c60;}
x{color:#028d70;}
.{color:#028e80;}
x{color:#028f90;}
.{color:#0290a0;}
x{color:#0291b0;}
.{color:#0292c0;}
x{color:#0293d0;}
.{color:#0294e0;}
x{color:#0295f0;}
.{color:#029700;}
x{color:#029810;}
.{color:#029920;}
x{color:#029a30;}
.{color:#029b40;}
x{color:#029c50;}
.{color:#029d60;}
x{color:#029e70;}
.{color:#029f80;}
x{color:#02a090;}
.{color:#02a1a0;}
x{color:#02a2b0;}
.{color:#02a3c0;}
x{color:#02a4d0;}
.{color:#02a5e0;}
x{color:#02a6f0;}
.{color:#02a800;}
x{color:#02a910;}
.{color:#02aa20;}
x{color:#02ab30;}
.{color:#02ac40;}
x{color:#02ad50;}
.{color:#02ae60;}
x{color:#02af70;}
.{color:#02b080;}
x{color:#02b190;}
.{color:#02b2a0;}
x{color:#02b3b0;}
.{color:#02b4c0;}
x{color:#02b5d0;}
.{color:#02b6e0;}
x{color:#02b7f0;}
.{color:#02b900;}
x{color:#02ba10;}
.{color:#02bb20;}
x{color:#02bc30;}
.{color:#02bd40;}
x{color:#02be50;}
.{color:#02bf60;}
x{color:#02c070;}
.{color:#02c180;}
x{color:#02c290;}
.{color:#02c3a0;}
x{color:#02c4b0;}
.{color:#02c5c0;}
x{color:#02c6d0;}
.{color:#02c7e0;}
x{color:#02c8f0;}
.{color:#02ca00;}
x{color:#02cb10;}
.{color:#02cc20;}
x{color:#02cd30;}
.{color:#02ce40;}
x{color:#02cf50;}
.{color:#02d060;}
x{color:#02d170;}
.{color:#02d280;}
x{color:#02d390;}
.{color:#02d4a0;}
x{color:#02d5b0;}
.{color:#02d6c0;}
x{color:#02d7d0;}
.{color:#02d8e0;}
x{color:#02d9f0;}
.{color:#02db00;}
x{color:#02dc10;}
.{color:#02dd20;}
x{color:#02de30;}
.{color:#02df40;}
x{color:#02e050;}
.{color:#02e160;}
x{color:#02e270;}
.{color:#02e380;}
x{color:#02e490;}
.{color:#02e5a0;}
x{color:#02e6b0;}
.{color:#02e7c0;}
x{color:#02e8d0;}
.{color:#02e9e0;}
x{color:#02eaf0;}
.{color:#02ec00;}
x{color:#02ed10;}
.{color:#02ee20;}
x{color:#02ef30;}
.{color:#02f040;}
x{color:#02f150;}
.{color:#02f260;}
x{color:#02f370;}
.{color:#02f480;}
x{color:#02f590;}
.{color:#02f6a0;}
x{color:#02f7b0;}
.{color:#02f8c0;}
x{color:#02f9d0;}
.{color:#02fae0;}
x{color:#02fbf0;}
.{color:#02fd00;}
x{color:#02fe10;}
.{color:#02ff20;}
x{color:#030030;}
.{color:#030140;}
x{color:#030250;}
.{color:#030360;}
x{color:#030470;}
.{color:#030580;}
x{color:#030690;}
.{color:#0307a0;}
x{color:#0308b0;}
.{color:#0309c0;}
x{color:#030ad0;}
.{color:#030be0;}
x{color:#030cf0;}
.{color:#030e00;}
x{color:#030f10;}
.{color:#031020;}
x{color:#031130;}
.{color:#031240;}
x{color:#031350;}
.{color:#031460;}
x{color:#031570;}
.{color:#031680;}
x{color:#031790;}
.{color:#0318a0;}
x{color:#0319b0;}
.{color:#031ac0;}
x{color:#031bd0;}
.{color:#031ce0;}
x{color:#031df0;}
.{color:#031f00;}
x{color:#032010;}
.{color:#032120;}
x{color:#032230;}
.{color:#032340;}
x{color:#032450;}
.{color:#032560;}
x{color:#032670;}
.{color:#032780;}
x{color:#032890;}
.{color:#0329a0;}
x{color:#032ab0;}
.{color:#032bc0;}
x{color:#032cd0;}
.{color:#032de0;}
x{color:#032ef0;}
.{color:#033000;}
x{color:#033110;}
.{color:#033220;}
x{color:#033330;}
.{color:#033440;}
x{color:#033550;}
.{color:#033660;}
x{color:#033770;}
.{color:#033880;}
x{color:#033990;}
.{color:#033aa0;}
x{color:#033bb0;}
.{color:#033cc0;}
x{color:#033dd0;}
.{color:#033ee0;}
x{color:#033ff0;}
.{color:#034100;}
x{color:#034210;}
.{color:#034320;}
x{color:#034430;}
.{color:#034540;}
x{color:#034650;}
.{color:#034760;}
x{color:#034870;}
.{color:#034980;}
x{color:#034a90;}
.{color:#034ba0;}
x{color:#034cb0;}
.{color:#034dc0;}
x{color:#034ed0;}
.{color:#034fe0;}
x{color:#0350f0;}
.{color:#035200;}
x{color:#035310;}
.{color:#035420;}
x{color:#035530;}
.{color:#035640;}
x{color:#035750;}
.{color:#035860;}
x{color:#035970;}
.{color:#035a80;}
x{color:#035b90;}
.{color:#035ca0;}
x{color:#035db0;}
.{color:#035ec0;}
x{color:#035fd0;}
.{color:#0360e0;}
x{color:#0361f0;}
.{color:#036300;}
x{color:#036410;}
.{color:#036520;}
x{color:#036630;}
.{color:#036740;}
x{color:#036850;}
.{color:#036960;}
x{color:#036a70;}
.{color:#036b80;}
x{color:#036c90;}
.{color:#036da0;}
x{color:#036eb0;}
.{color:#036fc0;}
x{color:#0370d0;}
.{color:#0371e0;}
x{color:#0372f0;}
.{color:#037400;}
x{color:#037510;}
.{color:#037620;}
x{color:#037730;}
.{color:#037840;}
x{color:#037950;}
.{color:#037a60;}
x{color:#037b70;}
.{color:#037c80;}
x{color:#037d90;}
.{color:#037ea0;}
x{color:#037fb0;}
.{color:#0380c0;}
x{color:#0381d0;}
.{color:#0382e0;}
x{color:#0383f0;}
.{color:#038500;}
x{color:#038610;}
.{color:#038720;}
x{color:#038830;}
.{color:#038940;}
x{color:#038a50;}
.{color:#038b60;}
x{color:#038c70;}
.{color:#038d80;}
x{color:#038e90;}
.{color:#038fa0;}
x{color:#0390b0;}
.{color:#0391c0;}
x{color:#0392d0;}
.{color:#0393e0;}
x{color:#0394f0;}
.{color:#039600;}
x{color:#039710;}
.{color:#039820;}
x{color:#039930;}
.{color:#039a40;}
x{color:#039b50;}
.{color:#039c60;}
x{color:#039d70;}
.{color:#039e80;}
x{color:#039f90;}
.{color:#03a0a0;}
x{color:#03a1b0;}
.{color:#03a2c0;}
x{color:#03a3d0;}
.{color:#03a4e0;}
x{color:#03a5f0;}
.{color:#03a700;}
x{color:#03a810;}
.{color:#03a920;}
x{color:#03aa30;}
.{color:#03ab40;}
x{color:#03ac50;}
.{color:#03ad60;}
x{color:#03ae70;}
.{color:#03af80;}
x{color:#03b090;}
.{color:#03b1a0;}
x{color:#03b2b0;}
.{color:#03b3c0;}
x{color:#03b4d0;}
.{color:#03b5e0;}
x{color:#03b6f0;}
.{color:#03b800;}
x{color:#03b910;}
.{color:#03ba20;}
x{color:#03bb30;}
.{color:#03bc40;}
x{color:#03bd50;}
.{color:#03be60;}
x{color:#03bf70;}
.{color:#03c080;}
x{color:#03c190;}
.{color:#03c2a0;}
x{color:#03c3b0;}
.{color:#03c4c0;}
x{color:#03c5d0;}
.{color:#03c6e0;}
x{color:#03c7f0;}
.{color:#03c900;}
x{color:#03ca10;}
.{color:#03cb20;}
x{color:#03cc30;}
.{color:#03cd40;}
x{color:#03ce50;}
.{color:#03cf60;}
x{color:#03d070;}
.{color:#03d180;}
x{color:#03d290;}
.{color:#03d3a0;}
x{color:#03d4b0;}
.{color:#03d5c0;}
x{color:#03d6d0;}
.{color:#03d7e0;}
x{color:#03d8f0;}
.{color:#03da00;}
x{color:#03db10;}
.{color:#03dc20;}
x{color:#03dd30;}
.{color:#03de40;}
x{color:#03df50;}
.{color:#03e060;}
x{color:#03e170;}
.{color:#03e280;}
x{color:#03e390;}
.{color:#03e4a0;}
x{color:#03e5b0;}
.{color:#03e6c0;}
x{color:#03e7d0;}
.{color:#03e8e0;}
x{color:#03e9f0;}
.{color:#03eb00;}
x{color:#03ec10;}
.{color:#03ed20;}
x{color:#03ee30;}
.{color:#03ef40;}
x{color:#03f050;}
.{color:#03f160;}
x{color:#03f270;}
.{color:#03f380;}
x{color:#03f490;}
.{color:#03f5a0;}
x{color:#03f6b0;}
.{color:#03f7c0;}
x{color:#03f8d0;}
.{color:#03f9e0;}
x{color:#03faf0;}
.{color:#03fc00;}
x{color:#03fd10;}
.{color:#03fe20;}
x{color:#03ff30;}
.{color:#040040;}
x{color:#040150;}
.{color:#040260;}
x{color:#040370;}
.{color:#040480;}
x{color:#040590;}
.{color:#0406a0;}
x{color:#0407b0;}
.{color:#0408c0;}
x{color:#0409d0;}
.{color:#040ae0;}
x{color:#040bf0;}
.{color:#040d00;}
x{color:#040e10;}
.{color:#040f20;}
x{color:#041030;}
.{color:#041140;}
x{color:#041250;}
.{color:#041360;}
x{color:#041470;}
.{color:#041580;}
x{color:#041690;}
.{color:#0417a0;}
x{color:#0418b0;}
.{color:#0419c0;}
x{color:#041ad0;}
.{color:#041be0;}
x{color:#041cf0;}
.{color:#041e00;}
x{color:#041f10;}
.{color:#042020;}
x{color:#042130;}
.{color:#042240;}
x{color:#042350;}
.{color:#042460;}
x{color:#042570;}
