/* css */
.{color:#000000;}
x{color:#0000aa;}
.{color:#000154;}
x{color:#0001fe;}
.{color:#0002a8;}
x{color:#000352;}
.{color:#0003fc;}
x{color:#0004a6;}
.{color:#000550;}
x{color:#0005fa;}
.{color:#0006a4;}
x{color:#00074e;}
.{color:#0007f8;}
x{color:#0008a2;}
.{color:#00094c;}
x{color:#0009f6;}
.{color:#000aa0;}
x{color:#000b4a;}
.{color:#000bf4;}
x{color:#000c9e;}
.{color:#000d48;}
x{color:#000df2;}
.{color:#000e9c;}
x{color:#000f46;}
.{color:#000ff0;}
x{color:#00109a;}
.{color:#001144;}
x{color:#0011ee;}
.{color:#001298;}
x{color:#001342;}
.{color:#0013ec;}
x{color:#001496;}
.{color:#001540;}
x{color:#0015ea;}
.{color:#001694;}
x{color:#00173e;}
.{color:#0017e8;}
x{color:#001892;}
.{color:#00193c;}
x{color:#0019e6;}
.{color:#001a90;}
x{color:#001b3a;}
.{color:#001be4;}
x{color:#001c8e;}
.{color:#001d38;}
x{color:#001de2;}
.{color:#001e8c;}
x{color:#001f36;}
.{color:#001fe0;}
x{color:#00208a;}
.{color:#002134;}
x{color:#0021de;}
.{color:#002288;}
x{color:#002332;}
.{color:#0023dc;}
x{color:#002486;}
.{color:#002530;}
x{color:#0025da;}
.{color:#002684;}
x{color:#00272e;}
.{color:#0027d8;}
x{color:#002882;}
.{color:#00292c;}
x{color:#0029d6;}
.{color:#002a80;}
x{color:#002b2a;}
.{color:#002bd4;}
x{color:#002c7e;}
.{color:#002d28;}
x{color:#002dd2;}
.{color:#002e7c;}
x{color:#002f26;}
.{color:#002fd0;}
x{color:#00307a;}
.{color:#003124;}
x{color:#0031ce;}
.{color:#003278;}
x{color:#003322;}
.{color:#0033cc;}
x{color:#003476;}
.{color:#003520;}
x{color:#0035ca;}
.{color:#003674;}
x{color:#00371e;}
.{color:#0037c8;}
x{color:#003872;}
.{color:#00391c;}
x{color:#0039c6;}
.{color:#003a70;}
x{color:#003b1a;}
.{color:#003bc4;}
x{color:#003c6e;}
.{color:#003d18;}
x{color:#003dc2;}
.{color:#003e6c;}
x{color:#003f16;}
.{color:#003fc0;}
x{color:#00406a;}
.{color:#004114;}
x{color:#0041be;}
.{color:#004268;}
x{color:#004312;}
.{color:#0043bc;}
x{color:#004466;}
.{color:#004510;}
x{color:#0045ba;}
.{color:#004664;}
x{color:#00470e;}
.{color:#0047b8;}
x{color:#004862;}
.{color:#00490c;}
x{color:#0049b6;}
.{color:#004a60;}
x{color:#004b0a;}
.{color:#004bb4;}
x{color:#004c5e;}
.{color:#004d08;}
x{color:#004db2;}
.{color:#004e5c;}
x{color:#004f06;}
.{color:#004fb0;}
x{color:#00505a;}
.{color:#005104;}
x{color:#0051ae;}
.{color:#005258;}
x{color:#005302;}
.{color:#0053ac;}
x{color:#005456;}
.{color:#005500;}
x{color:#0055aa;}
.{color:#005654;}
x{color:#0056fe;}
.{color:#0057a8;}
x{color:#005852;}
.{color:#0058fc;}
x{color:#0059a6;}
.{color:#005a50;}
x{color:#005afa;}
.{color:#005ba4;}
x{color:#005c4e;}
.{color:#005cf8;}
x{color:#005da2;}
.{color:#005e4c;}
x{color:#005ef6;}
.{color:#005fa0;}
x{color:#00604a;}
.{color:#0060f4;}
x{color:#00619e;}
.{color:#006248;}
x{color:#0062f2;}
.{color:#00639c;}
x{color:#006446;}
.{color:#0064f0;}
x{color:#00659a;}
.{color:#006644;}
x{color:#0066ee;}
.{color:#006798;}
x{color:#006842;}
.{color:#0068ec;}
x{color:#006996;}
.{color:#006a40;}
x{color:#006aea;}
.{color:#006b94;}
x{color:#006c3e;}
.{color:#006ce8;}
x{color:#006d92;}
.{color:#006e3c;}
x{color:#006ee6;}
.{color:#006f90;}
x{color:#00703a;}
.{color:#0070e4;}
x{color:#00718e;}
.{color:#007238;}
x{color:#0072e2;}
.{color:#00738c;}
x{color:#007436;}
.{color:#0074e0;}
x{color:#00758a;}
.{color:#007634;}
x{color:#0076de;}
.{color:#007788;}
x{color:#007832;}
.{color:#0078dc;}
x{color:#007986;}
.{color:#007a30;}
x{color:#007ada;}
.{color:#007b84;}
x{color:#007c2e;}
.{color:#007cd8;}
x{color:#007d82;}
.{color:#007e2c;}
x{color:#007ed6;}
.{color:#007f80;}
x{color:#00802a;}
.{color:#0080d4;}
x{color:#00817e;}
.{color:#008228;}
x{color:#0082d2;}
.{color:#00837c;}
x{color:#008426;}
.{color:#0084d0;}
x{color:#00857a;}
.{color:#008624;}
x{color:#0086ce;}
.{color:#008778;}
x{color:#008822;}
.{color:#0088cc;}
x{color:#008976;}
.{color:#008a20;}
x{color:#008aca;}
.{color:#008b74;}
x{color:#008c1e;}
.{color:#008cc8;}
x{color:#008d72;}
.{color:#008e1c;}
x{color:#008ec6;}
.{color:#008f70;}
x{color:#00901a;}
.{color:#0090c4;}
x{color:#00916e;}
.{color:#009218;}
x{color:#0092c2;}
.{color:#00936c;}
x{color:#009416;}
.{color:#0094c0;}
x{color:#00956a;}
.{color:#009614;}
x{color:#0096be;}
.{color:#009768;}
x{color:#009812;}
.{color:#0098bc;}
x{color:#009966;}
.{color:#009a10;}
x{color:#009aba;}
.{color:#009b64;}
x{color:#009c0e;}
.{color:#009cb8;}
x{color:#009d62;}
.{color:#009e0c;}
x{color:#009eb6;}
.{color:#009f60;}
x{color:#00a00a;}
.{color:#00a0b4;}
x{color:#00a15e;}
.{color:#00a208;}
x{color:#00a2b2;}
.{color:#00a35c;}
x{color:#00a406;}
.{color:#00a4b0;}
x{color:#00a55a;}
.{color:#00a604;}
x{color:#00a6ae;}
.{color:#00a758;}
x{color:#00a802;}
.{color:#00a8ac;}
x{color:#00a956;}
.{color:#00aa00;}
x{color:#00aaaa;}
.{color:#00ab54;}
x{color:#00abfe;}
.{color:#00aca8;}
x{color:#00ad52;}
.{color:#00adfc;}
x{color:#00aea6;}
.{color:#00af50;}
x{color:#00affa;}
.{color:#00b0a4;}
x{color:#00b14e;}
.{color:#00b1f8;}
x{color:#00b2a2;}
.{color:#00b34c;}
x{color:#00b3f6;}
.{color:#00b4a0;}
x{color:#00b54a;}
.{color:#00b5f4;}
x{color:#00b69e;}
.{color:#00b748;}
x{color:#00b7f2;}
.{color:#00b89c;}
x{color:#00b946;}
.{color:#00b9f0;}
x{color:#00ba9a;}
.{color:#00bb44;}
x{color:#00bbee;}
.{color:#00bc98;}
x{color:#00bd42;}
.{color:#00bdec;}
x{color:#00be96;}
.{color:#00bf40;}
x{color:#00bfea;}
.{color:#00c094;}
x{color:#00c13e;}
.{color:#00c1e8;}
x{color:#00c292;}
.{color:#00c33c;}
x{color:#00c3e6;}
.{color:#00c490;}
x{color:#00c53a;}
.{color:#00c5e4;}
x{color:#00c68e;}
.{color:#00c738;}
x{color:#00c7e2;}
.{color:#00c88c;}
x{color:#00c936;}
.{color:#00c9e0;}
x{color:#00ca8a;}
.{color:#00cb34;}
x{color:#00cbde;}
.{color:#00cc88;}
x{color:#00cd32;}
.{color:#00cddc;}
x{color:#00ce86;}
.{color:#00cf30;}
x{color:#00cfda;}
.{color:#00d084;}
x{color:#00d12e;}
.{color:#00d1d8;}
x{color:#00d282;}
.{color:#00d32c;}
x{color:#00d3d6;}
.{color:#00d480;}
x{color:#00d52a;}
.{color:#00d5d4;}
x{color:#00d67e;}
.{color:#00d728;}
x{color:#00d7d2;}
.{color:#00d87c;}
x{color:#00d926;}
.{color:#00d9d0;}
x{color:#00da7a;}
.{color:#00db24;}
x{color:#00dbce;}
.{color:#00dc78;}
x{color:#00dd22;}
.{color:#00ddcc;}
x{color:#00de76;}
.{color:#00df20;}
x{color:#00dfca;}
.{color:#00e074;}
x{color:#00e11e;}
.{color:#00e1c8;}
x{color:#00e272;}
.{color:#00e31c;}
x{color:#00e3c6;}
.{color:#00e470;}
x{color:#00e51a;}
.{color:#00e5c4;}
x{color:#00e66e;}
.{color:#00e718;}
x{color:#00e7c2;}
.{color:#00e86c;}
x{color:#00e916;}
.{color:#00e9c0;}
x{color:#00ea6a;}
.{color:#00eb14;}
x{color:#00ebbe;}
.{color:#00ec68;}
x{color:#00ed12;}
.{color:#00edbc;}
x{color:#00ee66;}
.{color:#00ef10;}
x{color:#00efba;}
.{color:#00f064;}
x{color:#00f10e;}
.{color:#00f1b8;}
x{color:#00f262;}
.{color:#00f30c;}
x{color:#00f3b6;}
.{color:#00f460;}
x{color:#00f50a;}
.{color:#00f5b4;}
x{color:#00f65e;}
.{color:#00f708;}
x{color:#00f7b2;}
.{color:#00f85c;}
x{color:#00f906;}
.{color:#00f9b0;}
x{color:#00fa5a;}
.{color:#00fb04;}
x{color:#00fbae;}
.{color:#00fc58;}
x{color:#00fd02;}
.{color:#00fdac;}
x{color:#00fe56;}
.{color:#00ff00;}
x{color:#00ffaa;}
.{color:#010054;}
x{color:#0100fe;}
.{color:#0101a8;}
x{color:#010252;}
.{color:#0102fc;}
x{color:#0103a6;}
.{color:#010450;}
x{color:#0104fa;}
.{color:#0105a4;}
x{color:#01064e;}
.{color:#0106f8;}
x{color:#0107a2;}
.{color:#01084c;}
x{color:#0108f6;}
.{color:#0109a0;}
x{color:#010a4a;}
.{color:#010af4;}
x{color:#010b9e;}
.{color:#010c48;}
x{color:#010cf2;}
.{color:#010d9c;}
x{color:#010e46;}
.{color:#010ef0;}
x{color:#010f9a;}
.{color:#011044;}
x{color:#0110ee;}
.{color:#011198;}
x{color:#011242;}
.{color:#0112ec;}
x{color:#011396;}
.{color:#011440;}
x{color:#0114ea;}
.{color:#011594;}
x{color:#01163e;}
.{color:#0116e8;}
x{color:#011792;}
.{color:#01183c;}
x{color:#0118e6;}
.{color:#011990;}
x{color:#011a3a;}
.{color:#011ae4;}
x{color:#011b8e;}
.{color:#011c38;}
x{color:#011ce2;}
.{color:#011d8c;}
x{color:#011e36;}
.{color:#011ee0;}
x{color:#011f8a;}
.{color:#012034;}
x{color:#0120de;}
.{color:#012188;}
x{color:#012232;}
.{color:#0122dc;}
x{color:#012386;}
.{color:#012430;}
x{color:#0124da;}
.{color:#012584;}
x{color:#01262e;}
.{color:#0126d8;}
x{color:#012782;}
.{color:#01282c;}
x{color:#0128d6;}
.{color:#012980;}
x{color:#012a2a;}
.{color:#012ad4;}
x{color:#012b7e;}
.{color:#012c28;}
x{color:#012cd2;}
.{color:#012d7c;}
x{color:#012e26;}
.{color:#012ed0;}
x{color:#012f7a;}
.{color:#013024;}
x{color:#0130ce;}
.{color:#013178;}
x{color:#013222;}
.{color:#0132cc;}
x{color:#013376;}
.{color:#013420;}
x{color:#0134ca;}
.{color:#013574;}
x{color:#01361e;}
.{color:#0136c8;}
x{color:#013772;}
.{color:#01381c;}
x{color:#0138c6;}
.{color:#013970;}
x{color:#013a1a;}
.{color:#013ac4;}
x{color:#013b6e;}
.{color:#013c18;}
x{color:#013cc2;}
.{color:#013d6c;}
x{color:#013e16;}
.{color:#013ec0;}
x{color:#013f6a;}
.{color:#014014;}
x{color:#0140be;}
.{color:#014168;}
x{color:#014212;}
.{color:#0142bc;}
x{color:#014366;}
.{color:#014410;}
x{color:#0144ba;}
.{color:#014564;}
x{color:#01460e;}
.{color:#0146b8;}
x{color:#014762;}
.{color:#01480c;}
x{color:#0148b6;}
.{color:#014960;}
x{color:#014a0a;}
.{color:#014ab4;}
x{color:#014b5e;}
.{color:#014c08;}
x{color:#014cb2;}
.{color:#014d5c;}
x{color:#014e06;}
.{color:#014eb0;}
x{color:#014f5a;}
.{color:#015004;}
x{color:#0150ae;}
.{color:#015158;}
x{color:#015202;}
.{color:#0152ac;}
x{color:#015356;}
.{color:#015400;}
x{color:#0154aa;}
.{color:#015554;}
x{color:#0155fe;}
.{color:#0156a8;}
x{color:#015752;}
.{color:#0157fc;}
x{color:#0158a6;}
.{color:#015950;}
x{color:#0159fa;}
.{color:#015aa4;}
x{color:#015b4e;}
.{color:#015bf8;}
x{color:#015ca2;}
.{color:#015d4c;}
x{color:#015df6;}
.{color:#015ea0;}
x{color:#015f4a;}
.{color:#015ff4;}
x{color:#01609e;}
.{color:#016148;}
x{color:#0161f2;}
.{color:#01629c;}
x{color:#016346;}
.{color:#0163f0;}
x{color:#01649a;}
.{color:#016544;}
x{color:#0165ee;}
.{color:#016698;}
x{color:#016742;}
.{color:#0167ec;}
x{color:#016896;}
.{color:#016940;}
x{color:#0169ea;}
.{color:#016a94;}
x{color:#016b3e;}
.{color:#016be8;}
x{color:#016c92;}
.{color:#016d3c;}
x{color:#016de6;}
.{color:#016e90;}
x{color:#016f3a;}
.{color:#016fe4;}
x{color:#01708e;}
.{color:#017138;}
x{color:#0171e2;}
.{color:#01728c;}
x{color:#017336;}
.{color:#0173e0;}
x{color:#01748a;}
.{color:#017534;}
x{color:#0175de;}
.{color:#017688;}
x{color:#017732;}
.{color:#0177dc;}
x{color:#017886;}
.{color:#017930;}
x{color:#0179da;}
.{color:#017a84;}
x{color:#017b2e;}
.{color:#017bd8;}
x{color:#017c82;}
.{color:#017d2c;}
x{color:#017dd6;}
.{color:#017e80;}
x{color:#017f2a;}
.{color:#017fd4;}
x{color:#01807e;}
.{color:#018128;}
x{color:#0181d2;}
.{color:#01827c;}
x{color:#018326;}
.{color:#0183d0;}
x{color:#01847a;}
.{color:#018524;}
x{color:#0185ce;}
.{color:#018678;}
x{color:#018722;}
.{color:#0187cc;}
x{color:#018876;}
.{color:#018920;}
x{color:#0189ca;}
.{color:#018a74;}
x{color:#018b1e;}
.{color:#018bc8;}
x{color:#018c72;}
.{color:#018d1c;}
x{color:#018dc6;}
.{color:#018e70;}
x{color:#018f1a;}
.{color:#018fc4;}
x{color:#01906e;}
.{color:#019118;}
x{color:#0191c2;}
.{color:#01926c;}
x{color:#019316;}
.{color:#0193c0;}
x{color:#01946a;}
.{color:#019514;}
x{color:#0195be;}
.{color:#019668;}
x{color:#019712;}
.{color:#0197bc;}
x{color:#019866;}
.{color:#019910;}
x{color:#0199ba;}
.{color:#019a64;}
x{color:#019b0e;}
.{color:#019bb8;}
x{color:#019c62;}
.{color:#019d0c;}
x{color:#019db6;}
.{color:#019e60;}
x{color:#019f0a;}
.{color:#019fb4;}
x{color:#01a05e;}
.{color:#01a108;}
x{color:#01a1b2;}
.{color:#01a25c;}
x{color:#01a306;}
.{color:#01a3b0;}
x{color:#01a45a;}
.{color:#01a504;}
x{color:#01a5ae;}
.{color:#01a658;}
x{color:#01a702;}
.{color:#01a7ac;}
x{color:#01a856;}
.{color:#01a900;}
x{color:#01a9aa;}
.{color:#01aa54;}
x{color:#01aafe;}
.{color:#01aba8;}
x{color:#01ac52;}
.{color:#01acfc;}
x{color:#01ada6;}
.{color:#01ae50;}
x{color:#01aefa;}
.{color:#01afa4;}
x{color:#01b04e;}
.{color:#01b0f8;}
x{color:#01b1a2;}
.{color:#01b24c;}
x{color:#01b2f6;}
.{color:#01b3a0;}
x{color:#01b44a;}
.{color:#01b4f4;}
x{color:#01b59e;}
.{color:#01b648;}
x{color:#01b6f2;}
.{color:#01b79c;}
x{color:#01b846;}
.{color:#01b8f0;}
x{color:#01b99a;}
.{color:#01ba44;}
x{color:#01baee;}
.{color:#01bb98;}
x{color:#01bc42;}
.{color:#01bcec;}
x{color:#01bd96;}
.{color:#01be40;}
x{color:#01beea;}
.{color:#01bf94;}
x{color:#01c03e;}
.{color:#01c0e8;}
x{color:#01c192;}
.{color:#01c23c;}
x{color:#01c2e6;}
.{color:#01c390;}
x{color:#01c43a;}
.{color:#01c4e4;}
x{color:#01c58e;}
.{color:#01c638;}
x{color:#01c6e2;}
.{color:#01c78c;}
x{color:#01c836;}
.{color:#01c8e0;}
x{color:#01c98a;}
.{color:#01ca34;}
x{color:#01cade;}
.{color:#01cb88;}
x{color:#01cc32;}
.{color:#01ccdc;}
x{color:#01cd86;}
.{color:#01ce30;}
x{color:#01ceda;}
.{color:#01cf84;}
x{color:#01d02e;}
.{color:#01d0d8;}
x{color:#01d182;}
.{color:#01d22c;}
x{color:#01d2d6;}
.{color:#01d380;}
x{color:#01d42a;}
.{color:#01d4d4;}
x{color:#01d57e;}
.{color:#01d628;}
x{color:#01d6d2;}
.{color:#01d77c;}
x{color:#01d826;}
.{color:#01d8d0;}
x{color:#01d97a;}
.{color:#01da24;}
x{color:#01dace;}
.{color:#01db78;}
x{color:#01dc22;}
.{color:#01dccc;}
x{color:#01dd76;}
.{color:#01de20;}
x{color:#01deca;}
.{color:#01df74;}
x{color:#01e01e;}
.{color:#01e0c8;}
x{color:#01e172;}
.{color:#01e21c;}
x{color:#01e2c6;}
.{color:#01e370;}
x{color:#01e41a;}
.{color:#01e4c4;}
x{color:#01e56e;}
.{color:#01e618;}
x{color:#01e6c2;}
.{color:#01e76c;}
x{color:#01e816;}
.{color:#01e8c0;}
x{color:#01e96a;}
.{color:#01ea14;}
x{color:#01eabe;}
.{color:#01eb68;}
x{color:#01ec12;}
.{color:#01ecbc;}
x{color:#01ed66;}
.{color:#01ee10;}
x{color:#01eeba;}
.{color:#01ef64;}
x{color:#01f00e;}
.{color:#01f0b8;}
x{color:#01f162;}
.{color:#01f20c;}
x{color:#01f2b6;}
.{color:#01f360;}
x{color:#01f40a;}
.{color:#01f4b4;}
x{color:#01f55e;}
.{color:#01f608;}
x{color:#01f6b2;}
.{color:#01f75c;}
x{color:#01f806;}
.{color:#01f8b0;}
x{color:#01f95a;}
.{color:#01fa04;}
x{color:#01faae;}
.{color:#01fb58;}
x{color:#01fc02;}
.{color:#01fcac;}
x{color:#01fd56;}
.{color:#01fe00;}
x{color:#01feaa;}
.{color:#01ff54;}
x{color:#01fffe;}
.{color:#0200a8;}
x{color:#020152;}
.{color:#0201fc;}
x{color:#0202a6;}
.{color:#020350;}
x{color:#0203fa;}
.{color:#0204a4;}
x{color:#02054e;}
.{color:#0205f8;}
x{color:#0206a2;}
.{color:#02074c;}
x{color:#0207f6;}
.{color:#0208a0;}
x{color:#02094a;}
.{color:#0209f4;}
x{color:#020a9e;}
.{color:#020b48;}
x{color:#020bf2;}
.{color:#020c9c;}
x{color:#020d46;}
.{color:#020df0;}
x{color:#020e9a;}
.{color:#020f44;}
x{color:#020fee;}
.{color:#021098;}
x{color:#021142;}
.{color:#0211ec;}
x{color:#021296;}
.{color:#021340;}
x{color:#0213ea;}
.{color:#021494;}
x{color:#02153e;}
.{color:#0215e8;}
x{color:#021692;}
.{color:#02173c;}
x{color:#0217e6;}
.{color:#021890;}
x{color:#02193a;}
.{color:#0219e4;}
x{color:#021a8e;}
.{color:#021b38;}
x{color:#021be2;}
.{color:#021c8c;}
x{color:#021d36;}
.{color:#021de0;}
x{color:#021e8a;}
.{color:#021f34;}
x{color:#021fde;}
.{color:#022088;}
x{color:#022132;}
.{color:#0221dc;}
x{color:#022286;}
.{color:#022330;}
x{color:#0223da;}
.{color:#022484;}
x{color:#02252e;}
.{color:#0225d8;}
x{color:#022682;}
.{color:#02272c;}
x{color:#0227d6;}
.{color:#022880;}
x{color:#02292a;}
.{color:#0229d4;}
x{color:#022a7e;}
.{color:#022b28;}
x{color:#022bd2;}
.{color:#022c7c;}
x{color:#022d26;}
.{color:#022dd0;}
x{color:#022e7a;}
.{color:#022f24;}
x{color:#022fce;}
.{color:#023078;}
x{color:#023122;}
.{color:#0231cc;}
x{color:#023276;}
.{color:#023320;}
x{color:#0233ca;}
.{color:#023474;}
x{color:#02351e;}
.{color:#0235c8;}
x{color:#023672;}
.{color:#02371c;}
x{color:#0237c6;}
.{color:#023870;}
x{color:#02391a;}
.{color:#0239c4;}
x{color:#023a6e;}
.{color:#023b18;}
x{color:#023bc2;}
.{color:#023c6c;}
x{color:#023d16;}
.{color:#023dc0;}
x{color:#023e6a;}
.{color:#023f14;}
x{color:#023fbe;}
.{color:#024068;}
x{color:#024112;}
.{color:#0241bc;}
x{color:#024266;}
.{color:#024310;}
x{color:#0243ba;}
.{color:#024464;}
x{color:#02450e;}
.{color:#0245b8;}
x{color:#024662;}
.{color:#02470c;}
x{color:#0247b6;}
.{color:#024860;}
x{color:#02490a;}
.{color:#0249b4;}
x{color:#024a5e;}
.{color:#024b08;}
x{color:#024bb2;}
.{color:#024c5c;}
x{color:#024d06;}
.{color:#024db0;}
x{color:#024e5a;}
.{color:#024f04;}
x{color:#024fae;}
.{color:#025058;}
x{color:#025102;}
.{color:#0251ac;}
x{color:#025256;}
.{color:#025300;}
x{color:#0253aa;}
.{color:#025454;}
x{color:#0254fe;}
.{color:#0255a8;}
x{color:#025652;}
.{color:#0256fc;}
x{color:#0257a6;}
.{color:#025850;}
x{color:#0258fa;}
.{color:#0259a4;}
x{color:#025a4e;}
.{color:#025af8;}
x{color:#025ba2;}
.{color:#025c4c;}
x{color:#025cf6;}
.{color:#025da0;}
x{color:#025e4a;}
.{color:#025ef4;}
x{color:#025f9e;}
.{color:#026048;}
x{color:#0260f2;}
.{color:#02619c;}
x{color:#026246;}
.{color:#0262f0;}
x{color:#02639a;}
.{color:#026444;}
x{color:#0264ee;}
.{color:#026598;}
x{color:#026642;}
.{color:#0266ec;}
x{color:#026796;}
.{color:#026840;}
x{color:#0268ea;}
.{color:#026994;}
x{color:#026a3e;}
.{color:#026ae8;}
x{color:#026b92;}
.{color:#026c3c;}
x{color:#026ce6;}
.{color:#026d90;}
x{color:#026e3a;}
.{color:#026ee4;}
x{color:#026f8e;}
.{color:#027038;}
x{color:#0270e2;}
.{color:#02718c;}
x{color:#027236;}
.{color:#0272e0;}
x{color:#02738a;}
.{color:#027434;}
x{color:#0274de;}
.{color:#027588;}
x{color:#027632;}
.{color:#0276dc;}
x{color:#027786;}
.{color:#027830;}
x{color:#0278da;}
.{color:#027984;}
x{color:#027a2e;}
.{color:#027ad8;}
x{color:#027b82;}
.{color:#027c2c;}
x{color:#027cd6;}
.{color:#027d80;}
x{color:#027e2a;}
.{color:#027ed4;}
x{color:#027f7e;}
.{color:#028028;}
x{color:#0280d2;}
.{color:#02817c;}
x{color:#028226;}
.{color:#0282d0;}
x{color:#02837a;}
.{color:#028424;}
x{color:#0284ce;}
.{color:#028578;}
x{color:#028622;}
.{color:#0286cc;}
x{color:#028776;}
.{color:#028820;}
x{color:#0288ca;}
.{color:#028974;}
x{color:#028a1e;}
.{color:#028ac8;}
x{color:#028b72;}
.{color:#028c1c;}
x{color:#028cc6;}
.{color:#028d70;}
x{color:#028e1a;}
.{color:#028ec4;}
x{color:#028f6e;}
.{color:#029018;}
x{color:#0290c2;}
.{color:#02916c;}
x{color:#029216;}
.{color:#0292c0;}
x{color:#02936a;}
.{color:#029414;}
x{color:#0294be;}
.{color:#029568;}
x{color:#029612;}
.{color:#0296bc;}
x{color:#029766;}
