/* css */
.{color:#000000;}
x{color:#000154;}
.{color:#0002a8;}
x{color:#0003fc;}
.{color:#000550;}
x{color:#0006a4;}
.{color:#0007f8;}
x{color:#00094c;}
.{color:#000aa0;}
x{color:#000bf4;}
.{color:#000d48;}
x{color:#000e9c;}
.{color:#000ff0;}
x{color:#001144;}
.{color:#001298;}
x{color:#0013ec;}
.{color:#001540;}
x{color:#001694;}
.{color:#0017e8;}
x{color:#00193c;}
.{color:#001a90;}
x{color:#001be4;}
.{color:#001d38;}
x{color:#001e8c;}
.{color:#001fe0;}
x{color:#002134;}
.{color:#002288;}
x{color:#0023dc;}
.{color:#002530;}
x{color:#002684;}
.{color:#0027d8;}
x{color:#00292c;}
.{color:#002a80;}
x{color:#002bd4;}
.{color:#002d28;}
x{color:#002e7c;}
.{color:#002fd0;}
x{color:#003124;}
.{color:#003278;}
x{color:#0033cc;}
.{color:#003520;}
x{color:#003674;}
.{color:#0037c8;}
x{color:#00391c;}
.{color:#003a70;}
x{color:#003bc4;}
.{color:#003d18;}
x{color:#003e6c;}
.{color:#003fc0;}
x{color:#004114;}
.{color:#004268;}
x{color:#0043bc;}
.{color:#004510;}
x{color:#004664;}
.{color:#0047b8;}
x{color:#00490c;}
.{color:#004a60;}
x{color:#004bb4;}
.{color:#004d08;}
x{color:#004e5c;}
.{color:#004fb0;}
x{color:#005104;}
.{color:#005258;}
x{color:#0053ac;}
.{color:#005500;}
x{color:#005654;}
.{color:#0057a8;}
x{color:#0058fc;}
.{color:#005a50;}
x{color:#005ba4;}
.{color:#005cf8;}
x{color:#005e4c;}
.{color:#005fa0;}
x{color:#0060f4;}
.{color:#006248;}
x{color:#00639c;}
.{color:#0064f0;}
x{color:#006644;}
.{color:#006798;}
x{color:#0068ec;}
.{color:#006a40;}
x{color:#006b94;}
.{color:#006ce8;}
x{color:#006e3c;}
.{color:#006f90;}
x{color:#0070e4;}
.{color:#007238;}
x{color:#00738c;}
.{color:#0074e0;}
x{color:#007634;}
.{color:#007788;}
x{color:#0078dc;}
.{color:#007a30;}
x{color:#007b84;}
.{color:#007cd8;}
x{color:#007e2c;}
.{color:#007f80;}
x{color:#0080d4;}
.{color:#008228;}
x{color:#00837c;}
.{color:#0084d0;}
x{color:#008624;}
.{color:#008778;}
x{color:#0088cc;}
.{color:#008a20;}
x{color:#008b74;}
.{color:#008cc8;}
x{color:#008e1c;}
.{color:#008f70;}
x{color:#0090c4;}
.{color:#009218;}
x{color:#00936c;}
.{color:#0094c0;}
x{color:#009614;}
.{color:#009768;}
x{color:#0098bc;}
.{color:#009a10;}
x{color:#009b64;}
.{color:#009cb8;}
x{color:#009e0c;}
.{color:#009f60;}
x{color:#00a0b4;}
.{color:#00a208;}
x{color:#00a35c;}
.{color:#00a4b0;}
x{color:#00a604;}
.{color:#00a758;}
x{color:#00a8ac;}
.{color:#00aa00;}
x{color:#00ab54;}
.{color:#00aca8;}
x{color:#00adfc;}
.{color:#00af50;}
x{color:#00b0a4;}
.{color:#00b1f8;}
x{color:#00b34c;}
.{color:#00b4a0;}
x{color:#00b5f4;}
.{color:#00b748;}
x{color:#00b89c;}
.{color:#00b9f0;}
x{color:#00bb44;}
.{color:#00bc98;}
x{color:#00bdec;}
.{color:#00bf40;}
x{color:#00c094;}
.{color:#00c1e8;}
x{color:#00c33c;}
.{color:#00c490;}
x{color:#00c5e4;}
.{color:#00c738;}
x{color:#00c88c;}
.{color:#00c9e0;}
x{color:#00cb34;}
.{color:#00cc88;}
x{color:#00cddc;}
.{color:#00cf30;}
x{color:#00d084;}
.{color:#00d1d8;}
x{color:#00d32c;}
.{color:#00d480;}
x{color:#00d5d4;}
.{color:#00d728;}
x{color:#00d87c;}
.{color:#00d9d0;}
x{color:#00db24;}
.{color:#00dc78;}
x{color:#00ddcc;}
.{color:#00df20;}
x{color:#00e074;}
.{color:#00e1c8;}
x{color:#00e31c;}
.{color:#00e470;}
x{color:#00e5c4;}
.{color:#00e718;}
x{color:#00e86c;}
.{color:#00e9c0;}
x{color:#00eb14;}
.{color:#00ec68;}
x{color:#00edbc;}
.{color:#00ef10;}
x{color:#00f064;}
.{color:#00f1b8;}
x{color:#00f30c;}
.{color:#00f460;}
x{color:#00f5b4;}
.{color:#00f708;}
x{color:#00f85c;}
.{color:#00f9b0;}
x{color:#00fb04;}
.{color:#00fc58;}
x{color:#00fdac;}
.{color:#00ff00;}
x{color:#010054;}
.{color:#0101a8;}
x{color:#0102fc;}
.{color:#010450;}
x{color:#0105a4;}
.{color:#0106f8;}
x{color:#01084c;}
.{color:#0109a0;}
x{color:#010af4;}
.{color:#010c48;}
x{color:#010d9c;}
.{color:#010ef0;}
x{color:#011044;}
.{color:#011198;}
x{color:#0112ec;}
.{color:#011440;}
x{color:#011594;}
.{color:#0116e8;}
x{color:#01183c;}
.{color:#011990;}
x{color:#011ae4;}
.{color:#011c38;}
x{color:#011d8c;}
.{color:#011ee0;}
x{color:#012034;}
.{color:#012188;}
x{color:#0122dc;}
.{color:#012430;}
x{color:#012584;}
.{color:#0126d8;}
x{color:#01282c;}
.{color:#012980;}
x{color:#012ad4;}
.{color:#012c28;}
x{color:#012d7c;}
.{color:#012ed0;}
x{color:#013024;}
.{color:#013178;}
x{color:#0132cc;}
.{color:#013420;}
x{color:#013574;}
.{color:#0136c8;}
x{color:#01381c;}
.{color:#013970;}
x{color:#013ac4;}
.{color:#013c18;}
x{color:#013d6c;}
.{color:#013ec0;}
x{color:#014014;}
.{color:#014168;}
x{color:#0142bc;}
.{color:#014410;}
x{color:#014564;}
.{color:#0146b8;}
x{color:#01480c;}
.{color:#014960;}
x{color:#014ab4;}
.{color:#014c08;}
x{color:#014d5c;}
.{color:#014eb0;}
x{color:#015004;}
.{color:#015158;}
x{color:#0152ac;}
.{color:#015400;}
x{color:#015554;}
.{color:#0156a8;}
x{color:#0157fc;}
.{color:#015950;}
x{color:#015aa4;}
.{color:#015bf8;}
x{color:#015d4c;}
.{color:#015ea0;}
x{color:#015ff4;}
.{color:#016148;}
x{color:#01629c;}
.{color:#0163f0;}
x{color:#016544;}
.{color:#016698;}
x{color:#0167ec;}
.{color:#016940;}
x{color:#016a94;}
.{color:#016be8;}
x{color:#016d3c;}
.{color:#016e90;}
x{color:#016fe4;}
.{color:#017138;}
x{color:#01728c;}
.{color:#0173e0;}
x{color:#017534;}
.{color:#017688;}
x{color:#0177dc;}
.{color:#017930;}
x{color:#017a84;}
.{color:#017bd8;}
x{color:#017d2c;}
.{color:#017e80;}
x{color:#017fd4;}
.{color:#018128;}
x{color:#01827c;}
.{color:#0183d0;}
x{color:#018524;}
.{color:#018678;}
x{color:#0187cc;}
.{color:#018920;}
x{color:#018a74;}
.{color:#018bc8;}
x{color:#018d1c;}
.{color:#018e70;}
x{color:#018fc4;}
.{color:#019118;}
x{color:#01926c;}
.{color:#0193c0;}
x{color:#019514;}
.{color:#019668;}
x{color:#0197bc;}
.{color:#019910;}
x{color:#019a64;}
.{color:#019bb8;}
x{color:#019d0c;}
.{color:#019e60;}
x{color:#019fb4;}
.{color:#01a108;}
x{color:#01a25c;}
.{color:#01a3b0;}
x{color:#01a504;}
.{color:#01a658;}
x{color:#01a7ac;}
.{color:#01a900;}
x{color:#01aa54;}
.{color:#01aba8;}
x{color:#01acfc;}
.{color:#01ae50;}
x{color:#01afa4;}
.{color:#01b0f8;}
x{color:#01b24c;}
.{color:#01b3a0;}
x{color:#01b4f4;}
.{color:#01b648;}
x{color:#01b79c;}
.{color:#01b8f0;}
x{color:#01ba44;}
.{color:#01bb98;}
x{color:#01bcec;}
.{color:#01be40;}
x{color:#01bf94;}
.{color:#01c0e8;}
x{color:#01c23c;}
.{color:#01c390;}
x{color:#01c4e4;}
.{color:#01c638;}
x{color:#01c78c;}
.{color:#01c8e0;}
x{color:#01ca34;}
.{color:#01cb88;}
x{color:#01ccdc;}
.{color:#01ce30;}
x{color:#01cf84;}
.{color:#01d0d8;}
x{color:#01d22c;}
.{color:#01d380;}
x{color:#01d4d4;}
.{color:#01d628;}
x{color:#01d77c;}
.{color:#01d8d0;}
x{color:#01da24;}
.{color:#01db78;}
x{color:#01dccc;}
.{color:#01de20;}
x{color:#01df74;}
.{color:#01e0c8;}
x{color:#01e21c;}
.{color:#01e370;}
x{color:#01e4c4;}
.{color:#01e618;}
x{color:#01e76c;}
.{color:#01e8c0;}
x{color:#01ea14;}
.{color:#01eb68;}
x{color:#01ecbc;}
.{color:#01ee10;}
x{color:#01ef64;}
.{color:#01f0b8;}
x{color:#01f20c;}
.{color:#01f360;}
x{color:#01f4b4;}
.{color:#01f608;}
x{color:#01f75c;}
.{color:#01f8b0;}
x{color:#01fa04;}
.{color:#01fb58;}
x{color:#01fcac;}
.{color:#01fe00;}
x{color:#01ff54;}
.{color:#0200a8;}
x{color:#0201fc;}
.{color:#020350;}
x{color:#0204a4;}
.{color:#0205f8;}
x{color:#02074c;}
.{color:#0208a0;}
x{color:#0209f4;}
.{color:#020b48;}
x{color:#020c9c;}
.{color:#020df0;}
x{color:#020f44;}
.{color:#021098;}
x{color:#0211ec;}
.{color:#021340;}
x{color:#021494;}
.{color:#0215e8;}
x{color:#02173c;}
.{color:#021890;}
x{color:#0219e4;}
.{color:#021b38;}
x{color:#021c8c;}
.{color:#021de0;}
x{color:#021f34;}
.{color:#022088;}
x{color:#0221dc;}
.{color:#022330;}
x{color:#022484;}
.{color:#0225d8;}
x{color:#02272c;}
.{color:#022880;}
x{color:#0229d4;}
.{color:#022b28;}
x{color:#022c7c;}
.{color:#022dd0;}
x{color:#022f24;}
.{color:#023078;}
x{color:#0231cc;}
.{color:#023320;}
x{color:#023474;}
.{color:#0235c8;}
x{color:#02371c;}
.{color:#023870;}
x{color:#0239c4;}
.{color:#023b18;}
x{color:#023c6c;}
.{color:#023dc0;}
x{color:#023f14;}
.{color:#024068;}
x{color:#0241bc;}
.{color:#024310;}
x{color:#024464;}
.{color:#0245b8;}
x{color:#02470c;}
.{color:#024860;}
x{color:#0249b4;}
.{color:#024b08;}
x{color:#024c5c;}
.{color:#024db0;}
x{color:#024f04;}
.{color:#025058;}
x{color:#0251ac;}
.{color:#025300;}
x{color:#025454;}
.{color:#0255a8;}
x{color:#0256fc;}
.{color:#025850;}
x{color:#0259a4;}
.{color:#025af8;}
x{color:#025c4c;}
.{color:#025da0;}
x{color:#025ef4;}
.{color:#026048;}
x{color:#02619c;}
.{color:#0262f0;}
x{color:#026444;}
.{color:#026598;}
x{color:#0266ec;}
.{color:#026840;}
x{color:#026994;}
.{color:#026ae8;}
x{color:#026c3c;}
.{color:#026d90;}
x{color:#026ee4;}
.{color:#027038;}
x{color:#02718c;}
.{color:#0272e0;}
x{color:#027434;}
.{color:#027588;}
x{color:#0276dc;}
.{color:#027830;}
x{color:#027984;}
.{color:#027ad8;}
x{color:#027c2c;}
.{color:#027d80;}
x{color:#027ed4;}
.{color:#028028;}
x{color:#02817c;}
.{color:#0282d0;}
x{color:#028424;}
.{color:#028578;}
x{color:#0286cc;}
.{color:#028820;}
x{color:#028974;}
.{color:#028ac8;}
x{color:#028c1c;}
.{color:#028d70;}
x{color:#028ec4;}
.{color:#029018;}
x{color:#02916c;}
.{color:#0292c0;}
x{color:#029414;}
.{color:#029568;}
x{color:#0296bc;}
.{color:#029810;}
x{color:#029964;}
.{color:#029ab8;}
x{color:#029c0c;}
.{color:#029d60;}
x{color:#029eb4;}
.{color:#02a008;}
x{color:#02a15c;}
.{color:#02a2b0;}
x{color:#02a404;}
.{color:#02a558;}
x{color:#02a6ac;}
.{color:#02a800;}
x{color:#02a954;}
.{color:#02aaa8;}
x{color:#02abfc;}
.{color:#02ad50;}
x{color:#02aea4;}
.{color:#02aff8;}
x{color:#02b14c;}
.{color:#02b2a0;}
x{color:#02b3f4;}
.{color:#02b548;}
x{color:#02b69c;}
.{color:#02b7f0;}
x{color:#02b944;}
.{color:#02ba98;}
x{color:#02bbec;}
.{color:#02bd40;}
x{color:#02be94;}
.{color:#02bfe8;}
x{color:#02c13c;}
.{color:#02c290;}
x{color:#02c3e4;}
.{color:#02c538;}
x{color:#02c68c;}
.{color:#02c7e0;}
x{color:#02c934;}
.{color:#02ca88;}
x{color:#02cbdc;}
.{color:#02cd30;}
x{color:#02ce84;}
.{color:#02cfd8;}
x{color:#02d12c;}
.{color:#02d280;}
x{color:#02d3d4;}
.{color:#02d528;}
x{color:#02d67c;}
.{color:#02d7d0;}
x{color:#02d924;}
.{color:#02da78;}
x{color:#02dbcc;}
.{color:#02dd20;}
x{color:#02de74;}
.{color:#02dfc8;}
x{color:#02e11c;}
.{color:#02e270;}
x{color:#02e3c4;}
.{color:#02e518;}
x{color:#02e66c;}
.{color:#02e7c0;}
x{color:#02e914;}
.{color:#02ea68;}
x{color:#02ebbc;}
.{color:#02ed10;}
x{color:#02ee64;}
.{color:#02efb8;}
x{color:#02f10c;}
.{color:#02f260;}
x{color:#02f3b4;}
.{color:#02f508;}
x{color:#02f65c;}
.{color:#02f7b0;}
x{color:#02f904;}
.{color:#02fa58;}
x{color:#02fbac;}
.{color:#02fd00;}
x{color:#02fe54;}
.{color:#02ffa8;}
x{color:#0300fc;}
.{color:#030250;}
x{color:#0303a4;}
.{color:#0304f8;}
x{color:#03064c;}
.{color:#0307a0;}
x{color:#0308f4;}
.{color:#030a48;}
x{color:#030b9c;}
.{color:#030cf0;}
x{color:#030e44;}
.{color:#030f98;}
x{color:#0310ec;}
.{color:#031240;}
x{color:#031394;}
.{color:#0314e8;}
x{color:#03163c;}
.{color:#031790;}
x{color:#0318e4;}
.{color:#031a38;}
x{color:#031b8c;}
.{color:#031ce0;}
x{color:#031e34;}
.{color:#031f88;}
x{color:#0320dc;}
.{color:#032230;}
x{color:#032384;}
.{color:#0324d8;}
x{color:#03262c;}
.{color:#032780;}
x{color:#0328d4;}
.{color:#032a28;}
x{color:#032b7c;}
.{color:#032cd0;}
x{color:#032e24;}
.{color:#032f78;}
x{color:#0330cc;}
.{color:#033220;}
x{color:#033374;}
.{color:#0334c8;}
x{color:#03361c;}
.{color:#033770;}
x{color:#0338c4;}
.{color:#033a18;}
x{color:#033b6c;}
.{color:#033cc0;}
x{color:#033e14;}
.{color:#033f68;}
x{color:#0340bc;}
.{color:#034210;}
x{color:#034364;}
.{color:#0344b8;}
x{color:#03460c;}
.{color:#034760;}
x{color:#0348b4;}
.{color:#034a08;}
x{color:#034b5c;}
.{color:#034cb0;}
x{color:#034e04;}
.{color:#034f58;}
x{color:#0350ac;}
.{color:#035200;}
x{color:#035354;}
.{color:#0354a8;}
x{color:#0355fc;}
.{color:#035750;}
x{color:#0358a4;}
.{color:#0359f8;}
x{color:#035b4c;}
.{color:#035ca0;}
x{color:#035df4;}
.{color:#035f48;}
x{color:#03609c;}
.{color:#0361f0;}
x{color:#036344;}
.{color:#036498;}
x{color:#0365ec;}
.{color:#036740;}
x{color:#036894;}
.{color:#0369e8;}
x{color:#036b3c;}
.{color:#036c90;}
x{color:#036de4;}
.{color:#036f38;}
x{color:#03708c;}
.{color:#0371e0;}
x{color:#037334;}
.{color:#037488;}
x{color:#0375dc;}
.{color:#037730;}
x{color:#037884;}
.{color:#0379d8;}
x{color:#037b2c;}
.{color:#037c80;}
x{color:#037dd4;}
.{color:#037f28;}
x{color:#03807c;}
.{color:#0381d0;}
x{color:#038324;}
.{color:#038478;}
x{color:#0385cc;}
.{color:#038720;}
x{color:#038874;}
.{color:#0389c8;}
x{color:#038b1c;}
.{color:#038c70;}
x{color:#038dc4;}
.{color:#038f18;}
x{color:#03906c;}
.{color:#0391c0;}
x{color:#039314;}
.{color:#039468;}
x{color:#0395bc;}
.{color:#039710;}
x{color:#039864;}
.{color:#0399b8;}
x{color:#039b0c;}
.{color:#039c60;}
x{color:#039db4;}
.{color:#039f08;}
x{color:#03a05c;}
.{color:#03a1b0;}
x{color:#03a304;}
.{color:#03a458;}
x{color:#03a5ac;}
.{color:#03a700;}
x{color:#03a854;}
.{color:#03a9a8;}
x{color:#03aafc;}
.{color:#03ac50;}
x{color:#03ada4;}
.{color:#03aef8;}
x{color:#03b04c;}
.{color:#03b1a0;}
x{color:#03b2f4;}
.{color:#03b448;}
x{color:#03b59c;}
.{color:#03b6f0;}
x{color:#03b844;}
.{color:#03b998;}
x{color:#03baec;}
.{color:#03bc40;}
x{color:#03bd94;}
.{color:#03bee8;}
x{color:#03c03c;}
.{color:#03c190;}
x{color:#03c2e4;}
.{color:#03c438;}
x{color:#03c58c;}
.{color:#03c6e0;}
x{color:#03c834;}
.{color:#03c988;}
x{color:#03cadc;}
.{color:#03cc30;}
x{color:#03cd84;}
.{color:#03ced8;}
x{color:#03d02c;}
.{color:#03d180;}
x{color:#03d2d4;}
.{color:#03d428;}
x{color:#03d57c;}
.{color:#03d6d0;}
x{color:#03d824;}
.{color:#03d978;}
x{color:#03dacc;}
.{color:#03dc20;}
x{color:#03dd74;}
.{color:#03dec8;}
x{color:#03e01c;}
.{color:#03e170;}
x{color:#03e2c4;}
.{color:#03e418;}
x{color:#03e56c;}
.{color:#03e6c0;}
x{color:#03e814;}
.{color:#03e968;}
x{color:#03eabc;}
.{color:#03ec10;}
x{color:#03ed64;}
.{color:#03eeb8;}
x{color:#03f00c;}
.{color:#03f160;}
x{color:#03f2b4;}
.{color:#03f408;}
x{color:#03f55c;}
.{color:#03f6b0;}
x{color:#03f804;}
.{color:#03f958;}
x{color:#03faac;}
.{color:#03fc00;}
x{color:#03fd54;}
.{color:#03fea8;}
x{color:#03fffc;}
.{color:#040150;}
x{color:#0402a4;}
.{color:#0403f8;}
x{color:#04054c;}
.{color:#0406a0;}
x{color:#0407f4;}
.{color:#040948;}
x{color:#040a9c;}
.{color:#040bf0;}
x{color:#040d44;}
.{color:#040e98;}
x{color:#040fec;}
.{color:#041140;}
x{color:#041294;}
.{color:#0413e8;}
x{color:#04153c;}
.{color:#041690;}
x{color:#0417e4;}
.{color:#041938;}
x{color:#041a8c;}
.{color:#041be0;}
x{color:#041d34;}
.{color:#041e88;}
x{color:#041fdc;}
.{color:#042130;}
x{color:#042284;}
.{color:#0423d8;}
x{color:#04252c;}
.{color:#042680;}
x{color:#0427d4;}
.{color:#042928;}
x{color:#042a7c;}
.{color:#042bd0;}
x{color:#042d24;}
.{color:#042e78;}
x{color:#042fcc;}
.{color:#043120;}
x{color:#043274;}
.{color:#0433c8;}
x{color:#04351c;}
.{color:#043670;}
x{color:#0437c4;}
.{color:#043918;}
x{color:#043a6c;}
.{color:#043bc0;}
x{color:#043d14;}
.{color:#043e68;}
x{color:#043fbc;}
.{color:#044110;}
x{color:#044264;}
.{color:#0443b8;}
x{color:#04450c;}
.{color:#044660;}
x{color:#0447b4;}
.{color:#044908;}
x{color:#044a5c;}
.{color:#044bb0;}
x{color:#044d04;}
.{color:#044e58;}
x{color:#044fac;}
.{color:#045100;}
x{color:#045254;}
.{color:#0453a8;}
x{color:#0454fc;}
.{color:#045650;}
x{color:#0457a4;}
.{color:#0458f8;}
x{color:#045a4c;}
.{color:#045ba0;}
x{color:#045cf4;}
.{color:#045e48;}
x{color:#045f9c;}
.{color:#0460f0;}
x{color:#046244;}
.{color:#046398;}
x{color:#0464ec;}
.{color:#046640;}
x{color:#046794;}
.{color:#0468e8;}
x{color:#046a3c;}
.{color:#046b90;}
x{color:#046ce4;}
.{color:#046e38;}
x{color:#046f8c;}
.{color:#0470e0;}
x{color:#047234;}
.{color:#047388;}
x{color:#0474dc;}
.{color:#047630;}
x{color:#047784;}
.{color:#0478d8;}
x{color:#047a2c;}
.{color:#047b80;}
x{color:#047cd4;}
.{color:#047e28;}
x{color:#047f7c;}
.{color:#0480d0;}
x{color:#048224;}
.{color:#048378;}
x{color:#0484cc;}
.{color:#048620;}
x{color:#048774;}
.{color:#0488c8;}
x{color:#048a1c;}
.{color:#048b70;}
x{color:#048cc4;}
.{color:#048e18;}
x{color:#048f6c;}
.{color:#0490c0;}
x{color:#049214;}
.{color:#049368;}
x{color:#0494bc;}
.{color:#049610;}
x{color:#049764;}
.{color:#0498b8;}
x{color:#049a0c;}
.{color:#049b60;}
x{color:#049cb4;}
.{color:#049e08;}
x{color:#049f5c;}
.{color:#04a0b0;}
x{color:#04a204;}
.{color:#04a358;}
x{color:#04a4ac;}
.{color:#04a600;}
x{color:#04a754;}
.{color:#04a8a8;}
x{color:#04a9fc;}
.{color:#04ab50;}
x{color:#04aca4;}
.{color:#04adf8;}
x{color:#04af4c;}
.{color:#04b0a0;}
x{color:#04b1f4;}
.{color:#04b348;}
x{color:#04b49c;}
.{color:#04b5f0;}
x{color:#04b744;}
.{color:#04b898;}
x{color:#04b9ec;}
.{color:#04bb40;}
x{color:#04bc94;}
.{color:#04bde8;}
x{color:#04bf3c;}
.{color:#04c090;}
x{color:#04c1e4;}
.{color:#04c338;}
x{color:#04c48c;}
.{color:#04c5e0;}
x{color:#04c734;}
.{color:#04c888;}
x{color:#04c9dc;}
.{color:#04cb30;}
x{color:#04cc84;}
.{color:#04cdd8;}
x{color:#04cf2c;}
.{color:#04d080;}
x{color:#04d1d4;}
.{color:#04d328;}
x{color:#04d47c;}
.{color:#04d5d0;}
x{color:#04d724;}
.{color:#04d878;}
x{color:#04d9cc;}
.{color:#04db20;}
x{color:#04dc74;}
.{color:#04ddc8;}
x{color:#04df1c;}
.{color:#04e070;}
x{color:#04e1c4;}
.{color:#04e318;}
x{color:#04e46c;}
.{color:#04e5c0;}
x{color:#04e714;}
.{color:#04e868;}
x{color:#04e9bc;}
.{color:#04eb10;}
x{color:#04ec64;}
.{color:#04edb8;}
x{color:#04ef0c;}
.{color:#04f060;}
x{color:#04f1b4;}
.{color:#04f308;}
x{color:#04f45c;}
.{color:#04f5b0;}
x{color:#04f704;}
.{color:#04f858;}
x{color:#04f9ac;}
.{color:#04fb00;}
x{color:#04fc54;}
.{color:#04fda8;}
x{color:#04fefc;}
.{color:#050050;}
x{color:#0501a4;}
.{color:#0502f8;}
x{color:#05044c;}
.{color:#0505a0;}
x{color:#0506f4;}
.{color:#050848;}
x{color:#05099c;}
.{color:#050af0;}
x{color:#050c44;}
.{color:#050d98;}
x{color:#050eec;}
.{color:#051040;}
x{color:#051194;}
.{color:#0512e8;}
x{color:#05143c;}
.{color:#051590;}
x{color:#0516e4;}
.{color:#051838;}
x{color:#05198c;}
.{color:#051ae0;}
x{color:#051c34;}
.{color:#051d88;}
x{color:#051edc;}
.{color:#052030;}
x{color:#052184;}
.{color:#0522d8;}
x{color:#05242c;}
.{color:#052580;}
x{color:#0526d4;}
.{color:#052828;}
x{color:#05297c;}
.{color:#052ad0;}
x{color:#052c24;}
.{color:#052d78;}
x{color:#052ecc;}
