/* css */
.{color:#000000;}
x{color:#000121;}
.{color:#000242;}
x{color:#000363;}
.{color:#000484;}
x{color:#0005a5;}
.{color:#0006c6;}
x{color:#0007e7;}
.{color:#000908;}
x{color:#000a29;}
.{color:#000b4a;}
x{color:#000c6b;}
.{color:#000d8c;}
x{color:#000ead;}
.{color:#000fce;}
x{color:#0010ef;}
.{color:#001210;}
x{color:#001331;}
.{color:#001452;}
x{color:#001573;}
.{color:#001694;}
x{color:#0017b5;}
.{color:#0018d6;}
x{color:#0019f7;}
.{color:#001b18;}
x{color:#001c39;}
.{color:#001d5a;}
x{color:#001e7b;}
.{color:#001f9c;}
x{color:#0020bd;}
.{color:#0021de;}
x{color:#0022ff;}
.{color:#002420;}
x{color:#002541;}
.{color:#002662;}
x{color:#002783;}
.{color:#0028a4;}
x{color:#0029c5;}
.{color:#002ae6;}
x{color:#002c07;}
.{color:#002d28;}
x{color:#002e49;}
.{color:#002f6a;}
x{color:#00308b;}
.{color:#0031ac;}
x{color:#0032cd;}
.{color:#0033ee;}
x{color:#00350f;}
.{color:#003630;}
x{color:#003751;}
.{color:#003872;}
x{color:#003993;}
.{color:#003ab4;}
x{color:#003bd5;}
.{color:#003cf6;}
x{color:#003e17;}
.{color:#003f38;}
x{color:#004059;}
.{color:#00417a;}
x{color:#00429b;}
.{color:#0043bc;}
x{color:#0044dd;}
.{color:#0045fe;}
x{color:#00471f;}
.{color:#004840;}
x{color:#004961;}
.{color:#004a82;}
x{color:#004ba3;}
.{color:#004cc4;}
x{color:#004de5;}
.{color:#004f06;}
x{color:#005027;}
.{color:#005148;}
x{color:#005269;}
.{color:#00538a;}
x{color:#0054ab;}
.{color:#0055cc;}
x{color:#0056ed;}
.{color:#00580e;}
x{color:#00592f;}
.{color:#005a50;}
x{color:#005b71;}
.{color:#005c92;}
x{color:#005db3;}
.{color:#005ed4;}
x{color:#005ff5;}
.{color:#006116;}
x{color:#006237;}
.{color:#006358;}
x{color:#006479;}
.{color:#00659a;}
x{color:#0066bb;}
.{color:#0067dc;}
x{color:#0068fd;}
.{color:#006a1e;}
x{color:#006b3f;}
.{color:#006c60;}
x{color:#006d81;}
.{color:#006ea2;}
x{color:#006fc3;}
.{color:#0070e4;}
x{color:#007205;}
.{color:#007326;}
x{color:#007447;}
.{color:#007568;}
x{color:#007689;}
.{color:#0077aa;}
x{color:#0078cb;}
.{color:#0079ec;}
x{color:#007b0d;}
.{color:#007c2e;}
x{color:#007d4f;}
.{color:#007e70;}
x{color:#007f91;}
.{color:#0080b2;}
x{color:#0081d3;}
.{color:#0082f4;}
x{color:#008415;}
.{color:#008536;}
x{color:#008657;}
.{color:#008778;}
x{color:#008899;}
.{color:#0089ba;}
x{color:#008adb;}
.{color:#008bfc;}
x{color:#008d1d;}
.{color:#008e3e;}
x{color:#008f5f;}
.{color:#009080;}
x{color:#0091a1;}
.{color:#0092c2;}
x{color:#0093e3;}
.{color:#009504;}
x{color:#009625;}
.{color:#009746;}
x{color:#009867;}
.{color:#009988;}
x{color:#009aa9;}
.{color:#009bca;}
x{color:#009ceb;}
.{color:#009e0c;}
x{color:#009f2d;}
.{color:#00a04e;}
x{color:#00a16f;}
.{color:#00a290;}
x{color:#00a3b1;}
.{color:#00a4d2;}
x{color:#00a5f3;}
.{color:#00a714;}
x{color:#00a835;}
.{color:#00a956;}
x{color:#00aa77;}
.{color:#00ab98;}
x{color:#00acb9;}
.{color:#00adda;}
x{color:#00aefb;}
.{color:#00b01c;}
x{color:#00b13d;}
.{color:#00b25e;}
x{color:#00b37f;}
.{color:#00b4a0;}
x{color:#00b5c1;}
.{color:#00b6e2;}
x{color:#00b803;}
.{color:#00b924;}
x{color:#00ba45;}
.{color:#00bb66;}
x{color:#00bc87;}
.{color:#00bda8;}
x{color:#00bec9;}
.{color:#00bfea;}
x{color:#00c10b;}
.{color:#00c22c;}
x{color:#00c34d;}
.{color:#00c46e;}
x{color:#00c58f;}
.{color:#00c6b0;}
x{color:#00c7d1;}
.{color:#00c8f2;}
x{color:#00ca13;}
.{color:#00cb34;}
x{color:#00cc55;}
.{color:#00cd76;}
x{color:#00ce97;}
.{color:#00cfb8;}
x{color:#00d0d9;}
.{color:#00d1fa;}
x{color:#00d31b;}
.{color:#00d43c;}
x{color:#00d55d;}
.{color:#00d67e;}
x{color:#00d79f;}
.{color:#00d8c0;}
x{color:#00d9e1;}
.{color:#00db02;}
x{color:#00dc23;}
.{color:#00dd44;}
x{color:#00de65;}
.{color:#00df86;}
x{color:#00e0a7;}
.{color:#00e1c8;}
x{color:#00e2e9;}
.{color:#00e40a;}
x{color:#00e52b;}
.{color:#00e64c;}
x{color:#00e76d;}
.{color:#00e88e;}
x{color:#00e9af;}
.{color:#00ead0;}
x{color:#00ebf1;}
.{color:#00ed12;}
x{color:#00ee33;}
.{color:#00ef54;}
x{color:#00f075;}
.{color:#00f196;}
x{color:#00f2b7;}
.{color:#00f3d8;}
x{color:#00f4f9;}
.{color:#00f61a;}
x{color:#00f73b;}
.{color:#00f85c;}
x{color:#00f97d;}
.{color:#00fa9e;}
x{color:#00fbbf;}
.{color:#00fce0;}
x{color:#00fe01;}
.{color:#00ff22;}
x{color:#010043;}
.{color:#010164;}
x{color:#010285;}
.{color:#0103a6;}
x{color:#0104c7;}
.{color:#0105e8;}
x{color:#010709;}
.{color:#01082a;}
x{color:#01094b;}
.{color:#010a6c;}
x{color:#010b8d;}
.{color:#010cae;}
x{color:#010dcf;}
.{color:#010ef0;}
x{color:#011011;}
.{color:#011132;}
x{color:#011253;}
.{color:#011374;}
x{color:#011495;}
.{color:#0115b6;}
x{color:#0116d7;}
.{color:#0117f8;}
x{color:#011919;}
.{color:#011a3a;}
x{color:#011b5b;}
.{color:#011c7c;}
x{color:#011d9d;}
.{color:#011ebe;}
x{color:#011fdf;}
.{color:#012100;}
x{color:#012221;}
.{color:#012342;}
x{color:#012463;}
.{color:#012584;}
x{color:#0126a5;}
.{color:#0127c6;}
x{color:#0128e7;}
.{color:#012a08;}
x{color:#012b29;}
.{color:#012c4a;}
x{color:#012d6b;}
.{color:#012e8c;}
x{color:#012fad;}
.{color:#0130ce;}
x{color:#0131ef;}
.{color:#013310;}
x{color:#013431;}
.{color:#013552;}
x{color:#013673;}
.{color:#013794;}
x{color:#0138b5;}
.{color:#0139d6;}
x{color:#013af7;}
.{color:#013c18;}
x{color:#013d39;}
.{color:#013e5a;}
x{color:#013f7b;}
.{color:#01409c;}
x{color:#0141bd;}
.{color:#0142de;}
x{color:#0143ff;}
.{color:#014520;}
x{color:#014641;}
.{color:#014762;}
x{color:#014883;}
.{color:#0149a4;}
x{color:#014ac5;}
.{color:#014be6;}
x{color:#014d07;}
.{color:#014e28;}
x{color:#014f49;}
.{color:#01506a;}
x{color:#01518b;}
.{color:#0152ac;}
x{color:#0153cd;}
.{color:#0154ee;}
x{color:#01560f;}
.{color:#015730;}
x{color:#015851;}
.{color:#015972;}
x{color:#015a93;}
.{color:#015bb4;}
x{color:#015cd5;}
.{color:#015df6;}
x{color:#015f17;}
.{color:#016038;}
x{color:#016159;}
.{color:#01627a;}
x{color:#01639b;}
.{color:#0164bc;}
x{color:#0165dd;}
.{color:#0166fe;}
x{color:#01681f;}
.{color:#016940;}
x{color:#016a61;}
.{color:#016b82;}
x{color:#016ca3;}
.{color:#016dc4;}
x{color:#016ee5;}
.{color:#017006;}
x{color:#017127;}
.{color:#017248;}
x{color:#017369;}
.{color:#01748a;}
x{color:#0175ab;}
.{color:#0176cc;}
x{color:#0177ed;}
.{color:#01790e;}
x{color:#017a2f;}
.{color:#017b50;}
x{color:#017c71;}
.{color:#017d92;}
x{color:#017eb3;}
.{color:#017fd4;}
x{color:#0180f5;}
.{color:#018216;}
x{color:#018337;}
.{color:#018458;}
x{color:#018579;}
.{color:#01869a;}
x{color:#0187bb;}
.{color:#0188dc;}
x{color:#0189fd;}
.{color:#018b1e;}
x{color:#018c3f;}
.{color:#018d60;}
x{color:#018e81;}
.{color:#018fa2;}
x{color:#0190c3;}
.{color:#0191e4;}
x{color:#019305;}
.{color:#019426;}
x{color:#019547;}
.{color:#019668;}
x{color:#019789;}
.{color:#0198aa;}
x{color:#0199cb;}
.{color:#019aec;}
x{color:#019c0d;}
.{color:#019d2e;}
x{color:#019e4f;}
.{color:#019f70;}
x{color:#01a091;}
.{color:#01a1b2;}
x{color:#01a2d3;}
.{color:#01a3f4;}
x{color:#01a515;}
.{color:#01a636;}
x{color:#01a757;}
.{color:#01a878;}
x{color:#01a999;}
.{color:#01aaba;}
x{color:#01abdb;}
.{color:#01acfc;}
x{color:#01ae1d;}
.{color:#01af3e;}
x{color:#01b05f;}
.{color:#01b180;}
x{color:#01b2a1;}
.{color:#01b3c2;}
x{color:#01b4e3;}
.{color:#01b604;}
x{color:#01b725;}
.{color:#01b846;}
x{color:#01b967;}
.{color:#01ba88;}
x{color:#01bba9;}
.{color:#01bcca;}
x{color:#01bdeb;}
.{color:#01bf0c;}
x{color:#01c02d;}
.{color:#01c14e;}
x{color:#01c26f;}
.{color:#01c390;}
x{color:#01c4b1;}
.{color:#01c5d2;}
x{color:#01c6f3;}
.{color:#01c814;}
x{color:#01c935;}
.{color:#01ca56;}
x{color:#01cb77;}
.{color:#01cc98;}
x{color:#01cdb9;}
.{color:#01ceda;}
x{color:#01cffb;}
.{color:#01d11c;}
x{color:#01d23d;}
.{color:#01d35e;}
x{color:#01d47f;}
.{color:#01d5a0;}
x{color:#01d6c1;}
.{color:#01d7e2;}
x{color:#01d903;}
.{color:#01da24;}
x{color:#01db45;}
.{color:#01dc66;}
x{color:#01dd87;}
.{color:#01dea8;}
x{color:#01dfc9;}
.{color:#01e0ea;}
x{color:#01e20b;}
.{color:#01e32c;}
x{color:#01e44d;}
.{color:#01e56e;}
x{color:#01e68f;}
.{color:#01e7b0;}
x{color:#01e8d1;}
.{color:#01e9f2;}
x{color:#01eb13;}
.{color:#01ec34;}
x{color:#01ed55;}
.{color:#01ee76;}
x{color:#01ef97;}
.{color:#01f0b8;}
x{color:#01f1d9;}
.{color:#01f2fa;}
x{color:#01f41b;}
.{color:#01f53c;}
x{color:#01f65d;}
.{color:#01f77e;}
x{color:#01f89f;}
.{color:#01f9c0;}
x{color:#01fae1;}
.{color:#01fc02;}
x{color:#01fd23;}
.{color:#01fe44;}
x{color:#01ff65;}
.{color:#020086;}
x{color:#0201a7;}
.{color:#0202c8;}
x{color:#0203e9;}
.{color:#02050a;}
x{color:#02062b;}
.{color:#02074c;}
x{color:#02086d;}
.{color:#02098e;}
x{color:#020aaf;}
.{color:#020bd0;}
x{color:#020cf1;}
.{color:#020e12;}
x{color:#020f33;}
.{color:#021054;}
x{color:#021175;}
.{color:#021296;}
x{color:#0213b7;}
.{color:#0214d8;}
x{color:#0215f9;}
.{color:#02171a;}
x{color:#02183b;}
.{color:#02195c;}
x{color:#021a7d;}
.{color:#021b9e;}
x{color:#021cbf;}
.{color:#021de0;}
x{color:#021f01;}
.{color:#022022;}
x{color:#022143;}
.{color:#022264;}
x{color:#022385;}
.{color:#0224a6;}
x{color:#0225c7;}
.{color:#0226e8;}
x{color:#022809;}
.{color:#02292a;}
x{color:#022a4b;}
.{color:#022b6c;}
x{color:#022c8d;}
.{color:#022dae;}
x{color:#022ecf;}
.{color:#022ff0;}
x{color:#023111;}
.{color:#023232;}
x{color:#023353;}
.{color:#023474;}
x{color:#023595;}
.{color:#0236b6;}
x{color:#0237d7;}
.{color:#0238f8;}
x{color:#023a19;}
.{color:#023b3a;}
x{color:#023c5b;}
.{color:#023d7c;}
x{color:#023e9d;}
.{color:#023fbe;}
x{color:#0240df;}
.{color:#024200;}
x{color:#024321;}
.{color:#024442;}
x{color:#024563;}
.{color:#024684;}
x{color:#0247a5;}
.{color:#0248c6;}
x{color:#0249e7;}
.{color:#024b08;}
x{color:#024c29;}
.{color:#024d4a;}
x{color:#024e6b;}
.{color:#024f8c;}
x{color:#0250ad;}
.{color:#0251ce;}
x{color:#0252ef;}
.{color:#025410;}
x{color:#025531;}
.{color:#025652;}
x{color:#025773;}
.{color:#025894;}
x{color:#0259b5;}
.{color:#025ad6;}
x{color:#025bf7;}
.{color:#025d18;}
x{color:#025e39;}
.{color:#025f5a;}
x{color:#02607b;}
.{color:#02619c;}
x{color:#0262bd;}
.{color:#0263de;}
x{color:#0264ff;}
.{color:#026620;}
x{color:#026741;}
.{color:#026862;}
x{color:#026983;}
.{color:#026aa4;}
x{color:#026bc5;}
.{color:#026ce6;}
x{color:#026e07;}
.{color:#026f28;}
x{color:#027049;}
.{color:#02716a;}
x{color:#02728b;}
.{color:#0273ac;}
x{color:#0274cd;}
.{color:#0275ee;}
x{color:#02770f;}
.{color:#027830;}
x{color:#027951;}
.{color:#027a72;}
x{color:#027b93;}
.{color:#027cb4;}
x{color:#027dd5;}
.{color:#027ef6;}
x{color:#028017;}
.{color:#028138;}
x{color:#028259;}
.{color:#02837a;}
x{color:#02849b;}
.{color:#0285bc;}
x{color:#0286dd;}
.{color:#0287fe;}
x{color:#02891f;}
.{color:#028a40;}
x{color:#028b61;}
.{color:#028c82;}
x{color:#028da3;}
.{color:#028ec4;}
x{color:#028fe5;}
.{color:#029106;}
x{color:#029227;}
.{color:#029348;}
x{color:#029469;}
.{color:#02958a;}
x{color:#0296ab;}
.{color:#0297cc;}
x{color:#0298ed;}
.{color:#029a0e;}
x{color:#029b2f;}
.{color:#029c50;}
x{color:#029d71;}
.{color:#029e92;}
x{color:#029fb3;}
.{color:#02a0d4;}
x{color:#02a1f5;}
.{color:#02a316;}
x{color:#02a437;}
.{color:#02a558;}
x{color:#02a679;}
.{color:#02a79a;}
x{color:#02a8bb;}
.{color:#02a9dc;}
x{color:#02aafd;}
.{color:#02ac1e;}
x{color:#02ad3f;}
.{color:#02ae60;}
x{color:#02af81;}
.{color:#02b0a2;}
x{color:#02b1c3;}
.{color:#02b2e4;}
x{color:#02b405;}
.{color:#02b526;}
x{color:#02b647;}
.{color:#02b768;}
x{color:#02b889;}
.{color:#02b9aa;}
x{color:#02bacb;}
.{color:#02bbec;}
x{color:#02bd0d;}
.{color:#02be2e;}
x{color:#02bf4f;}
.{color:#02c070;}
x{color:#02c191;}
.{color:#02c2b2;}
x{color:#02c3d3;}
.{color:#02c4f4;}
x{color:#02c615;}
.{color:#02c736;}
x{color:#02c857;}
.{color:#02c978;}
x{color:#02ca99;}
.{color:#02cbba;}
x{color:#02ccdb;}
.{color:#02cdfc;}
x{color:#02cf1d;}
.{color:#02d03e;}
x{color:#02d15f;}
.{color:#02d280;}
x{color:#02d3a1;}
.{color:#02d4c2;}
x{color:#02d5e3;}
.{color:#02d704;}
x{color:#02d825;}
.{color:#02d946;}
x{color:#02da67;}
.{color:#02db88;}
x{color:#02dca9;}
.{color:#02ddca;}
x{color:#02deeb;}
.{color:#02e00c;}
x{color:#02e12d;}
.{color:#02e24e;}
x{color:#02e36f;}
.{color:#02e490;}
x{color:#02e5b1;}
.{color:#02e6d2;}
x{color:#02e7f3;}
.{color:#02e914;}
x{color:#02ea35;}
.{color:#02eb56;}
x{color:#02ec77;}
.{color:#02ed98;}
x{color:#02eeb9;}
.{color:#02efda;}
x{color:#02f0fb;}
.{color:#02f21c;}
x{color:#02f33d;}
.{color:#02f45e;}
x{color:#02f57f;}
.{color:#02f6a0;}
x{color:#02f7c1;}
.{color:#02f8e2;}
x{color:#02fa03;}
.{color:#02fb24;}
x{color:#02fc45;}
.{color:#02fd66;}
x{color:#02fe87;}
.{color:#02ffa8;}
x{color:#0300c9;}
.{color:#0301ea;}
x{color:#03030b;}
.{color:#03042c;}
x{color:#03054d;}
.{color:#03066e;}
x{color:#03078f;}
.{color:#0308b0;}
x{color:#0309d1;}
.{color:#030af2;}
x{color:#030c13;}
.{color:#030d34;}
x{color:#030e55;}
.{color:#030f76;}
x{color:#031097;}
.{color:#0311b8;}
x{color:#0312d9;}
.{color:#0313fa;}
x{color:#03151b;}
.{color:#03163c;}
x{color:#03175d;}
.{color:#03187e;}
x{color:#03199f;}
.{color:#031ac0;}
x{color:#031be1;}
.{color:#031d02;}
x{color:#031e23;}
.{color:#031f44;}
x{color:#032065;}
.{color:#032186;}
x{color:#0322a7;}
.{color:#0323c8;}
x{color:#0324e9;}
.{color:#03260a;}
x{color:#03272b;}
.{color:#03284c;}
x{color:#03296d;}
.{color:#032a8e;}
x{color:#032baf;}
.{color:#032cd0;}
x{color:#032df1;}
.{color:#032f12;}
x{color:#033033;}
.{color:#033154;}
x{color:#033275;}
.{color:#033396;}
x{color:#0334b7;}
.{color:#0335d8;}
x{color:#0336f9;}
.{color:#03381a;}
x{color:#03393b;}
.{color:#033a5c;}
x{color:#033b7d;}
.{color:#033c9e;}
x{color:#033dbf;}
.{color:#033ee0;}
x{color:#034001;}
.{color:#034122;}
x{color:#034243;}
.{color:#034364;}
x{color:#034485;}
.{color:#0345a6;}
x{color:#0346c7;}
.{color:#0347e8;}
x{color:#034909;}
.{color:#034a2a;}
x{color:#034b4b;}
.{color:#034c6c;}
x{color:#034d8d;}
.{color:#034eae;}
x{color:#034fcf;}
.{color:#0350f0;}
x{color:#035211;}
.{color:#035332;}
x{color:#035453;}
.{color:#035574;}
x{color:#035695;}
.{color:#0357b6;}
x{color:#0358d7;}
.{color:#0359f8;}
x{color:#035b19;}
.{color:#035c3a;}
x{color:#035d5b;}
.{color:#035e7c;}
x{color:#035f9d;}
.{color:#0360be;}
x{color:#0361df;}
.{color:#036300;}
x{color:#036421;}
.{color:#036542;}
x{color:#036663;}
.{color:#036784;}
x{color:#0368a5;}
.{color:#0369c6;}
x{color:#036ae7;}
.{color:#036c08;}
x{color:#036d29;}
.{color:#036e4a;}
x{color:#036f6b;}
.{color:#03708c;}
x{color:#0371ad;}
.{color:#0372ce;}
x{color:#0373ef;}
.{color:#037510;}
x{color:#037631;}
.{color:#037752;}
x{color:#037873;}
.{color:#037994;}
x{color:#037ab5;}
.{color:#037bd6;}
x{color:#037cf7;}
.{color:#037e18;}
x{color:#037f39;}
.{color:#03805a;}
x{color:#03817b;}
.{color:#03829c;}
x{color:#0383bd;}
.{color:#0384de;}
x{color:#0385ff;}
.{color:#038720;}
x{color:#038841;}
.{color:#038962;}
x{color:#038a83;}
.{color:#038ba4;}
x{color:#038cc5;}
.{color:#038de6;}
x{color:#038f07;}
.{color:#039028;}
x{color:#039149;}
.{color:#03926a;}
x{color:#03938b;}
.{color:#0394ac;}
x{color:#0395cd;}
.{color:#0396ee;}
x{color:#03980f;}
.{color:#039930;}
x{color:#039a51;}
.{color:#039b72;}
x{color:#039c93;}
.{color:#039db4;}
x{color:#039ed5;}
.{color:#039ff6;}
x{color:#03a117;}
.{color:#03a238;}
x{color:#03a359;}
.{color:#03a47a;}
x{color:#03a59b;}
.{color:#03a6bc;}
x{color:#03a7dd;}
.{color:#03a8fe;}
x{color:#03aa1f;}
.{color:#03ab40;}
x{color:#03ac61;}
.{color:#03ad82;}
x{color:#03aea3;}
.{color:#03afc4;}
x{color:#03b0e5;}
.{color:#03b206;}
x{color:#03b327;}
.{color:#03b448;}
x{color:#03b569;}
.{color:#03b68a;}
x{color:#03b7ab;}
.{color:#03b8cc;}
x{color:#03b9ed;}
.{color:#03bb0e;}
x{color:#03bc2f;}
.{color:#03bd50;}
x{color:#03be71;}
.{color:#03bf92;}
x{color:#03c0b3;}
.{color:#03c1d4;}
x{color:#03c2f5;}
.{color:#03c416;}
x{color:#03c537;}
.{color:#03c658;}
x{color:#03c779;}
.{color:#03c89a;}
x{color:#03c9bb;}
.{color:#03cadc;}
x{color:#03cbfd;}
.{color:#03cd1e;}
x{color:#03ce3f;}
.{color:#03cf60;}
x{color:#03d081;}
.{color:#03d1a2;}
x{color:#03d2c3;}
.{color:#03d3e4;}
x{color:#03d505;}
.{color:#03d626;}
x{color:#03d747;}
.{color:#03d868;}
x{color:#03d989;}
.{color:#03daaa;}
x{color:#03dbcb;}
.{color:#03dcec;}
x{color:#03de0d;}
.{color:#03df2e;}
x{color:#03e04f;}
.{color:#03e170;}
x{color:#03e291;}
.{color:#03e3b2;}
x{color:#03e4d3;}
.{color:#03e5f4;}
x{color:#03e715;}
.{color:#03e836;}
x{color:#03e957;}
.{color:#03ea78;}
x{color:#03eb99;}
.{color:#03ecba;}
x{color:#03eddb;}
.{color:#03eefc;}
x{color:#03f01d;}
.{color:#03f13e;}
x{color:#03f25f;}
.{color:#03f380;}
x{color:#03f4a1;}
.{color:#03f5c2;}
x{color:#03f6e3;}
.{color:#03f804;}
x{color:#03f925;}
.{color:#03fa46;}
x{color:#03fb67;}
.{color:#03fc88;}
x{color:#03fda9;}
.{color:#03feca;}
x{color:#03ffeb;}
.{color:#04010c;}
x{color:#04022d;}
.{color:#04034e;}
x{color:#04046f;}
.{color:#040590;}
x{color:#0406b1;}
.{color:#0407d2;}
x{color:#0408f3;}
.{color:#040a14;}
x{color:#040b35;}
.{color:#040c56;}
x{color:#040d77;}
.{color:#040e98;}
x{color:#040fb9;}
.{color:#0410da;}
x{color:#0411fb;}
.{color:#04131c;}
x{color:#04143d;}
.{color:#04155e;}
x{color:#04167f;}
.{color:#0417a0;}
x{color:#0418c1;}
.{color:#0419e2;}
x{color:#041b03;}
.{color:#041c24;}
x{color:#041d45;}
.{color:#041e66;}
x{color:#041f87;}
.{color:#0420a8;}
x{color:#0421c9;}
.{color:#0422ea;}
x{color:#04240b;}
.{color:#04252c;}
x{color:#04264d;}
.{color:#04276e;}
x{color:#04288f;}
.{color:#0429b0;}
x{color:#042ad1;}
.{color:#042bf2;}
x{color:#042d13;}
.{color:#042e34;}
x{color:#042f55;}
.{color:#043076;}
x{color:#043197;}
.{color:#0432b8;}
x{color:#0433d9;}
.{color:#0434fa;}
x{color:#04361b;}
.{color:#04373c;}
x{color:#04385d;}
.{color:#04397e;}
x{color:#043a9f;}
.{color:#043bc0;}
x{color:#043ce1;}
.{color:#043e02;}
x{color:#043f23;}
.{color:#044044;}
x{color:#044165;}
.{color:#044286;}
x{color:#0443a7;}
.{color:#0444c8;}
x{color:#0445e9;}
.{color:#04470a;}
x{color:#04482b;}
.{color:#04494c;}
x{color:#044a6d;}
.{color:#044b8e;}
x{color:#044caf;}
.{color:#044dd0;}
x{color:#044ef1;}
.{color:#045012;}
x{color:#045133;}
.{color:#045254;}
x{color:#045375;}
.{color:#045496;}
x{color:#0455b7;}
.{color:#0456d8;}
x{color:#0457f9;}
.{color:#04591a;}
x{color:#045a3b;}
.{color:#045b5c;}
x{color:#045c7d;}
.{color:#045d9e;}
x{color:#045ebf;}
.{color:#045fe0;}
x{color:#046101;}
.{color:#046222;}
x{color:#046343;}
.{color:#046464;}
x{color:#046585;}
.{color:#0466a6;}
x{color:#0467c7;}
