/* css */
.{color:#000000;}
x{color:#000011;}
.{color:#000022;}
x{color:#000033;}
.{color:#000044;}
x{color:#000055;}
.{color:#000066;}
x{color:#000077;}
.{color:#000088;}
x{color:#000099;}
.{color:#0000aa;}
x{color:#0000bb;}
.{color:#0000cc;}
x{color:#0000dd;}
.{color:#0000ee;}
x{color:#0000ff;}
.{color:#000110;}
x{color:#000121;}
.{color:#000132;}
x{color:#000143;}
.{color:#000154;}
x{color:#000165;}
.{color:#000176;}
x{color:#000187;}
.{color:#000198;}
x{color:#0001a9;}
.{color:#0001ba;}
x{color:#0001cb;}
.{color:#0001dc;}
x{color:#0001ed;}
.{color:#0001fe;}
x{color:#00020f;}
.{color:#000220;}
x{color:#000231;}
.{color:#000242;}
x{color:#000253;}
.{color:#000264;}
x{color:#000275;}
.{color:#000286;}
x{color:#000297;}
.{color:#0002a8;}
x{color:#0002b9;}
.{color:#0002ca;}
x{color:#0002db;}
.{color:#0002ec;}
x{color:#0002fd;}
.{color:#00030e;}
x{color:#00031f;}
.{color:#000330;}
x{color:#000341;}
.{color:#000352;}
x{color:#000363;}
.{color:#000374;}
x{color:#000385;}
.{color:#000396;}
x{color:#0003a7;}
.{color:#0003b8;}
x{color:#0003c9;}
.{color:#0003da;}
x{color:#0003eb;}
.{color:#0003fc;}
x{color:#00040d;}
.{color:#00041e;}
x{color:#00042f;}
.{color:#000440;}
x{color:#000451;}
.{color:#000462;}
x{color:#000473;}
.{color:#000484;}
x{color:#000495;}
.{color:#0004a6;}
x{color:#0004b7;}
.{color:#0004c8;}
x{color:#0004d9;}
.{color:#0004ea;}
x{color:#0004fb;}
.{color:#00050c;}
x{color:#00051d;}
.{color:#00052e;}
x{color:#00053f;}
.{color:#000550;}
x{color:#000561;}
.{color:#000572;}
x{color:#000583;}
.{color:#000594;}
x{color:#0005a5;}
.{color:#0005b6;}
x{color:#0005c7;}
.{color:#0005d8;}
x{color:#0005e9;}
.{color:#0005fa;}
x{color:#00060b;}
.{color:#00061c;}
x{color:#00062d;}
.{color:#00063e;}
x{color:#00064f;}
.{color:#000660;}
x{color:#000671;}
.{color:#000682;}
x{color:#000693;}
.{color:#0006a4;}
x{color:#0006b5;}
.{color:#0006c6;}
x{color:#0006d7;}
.{color:#0006e8;}
x{color:#0006f9;}
.{color:#00070a;}
x{color:#00071b;}
.{color:#00072c;}
x{color:#00073d;}
.{color:#00074e;}
x{color:#00075f;}
.{color:#000770;}
x{color:#000781;}
.{color:#000792;}
x{color:#0007a3;}
.{color:#0007b4;}
x{color:#0007c5;}
.{color:#0007d6;}
x{color:#0007e7;}
.{color:#0007f8;}
x{color:#000809;}
.{color:#00081a;}
x{color:#00082b;}
.{color:#00083c;}
x{color:#00084d;}
.{color:#00085e;}
x{color:#00086f;}
.{color:#000880;}
x{color:#000891;}
.{color:#0008a2;}
x{color:#0008b3;}
.{color:#0008c4;}
x{color:#0008d5;}
.{color:#0008e6;}
x{color:#0008f7;}
.{color:#000908;}
x{color:#000919;}
.{color:#00092a;}
x{color:#00093b;}
.{color:#00094c;}
x{color:#00095d;}
.{color:#00096e;}
x{color:#00097f;}
.{color:#000990;}
x{color:#0009a1;}
.{color:#0009b2;}
x{color:#0009c3;}
.{color:#0009d4;}
x{color:#0009e5;}
.{color:#0009f6;}
x{color:#000a07;}
.{color:#000a18;}
x{color:#000a29;}
.{color:#000a3a;}
x{color:#000a4b;}
.{color:#000a5c;}
x{color:#000a6d;}
.{color:#000a7e;}
x{color:#000a8f;}
.{color:#000aa0;}
x{color:#000ab1;}
.{color:#000ac2;}
x{color:#000ad3;}
.{color:#000ae4;}
x{color:#000af5;}
.{color:#000b06;}
x{color:#000b17;}
.{color:#000b28;}
x{color:#000b39;}
.{color:#000b4a;}
x{color:#000b5b;}
.{color:#000b6c;}
x{color:#000b7d;}
.{color:#000b8e;}
x{color:#000b9f;}
.{color:#000bb0;}
x{color:#000bc1;}
.{color:#000bd2;}
x{color:#000be3;}
.{color:#000bf4;}
x{color:#000c05;}
.{color:#000c16;}
x{color:#000c27;}
.{color:#000c38;}
x{color:#000c49;}
.{color:#000c5a;}
x{color:#000c6b;}
.{color:#000c7c;}
x{color:#000c8d;}
.{color:#000c9e;}
x{color:#000caf;}
.{color:#000cc0;}
x{color:#000cd1;}
.{color:#000ce2;}
x{color:#000cf3;}
.{color:#000d04;}
x{color:#000d15;}
.{color:#000d26;}
x{color:#000d37;}
.{color:#000d48;}
x{color:#000d59;}
.{color:#000d6a;}
x{color:#000d7b;}
.{color:#000d8c;}
x{color:#000d9d;}
.{color:#000dae;}
x{color:#000dbf;}
.{color:#000dd0;}
x{color:#000de1;}
.{color:#000df2;}
x{color:#000e03;}
.{color:#000e14;}
x{color:#000e25;}
.{color:#000e36;}
x{color:#000e47;}
.{color:#000e58;}
x{color:#000e69;}
.{color:#000e7a;}
x{color:#000e8b;}
.{color:#000e9c;}
x{color:#000ead;}
.{color:#000ebe;}
x{color:#000ecf;}
.{color:#000ee0;}
x{color:#000ef1;}
.{color:#000f02;}
x{color:#000f13;}
.{color:#000f24;}
x{color:#000f35;}
.{color:#000f46;}
x{color:#000f57;}
.{color:#000f68;}
x{color:#000f79;}
.{color:#000f8a;}
x{color:#000f9b;}
.{color:#000fac;}
x{color:#000fbd;}
.{color:#000fce;}
x{color:#000fdf;}
.{color:#000ff0;}
x{color:#001001;}
.{color:#001012;}
x{color:#001023;}
.{color:#001034;}
x{color:#001045;}
.{color:#001056;}
x{color:#001067;}
.{color:#001078;}
x{color:#001089;}
.{color:#00109a;}
x{color:#0010ab;}
.{color:#0010bc;}
x{color:#0010cd;}
.{color:#0010de;}
x{color:#0010ef;}
.{color:#001100;}
x{color:#001111;}
.{color:#001122;}
x{color:#001133;}
.{color:#001144;}
x{color:#001155;}
.{color:#001166;}
x{color:#001177;}
.{color:#001188;}
x{color:#001199;}
.{color:#0011aa;}
x{color:#0011bb;}
.{color:#0011cc;}
x{color:#0011dd;}
.{color:#0011ee;}
x{color:#0011ff;}
.{color:#001210;}
x{color:#001221;}
.{color:#001232;}
x{color:#001243;}
.{color:#001254;}
x{color:#001265;}
.{color:#001276;}
x{color:#001287;}
.{color:#001298;}
x{color:#0012a9;}
.{color:#0012ba;}
x{color:#0012cb;}
.{color:#0012dc;}
x{color:#0012ed;}
.{color:#0012fe;}
x{color:#00130f;}
.{color:#001320;}
x{color:#001331;}
.{color:#001342;}
x{color:#001353;}
.{color:#001364;}
x{color:#001375;}
.{color:#001386;}
x{color:#001397;}
.{color:#0013a8;}
x{color:#0013b9;}
.{color:#0013ca;}
x{color:#0013db;}
.{color:#0013ec;}
x{color:#0013fd;}
.{color:#00140e;}
x{color:#00141f;}
.{color:#001430;}
x{color:#001441;}
.{color:#001452;}
x{color:#001463;}
.{color:#001474;}
x{color:#001485;}
.{color:#001496;}
x{color:#0014a7;}
.{color:#0014b8;}
x{color:#0014c9;}
.{color:#0014da;}
x{color:#0014eb;}
.{color:#0014fc;}
x{color:#00150d;}
.{color:#00151e;}
x{color:#00152f;}
.{color:#001540;}
x{color:#001551;}
.{color:#001562;}
x{color:#001573;}
.{color:#001584;}
x{color:#001595;}
.{color:#0015a6;}
x{color:#0015b7;}
.{color:#0015c8;}
x{color:#0015d9;}
.{color:#0015ea;}
x{color:#0015fb;}
.{color:#00160c;}
x{color:#00161d;}
.{color:#00162e;}
x{color:#00163f;}
.{color:#001650;}
x{color:#001661;}
.{color:#001672;}
x{color:#001683;}
.{color:#001694;}
x{color:#0016a5;}
.{color:#0016b6;}
x{color:#0016c7;}
.{color:#0016d8;}
x{color:#0016e9;}
.{color:#0016fa;}
x{color:#00170b;}
.{color:#00171c;}
x{color:#00172d;}
.{color:#00173e;}
x{color:#00174f;}
.{color:#001760;}
x{color:#001771;}
.{color:#001782;}
x{color:#001793;}
.{color:#0017a4;}
x{color:#0017b5;}
.{color:#0017c6;}
x{color:#0017d7;}
.{color:#0017e8;}
x{color:#0017f9;}
.{color:#00180a;}
x{color:#00181b;}
.{color:#00182c;}
x{color:#00183d;}
.{color:#00184e;}
x{color:#00185f;}
.{color:#001870;}
x{color:#001881;}
.{color:#001892;}
x{color:#0018a3;}
.{color:#0018b4;}
x{color:#0018c5;}
.{color:#0018d6;}
x{color:#0018e7;}
.{color:#0018f8;}
x{color:#001909;}
.{color:#00191a;}
x{color:#00192b;}
.{color:#00193c;}
x{color:#00194d;}
.{color:#00195e;}
x{color:#00196f;}
.{color:#001980;}
x{color:#001991;}
.{color:#0019a2;}
x{color:#0019b3;}
.{color:#0019c4;}
x{color:#0019d5;}
.{color:#0019e6;}
x{color:#0019f7;}
.{color:#001a08;}
x{color:#001a19;}
.{color:#001a2a;}
x{color:#001a3b;}
.{color:#001a4c;}
x{color:#001a5d;}
.{color:#001a6e;}
x{color:#001a7f;}
.{color:#001a90;}
x{color:#001aa1;}
.{color:#001ab2;}
x{color:#001ac3;}
.{color:#001ad4;}
x{color:#001ae5;}
.{color:#001af6;}
x{color:#001b07;}
.{color:#001b18;}
x{color:#001b29;}
.{color:#001b3a;}
x{color:#001b4b;}
.{color:#001b5c;}
x{color:#001b6d;}
.{color:#001b7e;}
x{color:#001b8f;}
.{color:#001ba0;}
x{color:#001bb1;}
.{color:#001bc2;}
x{color:#001bd3;}
.{color:#001be4;}
x{color:#001bf5;}
.{color:#001c06;}
x{color:#001c17;}
.{color:#001c28;}
x{color:#001c39;}
.{color:#001c4a;}
x{color:#001c5b;}
.{color:#001c6c;}
x{color:#001c7d;}
.{color:#001c8e;}
x{color:#001c9f;}
.{color:#001cb0;}
x{color:#001cc1;}
.{color:#001cd2;}
x{color:#001ce3;}
.{color:#001cf4;}
x{color:#001d05;}
.{color:#001d16;}
x{color:#001d27;}
.{color:#001d38;}
x{color:#001d49;}
.{color:#001d5a;}
x{color:#001d6b;}
.{color:#001d7c;}
x{color:#001d8d;}
.{color:#001d9e;}
x{color:#001daf;}
.{color:#001dc0;}
x{color:#001dd1;}
.{color:#001de2;}
x{color:#001df3;}
.{color:#001e04;}
x{color:#001e15;}
.{color:#001e26;}
x{color:#001e37;}
.{color:#001e48;}
x{color:#001e59;}
.{color:#001e6a;}
x{color:#001e7b;}
.{color:#001e8c;}
x{color:#001e9d;}
.{color:#001eae;}
x{color:#001ebf;}
.{color:#001ed0;}
x{color:#001ee1;}
.{color:#001ef2;}
x{color:#001f03;}
.{color:#001f14;}
x{color:#001f25;}
.{color:#001f36;}
x{color:#001f47;}
.{color:#001f58;}
x{color:#001f69;}
.{color:#001f7a;}
x{color:#001f8b;}
.{color:#001f9c;}
x{color:#001fad;}
.{color:#001fbe;}
x{color:#001fcf;}
.{color:#001fe0;}
x{color:#001ff1;}
.{color:#002002;}
x{color:#002013;}
.{color:#002024;}
x{color:#002035;}
.{color:#002046;}
x{color:#002057;}
.{color:#002068;}
x{color:#002079;}
.{color:#00208a;}
x{color:#00209b;}
.{color:#0020ac;}
x{color:#0020bd;}
.{color:#0020ce;}
x{color:#0020df;}
.{color:#0020f0;}
x{color:#002101;}
.{color:#002112;}
x{color:#002123;}
.{color:#002134;}
x{color:#002145;}
.{color:#002156;}
x{color:#002167;}
.{color:#002178;}
x{color:#002189;}
.{color:#00219a;}
x{color:#0021ab;}
.{color:#0021bc;}
x{color:#0021cd;}
.{color:#0021de;}
x{color:#0021ef;}
.{color:#002200;}
x{color:#002211;}
.{color:#002222;}
x{color:#002233;}
.{color:#002244;}
x{color:#002255;}
.{color:#002266;}
x{color:#002277;}
.{color:#002288;}
x{color:#002299;}
.{color:#0022aa;}
x{color:#0022bb;}
.{color:#0022cc;}
x{color:#0022dd;}
.{color:#0022ee;}
x{color:#0022ff;}
.{color:#002310;}
x{color:#002321;}
.{color:#002332;}
x{color:#002343;}
.{color:#002354;}
x{color:#002365;}
.{color:#002376;}
x{color:#002387;}
.{color:#002398;}
x{color:#0023a9;}
.{color:#0023ba;}
x{color:#0023cb;}
.{color:#0023dc;}
x{color:#0023ed;}
.{color:#0023fe;}
x{color:#00240f;}
.{color:#002420;}
x{color:#002431;}
.{color:#002442;}
x{color:#002453;}
.{color:#002464;}
x{color:#002475;}
.{color:#002486;}
x{color:#002497;}
.{color:#0024a8;}
x{color:#0024b9;}
.{color:#0024ca;}
x{color:#0024db;}
.{color:#0024ec;}
x{color:#0024fd;}
.{color:#00250e;}
x{color:#00251f;}
.{color:#002530;}
x{color:#002541;}
.{color:#002552;}
x{color:#002563;}
.{color:#002574;}
x{color:#002585;}
.{color:#002596;}
x{color:#0025a7;}
.{color:#0025b8;}
x{color:#0025c9;}
.{color:#0025da;}
x{color:#0025eb;}
.{color:#0025fc;}
x{color:#00260d;}
.{color:#00261e;}
x{color:#00262f;}
.{color:#002640;}
x{color:#002651;}
.{color:#002662;}
x{color:#002673;}
.{color:#002684;}
x{color:#002695;}
.{color:#0026a6;}
x{color:#0026b7;}
.{color:#0026c8;}
x{color:#0026d9;}
.{color:#0026ea;}
x{color:#0026fb;}
.{color:#00270c;}
x{color:#00271d;}
.{color:#00272e;}
x{color:#00273f;}
.{color:#002750;}
x{color:#002761;}
.{color:#002772;}
x{color:#002783;}
.{color:#002794;}
x{color:#0027a5;}
.{color:#0027b6;}
x{color:#0027c7;}
.{color:#0027d8;}
x{color:#0027e9;}
.{color:#0027fa;}
x{color:#00280b;}
.{color:#00281c;}
x{color:#00282d;}
.{color:#00283e;}
x{color:#00284f;}
.{color:#002860;}
x{color:#002871;}
.{color:#002882;}
x{color:#002893;}
.{color:#0028a4;}
x{color:#0028b5;}
.{color:#0028c6;}
x{color:#0028d7;}
.{color:#0028e8;}
x{color:#0028f9;}
.{color:#00290a;}
x{color:#00291b;}
.{color:#00292c;}
x{color:#00293d;}
.{color:#00294e;}
x{color:#00295f;}
.{color:#002970;}
x{color:#002981;}
.{color:#002992;}
x{color:#0029a3;}
.{color:#0029b4;}
x{color:#0029c5;}
.{color:#0029d6;}
x{color:#0029e7;}
.{color:#0029f8;}
x{color:#002a09;}
.{color:#002a1a;}
x{color:#002a2b;}
.{color:#002a3c;}
x{color:#002a4d;}
.{color:#002a5e;}
x{color:#002a6f;}
.{color:#002a80;}
x{color:#002a91;}
.{color:#002aa2;}
x{color:#002ab3;}
.{color:#002ac4;}
x{color:#002ad5;}
.{color:#002ae6;}
x{color:#002af7;}
.{color:#002b08;}
x{color:#002b19;}
.{color:#002b2a;}
x{color:#002b3b;}
.{color:#002b4c;}
x{color:#002b5d;}
.{color:#002b6e;}
x{color:#002b7f;}
.{color:#002b90;}
x{color:#002ba1;}
.{color:#002bb2;}
x{color:#002bc3;}
.{color:#002bd4;}
x{color:#002be5;}
.{color:#002bf6;}
x{color:#002c07;}
.{color:#002c18;}
x{color:#002c29;}
.{color:#002c3a;}
x{color:#002c4b;}
.{color:#002c5c;}
x{color:#002c6d;}
.{color:#002c7e;}
x{color:#002c8f;}
.{color:#002ca0;}
x{color:#002cb1;}
.{color:#002cc2;}
x{color:#002cd3;}
.{color:#002ce4;}
x{color:#002cf5;}
.{color:#002d06;}
x{color:#002d17;}
.{color:#002d28;}
x{color:#002d39;}
.{color:#002d4a;}
x{color:#002d5b;}
.{color:#002d6c;}
x{color:#002d7d;}
.{color:#002d8e;}
x{color:#002d9f;}
.{color:#002db0;}
x{color:#002dc1;}
.{color:#002dd2;}
x{color:#002de3;}
.{color:#002df4;}
x{color:#002e05;}
.{color:#002e16;}
x{color:#002e27;}
.{color:#002e38;}
x{color:#002e49;}
.{color:#002e5a;}
x{color:#002e6b;}
.{color:#002e7c;}
x{color:#002e8d;}
.{color:#002e9e;}
x{color:#002eaf;}
.{color:#002ec0;}
x{color:#002ed1;}
.{color:#002ee2;}
x{color:#002ef3;}
.{color:#002f04;}
x{color:#002f15;}
.{color:#002f26;}
x{color:#002f37;}
.{color:#002f48;}
x{color:#002f59;}
.{color:#002f6a;}
x{color:#002f7b;}
.{color:#002f8c;}
x{color:#002f9d;}
.{color:#002fae;}
x{color:#002fbf;}
.{color:#002fd0;}
x{color:#002fe1;}
.{color:#002ff2;}
x{color:#003003;}
.{color:#003014;}
x{color:#003025;}
.{color:#003036;}
x{color:#003047;}
.{color:#003058;}
x{color:#003069;}
.{color:#00307a;}
x{color:#00308b;}
.{color:#00309c;}
x{color:#0030ad;}
.{color:#0030be;}
x{color:#0030cf;}
.{color:#0030e0;}
x{color:#0030f1;}
.{color:#003102;}
x{color:#003113;}
.{color:#003124;}
x{color:#003135;}
.{color:#003146;}
x{color:#003157;}
.{color:#003168;}
x{color:#003179;}
.{color:#00318a;}
x{color:#00319b;}
.{color:#0031ac;}
x{color:#0031bd;}
.{color:#0031ce;}
x{color:#0031df;}
.{color:#0031f0;}
x{color:#003201;}
.{color:#003212;}
x{color:#003223;}
.{color:#003234;}
x{color:#003245;}
.{color:#003256;}
x{color:#003267;}
.{color:#003278;}
x{color:#003289;}
.{color:#00329a;}
x{color:#0032ab;}
.{color:#0032bc;}
x{color:#0032cd;}
.{color:#0032de;}
x{color:#0032ef;}
.{color:#003300;}
x{color:#003311;}
.{color:#003322;}
x{color:#003333;}
.{color:#003344;}
x{color:#003355;}
.{color:#003366;}
x{color:#003377;}
.{color:#003388;}
x{color:#003399;}
.{color:#0033aa;}
x{color:#0033bb;}
.{color:#0033cc;}
x{color:#0033dd;}
.{color:#0033ee;}
x{color:#0033ff;}
.{color:#003410;}
x{color:#003421;}
.{color:#003432;}
x{color:#003443;}
.{color:#003454;}
x{color:#003465;}
.{color:#003476;}
x{color:#003487;}
.{color:#003498;}
x{color:#0034a9;}
.{color:#0034ba;}
x{color:#0034cb;}
.{color:#0034dc;}
x{color:#0034ed;}
.{color:#0034fe;}
x{color:#00350f;}
.{color:#003520;}
x{color:#003531;}
.{color:#003542;}
x{color:#003553;}
.{color:#003564;}
x{color:#003575;}
.{color:#003586;}
x{color:#003597;}
.{color:#0035a8;}
x{color:#0035b9;}
.{color:#0035ca;}
x{color:#0035db;}
.{color:#0035ec;}
x{color:#0035fd;}
.{color:#00360e;}
x{color:#00361f;}
.{color:#003630;}
x{color:#003641;}
.{color:#003652;}
x{color:#003663;}
.{color:#003674;}
x{color:#003685;}
.{color:#003696;}
x{color:#0036a7;}
.{color:#0036b8;}
x{color:#0036c9;}
.{color:#0036da;}
x{color:#0036eb;}
.{color:#0036fc;}
x{color:#00370d;}
.{color:#00371e;}
x{color:#00372f;}
.{color:#003740;}
x{color:#003751;}
.{color:#003762;}
x{color:#003773;}
.{color:#003784;}
x{color:#003795;}
.{color:#0037a6;}
x{color:#0037b7;}
.{color:#0037c8;}
x{color:#0037d9;}
.{color:#0037ea;}
x{color:#0037fb;}
.{color:#00380c;}
x{color:#00381d;}
.{color:#00382e;}
x{color:#00383f;}
.{color:#003850;}
x{color:#003861;}
.{color:#003872;}
x{color:#003883;}
.{color:#003894;}
x{color:#0038a5;}
.{color:#0038b6;}
x{color:#0038c7;}
.{color:#0038d8;}
x{color:#0038e9;}
.{color:#0038fa;}
x{color:#00390b;}
.{color:#00391c;}
x{color:#00392d;}
.{color:#00393e;}
x{color:#00394f;}
.{color:#003960;}
x{color:#003971;}
.{color:#003982;}
x{color:#003993;}
.{color:#0039a4;}
x{color:#0039b5;}
.{color:#0039c6;}
x{color:#0039d7;}
.{color:#0039e8;}
x{color:#0039f9;}
.{color:#003a0a;}
x{color:#003a1b;}
.{color:#003a2c;}
x{color:#003a3d;}
.{color:#003a4e;}
x{color:#003a5f;}
.{color:#003a70;}
x{color:#003a81;}
.{color:#003a92;}
x{color:#003aa3;}
.{color:#003ab4;}
x{color:#003ac5;}
.{color:#003ad6;}
x{color:#003ae7;}
.{color:#003af8;}
x{color:#003b09;}
.{color:#003b1a;}
x{color:#003b2b;}
.{color:#003b3c;}
x{color:#003b4d;}
.{color:#003b5e;}
x{color:#003b6f;}
.{color:#003b80;}
x{color:#003b91;}
.{color:#003ba2;}
x{color:#003bb3;}
.{color:#003bc4;}
x{color:#003bd5;}
.{color:#003be6;}
x{color:#003bf7;}
.{color:#003c08;}
x{color:#003c19;}
.{color:#003c2a;}
x{color:#003c3b;}
.{color:#003c4c;}
x{color:#003c5d;}
.{color:#003c6e;}
x{color:#003c7f;}
.{color:#003c90;}
x{color:#003ca1;}
.{color:#003cb2;}
x{color:#003cc3;}
.{color:#003cd4;}
x{color:#003ce5;}
.{color:#003cf6;}
x{color:#003d07;}
.{color:#003d18;}
x{color:#003d29;}
.{color:#003d3a;}
x{color:#003d4b;}
.{color:#003d5c;}
x{color:#003d6d;}
.{color:#003d7e;}
x{color:#003d8f;}
.{color:#003da0;}
x{color:#003db1;}
.{color:#003dc2;}
x{color:#003dd3;}
.{color:#003de4;}
x{color:#003df5;}
.{color:#003e06;}
x{color:#003e17;}
.{color:#003e28;}
x{color:#003e39;}
.{color:#003e4a;}
x{color:#003e5b;}
.{color:#003e6c;}
x{color:#003e7d;}
.{color:#003e8e;}
x{color:#003e9f;}
.{color:#003eb0;}
x{color:#003ec1;}
.{color:#003ed2;}
x{color:#003ee3;}
.{color:#003ef4;}
x{color:#003f05;}
.{color:#003f16;}
x{color:#003f27;}
.{color:#003f38;}
x{color:#003f49;}
.{color:#003f5a;}
x{color:#003f6b;}
.{color:#003f7c;}
x{color:#003f8d;}
.{color:#003f9e;}
x{color:#003faf;}
.{color:#003fc0;}
x{color:#003fd1;}
.{color:#003fe2;}
x{color:#003ff3;}
.{color:#004004;}
x{color:#004015;}
.{color:#004026;}
x{color:#004037;}
.{color:#004048;}
x{color:#004059;}
.{color:#00406a;}
x{color:#00407b;}
.{color:#00408c;}
x{color:#00409d;}
.{color:#0040ae;}
x{color:#0040bf;}
.{color:#0040d0;}
x{color:#0040e1;}
.{color:#0040f2;}
x{color:#004103;}
.{color:#004114;}
x{color:#004125;}
.{color:#004136;}
x{color:#004147;}
.{color:#004158;}
x{color:#004169;}
.{color:#00417a;}
x{color:#00418b;}
.{color:#00419c;}
x{color:#0041ad;}
.{color:#0041be;}
x{color:#0041cf;}
.{color:#0041e0;}
x{color:#0041f1;}
.{color:#004202;}
x{color:#004213;}
.{color:#004224;}
x{color:#004235;}
.{color:#004246;}
x{color:#004257;}
