/* css */
.{color:#000000;}
x{color:#000088;}
.{color:#000110;}
x{color:#000198;}
.{color:#000220;}
x{color:#0002a8;}
.{color:#000330;}
x{color:#0003b8;}
.{color:#000440;}
x{color:#0004c8;}
.{color:#000550;}
x{color:#0005d8;}
.{color:#000660;}
x{color:#0006e8;}
.{color:#000770;}
x{color:#0007f8;}
.{color:#000880;}
x{color:#000908;}
.{color:#000990;}
x{color:#000a18;}
.{color:#000aa0;}
x{color:#000b28;}
.{color:#000bb0;}
x{color:#000c38;}
.{color:#000cc0;}
x{color:#000d48;}
.{color:#000dd0;}
x{color:#000e58;}
.{color:#000ee0;}
x{color:#000f68;}
.{color:#000ff0;}
x{color:#001078;}
.{color:#001100;}
x{color:#001188;}
.{color:#001210;}
x{color:#001298;}
.{color:#001320;}
x{color:#0013a8;}
.{color:#001430;}
x{color:#0014b8;}
.{color:#001540;}
x{color:#0015c8;}
.{color:#001650;}
x{color:#0016d8;}
.{color:#001760;}
x{color:#0017e8;}
.{color:#001870;}
x{color:#0018f8;}
.{color:#001980;}
x{color:#001a08;}
.{color:#001a90;}
x{color:#001b18;}
.{color:#001ba0;}
x{color:#001c28;}
.{color:#001cb0;}
x{color:#001d38;}
.{color:#001dc0;}
x{color:#001e48;}
.{color:#001ed0;}
x{color:#001f58;}
.{color:#001fe0;}
x{color:#002068;}
.{color:#0020f0;}
x{color:#002178;}
.{color:#002200;}
x{color:#002288;}
.{color:#002310;}
x{color:#002398;}
.{color:#002420;}
x{color:#0024a8;}
.{color:#002530;}
x{color:#0025b8;}
.{color:#002640;}
x{color:#0026c8;}
.{color:#002750;}
x{color:#0027d8;}
.{color:#002860;}
x{color:#0028e8;}
.{color:#002970;}
x{color:#0029f8;}
.{color:#002a80;}
x{color:#002b08;}
.{color:#002b90;}
x{color:#002c18;}
.{color:#002ca0;}
x{color:#002d28;}
.{color:#002db0;}
x{color:#002e38;}
.{color:#002ec0;}
x{color:#002f48;}
.{color:#002fd0;}
x{color:#003058;}
.{color:#0030e0;}
x{color:#003168;}
.{color:#0031f0;}
x{color:#003278;}
.{color:#003300;}
x{color:#003388;}
.{color:#003410;}
x{color:#003498;}
.{color:#003520;}
x{color:#0035a8;}
.{color:#003630;}
x{color:#0036b8;}
.{color:#003740;}
x{color:#0037c8;}
.{color:#003850;}
x{color:#0038d8;}
.{color:#003960;}
x{color:#0039e8;}
.{color:#003a70;}
x{color:#003af8;}
.{color:#003b80;}
x{color:#003c08;}
.{color:#003c90;}
x{color:#003d18;}
.{color:#003da0;}
x{color:#003e28;}
.{color:#003eb0;}
x{color:#003f38;}
.{color:#003fc0;}
x{color:#004048;}
.{color:#0040d0;}
x{color:#004158;}
.{color:#0041e0;}
x{color:#004268;}
.{color:#0042f0;}
x{color:#004378;}
.{color:#004400;}
x{color:#004488;}
.{color:#004510;}
x{color:#004598;}
.{color:#004620;}
x{color:#0046a8;}
.{color:#004730;}
x{color:#0047b8;}
.{color:#004840;}
x{color:#0048c8;}
.{color:#004950;}
x{color:#0049d8;}
.{color:#004a60;}
x{color:#004ae8;}
.{color:#004b70;}
x{color:#004bf8;}
.{color:#004c80;}
x{color:#004d08;}
.{color:#004d90;}
x{color:#004e18;}
.{color:#004ea0;}
x{color:#004f28;}
.{color:#004fb0;}
x{color:#005038;}
.{color:#0050c0;}
x{color:#005148;}
.{color:#0051d0;}
x{color:#005258;}
.{color:#0052e0;}
x{color:#005368;}
.{color:#0053f0;}
x{color:#005478;}
.{color:#005500;}
x{color:#005588;}
.{color:#005610;}
x{color:#005698;}
.{color:#005720;}
x{color:#0057a8;}
.{color:#005830;}
x{color:#0058b8;}
.{color:#005940;}
x{color:#0059c8;}
.{color:#005a50;}
x{color:#005ad8;}
.{color:#005b60;}
x{color:#005be8;}
.{color:#005c70;}
x{color:#005cf8;}
.{color:#005d80;}
x{color:#005e08;}
.{color:#005e90;}
x{color:#005f18;}
.{color:#005fa0;}
x{color:#006028;}
.{color:#0060b0;}
x{color:#006138;}
.{color:#0061c0;}
x{color:#006248;}
.{color:#0062d0;}
x{color:#006358;}
.{color:#0063e0;}
x{color:#006468;}
.{color:#0064f0;}
x{color:#006578;}
.{color:#006600;}
x{color:#006688;}
.{color:#006710;}
x{color:#006798;}
.{color:#006820;}
x{color:#0068a8;}
.{color:#006930;}
x{color:#0069b8;}
.{color:#006a40;}
x{color:#006ac8;}
.{color:#006b50;}
x{color:#006bd8;}
.{color:#006c60;}
x{color:#006ce8;}
.{color:#006d70;}
x{color:#006df8;}
.{color:#006e80;}
x{color:#006f08;}
.{color:#006f90;}
x{color:#007018;}
.{color:#0070a0;}
x{color:#007128;}
.{color:#0071b0;}
x{color:#007238;}
.{color:#0072c0;}
x{color:#007348;}
.{color:#0073d0;}
x{color:#007458;}
.{color:#0074e0;}
x{color:#007568;}
.{color:#0075f0;}
x{color:#007678;}
.{color:#007700;}
x{color:#007788;}
.{color:#007810;}
x{color:#007898;}
.{color:#007920;}
x{color:#0079a8;}
.{color:#007a30;}
x{color:#007ab8;}
.{color:#007b40;}
x{color:#007bc8;}
.{color:#007c50;}
x{color:#007cd8;}
.{color:#007d60;}
x{color:#007de8;}
.{color:#007e70;}
x{color:#007ef8;}
.{color:#007f80;}
x{color:#008008;}
.{color:#008090;}
x{color:#008118;}
.{color:#0081a0;}
x{color:#008228;}
.{color:#0082b0;}
x{color:#008338;}
.{color:#0083c0;}
x{color:#008448;}
.{color:#0084d0;}
x{color:#008558;}
.{color:#0085e0;}
x{color:#008668;}
.{color:#0086f0;}
x{color:#008778;}
.{color:#008800;}
x{color:#008888;}
.{color:#008910;}
x{color:#008998;}
.{color:#008a20;}
x{color:#008aa8;}
.{color:#008b30;}
x{color:#008bb8;}
.{color:#008c40;}
x{color:#008cc8;}
.{color:#008d50;}
x{color:#008dd8;}
.{color:#008e60;}
x{color:#008ee8;}
.{color:#008f70;}
x{color:#008ff8;}
.{color:#009080;}
x{color:#009108;}
.{color:#009190;}
x{color:#009218;}
.{color:#0092a0;}
x{color:#009328;}
.{color:#0093b0;}
x{color:#009438;}
.{color:#0094c0;}
x{color:#009548;}
.{color:#0095d0;}
x{color:#009658;}
.{color:#0096e0;}
x{color:#009768;}
.{color:#0097f0;}
x{color:#009878;}
.{color:#009900;}
x{color:#009988;}
.{color:#009a10;}
x{color:#009a98;}
.{color:#009b20;}
x{color:#009ba8;}
.{color:#009c30;}
x{color:#009cb8;}
.{color:#009d40;}
x{color:#009dc8;}
.{color:#009e50;}
x{color:#009ed8;}
.{color:#009f60;}
x{color:#009fe8;}
.{color:#00a070;}
x{color:#00a0f8;}
.{color:#00a180;}
x{color:#00a208;}
.{color:#00a290;}
x{color:#00a318;}
.{color:#00a3a0;}
x{color:#00a428;}
.{color:#00a4b0;}
x{color:#00a538;}
.{color:#00a5c0;}
x{color:#00a648;}
.{color:#00a6d0;}
x{color:#00a758;}
.{color:#00a7e0;}
x{color:#00a868;}
.{color:#00a8f0;}
x{color:#00a978;}
.{color:#00aa00;}
x{color:#00aa88;}
.{color:#00ab10;}
x{color:#00ab98;}
.{color:#00ac20;}
x{color:#00aca8;}
.{color:#00ad30;}
x{color:#00adb8;}
.{color:#00ae40;}
x{color:#00aec8;}
.{color:#00af50;}
x{color:#00afd8;}
.{color:#00b060;}
x{color:#00b0e8;}
.{color:#00b170;}
x{color:#00b1f8;}
.{color:#00b280;}
x{color:#00b308;}
.{color:#00b390;}
x{color:#00b418;}
.{color:#00b4a0;}
x{color:#00b528;}
.{color:#00b5b0;}
x{color:#00b638;}
.{color:#00b6c0;}
x{color:#00b748;}
.{color:#00b7d0;}
x{color:#00b858;}
.{color:#00b8e0;}
x{color:#00b968;}
.{color:#00b9f0;}
x{color:#00ba78;}
.{color:#00bb00;}
x{color:#00bb88;}
.{color:#00bc10;}
x{color:#00bc98;}
.{color:#00bd20;}
x{color:#00bda8;}
.{color:#00be30;}
x{color:#00beb8;}
.{color:#00bf40;}
x{color:#00bfc8;}
.{color:#00c050;}
x{color:#00c0d8;}
.{color:#00c160;}
x{color:#00c1e8;}
.{color:#00c270;}
x{color:#00c2f8;}
.{color:#00c380;}
x{color:#00c408;}
.{color:#00c490;}
x{color:#00c518;}
.{color:#00c5a0;}
x{color:#00c628;}
.{color:#00c6b0;}
x{color:#00c738;}
.{color:#00c7c0;}
x{color:#00c848;}
.{color:#00c8d0;}
x{color:#00c958;}
.{color:#00c9e0;}
x{color:#00ca68;}
.{color:#00caf0;}
x{color:#00cb78;}
.{color:#00cc00;}
x{color:#00cc88;}
.{color:#00cd10;}
x{color:#00cd98;}
.{color:#00ce20;}
x{color:#00cea8;}
.{color:#00cf30;}
x{color:#00cfb8;}
.{color:#00d040;}
x{color:#00d0c8;}
.{color:#00d150;}
x{color:#00d1d8;}
.{color:#00d260;}
x{color:#00d2e8;}
.{color:#00d370;}
x{color:#00d3f8;}
.{color:#00d480;}
x{color:#00d508;}
.{color:#00d590;}
x{color:#00d618;}
.{color:#00d6a0;}
x{color:#00d728;}
.{color:#00d7b0;}
x{color:#00d838;}
.{color:#00d8c0;}
x{color:#00d948;}
.{color:#00d9d0;}
x{color:#00da58;}
.{color:#00dae0;}
x{color:#00db68;}
.{color:#00dbf0;}
x{color:#00dc78;}
.{color:#00dd00;}
x{color:#00dd88;}
.{color:#00de10;}
x{color:#00de98;}
.{color:#00df20;}
x{color:#00dfa8;}
.{color:#00e030;}
x{color:#00e0b8;}
.{color:#00e140;}
x{color:#00e1c8;}
.{color:#00e250;}
x{color:#00e2d8;}
.{color:#00e360;}
x{color:#00e3e8;}
.{color:#00e470;}
x{color:#00e4f8;}
.{color:#00e580;}
x{color:#00e608;}
.{color:#00e690;}
x{color:#00e718;}
.{color:#00e7a0;}
x{color:#00e828;}
.{color:#00e8b0;}
x{color:#00e938;}
.{color:#00e9c0;}
x{color:#00ea48;}
.{color:#00ead0;}
x{color:#00eb58;}
.{color:#00ebe0;}
x{color:#00ec68;}
.{color:#00ecf0;}
x{color:#00ed78;}
.{color:#00ee00;}
x{color:#00ee88;}
.{color:#00ef10;}
x{color:#00ef98;}
.{color:#00f020;}
x{color:#00f0a8;}
.{color:#00f130;}
x{color:#00f1b8;}
.{color:#00f240;}
x{color:#00f2c8;}
.{color:#00f350;}
x{color:#00f3d8;}
.{color:#00f460;}
x{color:#00f4e8;}
.{color:#00f570;}
x{color:#00f5f8;}
.{color:#00f680;}
x{color:#00f708;}
.{color:#00f790;}
x{color:#00f818;}
.{color:#00f8a0;}
x{color:#00f928;}
.{color:#00f9b0;}
x{color:#00fa38;}
.{color:#00fac0;}
x{color:#00fb48;}
.{color:#00fbd0;}
x{color:#00fc58;}
.{color:#00fce0;}
x{color:#00fd68;}
.{color:#00fdf0;}
x{color:#00fe78;}
.{color:#00ff00;}
x{color:#00ff88;}
.{color:#010010;}
x{color:#010098;}
.{color:#010120;}
x{color:#0101a8;}
.{color:#010230;}
x{color:#0102b8;}
.{color:#010340;}
x{color:#0103c8;}
.{color:#010450;}
x{color:#0104d8;}
.{color:#010560;}
x{color:#0105e8;}
.{color:#010670;}
x{color:#0106f8;}
.{color:#010780;}
x{color:#010808;}
.{color:#010890;}
x{color:#010918;}
.{color:#0109a0;}
x{color:#010a28;}
.{color:#010ab0;}
x{color:#010b38;}
.{color:#010bc0;}
x{color:#010c48;}
.{color:#010cd0;}
x{color:#010d58;}
.{color:#010de0;}
x{color:#010e68;}
.{color:#010ef0;}
x{color:#010f78;}
.{color:#011000;}
x{color:#011088;}
.{color:#011110;}
x{color:#011198;}
.{color:#011220;}
x{color:#0112a8;}
.{color:#011330;}
x{color:#0113b8;}
.{color:#011440;}
x{color:#0114c8;}
.{color:#011550;}
x{color:#0115d8;}
.{color:#011660;}
x{color:#0116e8;}
.{color:#011770;}
x{color:#0117f8;}
.{color:#011880;}
x{color:#011908;}
.{color:#011990;}
x{color:#011a18;}
.{color:#011aa0;}
x{color:#011b28;}
.{color:#011bb0;}
x{color:#011c38;}
.{color:#011cc0;}
x{color:#011d48;}
.{color:#011dd0;}
x{color:#011e58;}
.{color:#011ee0;}
x{color:#011f68;}
.{color:#011ff0;}
x{color:#012078;}
.{color:#012100;}
x{color:#012188;}
.{color:#012210;}
x{color:#012298;}
.{color:#012320;}
x{color:#0123a8;}
.{color:#012430;}
x{color:#0124b8;}
.{color:#012540;}
x{color:#0125c8;}
.{color:#012650;}
x{color:#0126d8;}
.{color:#012760;}
x{color:#0127e8;}
.{color:#012870;}
x{color:#0128f8;}
.{color:#012980;}
x{color:#012a08;}
.{color:#012a90;}
x{color:#012b18;}
.{color:#012ba0;}
x{color:#012c28;}
.{color:#012cb0;}
x{color:#012d38;}
.{color:#012dc0;}
x{color:#012e48;}
.{color:#012ed0;}
x{color:#012f58;}
.{color:#012fe0;}
x{color:#013068;}
.{color:#0130f0;}
x{color:#013178;}
.{color:#013200;}
x{color:#013288;}
.{color:#013310;}
x{color:#013398;}
.{color:#013420;}
x{color:#0134a8;}
.{color:#013530;}
x{color:#0135b8;}
.{color:#013640;}
x{color:#0136c8;}
.{color:#013750;}
x{color:#0137d8;}
.{color:#013860;}
x{color:#0138e8;}
.{color:#013970;}
x{color:#0139f8;}
.{color:#013a80;}
x{color:#013b08;}
.{color:#013b90;}
x{color:#013c18;}
.{color:#013ca0;}
x{color:#013d28;}
.{color:#013db0;}
x{color:#013e38;}
.{color:#013ec0;}
x{color:#013f48;}
.{color:#013fd0;}
x{color:#014058;}
.{color:#0140e0;}
x{color:#014168;}
.{color:#0141f0;}
x{color:#014278;}
.{color:#014300;}
x{color:#014388;}
.{color:#014410;}
x{color:#014498;}
.{color:#014520;}
x{color:#0145a8;}
.{color:#014630;}
x{color:#0146b8;}
.{color:#014740;}
x{color:#0147c8;}
.{color:#014850;}
x{color:#0148d8;}
.{color:#014960;}
x{color:#0149e8;}
.{color:#014a70;}
x{color:#014af8;}
.{color:#014b80;}
x{color:#014c08;}
.{color:#014c90;}
x{color:#014d18;}
.{color:#014da0;}
x{color:#014e28;}
.{color:#014eb0;}
x{color:#014f38;}
.{color:#014fc0;}
x{color:#015048;}
.{color:#0150d0;}
x{color:#015158;}
.{color:#0151e0;}
x{color:#015268;}
.{color:#0152f0;}
x{color:#015378;}
.{color:#015400;}
x{color:#015488;}
.{color:#015510;}
x{color:#015598;}
.{color:#015620;}
x{color:#0156a8;}
.{color:#015730;}
x{color:#0157b8;}
.{color:#015840;}
x{color:#0158c8;}
.{color:#015950;}
x{color:#0159d8;}
.{color:#015a60;}
x{color:#015ae8;}
.{color:#015b70;}
x{color:#015bf8;}
.{color:#015c80;}
x{color:#015d08;}
.{color:#015d90;}
x{color:#015e18;}
.{color:#015ea0;}
x{color:#015f28;}
.{color:#015fb0;}
x{color:#016038;}
.{color:#0160c0;}
x{color:#016148;}
.{color:#0161d0;}
x{color:#016258;}
.{color:#0162e0;}
x{color:#016368;}
.{color:#0163f0;}
x{color:#016478;}
.{color:#016500;}
x{color:#016588;}
.{color:#016610;}
x{color:#016698;}
.{color:#016720;}
x{color:#0167a8;}
.{color:#016830;}
x{color:#0168b8;}
.{color:#016940;}
x{color:#0169c8;}
.{color:#016a50;}
x{color:#016ad8;}
.{color:#016b60;}
x{color:#016be8;}
.{color:#016c70;}
x{color:#016cf8;}
.{color:#016d80;}
x{color:#016e08;}
.{color:#016e90;}
x{color:#016f18;}
.{color:#016fa0;}
x{color:#017028;}
.{color:#0170b0;}
x{color:#017138;}
.{color:#0171c0;}
x{color:#017248;}
.{color:#0172d0;}
x{color:#017358;}
.{color:#0173e0;}
x{color:#017468;}
.{color:#0174f0;}
x{color:#017578;}
.{color:#017600;}
x{color:#017688;}
.{color:#017710;}
x{color:#017798;}
.{color:#017820;}
x{color:#0178a8;}
.{color:#017930;}
x{color:#0179b8;}
.{color:#017a40;}
x{color:#017ac8;}
.{color:#017b50;}
x{color:#017bd8;}
.{color:#017c60;}
x{color:#017ce8;}
.{color:#017d70;}
x{color:#017df8;}
.{color:#017e80;}
x{color:#017f08;}
.{color:#017f90;}
x{color:#018018;}
.{color:#0180a0;}
x{color:#018128;}
.{color:#0181b0;}
x{color:#018238;}
.{color:#0182c0;}
x{color:#018348;}
.{color:#0183d0;}
x{color:#018458;}
.{color:#0184e0;}
x{color:#018568;}
.{color:#0185f0;}
x{color:#018678;}
.{color:#018700;}
x{color:#018788;}
.{color:#018810;}
x{color:#018898;}
.{color:#018920;}
x{color:#0189a8;}
.{color:#018a30;}
x{color:#018ab8;}
.{color:#018b40;}
x{color:#018bc8;}
.{color:#018c50;}
x{color:#018cd8;}
.{color:#018d60;}
x{color:#018de8;}
.{color:#018e70;}
x{color:#018ef8;}
.{color:#018f80;}
x{color:#019008;}
.{color:#019090;}
x{color:#019118;}
.{color:#0191a0;}
x{color:#019228;}
.{color:#0192b0;}
x{color:#019338;}
.{color:#0193c0;}
x{color:#019448;}
.{color:#0194d0;}
x{color:#019558;}
.{color:#0195e0;}
x{color:#019668;}
.{color:#0196f0;}
x{color:#019778;}
.{color:#019800;}
x{color:#019888;}
.{color:#019910;}
x{color:#019998;}
.{color:#019a20;}
x{color:#019aa8;}
.{color:#019b30;}
x{color:#019bb8;}
.{color:#019c40;}
x{color:#019cc8;}
.{color:#019d50;}
x{color:#019dd8;}
.{color:#019e60;}
x{color:#019ee8;}
.{color:#019f70;}
x{color:#019ff8;}
.{color:#01a080;}
x{color:#01a108;}
.{color:#01a190;}
x{color:#01a218;}
.{color:#01a2a0;}
x{color:#01a328;}
.{color:#01a3b0;}
x{color:#01a438;}
.{color:#01a4c0;}
x{color:#01a548;}
.{color:#01a5d0;}
x{color:#01a658;}
.{color:#01a6e0;}
x{color:#01a768;}
.{color:#01a7f0;}
x{color:#01a878;}
.{color:#01a900;}
x{color:#01a988;}
.{color:#01aa10;}
x{color:#01aa98;}
.{color:#01ab20;}
x{color:#01aba8;}
.{color:#01ac30;}
x{color:#01acb8;}
.{color:#01ad40;}
x{color:#01adc8;}
.{color:#01ae50;}
x{color:#01aed8;}
.{color:#01af60;}
x{color:#01afe8;}
.{color:#01b070;}
x{color:#01b0f8;}
.{color:#01b180;}
x{color:#01b208;}
.{color:#01b290;}
x{color:#01b318;}
.{color:#01b3a0;}
x{color:#01b428;}
.{color:#01b4b0;}
x{color:#01b538;}
.{color:#01b5c0;}
x{color:#01b648;}
.{color:#01b6d0;}
x{color:#01b758;}
.{color:#01b7e0;}
x{color:#01b868;}
.{color:#01b8f0;}
x{color:#01b978;}
.{color:#01ba00;}
x{color:#01ba88;}
.{color:#01bb10;}
x{color:#01bb98;}
.{color:#01bc20;}
x{color:#01bca8;}
.{color:#01bd30;}
x{color:#01bdb8;}
.{color:#01be40;}
x{color:#01bec8;}
.{color:#01bf50;}
x{color:#01bfd8;}
.{color:#01c060;}
x{color:#01c0e8;}
.{color:#01c170;}
x{color:#01c1f8;}
.{color:#01c280;}
x{color:#01c308;}
.{color:#01c390;}
x{color:#01c418;}
.{color:#01c4a0;}
x{color:#01c528;}
.{color:#01c5b0;}
x{color:#01c638;}
.{color:#01c6c0;}
x{color:#01c748;}
.{color:#01c7d0;}
x{color:#01c858;}
.{color:#01c8e0;}
x{color:#01c968;}
.{color:#01c9f0;}
x{color:#01ca78;}
.{color:#01cb00;}
x{color:#01cb88;}
.{color:#01cc10;}
x{color:#01cc98;}
.{color:#01cd20;}
x{color:#01cda8;}
.{color:#01ce30;}
x{color:#01ceb8;}
.{color:#01cf40;}
x{color:#01cfc8;}
.{color:#01d050;}
x{color:#01d0d8;}
.{color:#01d160;}
x{color:#01d1e8;}
.{color:#01d270;}
x{color:#01d2f8;}
.{color:#01d380;}
x{color:#01d408;}
.{color:#01d490;}
x{color:#01d518;}
.{color:#01d5a0;}
x{color:#01d628;}
.{color:#01d6b0;}
x{color:#01d738;}
.{color:#01d7c0;}
x{color:#01d848;}
.{color:#01d8d0;}
x{color:#01d958;}
.{color:#01d9e0;}
x{color:#01da68;}
.{color:#01daf0;}
x{color:#01db78;}
.{color:#01dc00;}
x{color:#01dc88;}
.{color:#01dd10;}
x{color:#01dd98;}
.{color:#01de20;}
x{color:#01dea8;}
.{color:#01df30;}
x{color:#01dfb8;}
.{color:#01e040;}
x{color:#01e0c8;}
.{color:#01e150;}
x{color:#01e1d8;}
.{color:#01e260;}
x{color:#01e2e8;}
.{color:#01e370;}
x{color:#01e3f8;}
.{color:#01e480;}
x{color:#01e508;}
.{color:#01e590;}
x{color:#01e618;}
.{color:#01e6a0;}
x{color:#01e728;}
.{color:#01e7b0;}
x{color:#01e838;}
.{color:#01e8c0;}
x{color:#01e948;}
.{color:#01e9d0;}
x{color:#01ea58;}
.{color:#01eae0;}
x{color:#01eb68;}
.{color:#01ebf0;}
x{color:#01ec78;}
.{color:#01ed00;}
x{color:#01ed88;}
.{color:#01ee10;}
x{color:#01ee98;}
.{color:#01ef20;}
x{color:#01efa8;}
.{color:#01f030;}
x{color:#01f0b8;}
.{color:#01f140;}
x{color:#01f1c8;}
.{color:#01f250;}
x{color:#01f2d8;}
.{color:#01f360;}
x{color:#01f3e8;}
.{color:#01f470;}
x{color:#01f4f8;}
.{color:#01f580;}
x{color:#01f608;}
.{color:#01f690;}
x{color:#01f718;}
.{color:#01f7a0;}
x{color:#01f828;}
.{color:#01f8b0;}
x{color:#01f938;}
.{color:#01f9c0;}
x{color:#01fa48;}
.{color:#01fad0;}
x{color:#01fb58;}
.{color:#01fbe0;}
x{color:#01fc68;}
.{color:#01fcf0;}
x{color:#01fd78;}
.{color:#01fe00;}
x{color:#01fe88;}
.{color:#01ff10;}
x{color:#01ff98;}
.{color:#020020;}
x{color:#0200a8;}
.{color:#020130;}
x{color:#0201b8;}
.{color:#020240;}
x{color:#0202c8;}
.{color:#020350;}
x{color:#0203d8;}
.{color:#020460;}
x{color:#0204e8;}
.{color:#020570;}
x{color:#0205f8;}
.{color:#020680;}
x{color:#020708;}
.{color:#020790;}
x{color:#020818;}
.{color:#0208a0;}
x{color:#020928;}
.{color:#0209b0;}
x{color:#020a38;}
.{color:#020ac0;}
x{color:#020b48;}
.{color:#020bd0;}
x{color:#020c58;}
.{color:#020ce0;}
x{color:#020d68;}
.{color:#020df0;}
x{color:#020e78;}
.{color:#020f00;}
x{color:#020f88;}
.{color:#021010;}
x{color:#021098;}
.{color:#021120;}
x{color:#0211a8;}
.{color:#021230;}
x{color:#0212b8;}
