/* css */
.{color:#000000;}
x{color:#0000cc;}
.{color:#000198;}
x{color:#000264;}
.{color:#000330;}
x{color:#0003fc;}
.{color:#0004c8;}
x{color:#000594;}
.{color:#000660;}
x{color:#00072c;}
.{color:#0007f8;}
x{color:#0008c4;}
.{color:#000990;}
x{color:#000a5c;}
.{color:#000b28;}
x{color:#000bf4;}
.{color:#000cc0;}
x{color:#000d8c;}
.{color:#000e58;}
x{color:#000f24;}
.{color:#000ff0;}
x{color:#0010bc;}
.{color:#001188;}
x{color:#001254;}
.{color:#001320;}
x{color:#0013ec;}
.{color:#0014b8;}
x{color:#001584;}
.{color:#001650;}
x{color:#00171c;}
.{color:#0017e8;}
x{color:#0018b4;}
.{color:#001980;}
x{color:#001a4c;}
.{color:#001b18;}
x{color:#001be4;}
.{color:#001cb0;}
x{color:#001d7c;}
.{color:#001e48;}
x{color:#001f14;}
.{color:#001fe0;}
x{color:#0020ac;}
.{color:#002178;}
x{color:#002244;}
.{color:#002310;}
x{color:#0023dc;}
.{color:#0024a8;}
x{color:#002574;}
.{color:#002640;}
x{color:#00270c;}
.{color:#0027d8;}
x{color:#0028a4;}
.{color:#002970;}
x{color:#002a3c;}
.{color:#002b08;}
x{color:#002bd4;}
.{color:#002ca0;}
x{color:#002d6c;}
.{color:#002e38;}
x{color:#002f04;}
.{color:#002fd0;}
x{color:#00309c;}
.{color:#003168;}
x{color:#003234;}
.{color:#003300;}
x{color:#0033cc;}
.{color:#003498;}
x{color:#003564;}
.{color:#003630;}
x{color:#0036fc;}
.{color:#0037c8;}
x{color:#003894;}
.{color:#003960;}
x{color:#003a2c;}
.{color:#003af8;}
x{color:#003bc4;}
.{color:#003c90;}
x{color:#003d5c;}
.{color:#003e28;}
x{color:#003ef4;}
.{color:#003fc0;}
x{color:#00408c;}
.{color:#004158;}
x{color:#004224;}
.{color:#0042f0;}
x{color:#0043bc;}
.{color:#004488;}
x{color:#004554;}
.{color:#004620;}
x{color:#0046ec;}
.{color:#0047b8;}
x{color:#004884;}
.{color:#004950;}
x{color:#004a1c;}
.{color:#004ae8;}
x{color:#004bb4;}
.{color:#004c80;}
x{color:#004d4c;}
.{color:#004e18;}
x{color:#004ee4;}
.{color:#004fb0;}
x{color:#00507c;}
.{color:#005148;}
x{color:#005214;}
.{color:#0052e0;}
x{color:#0053ac;}
.{color:#005478;}
x{color:#005544;}
.{color:#005610;}
x{color:#0056dc;}
.{color:#0057a8;}
x{color:#005874;}
.{color:#005940;}
x{color:#005a0c;}
.{color:#005ad8;}
x{color:#005ba4;}
.{color:#005c70;}
x{color:#005d3c;}
.{color:#005e08;}
x{color:#005ed4;}
.{color:#005fa0;}
x{color:#00606c;}
.{color:#006138;}
x{color:#006204;}
.{color:#0062d0;}
x{color:#00639c;}
.{color:#006468;}
x{color:#006534;}
.{color:#006600;}
x{color:#0066cc;}
.{color:#006798;}
x{color:#006864;}
.{color:#006930;}
x{color:#0069fc;}
.{color:#006ac8;}
x{color:#006b94;}
.{color:#006c60;}
x{color:#006d2c;}
.{color:#006df8;}
x{color:#006ec4;}
.{color:#006f90;}
x{color:#00705c;}
.{color:#007128;}
x{color:#0071f4;}
.{color:#0072c0;}
x{color:#00738c;}
.{color:#007458;}
x{color:#007524;}
.{color:#0075f0;}
x{color:#0076bc;}
.{color:#007788;}
x{color:#007854;}
.{color:#007920;}
x{color:#0079ec;}
.{color:#007ab8;}
x{color:#007b84;}
.{color:#007c50;}
x{color:#007d1c;}
.{color:#007de8;}
x{color:#007eb4;}
.{color:#007f80;}
x{color:#00804c;}
.{color:#008118;}
x{color:#0081e4;}
.{color:#0082b0;}
x{color:#00837c;}
.{color:#008448;}
x{color:#008514;}
.{color:#0085e0;}
x{color:#0086ac;}
.{color:#008778;}
x{color:#008844;}
.{color:#008910;}
x{color:#0089dc;}
.{color:#008aa8;}
x{color:#008b74;}
.{color:#008c40;}
x{color:#008d0c;}
.{color:#008dd8;}
x{color:#008ea4;}
.{color:#008f70;}
x{color:#00903c;}
.{color:#009108;}
x{color:#0091d4;}
.{color:#0092a0;}
x{color:#00936c;}
.{color:#009438;}
x{color:#009504;}
.{color:#0095d0;}
x{color:#00969c;}
.{color:#009768;}
x{color:#009834;}
.{color:#009900;}
x{color:#0099cc;}
.{color:#009a98;}
x{color:#009b64;}
.{color:#009c30;}
x{color:#009cfc;}
.{color:#009dc8;}
x{color:#009e94;}
.{color:#009f60;}
x{color:#00a02c;}
.{color:#00a0f8;}
x{color:#00a1c4;}
.{color:#00a290;}
x{color:#00a35c;}
.{color:#00a428;}
x{color:#00a4f4;}
.{color:#00a5c0;}
x{color:#00a68c;}
.{color:#00a758;}
x{color:#00a824;}
.{color:#00a8f0;}
x{color:#00a9bc;}
.{color:#00aa88;}
x{color:#00ab54;}
.{color:#00ac20;}
x{color:#00acec;}
.{color:#00adb8;}
x{color:#00ae84;}
.{color:#00af50;}
x{color:#00b01c;}
.{color:#00b0e8;}
x{color:#00b1b4;}
.{color:#00b280;}
x{color:#00b34c;}
.{color:#00b418;}
x{color:#00b4e4;}
.{color:#00b5b0;}
x{color:#00b67c;}
.{color:#00b748;}
x{color:#00b814;}
.{color:#00b8e0;}
x{color:#00b9ac;}
.{color:#00ba78;}
x{color:#00bb44;}
.{color:#00bc10;}
x{color:#00bcdc;}
.{color:#00bda8;}
x{color:#00be74;}
.{color:#00bf40;}
x{color:#00c00c;}
.{color:#00c0d8;}
x{color:#00c1a4;}
.{color:#00c270;}
x{color:#00c33c;}
.{color:#00c408;}
x{color:#00c4d4;}
.{color:#00c5a0;}
x{color:#00c66c;}
.{color:#00c738;}
x{color:#00c804;}
.{color:#00c8d0;}
x{color:#00c99c;}
.{color:#00ca68;}
x{color:#00cb34;}
.{color:#00cc00;}
x{color:#00cccc;}
.{color:#00cd98;}
x{color:#00ce64;}
.{color:#00cf30;}
x{color:#00cffc;}
.{color:#00d0c8;}
x{color:#00d194;}
.{color:#00d260;}
x{color:#00d32c;}
.{color:#00d3f8;}
x{color:#00d4c4;}
.{color:#00d590;}
x{color:#00d65c;}
.{color:#00d728;}
x{color:#00d7f4;}
.{color:#00d8c0;}
x{color:#00d98c;}
.{color:#00da58;}
x{color:#00db24;}
.{color:#00dbf0;}
x{color:#00dcbc;}
.{color:#00dd88;}
x{color:#00de54;}
.{color:#00df20;}
x{color:#00dfec;}
.{color:#00e0b8;}
x{color:#00e184;}
.{color:#00e250;}
x{color:#00e31c;}
.{color:#00e3e8;}
x{color:#00e4b4;}
.{color:#00e580;}
x{color:#00e64c;}
.{color:#00e718;}
x{color:#00e7e4;}
.{color:#00e8b0;}
x{color:#00e97c;}
.{color:#00ea48;}
x{color:#00eb14;}
.{color:#00ebe0;}
x{color:#00ecac;}
.{color:#00ed78;}
x{color:#00ee44;}
.{color:#00ef10;}
x{color:#00efdc;}
.{color:#00f0a8;}
x{color:#00f174;}
.{color:#00f240;}
x{color:#00f30c;}
.{color:#00f3d8;}
x{color:#00f4a4;}
.{color:#00f570;}
x{color:#00f63c;}
.{color:#00f708;}
x{color:#00f7d4;}
.{color:#00f8a0;}
x{color:#00f96c;}
.{color:#00fa38;}
x{color:#00fb04;}
.{color:#00fbd0;}
x{color:#00fc9c;}
.{color:#00fd68;}
x{color:#00fe34;}
.{color:#00ff00;}
x{color:#00ffcc;}
.{color:#010098;}
x{color:#010164;}
.{color:#010230;}
x{color:#0102fc;}
.{color:#0103c8;}
x{color:#010494;}
.{color:#010560;}
x{color:#01062c;}
.{color:#0106f8;}
x{color:#0107c4;}
.{color:#010890;}
x{color:#01095c;}
.{color:#010a28;}
x{color:#010af4;}
.{color:#010bc0;}
x{color:#010c8c;}
.{color:#010d58;}
x{color:#010e24;}
.{color:#010ef0;}
x{color:#010fbc;}
.{color:#011088;}
x{color:#011154;}
.{color:#011220;}
x{color:#0112ec;}
.{color:#0113b8;}
x{color:#011484;}
.{color:#011550;}
x{color:#01161c;}
.{color:#0116e8;}
x{color:#0117b4;}
.{color:#011880;}
x{color:#01194c;}
.{color:#011a18;}
x{color:#011ae4;}
.{color:#011bb0;}
x{color:#011c7c;}
.{color:#011d48;}
x{color:#011e14;}
.{color:#011ee0;}
x{color:#011fac;}
.{color:#012078;}
x{color:#012144;}
.{color:#012210;}
x{color:#0122dc;}
.{color:#0123a8;}
x{color:#012474;}
.{color:#012540;}
x{color:#01260c;}
.{color:#0126d8;}
x{color:#0127a4;}
.{color:#012870;}
x{color:#01293c;}
.{color:#012a08;}
x{color:#012ad4;}
.{color:#012ba0;}
x{color:#012c6c;}
.{color:#012d38;}
x{color:#012e04;}
.{color:#012ed0;}
x{color:#012f9c;}
.{color:#013068;}
x{color:#013134;}
.{color:#013200;}
x{color:#0132cc;}
.{color:#013398;}
x{color:#013464;}
.{color:#013530;}
x{color:#0135fc;}
.{color:#0136c8;}
x{color:#013794;}
.{color:#013860;}
x{color:#01392c;}
.{color:#0139f8;}
x{color:#013ac4;}
.{color:#013b90;}
x{color:#013c5c;}
.{color:#013d28;}
x{color:#013df4;}
.{color:#013ec0;}
x{color:#013f8c;}
.{color:#014058;}
x{color:#014124;}
.{color:#0141f0;}
x{color:#0142bc;}
.{color:#014388;}
x{color:#014454;}
.{color:#014520;}
x{color:#0145ec;}
.{color:#0146b8;}
x{color:#014784;}
.{color:#014850;}
x{color:#01491c;}
.{color:#0149e8;}
x{color:#014ab4;}
.{color:#014b80;}
x{color:#014c4c;}
.{color:#014d18;}
x{color:#014de4;}
.{color:#014eb0;}
x{color:#014f7c;}
.{color:#015048;}
x{color:#015114;}
.{color:#0151e0;}
x{color:#0152ac;}
.{color:#015378;}
x{color:#015444;}
.{color:#015510;}
x{color:#0155dc;}
.{color:#0156a8;}
x{color:#015774;}
.{color:#015840;}
x{color:#01590c;}
.{color:#0159d8;}
x{color:#015aa4;}
.{color:#015b70;}
x{color:#015c3c;}
.{color:#015d08;}
x{color:#015dd4;}
.{color:#015ea0;}
x{color:#015f6c;}
.{color:#016038;}
x{color:#016104;}
.{color:#0161d0;}
x{color:#01629c;}
.{color:#016368;}
x{color:#016434;}
.{color:#016500;}
x{color:#0165cc;}
.{color:#016698;}
x{color:#016764;}
.{color:#016830;}
x{color:#0168fc;}
.{color:#0169c8;}
x{color:#016a94;}
.{color:#016b60;}
x{color:#016c2c;}
.{color:#016cf8;}
x{color:#016dc4;}
.{color:#016e90;}
x{color:#016f5c;}
.{color:#017028;}
x{color:#0170f4;}
.{color:#0171c0;}
x{color:#01728c;}
.{color:#017358;}
x{color:#017424;}
.{color:#0174f0;}
x{color:#0175bc;}
.{color:#017688;}
x{color:#017754;}
.{color:#017820;}
x{color:#0178ec;}
.{color:#0179b8;}
x{color:#017a84;}
.{color:#017b50;}
x{color:#017c1c;}
.{color:#017ce8;}
x{color:#017db4;}
.{color:#017e80;}
x{color:#017f4c;}
.{color:#018018;}
x{color:#0180e4;}
.{color:#0181b0;}
x{color:#01827c;}
.{color:#018348;}
x{color:#018414;}
.{color:#0184e0;}
x{color:#0185ac;}
.{color:#018678;}
x{color:#018744;}
.{color:#018810;}
x{color:#0188dc;}
.{color:#0189a8;}
x{color:#018a74;}
.{color:#018b40;}
x{color:#018c0c;}
.{color:#018cd8;}
x{color:#018da4;}
.{color:#018e70;}
x{color:#018f3c;}
.{color:#019008;}
x{color:#0190d4;}
.{color:#0191a0;}
x{color:#01926c;}
.{color:#019338;}
x{color:#019404;}
.{color:#0194d0;}
x{color:#01959c;}
.{color:#019668;}
x{color:#019734;}
.{color:#019800;}
x{color:#0198cc;}
.{color:#019998;}
x{color:#019a64;}
.{color:#019b30;}
x{color:#019bfc;}
.{color:#019cc8;}
x{color:#019d94;}
.{color:#019e60;}
x{color:#019f2c;}
.{color:#019ff8;}
x{color:#01a0c4;}
.{color:#01a190;}
x{color:#01a25c;}
.{color:#01a328;}
x{color:#01a3f4;}
.{color:#01a4c0;}
x{color:#01a58c;}
.{color:#01a658;}
x{color:#01a724;}
.{color:#01a7f0;}
x{color:#01a8bc;}
.{color:#01a988;}
x{color:#01aa54;}
.{color:#01ab20;}
x{color:#01abec;}
.{color:#01acb8;}
x{color:#01ad84;}
.{color:#01ae50;}
x{color:#01af1c;}
.{color:#01afe8;}
x{color:#01b0b4;}
.{color:#01b180;}
x{color:#01b24c;}
.{color:#01b318;}
x{color:#01b3e4;}
.{color:#01b4b0;}
x{color:#01b57c;}
.{color:#01b648;}
x{color:#01b714;}
.{color:#01b7e0;}
x{color:#01b8ac;}
.{color:#01b978;}
x{color:#01ba44;}
.{color:#01bb10;}
x{color:#01bbdc;}
.{color:#01bca8;}
x{color:#01bd74;}
.{color:#01be40;}
x{color:#01bf0c;}
.{color:#01bfd8;}
x{color:#01c0a4;}
.{color:#01c170;}
x{color:#01c23c;}
.{color:#01c308;}
x{color:#01c3d4;}
.{color:#01c4a0;}
x{color:#01c56c;}
.{color:#01c638;}
x{color:#01c704;}
.{color:#01c7d0;}
x{color:#01c89c;}
.{color:#01c968;}
x{color:#01ca34;}
.{color:#01cb00;}
x{color:#01cbcc;}
.{color:#01cc98;}
x{color:#01cd64;}
.{color:#01ce30;}
x{color:#01cefc;}
.{color:#01cfc8;}
x{color:#01d094;}
.{color:#01d160;}
x{color:#01d22c;}
.{color:#01d2f8;}
x{color:#01d3c4;}
.{color:#01d490;}
x{color:#01d55c;}
.{color:#01d628;}
x{color:#01d6f4;}
.{color:#01d7c0;}
x{color:#01d88c;}
.{color:#01d958;}
x{color:#01da24;}
.{color:#01daf0;}
x{color:#01dbbc;}
.{color:#01dc88;}
x{color:#01dd54;}
.{color:#01de20;}
x{color:#01deec;}
.{color:#01dfb8;}
x{color:#01e084;}
.{color:#01e150;}
x{color:#01e21c;}
.{color:#01e2e8;}
x{color:#01e3b4;}
.{color:#01e480;}
x{color:#01e54c;}
.{color:#01e618;}
x{color:#01e6e4;}
.{color:#01e7b0;}
x{color:#01e87c;}
.{color:#01e948;}
x{color:#01ea14;}
.{color:#01eae0;}
x{color:#01ebac;}
.{color:#01ec78;}
x{color:#01ed44;}
.{color:#01ee10;}
x{color:#01eedc;}
.{color:#01efa8;}
x{color:#01f074;}
.{color:#01f140;}
x{color:#01f20c;}
.{color:#01f2d8;}
x{color:#01f3a4;}
.{color:#01f470;}
x{color:#01f53c;}
.{color:#01f608;}
x{color:#01f6d4;}
.{color:#01f7a0;}
x{color:#01f86c;}
.{color:#01f938;}
x{color:#01fa04;}
.{color:#01fad0;}
x{color:#01fb9c;}
.{color:#01fc68;}
x{color:#01fd34;}
.{color:#01fe00;}
x{color:#01fecc;}
.{color:#01ff98;}
x{color:#020064;}
.{color:#020130;}
x{color:#0201fc;}
.{color:#0202c8;}
x{color:#020394;}
.{color:#020460;}
x{color:#02052c;}
.{color:#0205f8;}
x{color:#0206c4;}
.{color:#020790;}
x{color:#02085c;}
.{color:#020928;}
x{color:#0209f4;}
.{color:#020ac0;}
x{color:#020b8c;}
.{color:#020c58;}
x{color:#020d24;}
.{color:#020df0;}
x{color:#020ebc;}
.{color:#020f88;}
x{color:#021054;}
.{color:#021120;}
x{color:#0211ec;}
.{color:#0212b8;}
x{color:#021384;}
.{color:#021450;}
x{color:#02151c;}
.{color:#0215e8;}
x{color:#0216b4;}
.{color:#021780;}
x{color:#02184c;}
.{color:#021918;}
x{color:#0219e4;}
.{color:#021ab0;}
x{color:#021b7c;}
.{color:#021c48;}
x{color:#021d14;}
.{color:#021de0;}
x{color:#021eac;}
.{color:#021f78;}
x{color:#022044;}
.{color:#022110;}
x{color:#0221dc;}
.{color:#0222a8;}
x{color:#022374;}
.{color:#022440;}
x{color:#02250c;}
.{color:#0225d8;}
x{color:#0226a4;}
.{color:#022770;}
x{color:#02283c;}
.{color:#022908;}
x{color:#0229d4;}
.{color:#022aa0;}
x{color:#022b6c;}
.{color:#022c38;}
x{color:#022d04;}
.{color:#022dd0;}
x{color:#022e9c;}
.{color:#022f68;}
x{color:#023034;}
.{color:#023100;}
x{color:#0231cc;}
.{color:#023298;}
x{color:#023364;}
.{color:#023430;}
x{color:#0234fc;}
.{color:#0235c8;}
x{color:#023694;}
.{color:#023760;}
x{color:#02382c;}
.{color:#0238f8;}
x{color:#0239c4;}
.{color:#023a90;}
x{color:#023b5c;}
.{color:#023c28;}
x{color:#023cf4;}
.{color:#023dc0;}
x{color:#023e8c;}
.{color:#023f58;}
x{color:#024024;}
.{color:#0240f0;}
x{color:#0241bc;}
.{color:#024288;}
x{color:#024354;}
.{color:#024420;}
x{color:#0244ec;}
.{color:#0245b8;}
x{color:#024684;}
.{color:#024750;}
x{color:#02481c;}
.{color:#0248e8;}
x{color:#0249b4;}
.{color:#024a80;}
x{color:#024b4c;}
.{color:#024c18;}
x{color:#024ce4;}
.{color:#024db0;}
x{color:#024e7c;}
.{color:#024f48;}
x{color:#025014;}
.{color:#0250e0;}
x{color:#0251ac;}
.{color:#025278;}
x{color:#025344;}
.{color:#025410;}
x{color:#0254dc;}
.{color:#0255a8;}
x{color:#025674;}
.{color:#025740;}
x{color:#02580c;}
.{color:#0258d8;}
x{color:#0259a4;}
.{color:#025a70;}
x{color:#025b3c;}
.{color:#025c08;}
x{color:#025cd4;}
.{color:#025da0;}
x{color:#025e6c;}
.{color:#025f38;}
x{color:#026004;}
.{color:#0260d0;}
x{color:#02619c;}
.{color:#026268;}
x{color:#026334;}
.{color:#026400;}
x{color:#0264cc;}
.{color:#026598;}
x{color:#026664;}
.{color:#026730;}
x{color:#0267fc;}
.{color:#0268c8;}
x{color:#026994;}
.{color:#026a60;}
x{color:#026b2c;}
.{color:#026bf8;}
x{color:#026cc4;}
.{color:#026d90;}
x{color:#026e5c;}
.{color:#026f28;}
x{color:#026ff4;}
.{color:#0270c0;}
x{color:#02718c;}
.{color:#027258;}
x{color:#027324;}
.{color:#0273f0;}
x{color:#0274bc;}
.{color:#027588;}
x{color:#027654;}
.{color:#027720;}
x{color:#0277ec;}
.{color:#0278b8;}
x{color:#027984;}
.{color:#027a50;}
x{color:#027b1c;}
.{color:#027be8;}
x{color:#027cb4;}
.{color:#027d80;}
x{color:#027e4c;}
.{color:#027f18;}
x{color:#027fe4;}
.{color:#0280b0;}
x{color:#02817c;}
.{color:#028248;}
x{color:#028314;}
.{color:#0283e0;}
x{color:#0284ac;}
.{color:#028578;}
x{color:#028644;}
.{color:#028710;}
x{color:#0287dc;}
.{color:#0288a8;}
x{color:#028974;}
.{color:#028a40;}
x{color:#028b0c;}
.{color:#028bd8;}
x{color:#028ca4;}
.{color:#028d70;}
x{color:#028e3c;}
.{color:#028f08;}
x{color:#028fd4;}
.{color:#0290a0;}
x{color:#02916c;}
.{color:#029238;}
x{color:#029304;}
.{color:#0293d0;}
x{color:#02949c;}
.{color:#029568;}
x{color:#029634;}
.{color:#029700;}
x{color:#0297cc;}
.{color:#029898;}
x{color:#029964;}
.{color:#029a30;}
x{color:#029afc;}
.{color:#029bc8;}
x{color:#029c94;}
.{color:#029d60;}
x{color:#029e2c;}
.{color:#029ef8;}
x{color:#029fc4;}
.{color:#02a090;}
x{color:#02a15c;}
.{color:#02a228;}
x{color:#02a2f4;}
.{color:#02a3c0;}
x{color:#02a48c;}
.{color:#02a558;}
x{color:#02a624;}
.{color:#02a6f0;}
x{color:#02a7bc;}
.{color:#02a888;}
x{color:#02a954;}
.{color:#02aa20;}
x{color:#02aaec;}
.{color:#02abb8;}
x{color:#02ac84;}
.{color:#02ad50;}
x{color:#02ae1c;}
.{color:#02aee8;}
x{color:#02afb4;}
.{color:#02b080;}
x{color:#02b14c;}
.{color:#02b218;}
x{color:#02b2e4;}
.{color:#02b3b0;}
x{color:#02b47c;}
.{color:#02b548;}
x{color:#02b614;}
.{color:#02b6e0;}
x{color:#02b7ac;}
.{color:#02b878;}
x{color:#02b944;}
.{color:#02ba10;}
x{color:#02badc;}
.{color:#02bba8;}
x{color:#02bc74;}
.{color:#02bd40;}
x{color:#02be0c;}
.{color:#02bed8;}
x{color:#02bfa4;}
.{color:#02c070;}
x{color:#02c13c;}
.{color:#02c208;}
x{color:#02c2d4;}
.{color:#02c3a0;}
x{color:#02c46c;}
.{color:#02c538;}
x{color:#02c604;}
.{color:#02c6d0;}
x{color:#02c79c;}
.{color:#02c868;}
x{color:#02c934;}
.{color:#02ca00;}
x{color:#02cacc;}
.{color:#02cb98;}
x{color:#02cc64;}
.{color:#02cd30;}
x{color:#02cdfc;}
.{color:#02cec8;}
x{color:#02cf94;}
.{color:#02d060;}
x{color:#02d12c;}
.{color:#02d1f8;}
x{color:#02d2c4;}
.{color:#02d390;}
x{color:#02d45c;}
.{color:#02d528;}
x{color:#02d5f4;}
.{color:#02d6c0;}
x{color:#02d78c;}
.{color:#02d858;}
x{color:#02d924;}
.{color:#02d9f0;}
x{color:#02dabc;}
.{color:#02db88;}
x{color:#02dc54;}
.{color:#02dd20;}
x{color:#02ddec;}
.{color:#02deb8;}
x{color:#02df84;}
.{color:#02e050;}
x{color:#02e11c;}
.{color:#02e1e8;}
x{color:#02e2b4;}
.{color:#02e380;}
x{color:#02e44c;}
.{color:#02e518;}
x{color:#02e5e4;}
.{color:#02e6b0;}
x{color:#02e77c;}
.{color:#02e848;}
x{color:#02e914;}
.{color:#02e9e0;}
x{color:#02eaac;}
.{color:#02eb78;}
x{color:#02ec44;}
.{color:#02ed10;}
x{color:#02eddc;}
.{color:#02eea8;}
x{color:#02ef74;}
.{color:#02f040;}
x{color:#02f10c;}
.{color:#02f1d8;}
x{color:#02f2a4;}
.{color:#02f370;}
x{color:#02f43c;}
.{color:#02f508;}
x{color:#02f5d4;}
.{color:#02f6a0;}
x{color:#02f76c;}
.{color:#02f838;}
x{color:#02f904;}
.{color:#02f9d0;}
x{color:#02fa9c;}
.{color:#02fb68;}
x{color:#02fc34;}
.{color:#02fd00;}
x{color:#02fdcc;}
.{color:#02fe98;}
x{color:#02ff64;}
.{color:#030030;}
x{color:#0300fc;}
.{color:#0301c8;}
x{color:#030294;}
.{color:#030360;}
x{color:#03042c;}
.{color:#0304f8;}
x{color:#0305c4;}
.{color:#030690;}
x{color:#03075c;}
.{color:#030828;}
x{color:#0308f4;}
.{color:#0309c0;}
x{color:#030a8c;}
.{color:#030b58;}
x{color:#030c24;}
.{color:#030cf0;}
x{color:#030dbc;}
.{color:#030e88;}
x{color:#030f54;}
.{color:#031020;}
x{color:#0310ec;}
.{color:#0311b8;}
x{color:#031284;}
.{color:#031350;}
x{color:#03141c;}
.{color:#0314e8;}
x{color:#0315b4;}
.{color:#031680;}
x{color:#03174c;}
.{color:#031818;}
x{color:#0318e4;}
.{color:#0319b0;}
x{color:#031a7c;}
.{color:#031b48;}
x{color:#031c14;}
