/* css */
.{color:#000000;}
x{color:#0001fe;}
.{color:#0003fc;}
x{color:#0005fa;}
.{color:#0007f8;}
x{color:#0009f6;}
.{color:#000bf4;}
x{color:#000df2;}
.{color:#000ff0;}
x{color:#0011ee;}
.{color:#0013ec;}
x{color:#0015ea;}
.{color:#0017e8;}
x{color:#0019e6;}
.{color:#001be4;}
x{color:#001de2;}
.{color:#001fe0;}
x{color:#0021de;}
.{color:#0023dc;}
x{color:#0025da;}
.{color:#0027d8;}
x{color:#0029d6;}
.{color:#002bd4;}
x{color:#002dd2;}
.{color:#002fd0;}
x{color:#0031ce;}
.{color:#0033cc;}
x{color:#0035ca;}
.{color:#0037c8;}
x{color:#0039c6;}
.{color:#003bc4;}
x{color:#003dc2;}
.{color:#003fc0;}
x{color:#0041be;}
.{color:#0043bc;}
x{color:#0045ba;}
.{color:#0047b8;}
x{color:#0049b6;}
.{color:#004bb4;}
x{color:#004db2;}
.{color:#004fb0;}
x{color:#0051ae;}
.{color:#0053ac;}
x{color:#0055aa;}
.{color:#0057a8;}
x{color:#0059a6;}
.{color:#005ba4;}
x{color:#005da2;}
.{color:#005fa0;}
x{color:#00619e;}
.{color:#00639c;}
x{color:#00659a;}
.{color:#006798;}
x{color:#006996;}
.{color:#006b94;}
x{color:#006d92;}
.{color:#006f90;}
x{color:#00718e;}
.{color:#00738c;}
x{color:#00758a;}
.{color:#007788;}
x{color:#007986;}
.{color:#007b84;}
x{color:#007d82;}
.{color:#007f80;}
x{color:#00817e;}
.{color:#00837c;}
x{color:#00857a;}
.{color:#008778;}
x{color:#008976;}
.{color:#008b74;}
x{color:#008d72;}
.{color:#008f70;}
x{color:#00916e;}
.{color:#00936c;}
x{color:#00956a;}
.{color:#009768;}
x{color:#009966;}
.{color:#009b64;}
x{color:#009d62;}
.{color:#009f60;}
x{color:#00a15e;}
.{color:#00a35c;}
x{color:#00a55a;}
.{color:#00a758;}
x{color:#00a956;}
.{color:#00ab54;}
x{color:#00ad52;}
.{color:#00af50;}
x{color:#00b14e;}
.{color:#00b34c;}
x{color:#00b54a;}
.{color:#00b748;}
x{color:#00b946;}
.{color:#00bb44;}
x{color:#00bd42;}
.{color:#00bf40;}
x{color:#00c13e;}
.{color:#00c33c;}
x{color:#00c53a;}
.{color:#00c738;}
x{color:#00c936;}
.{color:#00cb34;}
x{color:#00cd32;}
.{color:#00cf30;}
x{color:#00d12e;}
.{color:#00d32c;}
x{color:#00d52a;}
.{color:#00d728;}
x{color:#00d926;}
.{color:#00db24;}
x{color:#00dd22;}
.{color:#00df20;}
x{color:#00e11e;}
.{color:#00e31c;}
x{color:#00e51a;}
.{color:#00e718;}
x{color:#00e916;}
.{color:#00eb14;}
x{color:#00ed12;}
.{color:#00ef10;}
x{color:#00f10e;}
.{color:#00f30c;}
x{color:#00f50a;}
.{color:#00f708;}
x{color:#00f906;}
.{color:#00fb04;}
x{color:#00fd02;}
.{color:#00ff00;}
x{color:#0100fe;}
.{color:#0102fc;}
x{color:#0104fa;}
.{color:#0106f8;}
x{color:#0108f6;}
.{color:#010af4;}
x{color:#010cf2;}
.{color:#010ef0;}
x{color:#0110ee;}
.{color:#0112ec;}
x{color:#0114ea;}
.{color:#0116e8;}
x{color:#0118e6;}
.{color:#011ae4;}
x{color:#011ce2;}
.{color:#011ee0;}
x{color:#0120de;}
.{color:#0122dc;}
x{color:#0124da;}
.{color:#0126d8;}
x{color:#0128d6;}
.{color:#012ad4;}
x{color:#012cd2;}
.{color:#012ed0;}
x{color:#0130ce;}
.{color:#0132cc;}
x{color:#0134ca;}
.{color:#0136c8;}
x{color:#0138c6;}
.{color:#013ac4;}
x{color:#013cc2;}
.{color:#013ec0;}
x{color:#0140be;}
.{color:#0142bc;}
x{color:#0144ba;}
.{color:#0146b8;}
x{color:#0148b6;}
.{color:#014ab4;}
x{color:#014cb2;}
.{color:#014eb0;}
x{color:#0150ae;}
.{color:#0152ac;}
x{color:#0154aa;}
.{color:#0156a8;}
x{color:#0158a6;}
.{color:#015aa4;}
x{color:#015ca2;}
.{color:#015ea0;}
x{color:#01609e;}
.{color:#01629c;}
x{color:#01649a;}
.{color:#016698;}
x{color:#016896;}
.{color:#016a94;}
x{color:#016c92;}
.{color:#016e90;}
x{color:#01708e;}
.{color:#01728c;}
x{color:#01748a;}
.{color:#017688;}
x{color:#017886;}
.{color:#017a84;}
x{color:#017c82;}
.{color:#017e80;}
x{color:#01807e;}
.{color:#01827c;}
x{color:#01847a;}
.{color:#018678;}
x{color:#018876;}
.{color:#018a74;}
x{color:#018c72;}
.{color:#018e70;}
x{color:#01906e;}
.{color:#01926c;}
x{color:#01946a;}
.{color:#019668;}
x{color:#019866;}
.{color:#019a64;}
x{color:#019c62;}
.{color:#019e60;}
x{color:#01a05e;}
.{color:#01a25c;}
x{color:#01a45a;}
.{color:#01a658;}
x{color:#01a856;}
.{color:#01aa54;}
x{color:#01ac52;}
.{color:#01ae50;}
x{color:#01b04e;}
.{color:#01b24c;}
x{color:#01b44a;}
.{color:#01b648;}
x{color:#01b846;}
.{color:#01ba44;}
x{color:#01bc42;}
.{color:#01be40;}
x{color:#01c03e;}
.{color:#01c23c;}
x{color:#01c43a;}
.{color:#01c638;}
x{color:#01c836;}
.{color:#01ca34;}
x{color:#01cc32;}
.{color:#01ce30;}
x{color:#01d02e;}
.{color:#01d22c;}
x{color:#01d42a;}
.{color:#01d628;}
x{color:#01d826;}
.{color:#01da24;}
x{color:#01dc22;}
.{color:#01de20;}
x{color:#01e01e;}
.{color:#01e21c;}
x{color:#01e41a;}
.{color:#01e618;}
x{color:#01e816;}
.{color:#01ea14;}
x{color:#01ec12;}
.{color:#01ee10;}
x{color:#01f00e;}
.{color:#01f20c;}
x{color:#01f40a;}
.{color:#01f608;}
x{color:#01f806;}
.{color:#01fa04;}
x{color:#01fc02;}
.{color:#01fe00;}
x{color:#01fffe;}
.{color:#0201fc;}
x{color:#0203fa;}
.{color:#0205f8;}
x{color:#0207f6;}
.{color:#0209f4;}
x{color:#020bf2;}
.{color:#020df0;}
x{color:#020fee;}
.{color:#0211ec;}
x{color:#0213ea;}
.{color:#0215e8;}
x{color:#0217e6;}
.{color:#0219e4;}
x{color:#021be2;}
.{color:#021de0;}
x{color:#021fde;}
.{color:#0221dc;}
x{color:#0223da;}
.{color:#0225d8;}
x{color:#0227d6;}
.{color:#0229d4;}
x{color:#022bd2;}
.{color:#022dd0;}
x{color:#022fce;}
.{color:#0231cc;}
x{color:#0233ca;}
.{color:#0235c8;}
x{color:#0237c6;}
.{color:#0239c4;}
x{color:#023bc2;}
.{color:#023dc0;}
x{color:#023fbe;}
.{color:#0241bc;}
x{color:#0243ba;}
.{color:#0245b8;}
x{color:#0247b6;}
.{color:#0249b4;}
x{color:#024bb2;}
.{color:#024db0;}
x{color:#024fae;}
.{color:#0251ac;}
x{color:#0253aa;}
.{color:#0255a8;}
x{color:#0257a6;}
.{color:#0259a4;}
x{color:#025ba2;}
.{color:#025da0;}
x{color:#025f9e;}
.{color:#02619c;}
x{color:#02639a;}
.{color:#026598;}
x{color:#026796;}
.{color:#026994;}
x{color:#026b92;}
.{color:#026d90;}
x{color:#026f8e;}
.{color:#02718c;}
x{color:#02738a;}
.{color:#027588;}
x{color:#027786;}
.{color:#027984;}
x{color:#027b82;}
.{color:#027d80;}
x{color:#027f7e;}
.{color:#02817c;}
x{color:#02837a;}
.{color:#028578;}
x{color:#028776;}
.{color:#028974;}
x{color:#028b72;}
.{color:#028d70;}
x{color:#028f6e;}
.{color:#02916c;}
x{color:#02936a;}
.{color:#029568;}
x{color:#029766;}
.{color:#029964;}
x{color:#029b62;}
.{color:#029d60;}
x{color:#029f5e;}
.{color:#02a15c;}
x{color:#02a35a;}
.{color:#02a558;}
x{color:#02a756;}
.{color:#02a954;}
x{color:#02ab52;}
.{color:#02ad50;}
x{color:#02af4e;}
.{color:#02b14c;}
x{color:#02b34a;}
.{color:#02b548;}
x{color:#02b746;}
.{color:#02b944;}
x{color:#02bb42;}
.{color:#02bd40;}
x{color:#02bf3e;}
.{color:#02c13c;}
x{color:#02c33a;}
.{color:#02c538;}
x{color:#02c736;}
.{color:#02c934;}
x{color:#02cb32;}
.{color:#02cd30;}
x{color:#02cf2e;}
.{color:#02d12c;}
x{color:#02d32a;}
.{color:#02d528;}
x{color:#02d726;}
.{color:#02d924;}
x{color:#02db22;}
.{color:#02dd20;}
x{color:#02df1e;}
.{color:#02e11c;}
x{color:#02e31a;}
.{color:#02e518;}
x{color:#02e716;}
.{color:#02e914;}
x{color:#02eb12;}
.{color:#02ed10;}
x{color:#02ef0e;}
.{color:#02f10c;}
x{color:#02f30a;}
.{color:#02f508;}
x{color:#02f706;}
.{color:#02f904;}
x{color:#02fb02;}
.{color:#02fd00;}
x{color:#02fefe;}
.{color:#0300fc;}
x{color:#0302fa;}
.{color:#0304f8;}
x{color:#0306f6;}
.{color:#0308f4;}
x{color:#030af2;}
.{color:#030cf0;}
x{color:#030eee;}
.{color:#0310ec;}
x{color:#0312ea;}
.{color:#0314e8;}
x{color:#0316e6;}
.{color:#0318e4;}
x{color:#031ae2;}
.{color:#031ce0;}
x{color:#031ede;}
.{color:#0320dc;}
x{color:#0322da;}
.{color:#0324d8;}
x{color:#0326d6;}
.{color:#0328d4;}
x{color:#032ad2;}
.{color:#032cd0;}
x{color:#032ece;}
.{color:#0330cc;}
x{color:#0332ca;}
.{color:#0334c8;}
x{color:#0336c6;}
.{color:#0338c4;}
x{color:#033ac2;}
.{color:#033cc0;}
x{color:#033ebe;}
.{color:#0340bc;}
x{color:#0342ba;}
.{color:#0344b8;}
x{color:#0346b6;}
.{color:#0348b4;}
x{color:#034ab2;}
.{color:#034cb0;}
x{color:#034eae;}
.{color:#0350ac;}
x{color:#0352aa;}
.{color:#0354a8;}
x{color:#0356a6;}
.{color:#0358a4;}
x{color:#035aa2;}
.{color:#035ca0;}
x{color:#035e9e;}
.{color:#03609c;}
x{color:#03629a;}
.{color:#036498;}
x{color:#036696;}
.{color:#036894;}
x{color:#036a92;}
.{color:#036c90;}
x{color:#036e8e;}
.{color:#03708c;}
x{color:#03728a;}
.{color:#037488;}
x{color:#037686;}
.{color:#037884;}
x{color:#037a82;}
.{color:#037c80;}
x{color:#037e7e;}
.{color:#03807c;}
x{color:#03827a;}
.{color:#038478;}
x{color:#038676;}
.{color:#038874;}
x{color:#038a72;}
.{color:#038c70;}
x{color:#038e6e;}
.{color:#03906c;}
x{color:#03926a;}
.{color:#039468;}
x{color:#039666;}
.{color:#039864;}
x{color:#039a62;}
.{color:#039c60;}
x{color:#039e5e;}
.{color:#03a05c;}
x{color:#03a25a;}
.{color:#03a458;}
x{color:#03a656;}
.{color:#03a854;}
x{color:#03aa52;}
.{color:#03ac50;}
x{color:#03ae4e;}
.{color:#03b04c;}
x{color:#03b24a;}
.{color:#03b448;}
x{color:#03b646;}
.{color:#03b844;}
x{color:#03ba42;}
.{color:#03bc40;}
x{color:#03be3e;}
.{color:#03c03c;}
x{color:#03c23a;}
.{color:#03c438;}
x{color:#03c636;}
.{color:#03c834;}
x{color:#03ca32;}
.{color:#03cc30;}
x{color:#03ce2e;}
.{color:#03d02c;}
x{color:#03d22a;}
.{color:#03d428;}
x{color:#03d626;}
.{color:#03d824;}
x{color:#03da22;}
.{color:#03dc20;}
x{color:#03de1e;}
.{color:#03e01c;}
x{color:#03e21a;}
.{color:#03e418;}
x{color:#03e616;}
.{color:#03e814;}
x{color:#03ea12;}
.{color:#03ec10;}
x{color:#03ee0e;}
.{color:#03f00c;}
x{color:#03f20a;}
.{color:#03f408;}
x{color:#03f606;}
.{color:#03f804;}
x{color:#03fa02;}
.{color:#03fc00;}
x{color:#03fdfe;}
.{color:#03fffc;}
x{color:#0401fa;}
.{color:#0403f8;}
x{color:#0405f6;}
.{color:#0407f4;}
x{color:#0409f2;}
.{color:#040bf0;}
x{color:#040dee;}
.{color:#040fec;}
x{color:#0411ea;}
.{color:#0413e8;}
x{color:#0415e6;}
.{color:#0417e4;}
x{color:#0419e2;}
.{color:#041be0;}
x{color:#041dde;}
.{color:#041fdc;}
x{color:#0421da;}
.{color:#0423d8;}
x{color:#0425d6;}
.{color:#0427d4;}
x{color:#0429d2;}
.{color:#042bd0;}
x{color:#042dce;}
.{color:#042fcc;}
x{color:#0431ca;}
.{color:#0433c8;}
x{color:#0435c6;}
.{color:#0437c4;}
x{color:#0439c2;}
.{color:#043bc0;}
x{color:#043dbe;}
.{color:#043fbc;}
x{color:#0441ba;}
.{color:#0443b8;}
x{color:#0445b6;}
.{color:#0447b4;}
x{color:#0449b2;}
.{color:#044bb0;}
x{color:#044dae;}
.{color:#044fac;}
x{color:#0451aa;}
.{color:#0453a8;}
x{color:#0455a6;}
.{color:#0457a4;}
x{color:#0459a2;}
.{color:#045ba0;}
x{color:#045d9e;}
.{color:#045f9c;}
x{color:#04619a;}
.{color:#046398;}
x{color:#046596;}
.{color:#046794;}
x{color:#046992;}
.{color:#046b90;}
x{color:#046d8e;}
.{color:#046f8c;}
x{color:#04718a;}
.{color:#047388;}
x{color:#047586;}
.{color:#047784;}
x{color:#047982;}
.{color:#047b80;}
x{color:#047d7e;}
.{color:#047f7c;}
x{color:#04817a;}
.{color:#048378;}
x{color:#048576;}
.{color:#048774;}
x{color:#048972;}
.{color:#048b70;}
x{color:#048d6e;}
.{color:#048f6c;}
x{color:#04916a;}
.{color:#049368;}
x{color:#049566;}
.{color:#049764;}
x{color:#049962;}
.{color:#049b60;}
x{color:#049d5e;}
.{color:#049f5c;}
x{color:#04a15a;}
.{color:#04a358;}
x{color:#04a556;}
.{color:#04a754;}
x{color:#04a952;}
.{color:#04ab50;}
x{color:#04ad4e;}
.{color:#04af4c;}
x{color:#04b14a;}
.{color:#04b348;}
x{color:#04b546;}
.{color:#04b744;}
x{color:#04b942;}
.{color:#04bb40;}
x{color:#04bd3e;}
.{color:#04bf3c;}
x{color:#04c13a;}
.{color:#04c338;}
x{color:#04c536;}
.{color:#04c734;}
x{color:#04c932;}
.{color:#04cb30;}
x{color:#04cd2e;}
.{color:#04cf2c;}
x{color:#04d12a;}
.{color:#04d328;}
x{color:#04d526;}
.{color:#04d724;}
x{color:#04d922;}
.{color:#04db20;}
x{color:#04dd1e;}
.{color:#04df1c;}
x{color:#04e11a;}
.{color:#04e318;}
x{color:#04e516;}
.{color:#04e714;}
x{color:#04e912;}
.{color:#04eb10;}
x{color:#04ed0e;}
.{color:#04ef0c;}
x{color:#04f10a;}
.{color:#04f308;}
x{color:#04f506;}
.{color:#04f704;}
x{color:#04f902;}
.{color:#04fb00;}
x{color:#04fcfe;}
.{color:#04fefc;}
x{color:#0500fa;}
.{color:#0502f8;}
x{color:#0504f6;}
.{color:#0506f4;}
x{color:#0508f2;}
.{color:#050af0;}
x{color:#050cee;}
.{color:#050eec;}
x{color:#0510ea;}
.{color:#0512e8;}
x{color:#0514e6;}
.{color:#0516e4;}
x{color:#0518e2;}
.{color:#051ae0;}
x{color:#051cde;}
.{color:#051edc;}
x{color:#0520da;}
.{color:#0522d8;}
x{color:#0524d6;}
.{color:#0526d4;}
x{color:#0528d2;}
.{color:#052ad0;}
x{color:#052cce;}
.{color:#052ecc;}
x{color:#0530ca;}
.{color:#0532c8;}
x{color:#0534c6;}
.{color:#0536c4;}
x{color:#0538c2;}
.{color:#053ac0;}
x{color:#053cbe;}
.{color:#053ebc;}
x{color:#0540ba;}
.{color:#0542b8;}
x{color:#0544b6;}
.{color:#0546b4;}
x{color:#0548b2;}
.{color:#054ab0;}
x{color:#054cae;}
.{color:#054eac;}
x{color:#0550aa;}
.{color:#0552a8;}
x{color:#0554a6;}
.{color:#0556a4;}
x{color:#0558a2;}
.{color:#055aa0;}
x{color:#055c9e;}
.{color:#055e9c;}
x{color:#05609a;}
.{color:#056298;}
x{color:#056496;}
.{color:#056694;}
x{color:#056892;}
.{color:#056a90;}
x{color:#056c8e;}
.{color:#056e8c;}
x{color:#05708a;}
.{color:#057288;}
x{color:#057486;}
.{color:#057684;}
x{color:#057882;}
.{color:#057a80;}
x{color:#057c7e;}
.{color:#057e7c;}
x{color:#05807a;}
.{color:#058278;}
x{color:#058476;}
.{color:#058674;}
x{color:#058872;}
.{color:#058a70;}
x{color:#058c6e;}
.{color:#058e6c;}
x{color:#05906a;}
.{color:#059268;}
x{color:#059466;}
.{color:#059664;}
x{color:#059862;}
.{color:#059a60;}
x{color:#059c5e;}
.{color:#059e5c;}
x{color:#05a05a;}
.{color:#05a258;}
x{color:#05a456;}
.{color:#05a654;}
x{color:#05a852;}
.{color:#05aa50;}
x{color:#05ac4e;}
.{color:#05ae4c;}
x{color:#05b04a;}
.{color:#05b248;}
x{color:#05b446;}
.{color:#05b644;}
x{color:#05b842;}
.{color:#05ba40;}
x{color:#05bc3e;}
.{color:#05be3c;}
x{color:#05c03a;}
.{color:#05c238;}
x{color:#05c436;}
.{color:#05c634;}
x{color:#05c832;}
.{color:#05ca30;}
x{color:#05cc2e;}
.{color:#05ce2c;}
x{color:#05d02a;}
.{color:#05d228;}
x{color:#05d426;}
.{color:#05d624;}
x{color:#05d822;}
.{color:#05da20;}
x{color:#05dc1e;}
.{color:#05de1c;}
x{color:#05e01a;}
.{color:#05e218;}
x{color:#05e416;}
.{color:#05e614;}
x{color:#05e812;}
.{color:#05ea10;}
x{color:#05ec0e;}
.{color:#05ee0c;}
x{color:#05f00a;}
.{color:#05f208;}
x{color:#05f406;}
.{color:#05f604;}
x{color:#05f802;}
.{color:#05fa00;}
x{color:#05fbfe;}
.{color:#05fdfc;}
x{color:#05fffa;}
.{color:#0601f8;}
x{color:#0603f6;}
.{color:#0605f4;}
x{color:#0607f2;}
.{color:#0609f0;}
x{color:#060bee;}
.{color:#060dec;}
x{color:#060fea;}
.{color:#0611e8;}
x{color:#0613e6;}
.{color:#0615e4;}
x{color:#0617e2;}
.{color:#0619e0;}
x{color:#061bde;}
.{color:#061ddc;}
x{color:#061fda;}
.{color:#0621d8;}
x{color:#0623d6;}
.{color:#0625d4;}
x{color:#0627d2;}
.{color:#0629d0;}
x{color:#062bce;}
.{color:#062dcc;}
x{color:#062fca;}
.{color:#0631c8;}
x{color:#0633c6;}
.{color:#0635c4;}
x{color:#0637c2;}
.{color:#0639c0;}
x{color:#063bbe;}
.{color:#063dbc;}
x{color:#063fba;}
.{color:#0641b8;}
x{color:#0643b6;}
.{color:#0645b4;}
x{color:#0647b2;}
.{color:#0649b0;}
x{color:#064bae;}
.{color:#064dac;}
x{color:#064faa;}
.{color:#0651a8;}
x{color:#0653a6;}
.{color:#0655a4;}
x{color:#0657a2;}
.{color:#0659a0;}
x{color:#065b9e;}
.{color:#065d9c;}
x{color:#065f9a;}
.{color:#066198;}
x{color:#066396;}
.{color:#066594;}
x{color:#066792;}
.{color:#066990;}
x{color:#066b8e;}
.{color:#066d8c;}
x{color:#066f8a;}
.{color:#067188;}
x{color:#067386;}
.{color:#067584;}
x{color:#067782;}
.{color:#067980;}
x{color:#067b7e;}
.{color:#067d7c;}
x{color:#067f7a;}
.{color:#068178;}
x{color:#068376;}
.{color:#068574;}
x{color:#068772;}
.{color:#068970;}
x{color:#068b6e;}
.{color:#068d6c;}
x{color:#068f6a;}
.{color:#069168;}
x{color:#069366;}
.{color:#069564;}
x{color:#069762;}
.{color:#069960;}
x{color:#069b5e;}
.{color:#069d5c;}
x{color:#069f5a;}
.{color:#06a158;}
x{color:#06a356;}
.{color:#06a554;}
x{color:#06a752;}
.{color:#06a950;}
x{color:#06ab4e;}
.{color:#06ad4c;}
x{color:#06af4a;}
.{color:#06b148;}
x{color:#06b346;}
.{color:#06b544;}
x{color:#06b742;}
.{color:#06b940;}
x{color:#06bb3e;}
.{color:#06bd3c;}
x{color:#06bf3a;}
.{color:#06c138;}
x{color:#06c336;}
.{color:#06c534;}
x{color:#06c732;}
.{color:#06c930;}
x{color:#06cb2e;}
.{color:#06cd2c;}
x{color:#06cf2a;}
.{color:#06d128;}
x{color:#06d326;}
.{color:#06d524;}
x{color:#06d722;}
.{color:#06d920;}
x{color:#06db1e;}
.{color:#06dd1c;}
x{color:#06df1a;}
.{color:#06e118;}
x{color:#06e316;}
.{color:#06e514;}
x{color:#06e712;}
.{color:#06e910;}
x{color:#06eb0e;}
.{color:#06ed0c;}
x{color:#06ef0a;}
.{color:#06f108;}
x{color:#06f306;}
.{color:#06f504;}
x{color:#06f702;}
.{color:#06f900;}
x{color:#06fafe;}
.{color:#06fcfc;}
x{color:#06fefa;}
.{color:#0700f8;}
x{color:#0702f6;}
.{color:#0704f4;}
x{color:#0706f2;}
.{color:#0708f0;}
x{color:#070aee;}
.{color:#070cec;}
x{color:#070eea;}
.{color:#0710e8;}
x{color:#0712e6;}
.{color:#0714e4;}
x{color:#0716e2;}
.{color:#0718e0;}
x{color:#071ade;}
.{color:#071cdc;}
x{color:#071eda;}
.{color:#0720d8;}
x{color:#0722d6;}
.{color:#0724d4;}
x{color:#0726d2;}
.{color:#0728d0;}
x{color:#072ace;}
.{color:#072ccc;}
x{color:#072eca;}
.{color:#0730c8;}
x{color:#0732c6;}
.{color:#0734c4;}
x{color:#0736c2;}
.{color:#0738c0;}
x{color:#073abe;}
.{color:#073cbc;}
x{color:#073eba;}
.{color:#0740b8;}
x{color:#0742b6;}
.{color:#0744b4;}
x{color:#0746b2;}
.{color:#0748b0;}
x{color:#074aae;}
.{color:#074cac;}
x{color:#074eaa;}
.{color:#0750a8;}
x{color:#0752a6;}
.{color:#0754a4;}
x{color:#0756a2;}
.{color:#0758a0;}
x{color:#075a9e;}
.{color:#075c9c;}
x{color:#075e9a;}
.{color:#076098;}
x{color:#076296;}
.{color:#076494;}
x{color:#076692;}
.{color:#076890;}
x{color:#076a8e;}
.{color:#076c8c;}
x{color:#076e8a;}
.{color:#077088;}
x{color:#077286;}
.{color:#077484;}
x{color:#077682;}
.{color:#077880;}
x{color:#077a7e;}
.{color:#077c7c;}
x{color:#077e7a;}
.{color:#078078;}
x{color:#078276;}
.{color:#078474;}
x{color:#078672;}
.{color:#078870;}
x{color:#078a6e;}
.{color:#078c6c;}
x{color:#078e6a;}
.{color:#079068;}
x{color:#079266;}
.{color:#079464;}
x{color:#079662;}
.{color:#079860;}
x{color:#079a5e;}
.{color:#079c5c;}
x{color:#079e5a;}
.{color:#07a058;}
x{color:#07a256;}
.{color:#07a454;}
x{color:#07a652;}
.{color:#07a850;}
x{color:#07aa4e;}
.{color:#07ac4c;}
x{color:#07ae4a;}
.{color:#07b048;}
x{color:#07b246;}
.{color:#07b444;}
x{color:#07b642;}
.{color:#07b840;}
x{color:#07ba3e;}
.{color:#07bc3c;}
x{color:#07be3a;}
.{color:#07c038;}
x{color:#07c236;}
.{color:#07c434;}
x{color:#07c632;}
