/* css */
.{color:#000000;}
x{color:#0001cb;}
.{color:#000396;}
x{color:#000561;}
.{color:#00072c;}
x{color:#0008f7;}
.{color:#000ac2;}
x{color:#000c8d;}
.{color:#000e58;}
x{color:#001023;}
.{color:#0011ee;}
x{color:#0013b9;}
.{color:#001584;}
x{color:#00174f;}
.{color:#00191a;}
x{color:#001ae5;}
.{color:#001cb0;}
x{color:#001e7b;}
.{color:#002046;}
x{color:#002211;}
.{color:#0023dc;}
x{color:#0025a7;}
.{color:#002772;}
x{color:#00293d;}
.{color:#002b08;}
x{color:#002cd3;}
.{color:#002e9e;}
x{color:#003069;}
.{color:#003234;}
x{color:#0033ff;}
.{color:#0035ca;}
x{color:#003795;}
.{color:#003960;}
x{color:#003b2b;}
.{color:#003cf6;}
x{color:#003ec1;}
.{color:#00408c;}
x{color:#004257;}
.{color:#004422;}
x{color:#0045ed;}
.{color:#0047b8;}
x{color:#004983;}
.{color:#004b4e;}
x{color:#004d19;}
.{color:#004ee4;}
x{color:#0050af;}
.{color:#00527a;}
x{color:#005445;}
.{color:#005610;}
x{color:#0057db;}
.{color:#0059a6;}
x{color:#005b71;}
.{color:#005d3c;}
x{color:#005f07;}
.{color:#0060d2;}
x{color:#00629d;}
.{color:#006468;}
x{color:#006633;}
.{color:#0067fe;}
x{color:#0069c9;}
.{color:#006b94;}
x{color:#006d5f;}
.{color:#006f2a;}
x{color:#0070f5;}
.{color:#0072c0;}
x{color:#00748b;}
.{color:#007656;}
x{color:#007821;}
.{color:#0079ec;}
x{color:#007bb7;}
.{color:#007d82;}
x{color:#007f4d;}
.{color:#008118;}
x{color:#0082e3;}
.{color:#0084ae;}
x{color:#008679;}
.{color:#008844;}
x{color:#008a0f;}
.{color:#008bda;}
x{color:#008da5;}
.{color:#008f70;}
x{color:#00913b;}
.{color:#009306;}
x{color:#0094d1;}
.{color:#00969c;}
x{color:#009867;}
.{color:#009a32;}
x{color:#009bfd;}
.{color:#009dc8;}
x{color:#009f93;}
.{color:#00a15e;}
x{color:#00a329;}
.{color:#00a4f4;}
x{color:#00a6bf;}
.{color:#00a88a;}
x{color:#00aa55;}
.{color:#00ac20;}
x{color:#00adeb;}
.{color:#00afb6;}
x{color:#00b181;}
.{color:#00b34c;}
x{color:#00b517;}
.{color:#00b6e2;}
x{color:#00b8ad;}
.{color:#00ba78;}
x{color:#00bc43;}
.{color:#00be0e;}
x{color:#00bfd9;}
.{color:#00c1a4;}
x{color:#00c36f;}
.{color:#00c53a;}
x{color:#00c705;}
.{color:#00c8d0;}
x{color:#00ca9b;}
.{color:#00cc66;}
x{color:#00ce31;}
.{color:#00cffc;}
x{color:#00d1c7;}
.{color:#00d392;}
x{color:#00d55d;}
.{color:#00d728;}
x{color:#00d8f3;}
.{color:#00dabe;}
x{color:#00dc89;}
.{color:#00de54;}
x{color:#00e01f;}
.{color:#00e1ea;}
x{color:#00e3b5;}
.{color:#00e580;}
x{color:#00e74b;}
.{color:#00e916;}
x{color:#00eae1;}
.{color:#00ecac;}
x{color:#00ee77;}
.{color:#00f042;}
x{color:#00f20d;}
.{color:#00f3d8;}
x{color:#00f5a3;}
.{color:#00f76e;}
x{color:#00f939;}
.{color:#00fb04;}
x{color:#00fccf;}
.{color:#00fe9a;}
x{color:#010065;}
.{color:#010230;}
x{color:#0103fb;}
.{color:#0105c6;}
x{color:#010791;}
.{color:#01095c;}
x{color:#010b27;}
.{color:#010cf2;}
x{color:#010ebd;}
.{color:#011088;}
x{color:#011253;}
.{color:#01141e;}
x{color:#0115e9;}
.{color:#0117b4;}
x{color:#01197f;}
.{color:#011b4a;}
x{color:#011d15;}
.{color:#011ee0;}
x{color:#0120ab;}
.{color:#012276;}
x{color:#012441;}
.{color:#01260c;}
x{color:#0127d7;}
.{color:#0129a2;}
x{color:#012b6d;}
.{color:#012d38;}
x{color:#012f03;}
.{color:#0130ce;}
x{color:#013299;}
.{color:#013464;}
x{color:#01362f;}
.{color:#0137fa;}
x{color:#0139c5;}
.{color:#013b90;}
x{color:#013d5b;}
.{color:#013f26;}
x{color:#0140f1;}
.{color:#0142bc;}
x{color:#014487;}
.{color:#014652;}
x{color:#01481d;}
.{color:#0149e8;}
x{color:#014bb3;}
.{color:#014d7e;}
x{color:#014f49;}
.{color:#015114;}
x{color:#0152df;}
.{color:#0154aa;}
x{color:#015675;}
.{color:#015840;}
x{color:#015a0b;}
.{color:#015bd6;}
x{color:#015da1;}
.{color:#015f6c;}
x{color:#016137;}
.{color:#016302;}
x{color:#0164cd;}
.{color:#016698;}
x{color:#016863;}
.{color:#016a2e;}
x{color:#016bf9;}
.{color:#016dc4;}
x{color:#016f8f;}
.{color:#01715a;}
x{color:#017325;}
.{color:#0174f0;}
x{color:#0176bb;}
.{color:#017886;}
x{color:#017a51;}
.{color:#017c1c;}
x{color:#017de7;}
.{color:#017fb2;}
x{color:#01817d;}
.{color:#018348;}
x{color:#018513;}
.{color:#0186de;}
x{color:#0188a9;}
.{color:#018a74;}
x{color:#018c3f;}
.{color:#018e0a;}
x{color:#018fd5;}
.{color:#0191a0;}
x{color:#01936b;}
.{color:#019536;}
x{color:#019701;}
.{color:#0198cc;}
x{color:#019a97;}
.{color:#019c62;}
x{color:#019e2d;}
.{color:#019ff8;}
x{color:#01a1c3;}
.{color:#01a38e;}
x{color:#01a559;}
.{color:#01a724;}
x{color:#01a8ef;}
.{color:#01aaba;}
x{color:#01ac85;}
.{color:#01ae50;}
x{color:#01b01b;}
.{color:#01b1e6;}
x{color:#01b3b1;}
.{color:#01b57c;}
x{color:#01b747;}
.{color:#01b912;}
x{color:#01badd;}
.{color:#01bca8;}
x{color:#01be73;}
.{color:#01c03e;}
x{color:#01c209;}
.{color:#01c3d4;}
x{color:#01c59f;}
.{color:#01c76a;}
x{color:#01c935;}
.{color:#01cb00;}
x{color:#01cccb;}
.{color:#01ce96;}
x{color:#01d061;}
.{color:#01d22c;}
x{color:#01d3f7;}
.{color:#01d5c2;}
x{color:#01d78d;}
.{color:#01d958;}
x{color:#01db23;}
.{color:#01dcee;}
x{color:#01deb9;}
.{color:#01e084;}
x{color:#01e24f;}
.{color:#01e41a;}
x{color:#01e5e5;}
.{color:#01e7b0;}
x{color:#01e97b;}
.{color:#01eb46;}
x{color:#01ed11;}
.{color:#01eedc;}
x{color:#01f0a7;}
.{color:#01f272;}
x{color:#01f43d;}
.{color:#01f608;}
x{color:#01f7d3;}
.{color:#01f99e;}
x{color:#01fb69;}
.{color:#01fd34;}
x{color:#01feff;}
.{color:#0200ca;}
x{color:#020295;}
.{color:#020460;}
x{color:#02062b;}
.{color:#0207f6;}
x{color:#0209c1;}
.{color:#020b8c;}
x{color:#020d57;}
.{color:#020f22;}
x{color:#0210ed;}
.{color:#0212b8;}
x{color:#021483;}
.{color:#02164e;}
x{color:#021819;}
.{color:#0219e4;}
x{color:#021baf;}
.{color:#021d7a;}
x{color:#021f45;}
.{color:#022110;}
x{color:#0222db;}
.{color:#0224a6;}
x{color:#022671;}
.{color:#02283c;}
x{color:#022a07;}
.{color:#022bd2;}
x{color:#022d9d;}
.{color:#022f68;}
x{color:#023133;}
.{color:#0232fe;}
x{color:#0234c9;}
.{color:#023694;}
x{color:#02385f;}
.{color:#023a2a;}
x{color:#023bf5;}
.{color:#023dc0;}
x{color:#023f8b;}
.{color:#024156;}
x{color:#024321;}
.{color:#0244ec;}
x{color:#0246b7;}
.{color:#024882;}
x{color:#024a4d;}
.{color:#024c18;}
x{color:#024de3;}
.{color:#024fae;}
x{color:#025179;}
.{color:#025344;}
x{color:#02550f;}
.{color:#0256da;}
x{color:#0258a5;}
.{color:#025a70;}
x{color:#025c3b;}
.{color:#025e06;}
x{color:#025fd1;}
.{color:#02619c;}
x{color:#026367;}
.{color:#026532;}
x{color:#0266fd;}
.{color:#0268c8;}
x{color:#026a93;}
.{color:#026c5e;}
x{color:#026e29;}
.{color:#026ff4;}
x{color:#0271bf;}
.{color:#02738a;}
x{color:#027555;}
.{color:#027720;}
x{color:#0278eb;}
.{color:#027ab6;}
x{color:#027c81;}
.{color:#027e4c;}
x{color:#028017;}
.{color:#0281e2;}
x{color:#0283ad;}
.{color:#028578;}
x{color:#028743;}
.{color:#02890e;}
x{color:#028ad9;}
.{color:#028ca4;}
x{color:#028e6f;}
.{color:#02903a;}
x{color:#029205;}
.{color:#0293d0;}
x{color:#02959b;}
.{color:#029766;}
x{color:#029931;}
.{color:#029afc;}
x{color:#029cc7;}
.{color:#029e92;}
x{color:#02a05d;}
.{color:#02a228;}
x{color:#02a3f3;}
.{color:#02a5be;}
x{color:#02a789;}
.{color:#02a954;}
x{color:#02ab1f;}
.{color:#02acea;}
x{color:#02aeb5;}
.{color:#02b080;}
x{color:#02b24b;}
.{color:#02b416;}
x{color:#02b5e1;}
.{color:#02b7ac;}
x{color:#02b977;}
.{color:#02bb42;}
x{color:#02bd0d;}
.{color:#02bed8;}
x{color:#02c0a3;}
.{color:#02c26e;}
x{color:#02c439;}
.{color:#02c604;}
x{color:#02c7cf;}
.{color:#02c99a;}
x{color:#02cb65;}
.{color:#02cd30;}
x{color:#02cefb;}
.{color:#02d0c6;}
x{color:#02d291;}
.{color:#02d45c;}
x{color:#02d627;}
.{color:#02d7f2;}
x{color:#02d9bd;}
.{color:#02db88;}
x{color:#02dd53;}
.{color:#02df1e;}
x{color:#02e0e9;}
.{color:#02e2b4;}
x{color:#02e47f;}
.{color:#02e64a;}
x{color:#02e815;}
.{color:#02e9e0;}
x{color:#02ebab;}
.{color:#02ed76;}
x{color:#02ef41;}
.{color:#02f10c;}
x{color:#02f2d7;}
.{color:#02f4a2;}
x{color:#02f66d;}
.{color:#02f838;}
x{color:#02fa03;}
.{color:#02fbce;}
x{color:#02fd99;}
.{color:#02ff64;}
x{color:#03012f;}
.{color:#0302fa;}
x{color:#0304c5;}
.{color:#030690;}
x{color:#03085b;}
.{color:#030a26;}
x{color:#030bf1;}
.{color:#030dbc;}
x{color:#030f87;}
.{color:#031152;}
x{color:#03131d;}
.{color:#0314e8;}
x{color:#0316b3;}
.{color:#03187e;}
x{color:#031a49;}
.{color:#031c14;}
x{color:#031ddf;}
.{color:#031faa;}
x{color:#032175;}
.{color:#032340;}
x{color:#03250b;}
.{color:#0326d6;}
x{color:#0328a1;}
.{color:#032a6c;}
x{color:#032c37;}
.{color:#032e02;}
x{color:#032fcd;}
.{color:#033198;}
x{color:#033363;}
.{color:#03352e;}
x{color:#0336f9;}
.{color:#0338c4;}
x{color:#033a8f;}
.{color:#033c5a;}
x{color:#033e25;}
.{color:#033ff0;}
x{color:#0341bb;}
.{color:#034386;}
x{color:#034551;}
.{color:#03471c;}
x{color:#0348e7;}
.{color:#034ab2;}
x{color:#034c7d;}
.{color:#034e48;}
x{color:#035013;}
.{color:#0351de;}
x{color:#0353a9;}
.{color:#035574;}
x{color:#03573f;}
.{color:#03590a;}
x{color:#035ad5;}
.{color:#035ca0;}
x{color:#035e6b;}
.{color:#036036;}
x{color:#036201;}
.{color:#0363cc;}
x{color:#036597;}
.{color:#036762;}
x{color:#03692d;}
.{color:#036af8;}
x{color:#036cc3;}
.{color:#036e8e;}
x{color:#037059;}
.{color:#037224;}
x{color:#0373ef;}
.{color:#0375ba;}
x{color:#037785;}
.{color:#037950;}
x{color:#037b1b;}
.{color:#037ce6;}
x{color:#037eb1;}
.{color:#03807c;}
x{color:#038247;}
.{color:#038412;}
x{color:#0385dd;}
.{color:#0387a8;}
x{color:#038973;}
.{color:#038b3e;}
x{color:#038d09;}
.{color:#038ed4;}
x{color:#03909f;}
.{color:#03926a;}
x{color:#039435;}
.{color:#039600;}
x{color:#0397cb;}
.{color:#039996;}
x{color:#039b61;}
.{color:#039d2c;}
x{color:#039ef7;}
.{color:#03a0c2;}
x{color:#03a28d;}
.{color:#03a458;}
x{color:#03a623;}
.{color:#03a7ee;}
x{color:#03a9b9;}
.{color:#03ab84;}
x{color:#03ad4f;}
.{color:#03af1a;}
x{color:#03b0e5;}
.{color:#03b2b0;}
x{color:#03b47b;}
.{color:#03b646;}
x{color:#03b811;}
.{color:#03b9dc;}
x{color:#03bba7;}
.{color:#03bd72;}
x{color:#03bf3d;}
.{color:#03c108;}
x{color:#03c2d3;}
.{color:#03c49e;}
x{color:#03c669;}
.{color:#03c834;}
x{color:#03c9ff;}
.{color:#03cbca;}
x{color:#03cd95;}
.{color:#03cf60;}
x{color:#03d12b;}
.{color:#03d2f6;}
x{color:#03d4c1;}
.{color:#03d68c;}
x{color:#03d857;}
.{color:#03da22;}
x{color:#03dbed;}
.{color:#03ddb8;}
x{color:#03df83;}
.{color:#03e14e;}
x{color:#03e319;}
.{color:#03e4e4;}
x{color:#03e6af;}
.{color:#03e87a;}
x{color:#03ea45;}
.{color:#03ec10;}
x{color:#03eddb;}
.{color:#03efa6;}
x{color:#03f171;}
.{color:#03f33c;}
x{color:#03f507;}
.{color:#03f6d2;}
x{color:#03f89d;}
.{color:#03fa68;}
x{color:#03fc33;}
.{color:#03fdfe;}
x{color:#03ffc9;}
.{color:#040194;}
x{color:#04035f;}
.{color:#04052a;}
x{color:#0406f5;}
.{color:#0408c0;}
x{color:#040a8b;}
.{color:#040c56;}
x{color:#040e21;}
.{color:#040fec;}
x{color:#0411b7;}
.{color:#041382;}
x{color:#04154d;}
.{color:#041718;}
x{color:#0418e3;}
.{color:#041aae;}
x{color:#041c79;}
.{color:#041e44;}
x{color:#04200f;}
.{color:#0421da;}
x{color:#0423a5;}
.{color:#042570;}
x{color:#04273b;}
.{color:#042906;}
x{color:#042ad1;}
.{color:#042c9c;}
x{color:#042e67;}
.{color:#043032;}
x{color:#0431fd;}
.{color:#0433c8;}
x{color:#043593;}
.{color:#04375e;}
x{color:#043929;}
.{color:#043af4;}
x{color:#043cbf;}
.{color:#043e8a;}
x{color:#044055;}
.{color:#044220;}
x{color:#0443eb;}
.{color:#0445b6;}
x{color:#044781;}
.{color:#04494c;}
x{color:#044b17;}
.{color:#044ce2;}
x{color:#044ead;}
.{color:#045078;}
x{color:#045243;}
.{color:#04540e;}
x{color:#0455d9;}
.{color:#0457a4;}
x{color:#04596f;}
.{color:#045b3a;}
x{color:#045d05;}
.{color:#045ed0;}
x{color:#04609b;}
.{color:#046266;}
x{color:#046431;}
.{color:#0465fc;}
x{color:#0467c7;}
.{color:#046992;}
x{color:#046b5d;}
.{color:#046d28;}
x{color:#046ef3;}
.{color:#0470be;}
x{color:#047289;}
.{color:#047454;}
x{color:#04761f;}
.{color:#0477ea;}
x{color:#0479b5;}
.{color:#047b80;}
x{color:#047d4b;}
.{color:#047f16;}
x{color:#0480e1;}
.{color:#0482ac;}
x{color:#048477;}
.{color:#048642;}
x{color:#04880d;}
.{color:#0489d8;}
x{color:#048ba3;}
.{color:#048d6e;}
x{color:#048f39;}
.{color:#049104;}
x{color:#0492cf;}
.{color:#04949a;}
x{color:#049665;}
.{color:#049830;}
x{color:#0499fb;}
.{color:#049bc6;}
x{color:#049d91;}
.{color:#049f5c;}
x{color:#04a127;}
.{color:#04a2f2;}
x{color:#04a4bd;}
.{color:#04a688;}
x{color:#04a853;}
.{color:#04aa1e;}
x{color:#04abe9;}
.{color:#04adb4;}
x{color:#04af7f;}
.{color:#04b14a;}
x{color:#04b315;}
.{color:#04b4e0;}
x{color:#04b6ab;}
.{color:#04b876;}
x{color:#04ba41;}
.{color:#04bc0c;}
x{color:#04bdd7;}
.{color:#04bfa2;}
x{color:#04c16d;}
.{color:#04c338;}
x{color:#04c503;}
.{color:#04c6ce;}
x{color:#04c899;}
.{color:#04ca64;}
x{color:#04cc2f;}
.{color:#04cdfa;}
x{color:#04cfc5;}
.{color:#04d190;}
x{color:#04d35b;}
.{color:#04d526;}
x{color:#04d6f1;}
.{color:#04d8bc;}
x{color:#04da87;}
.{color:#04dc52;}
x{color:#04de1d;}
.{color:#04dfe8;}
x{color:#04e1b3;}
.{color:#04e37e;}
x{color:#04e549;}
.{color:#04e714;}
x{color:#04e8df;}
.{color:#04eaaa;}
x{color:#04ec75;}
.{color:#04ee40;}
x{color:#04f00b;}
.{color:#04f1d6;}
x{color:#04f3a1;}
.{color:#04f56c;}
x{color:#04f737;}
.{color:#04f902;}
x{color:#04facd;}
.{color:#04fc98;}
x{color:#04fe63;}
.{color:#05002e;}
x{color:#0501f9;}
.{color:#0503c4;}
x{color:#05058f;}
.{color:#05075a;}
x{color:#050925;}
.{color:#050af0;}
x{color:#050cbb;}
.{color:#050e86;}
x{color:#051051;}
.{color:#05121c;}
x{color:#0513e7;}
.{color:#0515b2;}
x{color:#05177d;}
.{color:#051948;}
x{color:#051b13;}
.{color:#051cde;}
x{color:#051ea9;}
.{color:#052074;}
x{color:#05223f;}
.{color:#05240a;}
x{color:#0525d5;}
.{color:#0527a0;}
x{color:#05296b;}
.{color:#052b36;}
x{color:#052d01;}
.{color:#052ecc;}
x{color:#053097;}
.{color:#053262;}
x{color:#05342d;}
.{color:#0535f8;}
x{color:#0537c3;}
.{color:#05398e;}
x{color:#053b59;}
.{color:#053d24;}
x{color:#053eef;}
.{color:#0540ba;}
x{color:#054285;}
.{color:#054450;}
x{color:#05461b;}
.{color:#0547e6;}
x{color:#0549b1;}
.{color:#054b7c;}
x{color:#054d47;}
.{color:#054f12;}
x{color:#0550dd;}
.{color:#0552a8;}
x{color:#055473;}
.{color:#05563e;}
x{color:#055809;}
.{color:#0559d4;}
x{color:#055b9f;}
.{color:#055d6a;}
x{color:#055f35;}
.{color:#056100;}
x{color:#0562cb;}
.{color:#056496;}
x{color:#056661;}
.{color:#05682c;}
x{color:#0569f7;}
.{color:#056bc2;}
x{color:#056d8d;}
.{color:#056f58;}
x{color:#057123;}
.{color:#0572ee;}
x{color:#0574b9;}
.{color:#057684;}
x{color:#05784f;}
.{color:#057a1a;}
x{color:#057be5;}
.{color:#057db0;}
x{color:#057f7b;}
.{color:#058146;}
x{color:#058311;}
.{color:#0584dc;}
x{color:#0586a7;}
.{color:#058872;}
x{color:#058a3d;}
.{color:#058c08;}
x{color:#058dd3;}
.{color:#058f9e;}
x{color:#059169;}
.{color:#059334;}
x{color:#0594ff;}
.{color:#0596ca;}
x{color:#059895;}
.{color:#059a60;}
x{color:#059c2b;}
.{color:#059df6;}
x{color:#059fc1;}
.{color:#05a18c;}
x{color:#05a357;}
.{color:#05a522;}
x{color:#05a6ed;}
.{color:#05a8b8;}
x{color:#05aa83;}
.{color:#05ac4e;}
x{color:#05ae19;}
.{color:#05afe4;}
x{color:#05b1af;}
.{color:#05b37a;}
x{color:#05b545;}
.{color:#05b710;}
x{color:#05b8db;}
.{color:#05baa6;}
x{color:#05bc71;}
.{color:#05be3c;}
x{color:#05c007;}
.{color:#05c1d2;}
x{color:#05c39d;}
.{color:#05c568;}
x{color:#05c733;}
.{color:#05c8fe;}
x{color:#05cac9;}
.{color:#05cc94;}
x{color:#05ce5f;}
.{color:#05d02a;}
x{color:#05d1f5;}
.{color:#05d3c0;}
x{color:#05d58b;}
.{color:#05d756;}
x{color:#05d921;}
.{color:#05daec;}
x{color:#05dcb7;}
.{color:#05de82;}
x{color:#05e04d;}
.{color:#05e218;}
x{color:#05e3e3;}
.{color:#05e5ae;}
x{color:#05e779;}
.{color:#05e944;}
x{color:#05eb0f;}
.{color:#05ecda;}
x{color:#05eea5;}
.{color:#05f070;}
x{color:#05f23b;}
.{color:#05f406;}
x{color:#05f5d1;}
.{color:#05f79c;}
x{color:#05f967;}
.{color:#05fb32;}
x{color:#05fcfd;}
.{color:#05fec8;}
x{color:#060093;}
.{color:#06025e;}
x{color:#060429;}
.{color:#0605f4;}
x{color:#0607bf;}
.{color:#06098a;}
x{color:#060b55;}
.{color:#060d20;}
x{color:#060eeb;}
.{color:#0610b6;}
x{color:#061281;}
.{color:#06144c;}
x{color:#061617;}
.{color:#0617e2;}
x{color:#0619ad;}
.{color:#061b78;}
x{color:#061d43;}
.{color:#061f0e;}
x{color:#0620d9;}
.{color:#0622a4;}
x{color:#06246f;}
.{color:#06263a;}
x{color:#062805;}
.{color:#0629d0;}
x{color:#062b9b;}
.{color:#062d66;}
x{color:#062f31;}
.{color:#0630fc;}
x{color:#0632c7;}
.{color:#063492;}
x{color:#06365d;}
.{color:#063828;}
x{color:#0639f3;}
.{color:#063bbe;}
x{color:#063d89;}
.{color:#063f54;}
x{color:#06411f;}
.{color:#0642ea;}
x{color:#0644b5;}
.{color:#064680;}
x{color:#06484b;}
.{color:#064a16;}
x{color:#064be1;}
.{color:#064dac;}
x{color:#064f77;}
.{color:#065142;}
x{color:#06530d;}
.{color:#0654d8;}
x{color:#0656a3;}
.{color:#06586e;}
x{color:#065a39;}
.{color:#065c04;}
x{color:#065dcf;}
.{color:#065f9a;}
x{color:#066165;}
.{color:#066330;}
x{color:#0664fb;}
.{color:#0666c6;}
x{color:#066891;}
.{color:#066a5c;}
x{color:#066c27;}
.{color:#066df2;}
x{color:#066fbd;}
.{color:#067188;}
x{color:#067353;}
.{color:#06751e;}
x{color:#0676e9;}
.{color:#0678b4;}
x{color:#067a7f;}
.{color:#067c4a;}
x{color:#067e15;}
.{color:#067fe0;}
x{color:#0681ab;}
.{color:#068376;}
x{color:#068541;}
.{color:#06870c;}
x{color:#0688d7;}
.{color:#068aa2;}
x{color:#068c6d;}
.{color:#068e38;}
x{color:#069003;}
.{color:#0691ce;}
x{color:#069399;}
.{color:#069564;}
x{color:#06972f;}
.{color:#0698fa;}
x{color:#069ac5;}
.{color:#069c90;}
x{color:#069e5b;}
.{color:#06a026;}
x{color:#06a1f1;}
.{color:#06a3bc;}
x{color:#06a587;}
.{color:#06a752;}
x{color:#06a91d;}
.{color:#06aae8;}
x{color:#06acb3;}
.{color:#06ae7e;}
x{color:#06b049;}
.{color:#06b214;}
x{color:#06b3df;}
.{color:#06b5aa;}
x{color:#06b775;}
.{color:#06b940;}
x{color:#06bb0b;}
.{color:#06bcd6;}
x{color:#06bea1;}
.{color:#06c06c;}
x{color:#06c237;}
.{color:#06c402;}
x{color:#06c5cd;}
.{color:#06c798;}
x{color:#06c963;}
.{color:#06cb2e;}
x{color:#06ccf9;}
.{color:#06cec4;}
x{color:#06d08f;}
.{color:#06d25a;}
x{color:#06d425;}
.{color:#06d5f0;}
x{color:#06d7bb;}
.{color:#06d986;}
x{color:#06db51;}
.{color:#06dd1c;}
x{color:#06dee7;}
.{color:#06e0b2;}
x{color:#06e27d;}
.{color:#06e448;}
x{color:#06e613;}
.{color:#06e7de;}
x{color:#06e9a9;}
.{color:#06eb74;}
x{color:#06ed3f;}
.{color:#06ef0a;}
x{color:#06f0d5;}
.{color:#06f2a0;}
x{color:#06f46b;}
.{color:#06f636;}
x{color:#06f801;}
.{color:#06f9cc;}
x{color:#06fb97;}
.{color:#06fd62;}
x{color:#06ff2d;}
