/* css */
.{color:#000000;}
x{color:#0001a9;}
.{color:#000352;}
x{color:#0004fb;}
.{color:#0006a4;}
x{color:#00084d;}
.{color:#0009f6;}
x{color:#000b9f;}
.{color:#000d48;}
x{color:#000ef1;}
.{color:#00109a;}
x{color:#001243;}
.{color:#0013ec;}
x{color:#001595;}
.{color:#00173e;}
x{color:#0018e7;}
.{color:#001a90;}
x{color:#001c39;}
.{color:#001de2;}
x{color:#001f8b;}
.{color:#002134;}
x{color:#0022dd;}
.{color:#002486;}
x{color:#00262f;}
.{color:#0027d8;}
x{color:#002981;}
.{color:#002b2a;}
x{color:#002cd3;}
.{color:#002e7c;}
x{color:#003025;}
.{color:#0031ce;}
x{color:#003377;}
.{color:#003520;}
x{color:#0036c9;}
.{color:#003872;}
x{color:#003a1b;}
.{color:#003bc4;}
x{color:#003d6d;}
.{color:#003f16;}
x{color:#0040bf;}
.{color:#004268;}
x{color:#004411;}
.{color:#0045ba;}
x{color:#004763;}
.{color:#00490c;}
x{color:#004ab5;}
.{color:#004c5e;}
x{color:#004e07;}
.{color:#004fb0;}
x{color:#005159;}
.{color:#005302;}
x{color:#0054ab;}
.{color:#005654;}
x{color:#0057fd;}
.{color:#0059a6;}
x{color:#005b4f;}
.{color:#005cf8;}
x{color:#005ea1;}
.{color:#00604a;}
x{color:#0061f3;}
.{color:#00639c;}
x{color:#006545;}
.{color:#0066ee;}
x{color:#006897;}
.{color:#006a40;}
x{color:#006be9;}
.{color:#006d92;}
x{color:#006f3b;}
.{color:#0070e4;}
x{color:#00728d;}
.{color:#007436;}
x{color:#0075df;}
.{color:#007788;}
x{color:#007931;}
.{color:#007ada;}
x{color:#007c83;}
.{color:#007e2c;}
x{color:#007fd5;}
.{color:#00817e;}
x{color:#008327;}
.{color:#0084d0;}
x{color:#008679;}
.{color:#008822;}
x{color:#0089cb;}
.{color:#008b74;}
x{color:#008d1d;}
.{color:#008ec6;}
x{color:#00906f;}
.{color:#009218;}
x{color:#0093c1;}
.{color:#00956a;}
x{color:#009713;}
.{color:#0098bc;}
x{color:#009a65;}
.{color:#009c0e;}
x{color:#009db7;}
.{color:#009f60;}
x{color:#00a109;}
.{color:#00a2b2;}
x{color:#00a45b;}
.{color:#00a604;}
x{color:#00a7ad;}
.{color:#00a956;}
x{color:#00aaff;}
.{color:#00aca8;}
x{color:#00ae51;}
.{color:#00affa;}
x{color:#00b1a3;}
.{color:#00b34c;}
x{color:#00b4f5;}
.{color:#00b69e;}
x{color:#00b847;}
.{color:#00b9f0;}
x{color:#00bb99;}
.{color:#00bd42;}
x{color:#00beeb;}
.{color:#00c094;}
x{color:#00c23d;}
.{color:#00c3e6;}
x{color:#00c58f;}
.{color:#00c738;}
x{color:#00c8e1;}
.{color:#00ca8a;}
x{color:#00cc33;}
.{color:#00cddc;}
x{color:#00cf85;}
.{color:#00d12e;}
x{color:#00d2d7;}
.{color:#00d480;}
x{color:#00d629;}
.{color:#00d7d2;}
x{color:#00d97b;}
.{color:#00db24;}
x{color:#00dccd;}
.{color:#00de76;}
x{color:#00e01f;}
.{color:#00e1c8;}
x{color:#00e371;}
.{color:#00e51a;}
x{color:#00e6c3;}
.{color:#00e86c;}
x{color:#00ea15;}
.{color:#00ebbe;}
x{color:#00ed67;}
.{color:#00ef10;}
x{color:#00f0b9;}
.{color:#00f262;}
x{color:#00f40b;}
.{color:#00f5b4;}
x{color:#00f75d;}
.{color:#00f906;}
x{color:#00faaf;}
.{color:#00fc58;}
x{color:#00fe01;}
.{color:#00ffaa;}
x{color:#010153;}
.{color:#0102fc;}
x{color:#0104a5;}
.{color:#01064e;}
x{color:#0107f7;}
.{color:#0109a0;}
x{color:#010b49;}
.{color:#010cf2;}
x{color:#010e9b;}
.{color:#011044;}
x{color:#0111ed;}
.{color:#011396;}
x{color:#01153f;}
.{color:#0116e8;}
x{color:#011891;}
.{color:#011a3a;}
x{color:#011be3;}
.{color:#011d8c;}
x{color:#011f35;}
.{color:#0120de;}
x{color:#012287;}
.{color:#012430;}
x{color:#0125d9;}
.{color:#012782;}
x{color:#01292b;}
.{color:#012ad4;}
x{color:#012c7d;}
.{color:#012e26;}
x{color:#012fcf;}
.{color:#013178;}
x{color:#013321;}
.{color:#0134ca;}
x{color:#013673;}
.{color:#01381c;}
x{color:#0139c5;}
.{color:#013b6e;}
x{color:#013d17;}
.{color:#013ec0;}
x{color:#014069;}
.{color:#014212;}
x{color:#0143bb;}
.{color:#014564;}
x{color:#01470d;}
.{color:#0148b6;}
x{color:#014a5f;}
.{color:#014c08;}
x{color:#014db1;}
.{color:#014f5a;}
x{color:#015103;}
.{color:#0152ac;}
x{color:#015455;}
.{color:#0155fe;}
x{color:#0157a7;}
.{color:#015950;}
x{color:#015af9;}
.{color:#015ca2;}
x{color:#015e4b;}
.{color:#015ff4;}
x{color:#01619d;}
.{color:#016346;}
x{color:#0164ef;}
.{color:#016698;}
x{color:#016841;}
.{color:#0169ea;}
x{color:#016b93;}
.{color:#016d3c;}
x{color:#016ee5;}
.{color:#01708e;}
x{color:#017237;}
.{color:#0173e0;}
x{color:#017589;}
.{color:#017732;}
x{color:#0178db;}
.{color:#017a84;}
x{color:#017c2d;}
.{color:#017dd6;}
x{color:#017f7f;}
.{color:#018128;}
x{color:#0182d1;}
.{color:#01847a;}
x{color:#018623;}
.{color:#0187cc;}
x{color:#018975;}
.{color:#018b1e;}
x{color:#018cc7;}
.{color:#018e70;}
x{color:#019019;}
.{color:#0191c2;}
x{color:#01936b;}
.{color:#019514;}
x{color:#0196bd;}
.{color:#019866;}
x{color:#019a0f;}
.{color:#019bb8;}
x{color:#019d61;}
.{color:#019f0a;}
x{color:#01a0b3;}
.{color:#01a25c;}
x{color:#01a405;}
.{color:#01a5ae;}
x{color:#01a757;}
.{color:#01a900;}
x{color:#01aaa9;}
.{color:#01ac52;}
x{color:#01adfb;}
.{color:#01afa4;}
x{color:#01b14d;}
.{color:#01b2f6;}
x{color:#01b49f;}
.{color:#01b648;}
x{color:#01b7f1;}
.{color:#01b99a;}
x{color:#01bb43;}
.{color:#01bcec;}
x{color:#01be95;}
.{color:#01c03e;}
x{color:#01c1e7;}
.{color:#01c390;}
x{color:#01c539;}
.{color:#01c6e2;}
x{color:#01c88b;}
.{color:#01ca34;}
x{color:#01cbdd;}
.{color:#01cd86;}
x{color:#01cf2f;}
.{color:#01d0d8;}
x{color:#01d281;}
.{color:#01d42a;}
x{color:#01d5d3;}
.{color:#01d77c;}
x{color:#01d925;}
.{color:#01dace;}
x{color:#01dc77;}
.{color:#01de20;}
x{color:#01dfc9;}
.{color:#01e172;}
x{color:#01e31b;}
.{color:#01e4c4;}
x{color:#01e66d;}
.{color:#01e816;}
x{color:#01e9bf;}
.{color:#01eb68;}
x{color:#01ed11;}
.{color:#01eeba;}
x{color:#01f063;}
.{color:#01f20c;}
x{color:#01f3b5;}
.{color:#01f55e;}
x{color:#01f707;}
.{color:#01f8b0;}
x{color:#01fa59;}
.{color:#01fc02;}
x{color:#01fdab;}
.{color:#01ff54;}
x{color:#0200fd;}
.{color:#0202a6;}
x{color:#02044f;}
.{color:#0205f8;}
x{color:#0207a1;}
.{color:#02094a;}
x{color:#020af3;}
.{color:#020c9c;}
x{color:#020e45;}
.{color:#020fee;}
x{color:#021197;}
.{color:#021340;}
x{color:#0214e9;}
.{color:#021692;}
x{color:#02183b;}
.{color:#0219e4;}
x{color:#021b8d;}
.{color:#021d36;}
x{color:#021edf;}
.{color:#022088;}
x{color:#022231;}
.{color:#0223da;}
x{color:#022583;}
.{color:#02272c;}
x{color:#0228d5;}
.{color:#022a7e;}
x{color:#022c27;}
.{color:#022dd0;}
x{color:#022f79;}
.{color:#023122;}
x{color:#0232cb;}
.{color:#023474;}
x{color:#02361d;}
.{color:#0237c6;}
x{color:#02396f;}
.{color:#023b18;}
x{color:#023cc1;}
.{color:#023e6a;}
x{color:#024013;}
.{color:#0241bc;}
x{color:#024365;}
.{color:#02450e;}
x{color:#0246b7;}
.{color:#024860;}
x{color:#024a09;}
.{color:#024bb2;}
x{color:#024d5b;}
.{color:#024f04;}
x{color:#0250ad;}
.{color:#025256;}
x{color:#0253ff;}
.{color:#0255a8;}
x{color:#025751;}
.{color:#0258fa;}
x{color:#025aa3;}
.{color:#025c4c;}
x{color:#025df5;}
.{color:#025f9e;}
x{color:#026147;}
.{color:#0262f0;}
x{color:#026499;}
.{color:#026642;}
x{color:#0267eb;}
.{color:#026994;}
x{color:#026b3d;}
.{color:#026ce6;}
x{color:#026e8f;}
.{color:#027038;}
x{color:#0271e1;}
.{color:#02738a;}
x{color:#027533;}
.{color:#0276dc;}
x{color:#027885;}
.{color:#027a2e;}
x{color:#027bd7;}
.{color:#027d80;}
x{color:#027f29;}
.{color:#0280d2;}
x{color:#02827b;}
.{color:#028424;}
x{color:#0285cd;}
.{color:#028776;}
x{color:#02891f;}
.{color:#028ac8;}
x{color:#028c71;}
.{color:#028e1a;}
x{color:#028fc3;}
.{color:#02916c;}
x{color:#029315;}
.{color:#0294be;}
x{color:#029667;}
.{color:#029810;}
x{color:#0299b9;}
.{color:#029b62;}
x{color:#029d0b;}
.{color:#029eb4;}
x{color:#02a05d;}
.{color:#02a206;}
x{color:#02a3af;}
.{color:#02a558;}
x{color:#02a701;}
.{color:#02a8aa;}
x{color:#02aa53;}
.{color:#02abfc;}
x{color:#02ada5;}
.{color:#02af4e;}
x{color:#02b0f7;}
.{color:#02b2a0;}
x{color:#02b449;}
.{color:#02b5f2;}
x{color:#02b79b;}
.{color:#02b944;}
x{color:#02baed;}
.{color:#02bc96;}
x{color:#02be3f;}
.{color:#02bfe8;}
x{color:#02c191;}
.{color:#02c33a;}
x{color:#02c4e3;}
.{color:#02c68c;}
x{color:#02c835;}
.{color:#02c9de;}
x{color:#02cb87;}
.{color:#02cd30;}
x{color:#02ced9;}
.{color:#02d082;}
x{color:#02d22b;}
.{color:#02d3d4;}
x{color:#02d57d;}
.{color:#02d726;}
x{color:#02d8cf;}
.{color:#02da78;}
x{color:#02dc21;}
.{color:#02ddca;}
x{color:#02df73;}
.{color:#02e11c;}
x{color:#02e2c5;}
.{color:#02e46e;}
x{color:#02e617;}
.{color:#02e7c0;}
x{color:#02e969;}
.{color:#02eb12;}
x{color:#02ecbb;}
.{color:#02ee64;}
x{color:#02f00d;}
.{color:#02f1b6;}
x{color:#02f35f;}
.{color:#02f508;}
x{color:#02f6b1;}
.{color:#02f85a;}
x{color:#02fa03;}
.{color:#02fbac;}
x{color:#02fd55;}
.{color:#02fefe;}
x{color:#0300a7;}
.{color:#030250;}
x{color:#0303f9;}
.{color:#0305a2;}
x{color:#03074b;}
.{color:#0308f4;}
x{color:#030a9d;}
.{color:#030c46;}
x{color:#030def;}
.{color:#030f98;}
x{color:#031141;}
.{color:#0312ea;}
x{color:#031493;}
.{color:#03163c;}
x{color:#0317e5;}
.{color:#03198e;}
x{color:#031b37;}
.{color:#031ce0;}
x{color:#031e89;}
.{color:#032032;}
x{color:#0321db;}
.{color:#032384;}
x{color:#03252d;}
.{color:#0326d6;}
x{color:#03287f;}
.{color:#032a28;}
x{color:#032bd1;}
.{color:#032d7a;}
x{color:#032f23;}
.{color:#0330cc;}
x{color:#033275;}
.{color:#03341e;}
x{color:#0335c7;}
.{color:#033770;}
x{color:#033919;}
.{color:#033ac2;}
x{color:#033c6b;}
.{color:#033e14;}
x{color:#033fbd;}
.{color:#034166;}
x{color:#03430f;}
.{color:#0344b8;}
x{color:#034661;}
.{color:#03480a;}
x{color:#0349b3;}
.{color:#034b5c;}
x{color:#034d05;}
.{color:#034eae;}
x{color:#035057;}
.{color:#035200;}
x{color:#0353a9;}
.{color:#035552;}
x{color:#0356fb;}
.{color:#0358a4;}
x{color:#035a4d;}
.{color:#035bf6;}
x{color:#035d9f;}
.{color:#035f48;}
x{color:#0360f1;}
.{color:#03629a;}
x{color:#036443;}
.{color:#0365ec;}
x{color:#036795;}
.{color:#03693e;}
x{color:#036ae7;}
.{color:#036c90;}
x{color:#036e39;}
.{color:#036fe2;}
x{color:#03718b;}
.{color:#037334;}
x{color:#0374dd;}
.{color:#037686;}
x{color:#03782f;}
.{color:#0379d8;}
x{color:#037b81;}
.{color:#037d2a;}
x{color:#037ed3;}
.{color:#03807c;}
x{color:#038225;}
.{color:#0383ce;}
x{color:#038577;}
.{color:#038720;}
x{color:#0388c9;}
.{color:#038a72;}
x{color:#038c1b;}
.{color:#038dc4;}
x{color:#038f6d;}
.{color:#039116;}
x{color:#0392bf;}
.{color:#039468;}
x{color:#039611;}
.{color:#0397ba;}
x{color:#039963;}
.{color:#039b0c;}
x{color:#039cb5;}
.{color:#039e5e;}
x{color:#03a007;}
.{color:#03a1b0;}
x{color:#03a359;}
.{color:#03a502;}
x{color:#03a6ab;}
.{color:#03a854;}
x{color:#03a9fd;}
.{color:#03aba6;}
x{color:#03ad4f;}
.{color:#03aef8;}
x{color:#03b0a1;}
.{color:#03b24a;}
x{color:#03b3f3;}
.{color:#03b59c;}
x{color:#03b745;}
.{color:#03b8ee;}
x{color:#03ba97;}
.{color:#03bc40;}
x{color:#03bde9;}
.{color:#03bf92;}
x{color:#03c13b;}
.{color:#03c2e4;}
x{color:#03c48d;}
.{color:#03c636;}
x{color:#03c7df;}
.{color:#03c988;}
x{color:#03cb31;}
.{color:#03ccda;}
x{color:#03ce83;}
.{color:#03d02c;}
x{color:#03d1d5;}
.{color:#03d37e;}
x{color:#03d527;}
.{color:#03d6d0;}
x{color:#03d879;}
.{color:#03da22;}
x{color:#03dbcb;}
.{color:#03dd74;}
x{color:#03df1d;}
.{color:#03e0c6;}
x{color:#03e26f;}
.{color:#03e418;}
x{color:#03e5c1;}
.{color:#03e76a;}
x{color:#03e913;}
.{color:#03eabc;}
x{color:#03ec65;}
.{color:#03ee0e;}
x{color:#03efb7;}
.{color:#03f160;}
x{color:#03f309;}
.{color:#03f4b2;}
x{color:#03f65b;}
.{color:#03f804;}
x{color:#03f9ad;}
.{color:#03fb56;}
x{color:#03fcff;}
.{color:#03fea8;}
x{color:#040051;}
.{color:#0401fa;}
x{color:#0403a3;}
.{color:#04054c;}
x{color:#0406f5;}
.{color:#04089e;}
x{color:#040a47;}
.{color:#040bf0;}
x{color:#040d99;}
.{color:#040f42;}
x{color:#0410eb;}
.{color:#041294;}
x{color:#04143d;}
.{color:#0415e6;}
x{color:#04178f;}
.{color:#041938;}
x{color:#041ae1;}
.{color:#041c8a;}
x{color:#041e33;}
.{color:#041fdc;}
x{color:#042185;}
.{color:#04232e;}
x{color:#0424d7;}
.{color:#042680;}
x{color:#042829;}
.{color:#0429d2;}
x{color:#042b7b;}
.{color:#042d24;}
x{color:#042ecd;}
.{color:#043076;}
x{color:#04321f;}
.{color:#0433c8;}
x{color:#043571;}
.{color:#04371a;}
x{color:#0438c3;}
.{color:#043a6c;}
x{color:#043c15;}
.{color:#043dbe;}
x{color:#043f67;}
.{color:#044110;}
x{color:#0442b9;}
.{color:#044462;}
x{color:#04460b;}
.{color:#0447b4;}
x{color:#04495d;}
.{color:#044b06;}
x{color:#044caf;}
.{color:#044e58;}
x{color:#045001;}
.{color:#0451aa;}
x{color:#045353;}
.{color:#0454fc;}
x{color:#0456a5;}
.{color:#04584e;}
x{color:#0459f7;}
.{color:#045ba0;}
x{color:#045d49;}
.{color:#045ef2;}
x{color:#04609b;}
.{color:#046244;}
x{color:#0463ed;}
.{color:#046596;}
x{color:#04673f;}
.{color:#0468e8;}
x{color:#046a91;}
.{color:#046c3a;}
x{color:#046de3;}
.{color:#046f8c;}
x{color:#047135;}
.{color:#0472de;}
x{color:#047487;}
.{color:#047630;}
x{color:#0477d9;}
.{color:#047982;}
x{color:#047b2b;}
.{color:#047cd4;}
x{color:#047e7d;}
.{color:#048026;}
x{color:#0481cf;}
.{color:#048378;}
x{color:#048521;}
.{color:#0486ca;}
x{color:#048873;}
.{color:#048a1c;}
x{color:#048bc5;}
.{color:#048d6e;}
x{color:#048f17;}
.{color:#0490c0;}
x{color:#049269;}
.{color:#049412;}
x{color:#0495bb;}
.{color:#049764;}
x{color:#04990d;}
.{color:#049ab6;}
x{color:#049c5f;}
.{color:#049e08;}
x{color:#049fb1;}
.{color:#04a15a;}
x{color:#04a303;}
.{color:#04a4ac;}
x{color:#04a655;}
.{color:#04a7fe;}
x{color:#04a9a7;}
.{color:#04ab50;}
x{color:#04acf9;}
.{color:#04aea2;}
x{color:#04b04b;}
.{color:#04b1f4;}
x{color:#04b39d;}
.{color:#04b546;}
x{color:#04b6ef;}
.{color:#04b898;}
x{color:#04ba41;}
.{color:#04bbea;}
x{color:#04bd93;}
.{color:#04bf3c;}
x{color:#04c0e5;}
.{color:#04c28e;}
x{color:#04c437;}
.{color:#04c5e0;}
x{color:#04c789;}
.{color:#04c932;}
x{color:#04cadb;}
.{color:#04cc84;}
x{color:#04ce2d;}
.{color:#04cfd6;}
x{color:#04d17f;}
.{color:#04d328;}
x{color:#04d4d1;}
.{color:#04d67a;}
x{color:#04d823;}
.{color:#04d9cc;}
x{color:#04db75;}
.{color:#04dd1e;}
x{color:#04dec7;}
.{color:#04e070;}
x{color:#04e219;}
.{color:#04e3c2;}
x{color:#04e56b;}
.{color:#04e714;}
x{color:#04e8bd;}
.{color:#04ea66;}
x{color:#04ec0f;}
.{color:#04edb8;}
x{color:#04ef61;}
.{color:#04f10a;}
x{color:#04f2b3;}
.{color:#04f45c;}
x{color:#04f605;}
.{color:#04f7ae;}
x{color:#04f957;}
.{color:#04fb00;}
x{color:#04fca9;}
.{color:#04fe52;}
x{color:#04fffb;}
.{color:#0501a4;}
x{color:#05034d;}
.{color:#0504f6;}
x{color:#05069f;}
.{color:#050848;}
x{color:#0509f1;}
.{color:#050b9a;}
x{color:#050d43;}
.{color:#050eec;}
x{color:#051095;}
.{color:#05123e;}
x{color:#0513e7;}
.{color:#051590;}
x{color:#051739;}
.{color:#0518e2;}
x{color:#051a8b;}
.{color:#051c34;}
x{color:#051ddd;}
.{color:#051f86;}
x{color:#05212f;}
.{color:#0522d8;}
x{color:#052481;}
.{color:#05262a;}
x{color:#0527d3;}
.{color:#05297c;}
x{color:#052b25;}
.{color:#052cce;}
x{color:#052e77;}
.{color:#053020;}
x{color:#0531c9;}
.{color:#053372;}
x{color:#05351b;}
.{color:#0536c4;}
x{color:#05386d;}
.{color:#053a16;}
x{color:#053bbf;}
.{color:#053d68;}
x{color:#053f11;}
.{color:#0540ba;}
x{color:#054263;}
.{color:#05440c;}
x{color:#0545b5;}
.{color:#05475e;}
x{color:#054907;}
.{color:#054ab0;}
x{color:#054c59;}
.{color:#054e02;}
x{color:#054fab;}
.{color:#055154;}
x{color:#0552fd;}
.{color:#0554a6;}
x{color:#05564f;}
.{color:#0557f8;}
x{color:#0559a1;}
.{color:#055b4a;}
x{color:#055cf3;}
.{color:#055e9c;}
x{color:#056045;}
.{color:#0561ee;}
x{color:#056397;}
.{color:#056540;}
x{color:#0566e9;}
.{color:#056892;}
x{color:#056a3b;}
.{color:#056be4;}
x{color:#056d8d;}
.{color:#056f36;}
x{color:#0570df;}
.{color:#057288;}
x{color:#057431;}
.{color:#0575da;}
x{color:#057783;}
.{color:#05792c;}
x{color:#057ad5;}
.{color:#057c7e;}
x{color:#057e27;}
.{color:#057fd0;}
x{color:#058179;}
.{color:#058322;}
x{color:#0584cb;}
.{color:#058674;}
x{color:#05881d;}
.{color:#0589c6;}
x{color:#058b6f;}
.{color:#058d18;}
x{color:#058ec1;}
.{color:#05906a;}
x{color:#059213;}
.{color:#0593bc;}
x{color:#059565;}
.{color:#05970e;}
x{color:#0598b7;}
.{color:#059a60;}
x{color:#059c09;}
.{color:#059db2;}
x{color:#059f5b;}
.{color:#05a104;}
x{color:#05a2ad;}
.{color:#05a456;}
x{color:#05a5ff;}
.{color:#05a7a8;}
x{color:#05a951;}
.{color:#05aafa;}
x{color:#05aca3;}
.{color:#05ae4c;}
x{color:#05aff5;}
.{color:#05b19e;}
x{color:#05b347;}
.{color:#05b4f0;}
x{color:#05b699;}
.{color:#05b842;}
x{color:#05b9eb;}
.{color:#05bb94;}
x{color:#05bd3d;}
.{color:#05bee6;}
x{color:#05c08f;}
.{color:#05c238;}
x{color:#05c3e1;}
.{color:#05c58a;}
x{color:#05c733;}
.{color:#05c8dc;}
x{color:#05ca85;}
.{color:#05cc2e;}
x{color:#05cdd7;}
.{color:#05cf80;}
x{color:#05d129;}
.{color:#05d2d2;}
x{color:#05d47b;}
.{color:#05d624;}
x{color:#05d7cd;}
.{color:#05d976;}
x{color:#05db1f;}
.{color:#05dcc8;}
x{color:#05de71;}
.{color:#05e01a;}
x{color:#05e1c3;}
.{color:#05e36c;}
x{color:#05e515;}
.{color:#05e6be;}
x{color:#05e867;}
.{color:#05ea10;}
x{color:#05ebb9;}
.{color:#05ed62;}
x{color:#05ef0b;}
.{color:#05f0b4;}
x{color:#05f25d;}
.{color:#05f406;}
x{color:#05f5af;}
.{color:#05f758;}
x{color:#05f901;}
.{color:#05faaa;}
x{color:#05fc53;}
.{color:#05fdfc;}
x{color:#05ffa5;}
.{color:#06014e;}
x{color:#0602f7;}
.{color:#0604a0;}
x{color:#060649;}
.{color:#0607f2;}
x{color:#06099b;}
.{color:#060b44;}
x{color:#060ced;}
.{color:#060e96;}
x{color:#06103f;}
.{color:#0611e8;}
x{color:#061391;}
.{color:#06153a;}
x{color:#0616e3;}
.{color:#06188c;}
x{color:#061a35;}
.{color:#061bde;}
x{color:#061d87;}
.{color:#061f30;}
x{color:#0620d9;}
.{color:#062282;}
x{color:#06242b;}
.{color:#0625d4;}
x{color:#06277d;}
.{color:#062926;}
x{color:#062acf;}
.{color:#062c78;}
x{color:#062e21;}
.{color:#062fca;}
x{color:#063173;}
.{color:#06331c;}
x{color:#0634c5;}
.{color:#06366e;}
x{color:#063817;}
.{color:#0639c0;}
x{color:#063b69;}
.{color:#063d12;}
x{color:#063ebb;}
.{color:#064064;}
x{color:#06420d;}
.{color:#0643b6;}
x{color:#06455f;}
.{color:#064708;}
x{color:#0648b1;}
.{color:#064a5a;}
x{color:#064c03;}
.{color:#064dac;}
x{color:#064f55;}
.{color:#0650fe;}
x{color:#0652a7;}
.{color:#065450;}
x{color:#0655f9;}
.{color:#0657a2;}
x{color:#06594b;}
.{color:#065af4;}
x{color:#065c9d;}
.{color:#065e46;}
x{color:#065fef;}
.{color:#066198;}
x{color:#066341;}
.{color:#0664ea;}
x{color:#066693;}
.{color:#06683c;}
x{color:#0669e5;}
.{color:#066b8e;}
x{color:#066d37;}
.{color:#066ee0;}
x{color:#067089;}
.{color:#067232;}
x{color:#0673db;}
.{color:#067584;}
x{color:#06772d;}
.{color:#0678d6;}
x{color:#067a7f;}
