/* css */
.{color:#000000;}
x{color:#000143;}
.{color:#000286;}
x{color:#0003c9;}
.{color:#00050c;}
x{color:#00064f;}
.{color:#000792;}
x{color:#0008d5;}
.{color:#000a18;}
x{color:#000b5b;}
.{color:#000c9e;}
x{color:#000de1;}
.{color:#000f24;}
x{color:#001067;}
.{color:#0011aa;}
x{color:#0012ed;}
.{color:#001430;}
x{color:#001573;}
.{color:#0016b6;}
x{color:#0017f9;}
.{color:#00193c;}
x{color:#001a7f;}
.{color:#001bc2;}
x{color:#001d05;}
.{color:#001e48;}
x{color:#001f8b;}
.{color:#0020ce;}
x{color:#002211;}
.{color:#002354;}
x{color:#002497;}
.{color:#0025da;}
x{color:#00271d;}
.{color:#002860;}
x{color:#0029a3;}
.{color:#002ae6;}
x{color:#002c29;}
.{color:#002d6c;}
x{color:#002eaf;}
.{color:#002ff2;}
x{color:#003135;}
.{color:#003278;}
x{color:#0033bb;}
.{color:#0034fe;}
x{color:#003641;}
.{color:#003784;}
x{color:#0038c7;}
.{color:#003a0a;}
x{color:#003b4d;}
.{color:#003c90;}
x{color:#003dd3;}
.{color:#003f16;}
x{color:#004059;}
.{color:#00419c;}
x{color:#0042df;}
.{color:#004422;}
x{color:#004565;}
.{color:#0046a8;}
x{color:#0047eb;}
.{color:#00492e;}
x{color:#004a71;}
.{color:#004bb4;}
x{color:#004cf7;}
.{color:#004e3a;}
x{color:#004f7d;}
.{color:#0050c0;}
x{color:#005203;}
.{color:#005346;}
x{color:#005489;}
.{color:#0055cc;}
x{color:#00570f;}
.{color:#005852;}
x{color:#005995;}
.{color:#005ad8;}
x{color:#005c1b;}
.{color:#005d5e;}
x{color:#005ea1;}
.{color:#005fe4;}
x{color:#006127;}
.{color:#00626a;}
x{color:#0063ad;}
.{color:#0064f0;}
x{color:#006633;}
.{color:#006776;}
x{color:#0068b9;}
.{color:#0069fc;}
x{color:#006b3f;}
.{color:#006c82;}
x{color:#006dc5;}
.{color:#006f08;}
x{color:#00704b;}
.{color:#00718e;}
x{color:#0072d1;}
.{color:#007414;}
x{color:#007557;}
.{color:#00769a;}
x{color:#0077dd;}
.{color:#007920;}
x{color:#007a63;}
.{color:#007ba6;}
x{color:#007ce9;}
.{color:#007e2c;}
x{color:#007f6f;}
.{color:#0080b2;}
x{color:#0081f5;}
.{color:#008338;}
x{color:#00847b;}
.{color:#0085be;}
x{color:#008701;}
.{color:#008844;}
x{color:#008987;}
.{color:#008aca;}
x{color:#008c0d;}
.{color:#008d50;}
x{color:#008e93;}
.{color:#008fd6;}
x{color:#009119;}
.{color:#00925c;}
x{color:#00939f;}
.{color:#0094e2;}
x{color:#009625;}
.{color:#009768;}
x{color:#0098ab;}
.{color:#0099ee;}
x{color:#009b31;}
.{color:#009c74;}
x{color:#009db7;}
.{color:#009efa;}
x{color:#00a03d;}
.{color:#00a180;}
x{color:#00a2c3;}
.{color:#00a406;}
x{color:#00a549;}
.{color:#00a68c;}
x{color:#00a7cf;}
.{color:#00a912;}
x{color:#00aa55;}
.{color:#00ab98;}
x{color:#00acdb;}
.{color:#00ae1e;}
x{color:#00af61;}
.{color:#00b0a4;}
x{color:#00b1e7;}
.{color:#00b32a;}
x{color:#00b46d;}
.{color:#00b5b0;}
x{color:#00b6f3;}
.{color:#00b836;}
x{color:#00b979;}
.{color:#00babc;}
x{color:#00bbff;}
.{color:#00bd42;}
x{color:#00be85;}
.{color:#00bfc8;}
x{color:#00c10b;}
.{color:#00c24e;}
x{color:#00c391;}
.{color:#00c4d4;}
x{color:#00c617;}
.{color:#00c75a;}
x{color:#00c89d;}
.{color:#00c9e0;}
x{color:#00cb23;}
.{color:#00cc66;}
x{color:#00cda9;}
.{color:#00ceec;}
x{color:#00d02f;}
.{color:#00d172;}
x{color:#00d2b5;}
.{color:#00d3f8;}
x{color:#00d53b;}
.{color:#00d67e;}
x{color:#00d7c1;}
.{color:#00d904;}
x{color:#00da47;}
.{color:#00db8a;}
x{color:#00dccd;}
.{color:#00de10;}
x{color:#00df53;}
.{color:#00e096;}
x{color:#00e1d9;}
.{color:#00e31c;}
x{color:#00e45f;}
.{color:#00e5a2;}
x{color:#00e6e5;}
.{color:#00e828;}
x{color:#00e96b;}
.{color:#00eaae;}
x{color:#00ebf1;}
.{color:#00ed34;}
x{color:#00ee77;}
.{color:#00efba;}
x{color:#00f0fd;}
.{color:#00f240;}
x{color:#00f383;}
.{color:#00f4c6;}
x{color:#00f609;}
.{color:#00f74c;}
x{color:#00f88f;}
.{color:#00f9d2;}
x{color:#00fb15;}
.{color:#00fc58;}
x{color:#00fd9b;}
.{color:#00fede;}
x{color:#010021;}
.{color:#010164;}
x{color:#0102a7;}
.{color:#0103ea;}
x{color:#01052d;}
.{color:#010670;}
x{color:#0107b3;}
.{color:#0108f6;}
x{color:#010a39;}
.{color:#010b7c;}
x{color:#010cbf;}
.{color:#010e02;}
x{color:#010f45;}
.{color:#011088;}
x{color:#0111cb;}
.{color:#01130e;}
x{color:#011451;}
.{color:#011594;}
x{color:#0116d7;}
.{color:#01181a;}
x{color:#01195d;}
.{color:#011aa0;}
x{color:#011be3;}
.{color:#011d26;}
x{color:#011e69;}
.{color:#011fac;}
x{color:#0120ef;}
.{color:#012232;}
x{color:#012375;}
.{color:#0124b8;}
x{color:#0125fb;}
.{color:#01273e;}
x{color:#012881;}
.{color:#0129c4;}
x{color:#012b07;}
.{color:#012c4a;}
x{color:#012d8d;}
.{color:#012ed0;}
x{color:#013013;}
.{color:#013156;}
x{color:#013299;}
.{color:#0133dc;}
x{color:#01351f;}
.{color:#013662;}
x{color:#0137a5;}
.{color:#0138e8;}
x{color:#013a2b;}
.{color:#013b6e;}
x{color:#013cb1;}
.{color:#013df4;}
x{color:#013f37;}
.{color:#01407a;}
x{color:#0141bd;}
.{color:#014300;}
x{color:#014443;}
.{color:#014586;}
x{color:#0146c9;}
.{color:#01480c;}
x{color:#01494f;}
.{color:#014a92;}
x{color:#014bd5;}
.{color:#014d18;}
x{color:#014e5b;}
.{color:#014f9e;}
x{color:#0150e1;}
.{color:#015224;}
x{color:#015367;}
.{color:#0154aa;}
x{color:#0155ed;}
.{color:#015730;}
x{color:#015873;}
.{color:#0159b6;}
x{color:#015af9;}
.{color:#015c3c;}
x{color:#015d7f;}
.{color:#015ec2;}
x{color:#016005;}
.{color:#016148;}
x{color:#01628b;}
.{color:#0163ce;}
x{color:#016511;}
.{color:#016654;}
x{color:#016797;}
.{color:#0168da;}
x{color:#016a1d;}
.{color:#016b60;}
x{color:#016ca3;}
.{color:#016de6;}
x{color:#016f29;}
.{color:#01706c;}
x{color:#0171af;}
.{color:#0172f2;}
x{color:#017435;}
.{color:#017578;}
x{color:#0176bb;}
.{color:#0177fe;}
x{color:#017941;}
.{color:#017a84;}
x{color:#017bc7;}
.{color:#017d0a;}
x{color:#017e4d;}
.{color:#017f90;}
x{color:#0180d3;}
.{color:#018216;}
x{color:#018359;}
.{color:#01849c;}
x{color:#0185df;}
.{color:#018722;}
x{color:#018865;}
.{color:#0189a8;}
x{color:#018aeb;}
.{color:#018c2e;}
x{color:#018d71;}
.{color:#018eb4;}
x{color:#018ff7;}
.{color:#01913a;}
x{color:#01927d;}
.{color:#0193c0;}
x{color:#019503;}
.{color:#019646;}
x{color:#019789;}
.{color:#0198cc;}
x{color:#019a0f;}
.{color:#019b52;}
x{color:#019c95;}
.{color:#019dd8;}
x{color:#019f1b;}
.{color:#01a05e;}
x{color:#01a1a1;}
.{color:#01a2e4;}
x{color:#01a427;}
.{color:#01a56a;}
x{color:#01a6ad;}
.{color:#01a7f0;}
x{color:#01a933;}
.{color:#01aa76;}
x{color:#01abb9;}
.{color:#01acfc;}
x{color:#01ae3f;}
.{color:#01af82;}
x{color:#01b0c5;}
.{color:#01b208;}
x{color:#01b34b;}
.{color:#01b48e;}
x{color:#01b5d1;}
.{color:#01b714;}
x{color:#01b857;}
.{color:#01b99a;}
x{color:#01badd;}
.{color:#01bc20;}
x{color:#01bd63;}
.{color:#01bea6;}
x{color:#01bfe9;}
.{color:#01c12c;}
x{color:#01c26f;}
.{color:#01c3b2;}
x{color:#01c4f5;}
.{color:#01c638;}
x{color:#01c77b;}
.{color:#01c8be;}
x{color:#01ca01;}
.{color:#01cb44;}
x{color:#01cc87;}
.{color:#01cdca;}
x{color:#01cf0d;}
.{color:#01d050;}
x{color:#01d193;}
.{color:#01d2d6;}
x{color:#01d419;}
.{color:#01d55c;}
x{color:#01d69f;}
.{color:#01d7e2;}
x{color:#01d925;}
.{color:#01da68;}
x{color:#01dbab;}
.{color:#01dcee;}
x{color:#01de31;}
.{color:#01df74;}
x{color:#01e0b7;}
.{color:#01e1fa;}
x{color:#01e33d;}
.{color:#01e480;}
x{color:#01e5c3;}
.{color:#01e706;}
x{color:#01e849;}
.{color:#01e98c;}
x{color:#01eacf;}
.{color:#01ec12;}
x{color:#01ed55;}
.{color:#01ee98;}
x{color:#01efdb;}
.{color:#01f11e;}
x{color:#01f261;}
.{color:#01f3a4;}
x{color:#01f4e7;}
.{color:#01f62a;}
x{color:#01f76d;}
.{color:#01f8b0;}
x{color:#01f9f3;}
.{color:#01fb36;}
x{color:#01fc79;}
.{color:#01fdbc;}
x{color:#01feff;}
.{color:#020042;}
x{color:#020185;}
.{color:#0202c8;}
x{color:#02040b;}
.{color:#02054e;}
x{color:#020691;}
.{color:#0207d4;}
x{color:#020917;}
.{color:#020a5a;}
x{color:#020b9d;}
.{color:#020ce0;}
x{color:#020e23;}
.{color:#020f66;}
x{color:#0210a9;}
.{color:#0211ec;}
x{color:#02132f;}
.{color:#021472;}
x{color:#0215b5;}
.{color:#0216f8;}
x{color:#02183b;}
.{color:#02197e;}
x{color:#021ac1;}
.{color:#021c04;}
x{color:#021d47;}
.{color:#021e8a;}
x{color:#021fcd;}
.{color:#022110;}
x{color:#022253;}
.{color:#022396;}
x{color:#0224d9;}
.{color:#02261c;}
x{color:#02275f;}
.{color:#0228a2;}
x{color:#0229e5;}
.{color:#022b28;}
x{color:#022c6b;}
.{color:#022dae;}
x{color:#022ef1;}
.{color:#023034;}
x{color:#023177;}
.{color:#0232ba;}
x{color:#0233fd;}
.{color:#023540;}
x{color:#023683;}
.{color:#0237c6;}
x{color:#023909;}
.{color:#023a4c;}
x{color:#023b8f;}
.{color:#023cd2;}
x{color:#023e15;}
.{color:#023f58;}
x{color:#02409b;}
.{color:#0241de;}
x{color:#024321;}
.{color:#024464;}
x{color:#0245a7;}
.{color:#0246ea;}
x{color:#02482d;}
.{color:#024970;}
x{color:#024ab3;}
.{color:#024bf6;}
x{color:#024d39;}
.{color:#024e7c;}
x{color:#024fbf;}
.{color:#025102;}
x{color:#025245;}
.{color:#025388;}
x{color:#0254cb;}
.{color:#02560e;}
x{color:#025751;}
.{color:#025894;}
x{color:#0259d7;}
.{color:#025b1a;}
x{color:#025c5d;}
.{color:#025da0;}
x{color:#025ee3;}
.{color:#026026;}
x{color:#026169;}
.{color:#0262ac;}
x{color:#0263ef;}
.{color:#026532;}
x{color:#026675;}
.{color:#0267b8;}
x{color:#0268fb;}
.{color:#026a3e;}
x{color:#026b81;}
.{color:#026cc4;}
x{color:#026e07;}
.{color:#026f4a;}
x{color:#02708d;}
.{color:#0271d0;}
x{color:#027313;}
.{color:#027456;}
x{color:#027599;}
.{color:#0276dc;}
x{color:#02781f;}
.{color:#027962;}
x{color:#027aa5;}
.{color:#027be8;}
x{color:#027d2b;}
.{color:#027e6e;}
x{color:#027fb1;}
.{color:#0280f4;}
x{color:#028237;}
.{color:#02837a;}
x{color:#0284bd;}
.{color:#028600;}
x{color:#028743;}
.{color:#028886;}
x{color:#0289c9;}
.{color:#028b0c;}
x{color:#028c4f;}
.{color:#028d92;}
x{color:#028ed5;}
.{color:#029018;}
x{color:#02915b;}
.{color:#02929e;}
x{color:#0293e1;}
.{color:#029524;}
x{color:#029667;}
.{color:#0297aa;}
x{color:#0298ed;}
.{color:#029a30;}
x{color:#029b73;}
.{color:#029cb6;}
x{color:#029df9;}
.{color:#029f3c;}
x{color:#02a07f;}
.{color:#02a1c2;}
x{color:#02a305;}
.{color:#02a448;}
x{color:#02a58b;}
.{color:#02a6ce;}
x{color:#02a811;}
.{color:#02a954;}
x{color:#02aa97;}
.{color:#02abda;}
x{color:#02ad1d;}
.{color:#02ae60;}
x{color:#02afa3;}
.{color:#02b0e6;}
x{color:#02b229;}
.{color:#02b36c;}
x{color:#02b4af;}
.{color:#02b5f2;}
x{color:#02b735;}
.{color:#02b878;}
x{color:#02b9bb;}
.{color:#02bafe;}
x{color:#02bc41;}
.{color:#02bd84;}
x{color:#02bec7;}
.{color:#02c00a;}
x{color:#02c14d;}
.{color:#02c290;}
x{color:#02c3d3;}
.{color:#02c516;}
x{color:#02c659;}
.{color:#02c79c;}
x{color:#02c8df;}
.{color:#02ca22;}
x{color:#02cb65;}
.{color:#02cca8;}
x{color:#02cdeb;}
.{color:#02cf2e;}
x{color:#02d071;}
.{color:#02d1b4;}
x{color:#02d2f7;}
.{color:#02d43a;}
x{color:#02d57d;}
.{color:#02d6c0;}
x{color:#02d803;}
.{color:#02d946;}
x{color:#02da89;}
.{color:#02dbcc;}
x{color:#02dd0f;}
.{color:#02de52;}
x{color:#02df95;}
.{color:#02e0d8;}
x{color:#02e21b;}
.{color:#02e35e;}
x{color:#02e4a1;}
.{color:#02e5e4;}
x{color:#02e727;}
.{color:#02e86a;}
x{color:#02e9ad;}
.{color:#02eaf0;}
x{color:#02ec33;}
.{color:#02ed76;}
x{color:#02eeb9;}
.{color:#02effc;}
x{color:#02f13f;}
.{color:#02f282;}
x{color:#02f3c5;}
.{color:#02f508;}
x{color:#02f64b;}
.{color:#02f78e;}
x{color:#02f8d1;}
.{color:#02fa14;}
x{color:#02fb57;}
.{color:#02fc9a;}
x{color:#02fddd;}
.{color:#02ff20;}
x{color:#030063;}
.{color:#0301a6;}
x{color:#0302e9;}
.{color:#03042c;}
x{color:#03056f;}
.{color:#0306b2;}
x{color:#0307f5;}
.{color:#030938;}
x{color:#030a7b;}
.{color:#030bbe;}
x{color:#030d01;}
.{color:#030e44;}
x{color:#030f87;}
.{color:#0310ca;}
x{color:#03120d;}
.{color:#031350;}
x{color:#031493;}
.{color:#0315d6;}
x{color:#031719;}
.{color:#03185c;}
x{color:#03199f;}
.{color:#031ae2;}
x{color:#031c25;}
.{color:#031d68;}
x{color:#031eab;}
.{color:#031fee;}
x{color:#032131;}
.{color:#032274;}
x{color:#0323b7;}
.{color:#0324fa;}
x{color:#03263d;}
.{color:#032780;}
x{color:#0328c3;}
.{color:#032a06;}
x{color:#032b49;}
.{color:#032c8c;}
x{color:#032dcf;}
.{color:#032f12;}
x{color:#033055;}
.{color:#033198;}
x{color:#0332db;}
.{color:#03341e;}
x{color:#033561;}
.{color:#0336a4;}
x{color:#0337e7;}
.{color:#03392a;}
x{color:#033a6d;}
.{color:#033bb0;}
x{color:#033cf3;}
.{color:#033e36;}
x{color:#033f79;}
.{color:#0340bc;}
x{color:#0341ff;}
.{color:#034342;}
x{color:#034485;}
.{color:#0345c8;}
x{color:#03470b;}
.{color:#03484e;}
x{color:#034991;}
.{color:#034ad4;}
x{color:#034c17;}
.{color:#034d5a;}
x{color:#034e9d;}
.{color:#034fe0;}
x{color:#035123;}
.{color:#035266;}
x{color:#0353a9;}
.{color:#0354ec;}
x{color:#03562f;}
.{color:#035772;}
x{color:#0358b5;}
.{color:#0359f8;}
x{color:#035b3b;}
.{color:#035c7e;}
x{color:#035dc1;}
.{color:#035f04;}
x{color:#036047;}
.{color:#03618a;}
x{color:#0362cd;}
.{color:#036410;}
x{color:#036553;}
.{color:#036696;}
x{color:#0367d9;}
.{color:#03691c;}
x{color:#036a5f;}
.{color:#036ba2;}
x{color:#036ce5;}
.{color:#036e28;}
x{color:#036f6b;}
.{color:#0370ae;}
x{color:#0371f1;}
.{color:#037334;}
x{color:#037477;}
.{color:#0375ba;}
x{color:#0376fd;}
.{color:#037840;}
x{color:#037983;}
.{color:#037ac6;}
x{color:#037c09;}
.{color:#037d4c;}
x{color:#037e8f;}
.{color:#037fd2;}
x{color:#038115;}
.{color:#038258;}
x{color:#03839b;}
.{color:#0384de;}
x{color:#038621;}
.{color:#038764;}
x{color:#0388a7;}
.{color:#0389ea;}
x{color:#038b2d;}
.{color:#038c70;}
x{color:#038db3;}
.{color:#038ef6;}
x{color:#039039;}
.{color:#03917c;}
x{color:#0392bf;}
.{color:#039402;}
x{color:#039545;}
.{color:#039688;}
x{color:#0397cb;}
.{color:#03990e;}
x{color:#039a51;}
.{color:#039b94;}
x{color:#039cd7;}
.{color:#039e1a;}
x{color:#039f5d;}
.{color:#03a0a0;}
x{color:#03a1e3;}
.{color:#03a326;}
x{color:#03a469;}
.{color:#03a5ac;}
x{color:#03a6ef;}
.{color:#03a832;}
x{color:#03a975;}
.{color:#03aab8;}
x{color:#03abfb;}
.{color:#03ad3e;}
x{color:#03ae81;}
.{color:#03afc4;}
x{color:#03b107;}
.{color:#03b24a;}
x{color:#03b38d;}
.{color:#03b4d0;}
x{color:#03b613;}
.{color:#03b756;}
x{color:#03b899;}
.{color:#03b9dc;}
x{color:#03bb1f;}
.{color:#03bc62;}
x{color:#03bda5;}
.{color:#03bee8;}
x{color:#03c02b;}
.{color:#03c16e;}
x{color:#03c2b1;}
.{color:#03c3f4;}
x{color:#03c537;}
.{color:#03c67a;}
x{color:#03c7bd;}
.{color:#03c900;}
x{color:#03ca43;}
.{color:#03cb86;}
x{color:#03ccc9;}
.{color:#03ce0c;}
x{color:#03cf4f;}
.{color:#03d092;}
x{color:#03d1d5;}
.{color:#03d318;}
x{color:#03d45b;}
.{color:#03d59e;}
x{color:#03d6e1;}
.{color:#03d824;}
x{color:#03d967;}
.{color:#03daaa;}
x{color:#03dbed;}
.{color:#03dd30;}
x{color:#03de73;}
.{color:#03dfb6;}
x{color:#03e0f9;}
.{color:#03e23c;}
x{color:#03e37f;}
.{color:#03e4c2;}
x{color:#03e605;}
.{color:#03e748;}
x{color:#03e88b;}
.{color:#03e9ce;}
x{color:#03eb11;}
.{color:#03ec54;}
x{color:#03ed97;}
.{color:#03eeda;}
x{color:#03f01d;}
.{color:#03f160;}
x{color:#03f2a3;}
.{color:#03f3e6;}
x{color:#03f529;}
.{color:#03f66c;}
x{color:#03f7af;}
.{color:#03f8f2;}
x{color:#03fa35;}
.{color:#03fb78;}
x{color:#03fcbb;}
.{color:#03fdfe;}
x{color:#03ff41;}
.{color:#040084;}
x{color:#0401c7;}
.{color:#04030a;}
x{color:#04044d;}
.{color:#040590;}
x{color:#0406d3;}
.{color:#040816;}
x{color:#040959;}
.{color:#040a9c;}
x{color:#040bdf;}
.{color:#040d22;}
x{color:#040e65;}
.{color:#040fa8;}
x{color:#0410eb;}
.{color:#04122e;}
x{color:#041371;}
.{color:#0414b4;}
x{color:#0415f7;}
.{color:#04173a;}
x{color:#04187d;}
.{color:#0419c0;}
x{color:#041b03;}
.{color:#041c46;}
x{color:#041d89;}
.{color:#041ecc;}
x{color:#04200f;}
.{color:#042152;}
x{color:#042295;}
.{color:#0423d8;}
x{color:#04251b;}
.{color:#04265e;}
x{color:#0427a1;}
.{color:#0428e4;}
x{color:#042a27;}
.{color:#042b6a;}
x{color:#042cad;}
.{color:#042df0;}
x{color:#042f33;}
.{color:#043076;}
x{color:#0431b9;}
.{color:#0432fc;}
x{color:#04343f;}
.{color:#043582;}
x{color:#0436c5;}
.{color:#043808;}
x{color:#04394b;}
.{color:#043a8e;}
x{color:#043bd1;}
.{color:#043d14;}
x{color:#043e57;}
.{color:#043f9a;}
x{color:#0440dd;}
.{color:#044220;}
x{color:#044363;}
.{color:#0444a6;}
x{color:#0445e9;}
.{color:#04472c;}
x{color:#04486f;}
.{color:#0449b2;}
x{color:#044af5;}
.{color:#044c38;}
x{color:#044d7b;}
.{color:#044ebe;}
x{color:#045001;}
.{color:#045144;}
x{color:#045287;}
.{color:#0453ca;}
x{color:#04550d;}
.{color:#045650;}
x{color:#045793;}
.{color:#0458d6;}
x{color:#045a19;}
.{color:#045b5c;}
x{color:#045c9f;}
.{color:#045de2;}
x{color:#045f25;}
.{color:#046068;}
x{color:#0461ab;}
.{color:#0462ee;}
x{color:#046431;}
.{color:#046574;}
x{color:#0466b7;}
.{color:#0467fa;}
x{color:#04693d;}
.{color:#046a80;}
x{color:#046bc3;}
.{color:#046d06;}
x{color:#046e49;}
.{color:#046f8c;}
x{color:#0470cf;}
.{color:#047212;}
x{color:#047355;}
.{color:#047498;}
x{color:#0475db;}
.{color:#04771e;}
x{color:#047861;}
.{color:#0479a4;}
x{color:#047ae7;}
.{color:#047c2a;}
x{color:#047d6d;}
.{color:#047eb0;}
x{color:#047ff3;}
.{color:#048136;}
x{color:#048279;}
.{color:#0483bc;}
x{color:#0484ff;}
.{color:#048642;}
x{color:#048785;}
.{color:#0488c8;}
x{color:#048a0b;}
.{color:#048b4e;}
x{color:#048c91;}
.{color:#048dd4;}
x{color:#048f17;}
.{color:#04905a;}
x{color:#04919d;}
.{color:#0492e0;}
x{color:#049423;}
.{color:#049566;}
x{color:#0496a9;}
.{color:#0497ec;}
x{color:#04992f;}
.{color:#049a72;}
x{color:#049bb5;}
.{color:#049cf8;}
x{color:#049e3b;}
.{color:#049f7e;}
x{color:#04a0c1;}
.{color:#04a204;}
x{color:#04a347;}
.{color:#04a48a;}
x{color:#04a5cd;}
.{color:#04a710;}
x{color:#04a853;}
.{color:#04a996;}
x{color:#04aad9;}
.{color:#04ac1c;}
x{color:#04ad5f;}
.{color:#04aea2;}
x{color:#04afe5;}
.{color:#04b128;}
x{color:#04b26b;}
.{color:#04b3ae;}
x{color:#04b4f1;}
.{color:#04b634;}
x{color:#04b777;}
.{color:#04b8ba;}
x{color:#04b9fd;}
.{color:#04bb40;}
x{color:#04bc83;}
.{color:#04bdc6;}
x{color:#04bf09;}
.{color:#04c04c;}
x{color:#04c18f;}
.{color:#04c2d2;}
x{color:#04c415;}
.{color:#04c558;}
x{color:#04c69b;}
.{color:#04c7de;}
x{color:#04c921;}
.{color:#04ca64;}
x{color:#04cba7;}
.{color:#04ccea;}
x{color:#04ce2d;}
.{color:#04cf70;}
x{color:#04d0b3;}
.{color:#04d1f6;}
x{color:#04d339;}
.{color:#04d47c;}
x{color:#04d5bf;}
.{color:#04d702;}
x{color:#04d845;}
.{color:#04d988;}
x{color:#04dacb;}
.{color:#04dc0e;}
x{color:#04dd51;}
.{color:#04de94;}
x{color:#04dfd7;}
.{color:#04e11a;}
x{color:#04e25d;}
.{color:#04e3a0;}
x{color:#04e4e3;}
.{color:#04e626;}
x{color:#04e769;}
.{color:#04e8ac;}
x{color:#04e9ef;}
.{color:#04eb32;}
x{color:#04ec75;}
