/* css */
.{color:#000000;}
x{color:#0001dc;}
.{color:#0003b8;}
x{color:#000594;}
.{color:#000770;}
x{color:#00094c;}
.{color:#000b28;}
x{color:#000d04;}
.{color:#000ee0;}
x{color:#0010bc;}
.{color:#001298;}
x{color:#001474;}
.{color:#001650;}
x{color:#00182c;}
.{color:#001a08;}
x{color:#001be4;}
.{color:#001dc0;}
x{color:#001f9c;}
.{color:#002178;}
x{color:#002354;}
.{color:#002530;}
x{color:#00270c;}
.{color:#0028e8;}
x{color:#002ac4;}
.{color:#002ca0;}
x{color:#002e7c;}
.{color:#003058;}
x{color:#003234;}
.{color:#003410;}
x{color:#0035ec;}
.{color:#0037c8;}
x{color:#0039a4;}
.{color:#003b80;}
x{color:#003d5c;}
.{color:#003f38;}
x{color:#004114;}
.{color:#0042f0;}
x{color:#0044cc;}
.{color:#0046a8;}
x{color:#004884;}
.{color:#004a60;}
x{color:#004c3c;}
.{color:#004e18;}
x{color:#004ff4;}
.{color:#0051d0;}
x{color:#0053ac;}
.{color:#005588;}
x{color:#005764;}
.{color:#005940;}
x{color:#005b1c;}
.{color:#005cf8;}
x{color:#005ed4;}
.{color:#0060b0;}
x{color:#00628c;}
.{color:#006468;}
x{color:#006644;}
.{color:#006820;}
x{color:#0069fc;}
.{color:#006bd8;}
x{color:#006db4;}
.{color:#006f90;}
x{color:#00716c;}
.{color:#007348;}
x{color:#007524;}
.{color:#007700;}
x{color:#0078dc;}
.{color:#007ab8;}
x{color:#007c94;}
.{color:#007e70;}
x{color:#00804c;}
.{color:#008228;}
x{color:#008404;}
.{color:#0085e0;}
x{color:#0087bc;}
.{color:#008998;}
x{color:#008b74;}
.{color:#008d50;}
x{color:#008f2c;}
.{color:#009108;}
x{color:#0092e4;}
.{color:#0094c0;}
x{color:#00969c;}
.{color:#009878;}
x{color:#009a54;}
.{color:#009c30;}
x{color:#009e0c;}
.{color:#009fe8;}
x{color:#00a1c4;}
.{color:#00a3a0;}
x{color:#00a57c;}
.{color:#00a758;}
x{color:#00a934;}
.{color:#00ab10;}
x{color:#00acec;}
.{color:#00aec8;}
x{color:#00b0a4;}
.{color:#00b280;}
x{color:#00b45c;}
.{color:#00b638;}
x{color:#00b814;}
.{color:#00b9f0;}
x{color:#00bbcc;}
.{color:#00bda8;}
x{color:#00bf84;}
.{color:#00c160;}
x{color:#00c33c;}
.{color:#00c518;}
x{color:#00c6f4;}
.{color:#00c8d0;}
x{color:#00caac;}
.{color:#00cc88;}
x{color:#00ce64;}
.{color:#00d040;}
x{color:#00d21c;}
.{color:#00d3f8;}
x{color:#00d5d4;}
.{color:#00d7b0;}
x{color:#00d98c;}
.{color:#00db68;}
x{color:#00dd44;}
.{color:#00df20;}
x{color:#00e0fc;}
.{color:#00e2d8;}
x{color:#00e4b4;}
.{color:#00e690;}
x{color:#00e86c;}
.{color:#00ea48;}
x{color:#00ec24;}
.{color:#00ee00;}
x{color:#00efdc;}
.{color:#00f1b8;}
x{color:#00f394;}
.{color:#00f570;}
x{color:#00f74c;}
.{color:#00f928;}
x{color:#00fb04;}
.{color:#00fce0;}
x{color:#00febc;}
.{color:#010098;}
x{color:#010274;}
.{color:#010450;}
x{color:#01062c;}
.{color:#010808;}
x{color:#0109e4;}
.{color:#010bc0;}
x{color:#010d9c;}
.{color:#010f78;}
x{color:#011154;}
.{color:#011330;}
x{color:#01150c;}
.{color:#0116e8;}
x{color:#0118c4;}
.{color:#011aa0;}
x{color:#011c7c;}
.{color:#011e58;}
x{color:#012034;}
.{color:#012210;}
x{color:#0123ec;}
.{color:#0125c8;}
x{color:#0127a4;}
.{color:#012980;}
x{color:#012b5c;}
.{color:#012d38;}
x{color:#012f14;}
.{color:#0130f0;}
x{color:#0132cc;}
.{color:#0134a8;}
x{color:#013684;}
.{color:#013860;}
x{color:#013a3c;}
.{color:#013c18;}
x{color:#013df4;}
.{color:#013fd0;}
x{color:#0141ac;}
.{color:#014388;}
x{color:#014564;}
.{color:#014740;}
x{color:#01491c;}
.{color:#014af8;}
x{color:#014cd4;}
.{color:#014eb0;}
x{color:#01508c;}
.{color:#015268;}
x{color:#015444;}
.{color:#015620;}
x{color:#0157fc;}
.{color:#0159d8;}
x{color:#015bb4;}
.{color:#015d90;}
x{color:#015f6c;}
.{color:#016148;}
x{color:#016324;}
.{color:#016500;}
x{color:#0166dc;}
.{color:#0168b8;}
x{color:#016a94;}
.{color:#016c70;}
x{color:#016e4c;}
.{color:#017028;}
x{color:#017204;}
.{color:#0173e0;}
x{color:#0175bc;}
.{color:#017798;}
x{color:#017974;}
.{color:#017b50;}
x{color:#017d2c;}
.{color:#017f08;}
x{color:#0180e4;}
.{color:#0182c0;}
x{color:#01849c;}
.{color:#018678;}
x{color:#018854;}
.{color:#018a30;}
x{color:#018c0c;}
.{color:#018de8;}
x{color:#018fc4;}
.{color:#0191a0;}
x{color:#01937c;}
.{color:#019558;}
x{color:#019734;}
.{color:#019910;}
x{color:#019aec;}
.{color:#019cc8;}
x{color:#019ea4;}
.{color:#01a080;}
x{color:#01a25c;}
.{color:#01a438;}
x{color:#01a614;}
.{color:#01a7f0;}
x{color:#01a9cc;}
.{color:#01aba8;}
x{color:#01ad84;}
.{color:#01af60;}
x{color:#01b13c;}
.{color:#01b318;}
x{color:#01b4f4;}
.{color:#01b6d0;}
x{color:#01b8ac;}
.{color:#01ba88;}
x{color:#01bc64;}
.{color:#01be40;}
x{color:#01c01c;}
.{color:#01c1f8;}
x{color:#01c3d4;}
.{color:#01c5b0;}
x{color:#01c78c;}
.{color:#01c968;}
x{color:#01cb44;}
.{color:#01cd20;}
x{color:#01cefc;}
.{color:#01d0d8;}
x{color:#01d2b4;}
.{color:#01d490;}
x{color:#01d66c;}
.{color:#01d848;}
x{color:#01da24;}
.{color:#01dc00;}
x{color:#01dddc;}
.{color:#01dfb8;}
x{color:#01e194;}
.{color:#01e370;}
x{color:#01e54c;}
.{color:#01e728;}
x{color:#01e904;}
.{color:#01eae0;}
x{color:#01ecbc;}
.{color:#01ee98;}
x{color:#01f074;}
.{color:#01f250;}
x{color:#01f42c;}
.{color:#01f608;}
x{color:#01f7e4;}
.{color:#01f9c0;}
x{color:#01fb9c;}
.{color:#01fd78;}
x{color:#01ff54;}
.{color:#020130;}
x{color:#02030c;}
.{color:#0204e8;}
x{color:#0206c4;}
.{color:#0208a0;}
x{color:#020a7c;}
.{color:#020c58;}
x{color:#020e34;}
.{color:#021010;}
x{color:#0211ec;}
.{color:#0213c8;}
x{color:#0215a4;}
.{color:#021780;}
x{color:#02195c;}
.{color:#021b38;}
x{color:#021d14;}
.{color:#021ef0;}
x{color:#0220cc;}
.{color:#0222a8;}
x{color:#022484;}
.{color:#022660;}
x{color:#02283c;}
.{color:#022a18;}
x{color:#022bf4;}
.{color:#022dd0;}
x{color:#022fac;}
.{color:#023188;}
x{color:#023364;}
.{color:#023540;}
x{color:#02371c;}
.{color:#0238f8;}
x{color:#023ad4;}
.{color:#023cb0;}
x{color:#023e8c;}
.{color:#024068;}
x{color:#024244;}
.{color:#024420;}
x{color:#0245fc;}
.{color:#0247d8;}
x{color:#0249b4;}
.{color:#024b90;}
x{color:#024d6c;}
.{color:#024f48;}
x{color:#025124;}
.{color:#025300;}
x{color:#0254dc;}
.{color:#0256b8;}
x{color:#025894;}
.{color:#025a70;}
x{color:#025c4c;}
.{color:#025e28;}
x{color:#026004;}
.{color:#0261e0;}
x{color:#0263bc;}
.{color:#026598;}
x{color:#026774;}
.{color:#026950;}
x{color:#026b2c;}
.{color:#026d08;}
x{color:#026ee4;}
.{color:#0270c0;}
x{color:#02729c;}
.{color:#027478;}
x{color:#027654;}
.{color:#027830;}
x{color:#027a0c;}
.{color:#027be8;}
x{color:#027dc4;}
.{color:#027fa0;}
x{color:#02817c;}
.{color:#028358;}
x{color:#028534;}
.{color:#028710;}
x{color:#0288ec;}
.{color:#028ac8;}
x{color:#028ca4;}
.{color:#028e80;}
x{color:#02905c;}
.{color:#029238;}
x{color:#029414;}
.{color:#0295f0;}
x{color:#0297cc;}
.{color:#0299a8;}
x{color:#029b84;}
.{color:#029d60;}
x{color:#029f3c;}
.{color:#02a118;}
x{color:#02a2f4;}
.{color:#02a4d0;}
x{color:#02a6ac;}
.{color:#02a888;}
x{color:#02aa64;}
.{color:#02ac40;}
x{color:#02ae1c;}
.{color:#02aff8;}
x{color:#02b1d4;}
.{color:#02b3b0;}
x{color:#02b58c;}
.{color:#02b768;}
x{color:#02b944;}
.{color:#02bb20;}
x{color:#02bcfc;}
.{color:#02bed8;}
x{color:#02c0b4;}
.{color:#02c290;}
x{color:#02c46c;}
.{color:#02c648;}
x{color:#02c824;}
.{color:#02ca00;}
x{color:#02cbdc;}
.{color:#02cdb8;}
x{color:#02cf94;}
.{color:#02d170;}
x{color:#02d34c;}
.{color:#02d528;}
x{color:#02d704;}
.{color:#02d8e0;}
x{color:#02dabc;}
.{color:#02dc98;}
x{color:#02de74;}
.{color:#02e050;}
x{color:#02e22c;}
.{color:#02e408;}
x{color:#02e5e4;}
.{color:#02e7c0;}
x{color:#02e99c;}
.{color:#02eb78;}
x{color:#02ed54;}
.{color:#02ef30;}
x{color:#02f10c;}
.{color:#02f2e8;}
x{color:#02f4c4;}
.{color:#02f6a0;}
x{color:#02f87c;}
.{color:#02fa58;}
x{color:#02fc34;}
.{color:#02fe10;}
x{color:#02ffec;}
.{color:#0301c8;}
x{color:#0303a4;}
.{color:#030580;}
x{color:#03075c;}
.{color:#030938;}
x{color:#030b14;}
.{color:#030cf0;}
x{color:#030ecc;}
.{color:#0310a8;}
x{color:#031284;}
.{color:#031460;}
x{color:#03163c;}
.{color:#031818;}
x{color:#0319f4;}
.{color:#031bd0;}
x{color:#031dac;}
.{color:#031f88;}
x{color:#032164;}
.{color:#032340;}
x{color:#03251c;}
.{color:#0326f8;}
x{color:#0328d4;}
.{color:#032ab0;}
x{color:#032c8c;}
.{color:#032e68;}
x{color:#033044;}
.{color:#033220;}
x{color:#0333fc;}
.{color:#0335d8;}
x{color:#0337b4;}
.{color:#033990;}
x{color:#033b6c;}
.{color:#033d48;}
x{color:#033f24;}
.{color:#034100;}
x{color:#0342dc;}
.{color:#0344b8;}
x{color:#034694;}
.{color:#034870;}
x{color:#034a4c;}
.{color:#034c28;}
x{color:#034e04;}
.{color:#034fe0;}
x{color:#0351bc;}
.{color:#035398;}
x{color:#035574;}
.{color:#035750;}
x{color:#03592c;}
.{color:#035b08;}
x{color:#035ce4;}
.{color:#035ec0;}
x{color:#03609c;}
.{color:#036278;}
x{color:#036454;}
.{color:#036630;}
x{color:#03680c;}
.{color:#0369e8;}
x{color:#036bc4;}
.{color:#036da0;}
x{color:#036f7c;}
.{color:#037158;}
x{color:#037334;}
.{color:#037510;}
x{color:#0376ec;}
.{color:#0378c8;}
x{color:#037aa4;}
.{color:#037c80;}
x{color:#037e5c;}
.{color:#038038;}
x{color:#038214;}
.{color:#0383f0;}
x{color:#0385cc;}
.{color:#0387a8;}
x{color:#038984;}
.{color:#038b60;}
x{color:#038d3c;}
.{color:#038f18;}
x{color:#0390f4;}
.{color:#0392d0;}
x{color:#0394ac;}
.{color:#039688;}
x{color:#039864;}
.{color:#039a40;}
x{color:#039c1c;}
.{color:#039df8;}
x{color:#039fd4;}
.{color:#03a1b0;}
x{color:#03a38c;}
.{color:#03a568;}
x{color:#03a744;}
.{color:#03a920;}
x{color:#03aafc;}
.{color:#03acd8;}
x{color:#03aeb4;}
.{color:#03b090;}
x{color:#03b26c;}
.{color:#03b448;}
x{color:#03b624;}
.{color:#03b800;}
x{color:#03b9dc;}
.{color:#03bbb8;}
x{color:#03bd94;}
.{color:#03bf70;}
x{color:#03c14c;}
.{color:#03c328;}
x{color:#03c504;}
.{color:#03c6e0;}
x{color:#03c8bc;}
.{color:#03ca98;}
x{color:#03cc74;}
.{color:#03ce50;}
x{color:#03d02c;}
.{color:#03d208;}
x{color:#03d3e4;}
.{color:#03d5c0;}
x{color:#03d79c;}
.{color:#03d978;}
x{color:#03db54;}
.{color:#03dd30;}
x{color:#03df0c;}
.{color:#03e0e8;}
x{color:#03e2c4;}
.{color:#03e4a0;}
x{color:#03e67c;}
.{color:#03e858;}
x{color:#03ea34;}
.{color:#03ec10;}
x{color:#03edec;}
.{color:#03efc8;}
x{color:#03f1a4;}
.{color:#03f380;}
x{color:#03f55c;}
.{color:#03f738;}
x{color:#03f914;}
.{color:#03faf0;}
x{color:#03fccc;}
.{color:#03fea8;}
x{color:#040084;}
.{color:#040260;}
x{color:#04043c;}
.{color:#040618;}
x{color:#0407f4;}
.{color:#0409d0;}
x{color:#040bac;}
.{color:#040d88;}
x{color:#040f64;}
.{color:#041140;}
x{color:#04131c;}
.{color:#0414f8;}
x{color:#0416d4;}
.{color:#0418b0;}
x{color:#041a8c;}
.{color:#041c68;}
x{color:#041e44;}
.{color:#042020;}
x{color:#0421fc;}
.{color:#0423d8;}
x{color:#0425b4;}
.{color:#042790;}
x{color:#04296c;}
.{color:#042b48;}
x{color:#042d24;}
.{color:#042f00;}
x{color:#0430dc;}
.{color:#0432b8;}
x{color:#043494;}
.{color:#043670;}
x{color:#04384c;}
.{color:#043a28;}
x{color:#043c04;}
.{color:#043de0;}
x{color:#043fbc;}
.{color:#044198;}
x{color:#044374;}
.{color:#044550;}
x{color:#04472c;}
.{color:#044908;}
x{color:#044ae4;}
.{color:#044cc0;}
x{color:#044e9c;}
.{color:#045078;}
x{color:#045254;}
.{color:#045430;}
x{color:#04560c;}
.{color:#0457e8;}
x{color:#0459c4;}
.{color:#045ba0;}
x{color:#045d7c;}
.{color:#045f58;}
x{color:#046134;}
.{color:#046310;}
x{color:#0464ec;}
.{color:#0466c8;}
x{color:#0468a4;}
.{color:#046a80;}
x{color:#046c5c;}
.{color:#046e38;}
x{color:#047014;}
.{color:#0471f0;}
x{color:#0473cc;}
.{color:#0475a8;}
x{color:#047784;}
.{color:#047960;}
x{color:#047b3c;}
.{color:#047d18;}
x{color:#047ef4;}
.{color:#0480d0;}
x{color:#0482ac;}
.{color:#048488;}
x{color:#048664;}
.{color:#048840;}
x{color:#048a1c;}
.{color:#048bf8;}
x{color:#048dd4;}
.{color:#048fb0;}
x{color:#04918c;}
.{color:#049368;}
x{color:#049544;}
.{color:#049720;}
x{color:#0498fc;}
.{color:#049ad8;}
x{color:#049cb4;}
.{color:#049e90;}
x{color:#04a06c;}
.{color:#04a248;}
x{color:#04a424;}
.{color:#04a600;}
x{color:#04a7dc;}
.{color:#04a9b8;}
x{color:#04ab94;}
.{color:#04ad70;}
x{color:#04af4c;}
.{color:#04b128;}
x{color:#04b304;}
.{color:#04b4e0;}
x{color:#04b6bc;}
.{color:#04b898;}
x{color:#04ba74;}
.{color:#04bc50;}
x{color:#04be2c;}
.{color:#04c008;}
x{color:#04c1e4;}
.{color:#04c3c0;}
x{color:#04c59c;}
.{color:#04c778;}
x{color:#04c954;}
.{color:#04cb30;}
x{color:#04cd0c;}
.{color:#04cee8;}
x{color:#04d0c4;}
.{color:#04d2a0;}
x{color:#04d47c;}
.{color:#04d658;}
x{color:#04d834;}
.{color:#04da10;}
x{color:#04dbec;}
.{color:#04ddc8;}
x{color:#04dfa4;}
.{color:#04e180;}
x{color:#04e35c;}
.{color:#04e538;}
x{color:#04e714;}
.{color:#04e8f0;}
x{color:#04eacc;}
.{color:#04eca8;}
x{color:#04ee84;}
.{color:#04f060;}
x{color:#04f23c;}
.{color:#04f418;}
x{color:#04f5f4;}
.{color:#04f7d0;}
x{color:#04f9ac;}
.{color:#04fb88;}
x{color:#04fd64;}
.{color:#04ff40;}
x{color:#05011c;}
.{color:#0502f8;}
x{color:#0504d4;}
.{color:#0506b0;}
x{color:#05088c;}
.{color:#050a68;}
x{color:#050c44;}
.{color:#050e20;}
x{color:#050ffc;}
.{color:#0511d8;}
x{color:#0513b4;}
.{color:#051590;}
x{color:#05176c;}
.{color:#051948;}
x{color:#051b24;}
.{color:#051d00;}
x{color:#051edc;}
.{color:#0520b8;}
x{color:#052294;}
.{color:#052470;}
x{color:#05264c;}
.{color:#052828;}
x{color:#052a04;}
.{color:#052be0;}
x{color:#052dbc;}
.{color:#052f98;}
x{color:#053174;}
.{color:#053350;}
x{color:#05352c;}
.{color:#053708;}
x{color:#0538e4;}
.{color:#053ac0;}
x{color:#053c9c;}
.{color:#053e78;}
x{color:#054054;}
.{color:#054230;}
x{color:#05440c;}
.{color:#0545e8;}
x{color:#0547c4;}
.{color:#0549a0;}
x{color:#054b7c;}
.{color:#054d58;}
x{color:#054f34;}
.{color:#055110;}
x{color:#0552ec;}
.{color:#0554c8;}
x{color:#0556a4;}
.{color:#055880;}
x{color:#055a5c;}
.{color:#055c38;}
x{color:#055e14;}
.{color:#055ff0;}
x{color:#0561cc;}
.{color:#0563a8;}
x{color:#056584;}
.{color:#056760;}
x{color:#05693c;}
.{color:#056b18;}
x{color:#056cf4;}
.{color:#056ed0;}
x{color:#0570ac;}
.{color:#057288;}
x{color:#057464;}
.{color:#057640;}
x{color:#05781c;}
.{color:#0579f8;}
x{color:#057bd4;}
.{color:#057db0;}
x{color:#057f8c;}
.{color:#058168;}
x{color:#058344;}
.{color:#058520;}
x{color:#0586fc;}
.{color:#0588d8;}
x{color:#058ab4;}
.{color:#058c90;}
x{color:#058e6c;}
.{color:#059048;}
x{color:#059224;}
.{color:#059400;}
x{color:#0595dc;}
.{color:#0597b8;}
x{color:#059994;}
.{color:#059b70;}
x{color:#059d4c;}
.{color:#059f28;}
x{color:#05a104;}
.{color:#05a2e0;}
x{color:#05a4bc;}
.{color:#05a698;}
x{color:#05a874;}
.{color:#05aa50;}
x{color:#05ac2c;}
.{color:#05ae08;}
x{color:#05afe4;}
.{color:#05b1c0;}
x{color:#05b39c;}
.{color:#05b578;}
x{color:#05b754;}
.{color:#05b930;}
x{color:#05bb0c;}
.{color:#05bce8;}
x{color:#05bec4;}
.{color:#05c0a0;}
x{color:#05c27c;}
.{color:#05c458;}
x{color:#05c634;}
.{color:#05c810;}
x{color:#05c9ec;}
.{color:#05cbc8;}
x{color:#05cda4;}
.{color:#05cf80;}
x{color:#05d15c;}
.{color:#05d338;}
x{color:#05d514;}
.{color:#05d6f0;}
x{color:#05d8cc;}
.{color:#05daa8;}
x{color:#05dc84;}
.{color:#05de60;}
x{color:#05e03c;}
.{color:#05e218;}
x{color:#05e3f4;}
.{color:#05e5d0;}
x{color:#05e7ac;}
.{color:#05e988;}
x{color:#05eb64;}
.{color:#05ed40;}
x{color:#05ef1c;}
.{color:#05f0f8;}
x{color:#05f2d4;}
.{color:#05f4b0;}
x{color:#05f68c;}
.{color:#05f868;}
x{color:#05fa44;}
.{color:#05fc20;}
x{color:#05fdfc;}
.{color:#05ffd8;}
x{color:#0601b4;}
.{color:#060390;}
x{color:#06056c;}
.{color:#060748;}
x{color:#060924;}
.{color:#060b00;}
x{color:#060cdc;}
.{color:#060eb8;}
x{color:#061094;}
.{color:#061270;}
x{color:#06144c;}
.{color:#061628;}
x{color:#061804;}
.{color:#0619e0;}
x{color:#061bbc;}
.{color:#061d98;}
x{color:#061f74;}
.{color:#062150;}
x{color:#06232c;}
.{color:#062508;}
x{color:#0626e4;}
.{color:#0628c0;}
x{color:#062a9c;}
.{color:#062c78;}
x{color:#062e54;}
.{color:#063030;}
x{color:#06320c;}
.{color:#0633e8;}
x{color:#0635c4;}
.{color:#0637a0;}
x{color:#06397c;}
.{color:#063b58;}
x{color:#063d34;}
.{color:#063f10;}
x{color:#0640ec;}
.{color:#0642c8;}
x{color:#0644a4;}
.{color:#064680;}
x{color:#06485c;}
.{color:#064a38;}
x{color:#064c14;}
.{color:#064df0;}
x{color:#064fcc;}
.{color:#0651a8;}
x{color:#065384;}
.{color:#065560;}
x{color:#06573c;}
.{color:#065918;}
x{color:#065af4;}
.{color:#065cd0;}
x{color:#065eac;}
.{color:#066088;}
x{color:#066264;}
.{color:#066440;}
x{color:#06661c;}
.{color:#0667f8;}
x{color:#0669d4;}
.{color:#066bb0;}
x{color:#066d8c;}
.{color:#066f68;}
x{color:#067144;}
.{color:#067320;}
x{color:#0674fc;}
.{color:#0676d8;}
x{color:#0678b4;}
.{color:#067a90;}
x{color:#067c6c;}
.{color:#067e48;}
x{color:#068024;}
.{color:#068200;}
x{color:#0683dc;}
.{color:#0685b8;}
x{color:#068794;}
.{color:#068970;}
x{color:#068b4c;}
.{color:#068d28;}
x{color:#068f04;}
.{color:#0690e0;}
x{color:#0692bc;}
.{color:#069498;}
x{color:#069674;}
.{color:#069850;}
x{color:#069a2c;}
.{color:#069c08;}
x{color:#069de4;}
.{color:#069fc0;}
x{color:#06a19c;}
.{color:#06a378;}
x{color:#06a554;}
.{color:#06a730;}
x{color:#06a90c;}
.{color:#06aae8;}
x{color:#06acc4;}
.{color:#06aea0;}
x{color:#06b07c;}
.{color:#06b258;}
x{color:#06b434;}
.{color:#06b610;}
x{color:#06b7ec;}
.{color:#06b9c8;}
x{color:#06bba4;}
.{color:#06bd80;}
x{color:#06bf5c;}
.{color:#06c138;}
x{color:#06c314;}
.{color:#06c4f0;}
x{color:#06c6cc;}
.{color:#06c8a8;}
x{color:#06ca84;}
.{color:#06cc60;}
x{color:#06ce3c;}
.{color:#06d018;}
x{color:#06d1f4;}
.{color:#06d3d0;}
x{color:#06d5ac;}
.{color:#06d788;}
x{color:#06d964;}
.{color:#06db40;}
x{color:#06dd1c;}
.{color:#06def8;}
x{color:#06e0d4;}
.{color:#06e2b0;}
x{color:#06e48c;}
.{color:#06e668;}
x{color:#06e844;}
.{color:#06ea20;}
x{color:#06ebfc;}
.{color:#06edd8;}
x{color:#06efb4;}
.{color:#06f190;}
x{color:#06f36c;}
.{color:#06f548;}
x{color:#06f724;}
.{color:#06f900;}
x{color:#06fadc;}
.{color:#06fcb8;}
x{color:#06fe94;}
.{color:#070070;}
x{color:#07024c;}
.{color:#070428;}
x{color:#070604;}
.{color:#0707e0;}
x{color:#0709bc;}
.{color:#070b98;}
x{color:#070d74;}
.{color:#070f50;}
x{color:#07112c;}
.{color:#071308;}
x{color:#0714e4;}
.{color:#0716c0;}
x{color:#07189c;}
.{color:#071a78;}
x{color:#071c54;}
.{color:#071e30;}
x{color:#07200c;}
.{color:#0721e8;}
x{color:#0723c4;}
.{color:#0725a0;}
x{color:#07277c;}
.{color:#072958;}
x{color:#072b34;}
.{color:#072d10;}
x{color:#072eec;}
.{color:#0730c8;}
x{color:#0732a4;}
.{color:#073480;}
x{color:#07365c;}
.{color:#073838;}
x{color:#073a14;}
.{color:#073bf0;}
x{color:#073dcc;}
.{color:#073fa8;}
x{color:#074184;}
