/* css */
.{color:#000000;}
x{color:#000198;}
.{color:#000330;}
x{color:#0004c8;}
.{color:#000660;}
x{color:#0007f8;}
.{color:#000990;}
x{color:#000b28;}
.{color:#000cc0;}
x{color:#000e58;}
.{color:#000ff0;}
x{color:#001188;}
.{color:#001320;}
x{color:#0014b8;}
.{color:#001650;}
x{color:#0017e8;}
.{color:#001980;}
x{color:#001b18;}
.{color:#001cb0;}
x{color:#001e48;}
.{color:#001fe0;}
x{color:#002178;}
.{color:#002310;}
x{color:#0024a8;}
.{color:#002640;}
x{color:#0027d8;}
.{color:#002970;}
x{color:#002b08;}
.{color:#002ca0;}
x{color:#002e38;}
.{color:#002fd0;}
x{color:#003168;}
.{color:#003300;}
x{color:#003498;}
.{color:#003630;}
x{color:#0037c8;}
.{color:#003960;}
x{color:#003af8;}
.{color:#003c90;}
x{color:#003e28;}
.{color:#003fc0;}
x{color:#004158;}
.{color:#0042f0;}
x{color:#004488;}
.{color:#004620;}
x{color:#0047b8;}
.{color:#004950;}
x{color:#004ae8;}
.{color:#004c80;}
x{color:#004e18;}
.{color:#004fb0;}
x{color:#005148;}
.{color:#0052e0;}
x{color:#005478;}
.{color:#005610;}
x{color:#0057a8;}
.{color:#005940;}
x{color:#005ad8;}
.{color:#005c70;}
x{color:#005e08;}
.{color:#005fa0;}
x{color:#006138;}
.{color:#0062d0;}
x{color:#006468;}
.{color:#006600;}
x{color:#006798;}
.{color:#006930;}
x{color:#006ac8;}
.{color:#006c60;}
x{color:#006df8;}
.{color:#006f90;}
x{color:#007128;}
.{color:#0072c0;}
x{color:#007458;}
.{color:#0075f0;}
x{color:#007788;}
.{color:#007920;}
x{color:#007ab8;}
.{color:#007c50;}
x{color:#007de8;}
.{color:#007f80;}
x{color:#008118;}
.{color:#0082b0;}
x{color:#008448;}
.{color:#0085e0;}
x{color:#008778;}
.{color:#008910;}
x{color:#008aa8;}
.{color:#008c40;}
x{color:#008dd8;}
.{color:#008f70;}
x{color:#009108;}
.{color:#0092a0;}
x{color:#009438;}
.{color:#0095d0;}
x{color:#009768;}
.{color:#009900;}
x{color:#009a98;}
.{color:#009c30;}
x{color:#009dc8;}
.{color:#009f60;}
x{color:#00a0f8;}
.{color:#00a290;}
x{color:#00a428;}
.{color:#00a5c0;}
x{color:#00a758;}
.{color:#00a8f0;}
x{color:#00aa88;}
.{color:#00ac20;}
x{color:#00adb8;}
.{color:#00af50;}
x{color:#00b0e8;}
.{color:#00b280;}
x{color:#00b418;}
.{color:#00b5b0;}
x{color:#00b748;}
.{color:#00b8e0;}
x{color:#00ba78;}
.{color:#00bc10;}
x{color:#00bda8;}
.{color:#00bf40;}
x{color:#00c0d8;}
.{color:#00c270;}
x{color:#00c408;}
.{color:#00c5a0;}
x{color:#00c738;}
.{color:#00c8d0;}
x{color:#00ca68;}
.{color:#00cc00;}
x{color:#00cd98;}
.{color:#00cf30;}
x{color:#00d0c8;}
.{color:#00d260;}
x{color:#00d3f8;}
.{color:#00d590;}
x{color:#00d728;}
.{color:#00d8c0;}
x{color:#00da58;}
.{color:#00dbf0;}
x{color:#00dd88;}
.{color:#00df20;}
x{color:#00e0b8;}
.{color:#00e250;}
x{color:#00e3e8;}
.{color:#00e580;}
x{color:#00e718;}
.{color:#00e8b0;}
x{color:#00ea48;}
.{color:#00ebe0;}
x{color:#00ed78;}
.{color:#00ef10;}
x{color:#00f0a8;}
.{color:#00f240;}
x{color:#00f3d8;}
.{color:#00f570;}
x{color:#00f708;}
.{color:#00f8a0;}
x{color:#00fa38;}
.{color:#00fbd0;}
x{color:#00fd68;}
.{color:#00ff00;}
x{color:#010098;}
.{color:#010230;}
x{color:#0103c8;}
.{color:#010560;}
x{color:#0106f8;}
.{color:#010890;}
x{color:#010a28;}
.{color:#010bc0;}
x{color:#010d58;}
.{color:#010ef0;}
x{color:#011088;}
.{color:#011220;}
x{color:#0113b8;}
.{color:#011550;}
x{color:#0116e8;}
.{color:#011880;}
x{color:#011a18;}
.{color:#011bb0;}
x{color:#011d48;}
.{color:#011ee0;}
x{color:#012078;}
.{color:#012210;}
x{color:#0123a8;}
.{color:#012540;}
x{color:#0126d8;}
.{color:#012870;}
x{color:#012a08;}
.{color:#012ba0;}
x{color:#012d38;}
.{color:#012ed0;}
x{color:#013068;}
.{color:#013200;}
x{color:#013398;}
.{color:#013530;}
x{color:#0136c8;}
.{color:#013860;}
x{color:#0139f8;}
.{color:#013b90;}
x{color:#013d28;}
.{color:#013ec0;}
x{color:#014058;}
.{color:#0141f0;}
x{color:#014388;}
.{color:#014520;}
x{color:#0146b8;}
.{color:#014850;}
x{color:#0149e8;}
.{color:#014b80;}
x{color:#014d18;}
.{color:#014eb0;}
x{color:#015048;}
.{color:#0151e0;}
x{color:#015378;}
.{color:#015510;}
x{color:#0156a8;}
.{color:#015840;}
x{color:#0159d8;}
.{color:#015b70;}
x{color:#015d08;}
.{color:#015ea0;}
x{color:#016038;}
.{color:#0161d0;}
x{color:#016368;}
.{color:#016500;}
x{color:#016698;}
.{color:#016830;}
x{color:#0169c8;}
.{color:#016b60;}
x{color:#016cf8;}
.{color:#016e90;}
x{color:#017028;}
.{color:#0171c0;}
x{color:#017358;}
.{color:#0174f0;}
x{color:#017688;}
.{color:#017820;}
x{color:#0179b8;}
.{color:#017b50;}
x{color:#017ce8;}
.{color:#017e80;}
x{color:#018018;}
.{color:#0181b0;}
x{color:#018348;}
.{color:#0184e0;}
x{color:#018678;}
.{color:#018810;}
x{color:#0189a8;}
.{color:#018b40;}
x{color:#018cd8;}
.{color:#018e70;}
x{color:#019008;}
.{color:#0191a0;}
x{color:#019338;}
.{color:#0194d0;}
x{color:#019668;}
.{color:#019800;}
x{color:#019998;}
.{color:#019b30;}
x{color:#019cc8;}
.{color:#019e60;}
x{color:#019ff8;}
.{color:#01a190;}
x{color:#01a328;}
.{color:#01a4c0;}
x{color:#01a658;}
.{color:#01a7f0;}
x{color:#01a988;}
.{color:#01ab20;}
x{color:#01acb8;}
.{color:#01ae50;}
x{color:#01afe8;}
.{color:#01b180;}
x{color:#01b318;}
.{color:#01b4b0;}
x{color:#01b648;}
.{color:#01b7e0;}
x{color:#01b978;}
.{color:#01bb10;}
x{color:#01bca8;}
.{color:#01be40;}
x{color:#01bfd8;}
.{color:#01c170;}
x{color:#01c308;}
.{color:#01c4a0;}
x{color:#01c638;}
.{color:#01c7d0;}
x{color:#01c968;}
.{color:#01cb00;}
x{color:#01cc98;}
.{color:#01ce30;}
x{color:#01cfc8;}
.{color:#01d160;}
x{color:#01d2f8;}
.{color:#01d490;}
x{color:#01d628;}
.{color:#01d7c0;}
x{color:#01d958;}
.{color:#01daf0;}
x{color:#01dc88;}
.{color:#01de20;}
x{color:#01dfb8;}
.{color:#01e150;}
x{color:#01e2e8;}
.{color:#01e480;}
x{color:#01e618;}
.{color:#01e7b0;}
x{color:#01e948;}
.{color:#01eae0;}
x{color:#01ec78;}
.{color:#01ee10;}
x{color:#01efa8;}
.{color:#01f140;}
x{color:#01f2d8;}
.{color:#01f470;}
x{color:#01f608;}
.{color:#01f7a0;}
x{color:#01f938;}
.{color:#01fad0;}
x{color:#01fc68;}
.{color:#01fe00;}
x{color:#01ff98;}
.{color:#020130;}
x{color:#0202c8;}
.{color:#020460;}
x{color:#0205f8;}
.{color:#020790;}
x{color:#020928;}
.{color:#020ac0;}
x{color:#020c58;}
.{color:#020df0;}
x{color:#020f88;}
.{color:#021120;}
x{color:#0212b8;}
.{color:#021450;}
x{color:#0215e8;}
.{color:#021780;}
x{color:#021918;}
.{color:#021ab0;}
x{color:#021c48;}
.{color:#021de0;}
x{color:#021f78;}
.{color:#022110;}
x{color:#0222a8;}
.{color:#022440;}
x{color:#0225d8;}
.{color:#022770;}
x{color:#022908;}
.{color:#022aa0;}
x{color:#022c38;}
.{color:#022dd0;}
x{color:#022f68;}
.{color:#023100;}
x{color:#023298;}
.{color:#023430;}
x{color:#0235c8;}
.{color:#023760;}
x{color:#0238f8;}
.{color:#023a90;}
x{color:#023c28;}
.{color:#023dc0;}
x{color:#023f58;}
.{color:#0240f0;}
x{color:#024288;}
.{color:#024420;}
x{color:#0245b8;}
.{color:#024750;}
x{color:#0248e8;}
.{color:#024a80;}
x{color:#024c18;}
.{color:#024db0;}
x{color:#024f48;}
.{color:#0250e0;}
x{color:#025278;}
.{color:#025410;}
x{color:#0255a8;}
.{color:#025740;}
x{color:#0258d8;}
.{color:#025a70;}
x{color:#025c08;}
.{color:#025da0;}
x{color:#025f38;}
.{color:#0260d0;}
x{color:#026268;}
.{color:#026400;}
x{color:#026598;}
.{color:#026730;}
x{color:#0268c8;}
.{color:#026a60;}
x{color:#026bf8;}
.{color:#026d90;}
x{color:#026f28;}
.{color:#0270c0;}
x{color:#027258;}
.{color:#0273f0;}
x{color:#027588;}
.{color:#027720;}
x{color:#0278b8;}
.{color:#027a50;}
x{color:#027be8;}
.{color:#027d80;}
x{color:#027f18;}
.{color:#0280b0;}
x{color:#028248;}
.{color:#0283e0;}
x{color:#028578;}
.{color:#028710;}
x{color:#0288a8;}
.{color:#028a40;}
x{color:#028bd8;}
.{color:#028d70;}
x{color:#028f08;}
.{color:#0290a0;}
x{color:#029238;}
.{color:#0293d0;}
x{color:#029568;}
.{color:#029700;}
x{color:#029898;}
.{color:#029a30;}
x{color:#029bc8;}
.{color:#029d60;}
x{color:#029ef8;}
.{color:#02a090;}
x{color:#02a228;}
.{color:#02a3c0;}
x{color:#02a558;}
.{color:#02a6f0;}
x{color:#02a888;}
.{color:#02aa20;}
x{color:#02abb8;}
.{color:#02ad50;}
x{color:#02aee8;}
.{color:#02b080;}
x{color:#02b218;}
.{color:#02b3b0;}
x{color:#02b548;}
.{color:#02b6e0;}
x{color:#02b878;}
.{color:#02ba10;}
x{color:#02bba8;}
.{color:#02bd40;}
x{color:#02bed8;}
.{color:#02c070;}
x{color:#02c208;}
.{color:#02c3a0;}
x{color:#02c538;}
.{color:#02c6d0;}
x{color:#02c868;}
.{color:#02ca00;}
x{color:#02cb98;}
.{color:#02cd30;}
x{color:#02cec8;}
.{color:#02d060;}
x{color:#02d1f8;}
.{color:#02d390;}
x{color:#02d528;}
.{color:#02d6c0;}
x{color:#02d858;}
.{color:#02d9f0;}
x{color:#02db88;}
.{color:#02dd20;}
x{color:#02deb8;}
.{color:#02e050;}
x{color:#02e1e8;}
.{color:#02e380;}
x{color:#02e518;}
.{color:#02e6b0;}
x{color:#02e848;}
.{color:#02e9e0;}
x{color:#02eb78;}
.{color:#02ed10;}
x{color:#02eea8;}
.{color:#02f040;}
x{color:#02f1d8;}
.{color:#02f370;}
x{color:#02f508;}
.{color:#02f6a0;}
x{color:#02f838;}
.{color:#02f9d0;}
x{color:#02fb68;}
.{color:#02fd00;}
x{color:#02fe98;}
.{color:#030030;}
x{color:#0301c8;}
.{color:#030360;}
x{color:#0304f8;}
.{color:#030690;}
x{color:#030828;}
.{color:#0309c0;}
x{color:#030b58;}
.{color:#030cf0;}
x{color:#030e88;}
.{color:#031020;}
x{color:#0311b8;}
.{color:#031350;}
x{color:#0314e8;}
.{color:#031680;}
x{color:#031818;}
.{color:#0319b0;}
x{color:#031b48;}
.{color:#031ce0;}
x{color:#031e78;}
.{color:#032010;}
x{color:#0321a8;}
.{color:#032340;}
x{color:#0324d8;}
.{color:#032670;}
x{color:#032808;}
.{color:#0329a0;}
x{color:#032b38;}
.{color:#032cd0;}
x{color:#032e68;}
.{color:#033000;}
x{color:#033198;}
.{color:#033330;}
x{color:#0334c8;}
.{color:#033660;}
x{color:#0337f8;}
.{color:#033990;}
x{color:#033b28;}
.{color:#033cc0;}
x{color:#033e58;}
.{color:#033ff0;}
x{color:#034188;}
.{color:#034320;}
x{color:#0344b8;}
.{color:#034650;}
x{color:#0347e8;}
.{color:#034980;}
x{color:#034b18;}
.{color:#034cb0;}
x{color:#034e48;}
.{color:#034fe0;}
x{color:#035178;}
.{color:#035310;}
x{color:#0354a8;}
.{color:#035640;}
x{color:#0357d8;}
.{color:#035970;}
x{color:#035b08;}
.{color:#035ca0;}
x{color:#035e38;}
.{color:#035fd0;}
x{color:#036168;}
.{color:#036300;}
x{color:#036498;}
.{color:#036630;}
x{color:#0367c8;}
.{color:#036960;}
x{color:#036af8;}
.{color:#036c90;}
x{color:#036e28;}
.{color:#036fc0;}
x{color:#037158;}
.{color:#0372f0;}
x{color:#037488;}
.{color:#037620;}
x{color:#0377b8;}
.{color:#037950;}
x{color:#037ae8;}
.{color:#037c80;}
x{color:#037e18;}
.{color:#037fb0;}
x{color:#038148;}
.{color:#0382e0;}
x{color:#038478;}
.{color:#038610;}
x{color:#0387a8;}
.{color:#038940;}
x{color:#038ad8;}
.{color:#038c70;}
x{color:#038e08;}
.{color:#038fa0;}
x{color:#039138;}
.{color:#0392d0;}
x{color:#039468;}
.{color:#039600;}
x{color:#039798;}
.{color:#039930;}
x{color:#039ac8;}
.{color:#039c60;}
x{color:#039df8;}
.{color:#039f90;}
x{color:#03a128;}
.{color:#03a2c0;}
x{color:#03a458;}
.{color:#03a5f0;}
x{color:#03a788;}
.{color:#03a920;}
x{color:#03aab8;}
.{color:#03ac50;}
x{color:#03ade8;}
.{color:#03af80;}
x{color:#03b118;}
.{color:#03b2b0;}
x{color:#03b448;}
.{color:#03b5e0;}
x{color:#03b778;}
.{color:#03b910;}
x{color:#03baa8;}
.{color:#03bc40;}
x{color:#03bdd8;}
.{color:#03bf70;}
x{color:#03c108;}
.{color:#03c2a0;}
x{color:#03c438;}
.{color:#03c5d0;}
x{color:#03c768;}
.{color:#03c900;}
x{color:#03ca98;}
.{color:#03cc30;}
x{color:#03cdc8;}
.{color:#03cf60;}
x{color:#03d0f8;}
.{color:#03d290;}
x{color:#03d428;}
.{color:#03d5c0;}
x{color:#03d758;}
.{color:#03d8f0;}
x{color:#03da88;}
.{color:#03dc20;}
x{color:#03ddb8;}
.{color:#03df50;}
x{color:#03e0e8;}
.{color:#03e280;}
x{color:#03e418;}
.{color:#03e5b0;}
x{color:#03e748;}
.{color:#03e8e0;}
x{color:#03ea78;}
.{color:#03ec10;}
x{color:#03eda8;}
.{color:#03ef40;}
x{color:#03f0d8;}
.{color:#03f270;}
x{color:#03f408;}
.{color:#03f5a0;}
x{color:#03f738;}
.{color:#03f8d0;}
x{color:#03fa68;}
.{color:#03fc00;}
x{color:#03fd98;}
.{color:#03ff30;}
x{color:#0400c8;}
.{color:#040260;}
x{color:#0403f8;}
.{color:#040590;}
x{color:#040728;}
.{color:#0408c0;}
x{color:#040a58;}
.{color:#040bf0;}
x{color:#040d88;}
.{color:#040f20;}
x{color:#0410b8;}
.{color:#041250;}
x{color:#0413e8;}
.{color:#041580;}
x{color:#041718;}
.{color:#0418b0;}
x{color:#041a48;}
.{color:#041be0;}
x{color:#041d78;}
.{color:#041f10;}
x{color:#0420a8;}
.{color:#042240;}
x{color:#0423d8;}
.{color:#042570;}
x{color:#042708;}
.{color:#0428a0;}
x{color:#042a38;}
.{color:#042bd0;}
x{color:#042d68;}
.{color:#042f00;}
x{color:#043098;}
.{color:#043230;}
x{color:#0433c8;}
.{color:#043560;}
x{color:#0436f8;}
.{color:#043890;}
x{color:#043a28;}
.{color:#043bc0;}
x{color:#043d58;}
.{color:#043ef0;}
x{color:#044088;}
.{color:#044220;}
x{color:#0443b8;}
.{color:#044550;}
x{color:#0446e8;}
.{color:#044880;}
x{color:#044a18;}
.{color:#044bb0;}
x{color:#044d48;}
.{color:#044ee0;}
x{color:#045078;}
.{color:#045210;}
x{color:#0453a8;}
.{color:#045540;}
x{color:#0456d8;}
.{color:#045870;}
x{color:#045a08;}
.{color:#045ba0;}
x{color:#045d38;}
.{color:#045ed0;}
x{color:#046068;}
.{color:#046200;}
x{color:#046398;}
.{color:#046530;}
x{color:#0466c8;}
.{color:#046860;}
x{color:#0469f8;}
.{color:#046b90;}
x{color:#046d28;}
.{color:#046ec0;}
x{color:#047058;}
.{color:#0471f0;}
x{color:#047388;}
.{color:#047520;}
x{color:#0476b8;}
.{color:#047850;}
x{color:#0479e8;}
.{color:#047b80;}
x{color:#047d18;}
.{color:#047eb0;}
x{color:#048048;}
.{color:#0481e0;}
x{color:#048378;}
.{color:#048510;}
x{color:#0486a8;}
.{color:#048840;}
x{color:#0489d8;}
.{color:#048b70;}
x{color:#048d08;}
.{color:#048ea0;}
x{color:#049038;}
.{color:#0491d0;}
x{color:#049368;}
.{color:#049500;}
x{color:#049698;}
.{color:#049830;}
x{color:#0499c8;}
.{color:#049b60;}
x{color:#049cf8;}
.{color:#049e90;}
x{color:#04a028;}
.{color:#04a1c0;}
x{color:#04a358;}
.{color:#04a4f0;}
x{color:#04a688;}
.{color:#04a820;}
x{color:#04a9b8;}
.{color:#04ab50;}
x{color:#04ace8;}
.{color:#04ae80;}
x{color:#04b018;}
.{color:#04b1b0;}
x{color:#04b348;}
.{color:#04b4e0;}
x{color:#04b678;}
.{color:#04b810;}
x{color:#04b9a8;}
.{color:#04bb40;}
x{color:#04bcd8;}
.{color:#04be70;}
x{color:#04c008;}
.{color:#04c1a0;}
x{color:#04c338;}
.{color:#04c4d0;}
x{color:#04c668;}
.{color:#04c800;}
x{color:#04c998;}
.{color:#04cb30;}
x{color:#04ccc8;}
.{color:#04ce60;}
x{color:#04cff8;}
.{color:#04d190;}
x{color:#04d328;}
.{color:#04d4c0;}
x{color:#04d658;}
.{color:#04d7f0;}
x{color:#04d988;}
.{color:#04db20;}
x{color:#04dcb8;}
.{color:#04de50;}
x{color:#04dfe8;}
.{color:#04e180;}
x{color:#04e318;}
.{color:#04e4b0;}
x{color:#04e648;}
.{color:#04e7e0;}
x{color:#04e978;}
.{color:#04eb10;}
x{color:#04eca8;}
.{color:#04ee40;}
x{color:#04efd8;}
.{color:#04f170;}
x{color:#04f308;}
.{color:#04f4a0;}
x{color:#04f638;}
.{color:#04f7d0;}
x{color:#04f968;}
.{color:#04fb00;}
x{color:#04fc98;}
.{color:#04fe30;}
x{color:#04ffc8;}
.{color:#050160;}
x{color:#0502f8;}
.{color:#050490;}
x{color:#050628;}
.{color:#0507c0;}
x{color:#050958;}
.{color:#050af0;}
x{color:#050c88;}
.{color:#050e20;}
x{color:#050fb8;}
.{color:#051150;}
x{color:#0512e8;}
.{color:#051480;}
x{color:#051618;}
.{color:#0517b0;}
x{color:#051948;}
.{color:#051ae0;}
x{color:#051c78;}
.{color:#051e10;}
x{color:#051fa8;}
.{color:#052140;}
x{color:#0522d8;}
.{color:#052470;}
x{color:#052608;}
.{color:#0527a0;}
x{color:#052938;}
.{color:#052ad0;}
x{color:#052c68;}
.{color:#052e00;}
x{color:#052f98;}
.{color:#053130;}
x{color:#0532c8;}
.{color:#053460;}
x{color:#0535f8;}
.{color:#053790;}
x{color:#053928;}
.{color:#053ac0;}
x{color:#053c58;}
.{color:#053df0;}
x{color:#053f88;}
.{color:#054120;}
x{color:#0542b8;}
.{color:#054450;}
x{color:#0545e8;}
.{color:#054780;}
x{color:#054918;}
.{color:#054ab0;}
x{color:#054c48;}
.{color:#054de0;}
x{color:#054f78;}
.{color:#055110;}
x{color:#0552a8;}
.{color:#055440;}
x{color:#0555d8;}
.{color:#055770;}
x{color:#055908;}
.{color:#055aa0;}
x{color:#055c38;}
.{color:#055dd0;}
x{color:#055f68;}
.{color:#056100;}
x{color:#056298;}
.{color:#056430;}
x{color:#0565c8;}
.{color:#056760;}
x{color:#0568f8;}
.{color:#056a90;}
x{color:#056c28;}
.{color:#056dc0;}
x{color:#056f58;}
.{color:#0570f0;}
x{color:#057288;}
.{color:#057420;}
x{color:#0575b8;}
.{color:#057750;}
x{color:#0578e8;}
.{color:#057a80;}
x{color:#057c18;}
.{color:#057db0;}
x{color:#057f48;}
.{color:#0580e0;}
x{color:#058278;}
.{color:#058410;}
x{color:#0585a8;}
.{color:#058740;}
x{color:#0588d8;}
.{color:#058a70;}
x{color:#058c08;}
.{color:#058da0;}
x{color:#058f38;}
.{color:#0590d0;}
x{color:#059268;}
.{color:#059400;}
x{color:#059598;}
.{color:#059730;}
x{color:#0598c8;}
.{color:#059a60;}
x{color:#059bf8;}
.{color:#059d90;}
x{color:#059f28;}
.{color:#05a0c0;}
x{color:#05a258;}
.{color:#05a3f0;}
x{color:#05a588;}
.{color:#05a720;}
x{color:#05a8b8;}
.{color:#05aa50;}
x{color:#05abe8;}
.{color:#05ad80;}
x{color:#05af18;}
.{color:#05b0b0;}
x{color:#05b248;}
.{color:#05b3e0;}
x{color:#05b578;}
.{color:#05b710;}
x{color:#05b8a8;}
.{color:#05ba40;}
x{color:#05bbd8;}
.{color:#05bd70;}
x{color:#05bf08;}
.{color:#05c0a0;}
x{color:#05c238;}
.{color:#05c3d0;}
x{color:#05c568;}
.{color:#05c700;}
x{color:#05c898;}
.{color:#05ca30;}
x{color:#05cbc8;}
.{color:#05cd60;}
x{color:#05cef8;}
.{color:#05d090;}
x{color:#05d228;}
.{color:#05d3c0;}
x{color:#05d558;}
.{color:#05d6f0;}
x{color:#05d888;}
.{color:#05da20;}
x{color:#05dbb8;}
.{color:#05dd50;}
x{color:#05dee8;}
.{color:#05e080;}
x{color:#05e218;}
.{color:#05e3b0;}
x{color:#05e548;}
.{color:#05e6e0;}
x{color:#05e878;}
.{color:#05ea10;}
x{color:#05eba8;}
.{color:#05ed40;}
x{color:#05eed8;}
.{color:#05f070;}
x{color:#05f208;}
.{color:#05f3a0;}
x{color:#05f538;}
.{color:#05f6d0;}
x{color:#05f868;}
.{color:#05fa00;}
x{color:#05fb98;}
.{color:#05fd30;}
x{color:#05fec8;}
.{color:#060060;}
x{color:#0601f8;}
.{color:#060390;}
x{color:#060528;}
.{color:#0606c0;}
x{color:#060858;}
.{color:#0609f0;}
x{color:#060b88;}
.{color:#060d20;}
x{color:#060eb8;}
.{color:#061050;}
x{color:#0611e8;}
.{color:#061380;}
x{color:#061518;}
.{color:#0616b0;}
x{color:#061848;}
.{color:#0619e0;}
x{color:#061b78;}
.{color:#061d10;}
x{color:#061ea8;}
.{color:#062040;}
x{color:#0621d8;}
.{color:#062370;}
x{color:#062508;}
.{color:#0626a0;}
x{color:#062838;}
.{color:#0629d0;}
x{color:#062b68;}
.{color:#062d00;}
x{color:#062e98;}
.{color:#063030;}
x{color:#0631c8;}
.{color:#063360;}
x{color:#0634f8;}
.{color:#063690;}
x{color:#063828;}
