/* css */
.{color:#000000;}
x{color:#0000bb;}
.{color:#000176;}
x{color:#000231;}
.{color:#0002ec;}
x{color:#0003a7;}
.{color:#000462;}
x{color:#00051d;}
.{color:#0005d8;}
x{color:#000693;}
.{color:#00074e;}
x{color:#000809;}
.{color:#0008c4;}
x{color:#00097f;}
.{color:#000a3a;}
x{color:#000af5;}
.{color:#000bb0;}
x{color:#000c6b;}
.{color:#000d26;}
x{color:#000de1;}
.{color:#000e9c;}
x{color:#000f57;}
.{color:#001012;}
x{color:#0010cd;}
.{color:#001188;}
x{color:#001243;}
.{color:#0012fe;}
x{color:#0013b9;}
.{color:#001474;}
x{color:#00152f;}
.{color:#0015ea;}
x{color:#0016a5;}
.{color:#001760;}
x{color:#00181b;}
.{color:#0018d6;}
x{color:#001991;}
.{color:#001a4c;}
x{color:#001b07;}
.{color:#001bc2;}
x{color:#001c7d;}
.{color:#001d38;}
x{color:#001df3;}
.{color:#001eae;}
x{color:#001f69;}
.{color:#002024;}
x{color:#0020df;}
.{color:#00219a;}
x{color:#002255;}
.{color:#002310;}
x{color:#0023cb;}
.{color:#002486;}
x{color:#002541;}
.{color:#0025fc;}
x{color:#0026b7;}
.{color:#002772;}
x{color:#00282d;}
.{color:#0028e8;}
x{color:#0029a3;}
.{color:#002a5e;}
x{color:#002b19;}
.{color:#002bd4;}
x{color:#002c8f;}
.{color:#002d4a;}
x{color:#002e05;}
.{color:#002ec0;}
x{color:#002f7b;}
.{color:#003036;}
x{color:#0030f1;}
.{color:#0031ac;}
x{color:#003267;}
.{color:#003322;}
x{color:#0033dd;}
.{color:#003498;}
x{color:#003553;}
.{color:#00360e;}
x{color:#0036c9;}
.{color:#003784;}
x{color:#00383f;}
.{color:#0038fa;}
x{color:#0039b5;}
.{color:#003a70;}
x{color:#003b2b;}
.{color:#003be6;}
x{color:#003ca1;}
.{color:#003d5c;}
x{color:#003e17;}
.{color:#003ed2;}
x{color:#003f8d;}
.{color:#004048;}
x{color:#004103;}
.{color:#0041be;}
x{color:#004279;}
.{color:#004334;}
x{color:#0043ef;}
.{color:#0044aa;}
x{color:#004565;}
.{color:#004620;}
x{color:#0046db;}
.{color:#004796;}
x{color:#004851;}
.{color:#00490c;}
x{color:#0049c7;}
.{color:#004a82;}
x{color:#004b3d;}
.{color:#004bf8;}
x{color:#004cb3;}
.{color:#004d6e;}
x{color:#004e29;}
.{color:#004ee4;}
x{color:#004f9f;}
.{color:#00505a;}
x{color:#005115;}
.{color:#0051d0;}
x{color:#00528b;}
.{color:#005346;}
x{color:#005401;}
.{color:#0054bc;}
x{color:#005577;}
.{color:#005632;}
x{color:#0056ed;}
.{color:#0057a8;}
x{color:#005863;}
.{color:#00591e;}
x{color:#0059d9;}
.{color:#005a94;}
x{color:#005b4f;}
.{color:#005c0a;}
x{color:#005cc5;}
.{color:#005d80;}
x{color:#005e3b;}
.{color:#005ef6;}
x{color:#005fb1;}
.{color:#00606c;}
x{color:#006127;}
.{color:#0061e2;}
x{color:#00629d;}
.{color:#006358;}
x{color:#006413;}
.{color:#0064ce;}
x{color:#006589;}
.{color:#006644;}
x{color:#0066ff;}
.{color:#0067ba;}
x{color:#006875;}
.{color:#006930;}
x{color:#0069eb;}
.{color:#006aa6;}
x{color:#006b61;}
.{color:#006c1c;}
x{color:#006cd7;}
.{color:#006d92;}
x{color:#006e4d;}
.{color:#006f08;}
x{color:#006fc3;}
.{color:#00707e;}
x{color:#007139;}
.{color:#0071f4;}
x{color:#0072af;}
.{color:#00736a;}
x{color:#007425;}
.{color:#0074e0;}
x{color:#00759b;}
.{color:#007656;}
x{color:#007711;}
.{color:#0077cc;}
x{color:#007887;}
.{color:#007942;}
x{color:#0079fd;}
.{color:#007ab8;}
x{color:#007b73;}
.{color:#007c2e;}
x{color:#007ce9;}
.{color:#007da4;}
x{color:#007e5f;}
.{color:#007f1a;}
x{color:#007fd5;}
.{color:#008090;}
x{color:#00814b;}
.{color:#008206;}
x{color:#0082c1;}
.{color:#00837c;}
x{color:#008437;}
.{color:#0084f2;}
x{color:#0085ad;}
.{color:#008668;}
x{color:#008723;}
.{color:#0087de;}
x{color:#008899;}
.{color:#008954;}
x{color:#008a0f;}
.{color:#008aca;}
x{color:#008b85;}
.{color:#008c40;}
x{color:#008cfb;}
.{color:#008db6;}
x{color:#008e71;}
.{color:#008f2c;}
x{color:#008fe7;}
.{color:#0090a2;}
x{color:#00915d;}
.{color:#009218;}
x{color:#0092d3;}
.{color:#00938e;}
x{color:#009449;}
.{color:#009504;}
x{color:#0095bf;}
.{color:#00967a;}
x{color:#009735;}
.{color:#0097f0;}
x{color:#0098ab;}
.{color:#009966;}
x{color:#009a21;}
.{color:#009adc;}
x{color:#009b97;}
.{color:#009c52;}
x{color:#009d0d;}
.{color:#009dc8;}
x{color:#009e83;}
.{color:#009f3e;}
x{color:#009ff9;}
.{color:#00a0b4;}
x{color:#00a16f;}
.{color:#00a22a;}
x{color:#00a2e5;}
.{color:#00a3a0;}
x{color:#00a45b;}
.{color:#00a516;}
x{color:#00a5d1;}
.{color:#00a68c;}
x{color:#00a747;}
.{color:#00a802;}
x{color:#00a8bd;}
.{color:#00a978;}
x{color:#00aa33;}
.{color:#00aaee;}
x{color:#00aba9;}
.{color:#00ac64;}
x{color:#00ad1f;}
.{color:#00adda;}
x{color:#00ae95;}
.{color:#00af50;}
x{color:#00b00b;}
.{color:#00b0c6;}
x{color:#00b181;}
.{color:#00b23c;}
x{color:#00b2f7;}
.{color:#00b3b2;}
x{color:#00b46d;}
.{color:#00b528;}
x{color:#00b5e3;}
.{color:#00b69e;}
x{color:#00b759;}
.{color:#00b814;}
x{color:#00b8cf;}
.{color:#00b98a;}
x{color:#00ba45;}
.{color:#00bb00;}
x{color:#00bbbb;}
.{color:#00bc76;}
x{color:#00bd31;}
.{color:#00bdec;}
x{color:#00bea7;}
.{color:#00bf62;}
x{color:#00c01d;}
.{color:#00c0d8;}
x{color:#00c193;}
.{color:#00c24e;}
x{color:#00c309;}
.{color:#00c3c4;}
x{color:#00c47f;}
.{color:#00c53a;}
x{color:#00c5f5;}
.{color:#00c6b0;}
x{color:#00c76b;}
.{color:#00c826;}
x{color:#00c8e1;}
.{color:#00c99c;}
x{color:#00ca57;}
.{color:#00cb12;}
x{color:#00cbcd;}
.{color:#00cc88;}
x{color:#00cd43;}
.{color:#00cdfe;}
x{color:#00ceb9;}
.{color:#00cf74;}
x{color:#00d02f;}
.{color:#00d0ea;}
x{color:#00d1a5;}
.{color:#00d260;}
x{color:#00d31b;}
.{color:#00d3d6;}
x{color:#00d491;}
.{color:#00d54c;}
x{color:#00d607;}
.{color:#00d6c2;}
x{color:#00d77d;}
.{color:#00d838;}
x{color:#00d8f3;}
.{color:#00d9ae;}
x{color:#00da69;}
.{color:#00db24;}
x{color:#00dbdf;}
.{color:#00dc9a;}
x{color:#00dd55;}
.{color:#00de10;}
x{color:#00decb;}
.{color:#00df86;}
x{color:#00e041;}
.{color:#00e0fc;}
x{color:#00e1b7;}
.{color:#00e272;}
x{color:#00e32d;}
.{color:#00e3e8;}
x{color:#00e4a3;}
.{color:#00e55e;}
x{color:#00e619;}
.{color:#00e6d4;}
x{color:#00e78f;}
.{color:#00e84a;}
x{color:#00e905;}
.{color:#00e9c0;}
x{color:#00ea7b;}
.{color:#00eb36;}
x{color:#00ebf1;}
.{color:#00ecac;}
x{color:#00ed67;}
.{color:#00ee22;}
x{color:#00eedd;}
.{color:#00ef98;}
x{color:#00f053;}
.{color:#00f10e;}
x{color:#00f1c9;}
.{color:#00f284;}
x{color:#00f33f;}
.{color:#00f3fa;}
x{color:#00f4b5;}
.{color:#00f570;}
x{color:#00f62b;}
.{color:#00f6e6;}
x{color:#00f7a1;}
.{color:#00f85c;}
x{color:#00f917;}
.{color:#00f9d2;}
x{color:#00fa8d;}
.{color:#00fb48;}
x{color:#00fc03;}
.{color:#00fcbe;}
x{color:#00fd79;}
.{color:#00fe34;}
x{color:#00feef;}
.{color:#00ffaa;}
x{color:#010065;}
.{color:#010120;}
x{color:#0101db;}
.{color:#010296;}
x{color:#010351;}
.{color:#01040c;}
x{color:#0104c7;}
.{color:#010582;}
x{color:#01063d;}
.{color:#0106f8;}
x{color:#0107b3;}
.{color:#01086e;}
x{color:#010929;}
.{color:#0109e4;}
x{color:#010a9f;}
.{color:#010b5a;}
x{color:#010c15;}
.{color:#010cd0;}
x{color:#010d8b;}
.{color:#010e46;}
x{color:#010f01;}
.{color:#010fbc;}
x{color:#011077;}
.{color:#011132;}
x{color:#0111ed;}
.{color:#0112a8;}
x{color:#011363;}
.{color:#01141e;}
x{color:#0114d9;}
.{color:#011594;}
x{color:#01164f;}
.{color:#01170a;}
x{color:#0117c5;}
.{color:#011880;}
x{color:#01193b;}
.{color:#0119f6;}
x{color:#011ab1;}
.{color:#011b6c;}
x{color:#011c27;}
.{color:#011ce2;}
x{color:#011d9d;}
.{color:#011e58;}
x{color:#011f13;}
.{color:#011fce;}
x{color:#012089;}
.{color:#012144;}
x{color:#0121ff;}
.{color:#0122ba;}
x{color:#012375;}
.{color:#012430;}
x{color:#0124eb;}
.{color:#0125a6;}
x{color:#012661;}
.{color:#01271c;}
x{color:#0127d7;}
.{color:#012892;}
x{color:#01294d;}
.{color:#012a08;}
x{color:#012ac3;}
.{color:#012b7e;}
x{color:#012c39;}
.{color:#012cf4;}
x{color:#012daf;}
.{color:#012e6a;}
x{color:#012f25;}
.{color:#012fe0;}
x{color:#01309b;}
.{color:#013156;}
x{color:#013211;}
.{color:#0132cc;}
x{color:#013387;}
.{color:#013442;}
x{color:#0134fd;}
.{color:#0135b8;}
x{color:#013673;}
.{color:#01372e;}
x{color:#0137e9;}
.{color:#0138a4;}
x{color:#01395f;}
.{color:#013a1a;}
x{color:#013ad5;}
.{color:#013b90;}
x{color:#013c4b;}
.{color:#013d06;}
x{color:#013dc1;}
.{color:#013e7c;}
x{color:#013f37;}
.{color:#013ff2;}
x{color:#0140ad;}
.{color:#014168;}
x{color:#014223;}
.{color:#0142de;}
x{color:#014399;}
.{color:#014454;}
x{color:#01450f;}
.{color:#0145ca;}
x{color:#014685;}
.{color:#014740;}
x{color:#0147fb;}
.{color:#0148b6;}
x{color:#014971;}
.{color:#014a2c;}
x{color:#014ae7;}
.{color:#014ba2;}
x{color:#014c5d;}
.{color:#014d18;}
x{color:#014dd3;}
.{color:#014e8e;}
x{color:#014f49;}
.{color:#015004;}
x{color:#0150bf;}
.{color:#01517a;}
x{color:#015235;}
.{color:#0152f0;}
x{color:#0153ab;}
.{color:#015466;}
x{color:#015521;}
.{color:#0155dc;}
x{color:#015697;}
.{color:#015752;}
x{color:#01580d;}
.{color:#0158c8;}
x{color:#015983;}
.{color:#015a3e;}
x{color:#015af9;}
.{color:#015bb4;}
x{color:#015c6f;}
.{color:#015d2a;}
x{color:#015de5;}
.{color:#015ea0;}
x{color:#015f5b;}
.{color:#016016;}
x{color:#0160d1;}
.{color:#01618c;}
x{color:#016247;}
.{color:#016302;}
x{color:#0163bd;}
.{color:#016478;}
x{color:#016533;}
.{color:#0165ee;}
x{color:#0166a9;}
.{color:#016764;}
x{color:#01681f;}
.{color:#0168da;}
x{color:#016995;}
.{color:#016a50;}
x{color:#016b0b;}
.{color:#016bc6;}
x{color:#016c81;}
.{color:#016d3c;}
x{color:#016df7;}
.{color:#016eb2;}
x{color:#016f6d;}
.{color:#017028;}
x{color:#0170e3;}
.{color:#01719e;}
x{color:#017259;}
.{color:#017314;}
x{color:#0173cf;}
.{color:#01748a;}
x{color:#017545;}
.{color:#017600;}
x{color:#0176bb;}
.{color:#017776;}
x{color:#017831;}
.{color:#0178ec;}
x{color:#0179a7;}
.{color:#017a62;}
x{color:#017b1d;}
.{color:#017bd8;}
x{color:#017c93;}
.{color:#017d4e;}
x{color:#017e09;}
.{color:#017ec4;}
x{color:#017f7f;}
.{color:#01803a;}
x{color:#0180f5;}
.{color:#0181b0;}
x{color:#01826b;}
.{color:#018326;}
x{color:#0183e1;}
.{color:#01849c;}
x{color:#018557;}
.{color:#018612;}
x{color:#0186cd;}
.{color:#018788;}
x{color:#018843;}
.{color:#0188fe;}
x{color:#0189b9;}
.{color:#018a74;}
x{color:#018b2f;}
.{color:#018bea;}
x{color:#018ca5;}
.{color:#018d60;}
x{color:#018e1b;}
.{color:#018ed6;}
x{color:#018f91;}
.{color:#01904c;}
x{color:#019107;}
.{color:#0191c2;}
x{color:#01927d;}
.{color:#019338;}
x{color:#0193f3;}
.{color:#0194ae;}
x{color:#019569;}
.{color:#019624;}
x{color:#0196df;}
.{color:#01979a;}
x{color:#019855;}
.{color:#019910;}
x{color:#0199cb;}
.{color:#019a86;}
x{color:#019b41;}
.{color:#019bfc;}
x{color:#019cb7;}
.{color:#019d72;}
x{color:#019e2d;}
.{color:#019ee8;}
x{color:#019fa3;}
.{color:#01a05e;}
x{color:#01a119;}
.{color:#01a1d4;}
x{color:#01a28f;}
.{color:#01a34a;}
x{color:#01a405;}
.{color:#01a4c0;}
x{color:#01a57b;}
.{color:#01a636;}
x{color:#01a6f1;}
.{color:#01a7ac;}
x{color:#01a867;}
.{color:#01a922;}
x{color:#01a9dd;}
.{color:#01aa98;}
x{color:#01ab53;}
.{color:#01ac0e;}
x{color:#01acc9;}
.{color:#01ad84;}
x{color:#01ae3f;}
.{color:#01aefa;}
x{color:#01afb5;}
.{color:#01b070;}
x{color:#01b12b;}
.{color:#01b1e6;}
x{color:#01b2a1;}
.{color:#01b35c;}
x{color:#01b417;}
.{color:#01b4d2;}
x{color:#01b58d;}
.{color:#01b648;}
x{color:#01b703;}
.{color:#01b7be;}
x{color:#01b879;}
.{color:#01b934;}
x{color:#01b9ef;}
.{color:#01baaa;}
x{color:#01bb65;}
.{color:#01bc20;}
x{color:#01bcdb;}
.{color:#01bd96;}
x{color:#01be51;}
.{color:#01bf0c;}
x{color:#01bfc7;}
.{color:#01c082;}
x{color:#01c13d;}
.{color:#01c1f8;}
x{color:#01c2b3;}
.{color:#01c36e;}
x{color:#01c429;}
.{color:#01c4e4;}
x{color:#01c59f;}
.{color:#01c65a;}
x{color:#01c715;}
.{color:#01c7d0;}
x{color:#01c88b;}
.{color:#01c946;}
x{color:#01ca01;}
.{color:#01cabc;}
x{color:#01cb77;}
.{color:#01cc32;}
x{color:#01cced;}
.{color:#01cda8;}
x{color:#01ce63;}
.{color:#01cf1e;}
x{color:#01cfd9;}
.{color:#01d094;}
x{color:#01d14f;}
.{color:#01d20a;}
x{color:#01d2c5;}
.{color:#01d380;}
x{color:#01d43b;}
.{color:#01d4f6;}
x{color:#01d5b1;}
.{color:#01d66c;}
x{color:#01d727;}
.{color:#01d7e2;}
x{color:#01d89d;}
.{color:#01d958;}
x{color:#01da13;}
.{color:#01dace;}
x{color:#01db89;}
.{color:#01dc44;}
x{color:#01dcff;}
.{color:#01ddba;}
x{color:#01de75;}
.{color:#01df30;}
x{color:#01dfeb;}
.{color:#01e0a6;}
x{color:#01e161;}
.{color:#01e21c;}
x{color:#01e2d7;}
.{color:#01e392;}
x{color:#01e44d;}
.{color:#01e508;}
x{color:#01e5c3;}
.{color:#01e67e;}
x{color:#01e739;}
.{color:#01e7f4;}
x{color:#01e8af;}
.{color:#01e96a;}
x{color:#01ea25;}
.{color:#01eae0;}
x{color:#01eb9b;}
.{color:#01ec56;}
x{color:#01ed11;}
.{color:#01edcc;}
x{color:#01ee87;}
.{color:#01ef42;}
x{color:#01effd;}
.{color:#01f0b8;}
x{color:#01f173;}
.{color:#01f22e;}
x{color:#01f2e9;}
.{color:#01f3a4;}
x{color:#01f45f;}
.{color:#01f51a;}
x{color:#01f5d5;}
.{color:#01f690;}
x{color:#01f74b;}
.{color:#01f806;}
x{color:#01f8c1;}
.{color:#01f97c;}
x{color:#01fa37;}
.{color:#01faf2;}
x{color:#01fbad;}
.{color:#01fc68;}
x{color:#01fd23;}
.{color:#01fdde;}
x{color:#01fe99;}
.{color:#01ff54;}
x{color:#02000f;}
.{color:#0200ca;}
x{color:#020185;}
.{color:#020240;}
x{color:#0202fb;}
.{color:#0203b6;}
x{color:#020471;}
.{color:#02052c;}
x{color:#0205e7;}
.{color:#0206a2;}
x{color:#02075d;}
.{color:#020818;}
x{color:#0208d3;}
.{color:#02098e;}
x{color:#020a49;}
.{color:#020b04;}
x{color:#020bbf;}
.{color:#020c7a;}
x{color:#020d35;}
.{color:#020df0;}
x{color:#020eab;}
.{color:#020f66;}
x{color:#021021;}
.{color:#0210dc;}
x{color:#021197;}
.{color:#021252;}
x{color:#02130d;}
.{color:#0213c8;}
x{color:#021483;}
.{color:#02153e;}
x{color:#0215f9;}
.{color:#0216b4;}
x{color:#02176f;}
.{color:#02182a;}
x{color:#0218e5;}
.{color:#0219a0;}
x{color:#021a5b;}
.{color:#021b16;}
x{color:#021bd1;}
.{color:#021c8c;}
x{color:#021d47;}
.{color:#021e02;}
x{color:#021ebd;}
.{color:#021f78;}
x{color:#022033;}
.{color:#0220ee;}
x{color:#0221a9;}
.{color:#022264;}
x{color:#02231f;}
.{color:#0223da;}
x{color:#022495;}
.{color:#022550;}
x{color:#02260b;}
.{color:#0226c6;}
x{color:#022781;}
.{color:#02283c;}
x{color:#0228f7;}
.{color:#0229b2;}
x{color:#022a6d;}
.{color:#022b28;}
x{color:#022be3;}
.{color:#022c9e;}
x{color:#022d59;}
.{color:#022e14;}
x{color:#022ecf;}
.{color:#022f8a;}
x{color:#023045;}
.{color:#023100;}
x{color:#0231bb;}
.{color:#023276;}
x{color:#023331;}
.{color:#0233ec;}
x{color:#0234a7;}
.{color:#023562;}
x{color:#02361d;}
.{color:#0236d8;}
x{color:#023793;}
.{color:#02384e;}
x{color:#023909;}
.{color:#0239c4;}
x{color:#023a7f;}
.{color:#023b3a;}
x{color:#023bf5;}
.{color:#023cb0;}
x{color:#023d6b;}
.{color:#023e26;}
x{color:#023ee1;}
.{color:#023f9c;}
x{color:#024057;}
.{color:#024112;}
x{color:#0241cd;}
.{color:#024288;}
x{color:#024343;}
.{color:#0243fe;}
x{color:#0244b9;}
.{color:#024574;}
x{color:#02462f;}
.{color:#0246ea;}
x{color:#0247a5;}
.{color:#024860;}
x{color:#02491b;}
.{color:#0249d6;}
x{color:#024a91;}
.{color:#024b4c;}
x{color:#024c07;}
.{color:#024cc2;}
x{color:#024d7d;}
.{color:#024e38;}
x{color:#024ef3;}
.{color:#024fae;}
x{color:#025069;}
.{color:#025124;}
x{color:#0251df;}
.{color:#02529a;}
x{color:#025355;}
.{color:#025410;}
x{color:#0254cb;}
.{color:#025586;}
x{color:#025641;}
.{color:#0256fc;}
x{color:#0257b7;}
.{color:#025872;}
x{color:#02592d;}
.{color:#0259e8;}
x{color:#025aa3;}
.{color:#025b5e;}
x{color:#025c19;}
.{color:#025cd4;}
x{color:#025d8f;}
.{color:#025e4a;}
x{color:#025f05;}
.{color:#025fc0;}
x{color:#02607b;}
.{color:#026136;}
x{color:#0261f1;}
.{color:#0262ac;}
x{color:#026367;}
.{color:#026422;}
x{color:#0264dd;}
.{color:#026598;}
x{color:#026653;}
.{color:#02670e;}
x{color:#0267c9;}
.{color:#026884;}
x{color:#02693f;}
.{color:#0269fa;}
x{color:#026ab5;}
.{color:#026b70;}
x{color:#026c2b;}
.{color:#026ce6;}
x{color:#026da1;}
.{color:#026e5c;}
x{color:#026f17;}
.{color:#026fd2;}
x{color:#02708d;}
.{color:#027148;}
x{color:#027203;}
.{color:#0272be;}
x{color:#027379;}
.{color:#027434;}
x{color:#0274ef;}
.{color:#0275aa;}
x{color:#027665;}
.{color:#027720;}
x{color:#0277db;}
.{color:#027896;}
x{color:#027951;}
.{color:#027a0c;}
x{color:#027ac7;}
.{color:#027b82;}
x{color:#027c3d;}
.{color:#027cf8;}
x{color:#027db3;}
.{color:#027e6e;}
x{color:#027f29;}
.{color:#027fe4;}
x{color:#02809f;}
.{color:#02815a;}
x{color:#028215;}
.{color:#0282d0;}
x{color:#02838b;}
.{color:#028446;}
x{color:#028501;}
.{color:#0285bc;}
x{color:#028677;}
.{color:#028732;}
x{color:#0287ed;}
.{color:#0288a8;}
x{color:#028963;}
.{color:#028a1e;}
x{color:#028ad9;}
.{color:#028b94;}
x{color:#028c4f;}
.{color:#028d0a;}
x{color:#028dc5;}
.{color:#028e80;}
x{color:#028f3b;}
.{color:#028ff6;}
x{color:#0290b1;}
.{color:#02916c;}
x{color:#029227;}
.{color:#0292e2;}
x{color:#02939d;}
.{color:#029458;}
x{color:#029513;}
.{color:#0295ce;}
x{color:#029689;}
.{color:#029744;}
x{color:#0297ff;}
.{color:#0298ba;}
x{color:#029975;}
.{color:#029a30;}
x{color:#029aeb;}
.{color:#029ba6;}
x{color:#029c61;}
.{color:#029d1c;}
x{color:#029dd7;}
.{color:#029e92;}
x{color:#029f4d;}
.{color:#02a008;}
x{color:#02a0c3;}
.{color:#02a17e;}
x{color:#02a239;}
.{color:#02a2f4;}
x{color:#02a3af;}
.{color:#02a46a;}
x{color:#02a525;}
.{color:#02a5e0;}
x{color:#02a69b;}
.{color:#02a756;}
x{color:#02a811;}
.{color:#02a8cc;}
x{color:#02a987;}
.{color:#02aa42;}
x{color:#02aafd;}
.{color:#02abb8;}
x{color:#02ac73;}
.{color:#02ad2e;}
x{color:#02ade9;}
.{color:#02aea4;}
x{color:#02af5f;}
.{color:#02b01a;}
x{color:#02b0d5;}
.{color:#02b190;}
x{color:#02b24b;}
.{color:#02b306;}
x{color:#02b3c1;}
.{color:#02b47c;}
x{color:#02b537;}
.{color:#02b5f2;}
x{color:#02b6ad;}
.{color:#02b768;}
x{color:#02b823;}
.{color:#02b8de;}
x{color:#02b999;}
.{color:#02ba54;}
x{color:#02bb0f;}
.{color:#02bbca;}
x{color:#02bc85;}
.{color:#02bd40;}
x{color:#02bdfb;}
.{color:#02beb6;}
x{color:#02bf71;}
.{color:#02c02c;}
x{color:#02c0e7;}
.{color:#02c1a2;}
x{color:#02c25d;}
.{color:#02c318;}
x{color:#02c3d3;}
.{color:#02c48e;}
x{color:#02c549;}
.{color:#02c604;}
x{color:#02c6bf;}
.{color:#02c77a;}
x{color:#02c835;}
.{color:#02c8f0;}
x{color:#02c9ab;}
.{color:#02ca66;}
x{color:#02cb21;}
.{color:#02cbdc;}
x{color:#02cc97;}
.{color:#02cd52;}
x{color:#02ce0d;}
.{color:#02cec8;}
x{color:#02cf83;}
.{color:#02d03e;}
x{color:#02d0f9;}
.{color:#02d1b4;}
x{color:#02d26f;}
.{color:#02d32a;}
x{color:#02d3e5;}
.{color:#02d4a0;}
x{color:#02d55b;}
.{color:#02d616;}
x{color:#02d6d1;}
.{color:#02d78c;}
x{color:#02d847;}
.{color:#02d902;}
x{color:#02d9bd;}
