/* css */
.{color:#000000;}
x{color:#000044;}
.{color:#000088;}
x{color:#0000cc;}
.{color:#000110;}
x{color:#000154;}
.{color:#000198;}
x{color:#0001dc;}
.{color:#000220;}
x{color:#000264;}
.{color:#0002a8;}
x{color:#0002ec;}
.{color:#000330;}
x{color:#000374;}
.{color:#0003b8;}
x{color:#0003fc;}
.{color:#000440;}
x{color:#000484;}
.{color:#0004c8;}
x{color:#00050c;}
.{color:#000550;}
x{color:#000594;}
.{color:#0005d8;}
x{color:#00061c;}
.{color:#000660;}
x{color:#0006a4;}
.{color:#0006e8;}
x{color:#00072c;}
.{color:#000770;}
x{color:#0007b4;}
.{color:#0007f8;}
x{color:#00083c;}
.{color:#000880;}
x{color:#0008c4;}
.{color:#000908;}
x{color:#00094c;}
.{color:#000990;}
x{color:#0009d4;}
.{color:#000a18;}
x{color:#000a5c;}
.{color:#000aa0;}
x{color:#000ae4;}
.{color:#000b28;}
x{color:#000b6c;}
.{color:#000bb0;}
x{color:#000bf4;}
.{color:#000c38;}
x{color:#000c7c;}
.{color:#000cc0;}
x{color:#000d04;}
.{color:#000d48;}
x{color:#000d8c;}
.{color:#000dd0;}
x{color:#000e14;}
.{color:#000e58;}
x{color:#000e9c;}
.{color:#000ee0;}
x{color:#000f24;}
.{color:#000f68;}
x{color:#000fac;}
.{color:#000ff0;}
x{color:#001034;}
.{color:#001078;}
x{color:#0010bc;}
.{color:#001100;}
x{color:#001144;}
.{color:#001188;}
x{color:#0011cc;}
.{color:#001210;}
x{color:#001254;}
.{color:#001298;}
x{color:#0012dc;}
.{color:#001320;}
x{color:#001364;}
.{color:#0013a8;}
x{color:#0013ec;}
.{color:#001430;}
x{color:#001474;}
.{color:#0014b8;}
x{color:#0014fc;}
.{color:#001540;}
x{color:#001584;}
.{color:#0015c8;}
x{color:#00160c;}
.{color:#001650;}
x{color:#001694;}
.{color:#0016d8;}
x{color:#00171c;}
.{color:#001760;}
x{color:#0017a4;}
.{color:#0017e8;}
x{color:#00182c;}
.{color:#001870;}
x{color:#0018b4;}
.{color:#0018f8;}
x{color:#00193c;}
.{color:#001980;}
x{color:#0019c4;}
.{color:#001a08;}
x{color:#001a4c;}
.{color:#001a90;}
x{color:#001ad4;}
.{color:#001b18;}
x{color:#001b5c;}
.{color:#001ba0;}
x{color:#001be4;}
.{color:#001c28;}
x{color:#001c6c;}
.{color:#001cb0;}
x{color:#001cf4;}
.{color:#001d38;}
x{color:#001d7c;}
.{color:#001dc0;}
x{color:#001e04;}
.{color:#001e48;}
x{color:#001e8c;}
.{color:#001ed0;}
x{color:#001f14;}
.{color:#001f58;}
x{color:#001f9c;}
.{color:#001fe0;}
x{color:#002024;}
.{color:#002068;}
x{color:#0020ac;}
.{color:#0020f0;}
x{color:#002134;}
.{color:#002178;}
x{color:#0021bc;}
.{color:#002200;}
x{color:#002244;}
.{color:#002288;}
x{color:#0022cc;}
.{color:#002310;}
x{color:#002354;}
.{color:#002398;}
x{color:#0023dc;}
.{color:#002420;}
x{color:#002464;}
.{color:#0024a8;}
x{color:#0024ec;}
.{color:#002530;}
x{color:#002574;}
.{color:#0025b8;}
x{color:#0025fc;}
.{color:#002640;}
x{color:#002684;}
.{color:#0026c8;}
x{color:#00270c;}
.{color:#002750;}
x{color:#002794;}
.{color:#0027d8;}
x{color:#00281c;}
.{color:#002860;}
x{color:#0028a4;}
.{color:#0028e8;}
x{color:#00292c;}
.{color:#002970;}
x{color:#0029b4;}
.{color:#0029f8;}
x{color:#002a3c;}
.{color:#002a80;}
x{color:#002ac4;}
.{color:#002b08;}
x{color:#002b4c;}
.{color:#002b90;}
x{color:#002bd4;}
.{color:#002c18;}
x{color:#002c5c;}
.{color:#002ca0;}
x{color:#002ce4;}
.{color:#002d28;}
x{color:#002d6c;}
.{color:#002db0;}
x{color:#002df4;}
.{color:#002e38;}
x{color:#002e7c;}
.{color:#002ec0;}
x{color:#002f04;}
.{color:#002f48;}
x{color:#002f8c;}
.{color:#002fd0;}
x{color:#003014;}
.{color:#003058;}
x{color:#00309c;}
.{color:#0030e0;}
x{color:#003124;}
.{color:#003168;}
x{color:#0031ac;}
.{color:#0031f0;}
x{color:#003234;}
.{color:#003278;}
x{color:#0032bc;}
.{color:#003300;}
x{color:#003344;}
.{color:#003388;}
x{color:#0033cc;}
.{color:#003410;}
x{color:#003454;}
.{color:#003498;}
x{color:#0034dc;}
.{color:#003520;}
x{color:#003564;}
.{color:#0035a8;}
x{color:#0035ec;}
.{color:#003630;}
x{color:#003674;}
.{color:#0036b8;}
x{color:#0036fc;}
.{color:#003740;}
x{color:#003784;}
.{color:#0037c8;}
x{color:#00380c;}
.{color:#003850;}
x{color:#003894;}
.{color:#0038d8;}
x{color:#00391c;}
.{color:#003960;}
x{color:#0039a4;}
.{color:#0039e8;}
x{color:#003a2c;}
.{color:#003a70;}
x{color:#003ab4;}
.{color:#003af8;}
x{color:#003b3c;}
.{color:#003b80;}
x{color:#003bc4;}
.{color:#003c08;}
x{color:#003c4c;}
.{color:#003c90;}
x{color:#003cd4;}
.{color:#003d18;}
x{color:#003d5c;}
.{color:#003da0;}
x{color:#003de4;}
.{color:#003e28;}
x{color:#003e6c;}
.{color:#003eb0;}
x{color:#003ef4;}
.{color:#003f38;}
x{color:#003f7c;}
.{color:#003fc0;}
x{color:#004004;}
.{color:#004048;}
x{color:#00408c;}
.{color:#0040d0;}
x{color:#004114;}
.{color:#004158;}
x{color:#00419c;}
.{color:#0041e0;}
x{color:#004224;}
.{color:#004268;}
x{color:#0042ac;}
.{color:#0042f0;}
x{color:#004334;}
.{color:#004378;}
x{color:#0043bc;}
.{color:#004400;}
x{color:#004444;}
.{color:#004488;}
x{color:#0044cc;}
.{color:#004510;}
x{color:#004554;}
.{color:#004598;}
x{color:#0045dc;}
.{color:#004620;}
x{color:#004664;}
.{color:#0046a8;}
x{color:#0046ec;}
.{color:#004730;}
x{color:#004774;}
.{color:#0047b8;}
x{color:#0047fc;}
.{color:#004840;}
x{color:#004884;}
.{color:#0048c8;}
x{color:#00490c;}
.{color:#004950;}
x{color:#004994;}
.{color:#0049d8;}
x{color:#004a1c;}
.{color:#004a60;}
x{color:#004aa4;}
.{color:#004ae8;}
x{color:#004b2c;}
.{color:#004b70;}
x{color:#004bb4;}
.{color:#004bf8;}
x{color:#004c3c;}
.{color:#004c80;}
x{color:#004cc4;}
.{color:#004d08;}
x{color:#004d4c;}
.{color:#004d90;}
x{color:#004dd4;}
.{color:#004e18;}
x{color:#004e5c;}
.{color:#004ea0;}
x{color:#004ee4;}
.{color:#004f28;}
x{color:#004f6c;}
.{color:#004fb0;}
x{color:#004ff4;}
.{color:#005038;}
x{color:#00507c;}
.{color:#0050c0;}
x{color:#005104;}
.{color:#005148;}
x{color:#00518c;}
.{color:#0051d0;}
x{color:#005214;}
.{color:#005258;}
x{color:#00529c;}
.{color:#0052e0;}
x{color:#005324;}
.{color:#005368;}
x{color:#0053ac;}
.{color:#0053f0;}
x{color:#005434;}
.{color:#005478;}
x{color:#0054bc;}
.{color:#005500;}
x{color:#005544;}
.{color:#005588;}
x{color:#0055cc;}
.{color:#005610;}
x{color:#005654;}
.{color:#005698;}
x{color:#0056dc;}
.{color:#005720;}
x{color:#005764;}
.{color:#0057a8;}
x{color:#0057ec;}
.{color:#005830;}
x{color:#005874;}
.{color:#0058b8;}
x{color:#0058fc;}
.{color:#005940;}
x{color:#005984;}
.{color:#0059c8;}
x{color:#005a0c;}
.{color:#005a50;}
x{color:#005a94;}
.{color:#005ad8;}
x{color:#005b1c;}
.{color:#005b60;}
x{color:#005ba4;}
.{color:#005be8;}
x{color:#005c2c;}
.{color:#005c70;}
x{color:#005cb4;}
.{color:#005cf8;}
x{color:#005d3c;}
.{color:#005d80;}
x{color:#005dc4;}
.{color:#005e08;}
x{color:#005e4c;}
.{color:#005e90;}
x{color:#005ed4;}
.{color:#005f18;}
x{color:#005f5c;}
.{color:#005fa0;}
x{color:#005fe4;}
.{color:#006028;}
x{color:#00606c;}
.{color:#0060b0;}
x{color:#0060f4;}
.{color:#006138;}
x{color:#00617c;}
.{color:#0061c0;}
x{color:#006204;}
.{color:#006248;}
x{color:#00628c;}
.{color:#0062d0;}
x{color:#006314;}
.{color:#006358;}
x{color:#00639c;}
.{color:#0063e0;}
x{color:#006424;}
.{color:#006468;}
x{color:#0064ac;}
.{color:#0064f0;}
x{color:#006534;}
.{color:#006578;}
x{color:#0065bc;}
.{color:#006600;}
x{color:#006644;}
.{color:#006688;}
x{color:#0066cc;}
.{color:#006710;}
x{color:#006754;}
.{color:#006798;}
x{color:#0067dc;}
.{color:#006820;}
x{color:#006864;}
.{color:#0068a8;}
x{color:#0068ec;}
.{color:#006930;}
x{color:#006974;}
.{color:#0069b8;}
x{color:#0069fc;}
.{color:#006a40;}
x{color:#006a84;}
.{color:#006ac8;}
x{color:#006b0c;}
.{color:#006b50;}
x{color:#006b94;}
.{color:#006bd8;}
x{color:#006c1c;}
.{color:#006c60;}
x{color:#006ca4;}
.{color:#006ce8;}
x{color:#006d2c;}
.{color:#006d70;}
x{color:#006db4;}
.{color:#006df8;}
x{color:#006e3c;}
.{color:#006e80;}
x{color:#006ec4;}
.{color:#006f08;}
x{color:#006f4c;}
.{color:#006f90;}
x{color:#006fd4;}
.{color:#007018;}
x{color:#00705c;}
.{color:#0070a0;}
x{color:#0070e4;}
.{color:#007128;}
x{color:#00716c;}
.{color:#0071b0;}
x{color:#0071f4;}
.{color:#007238;}
x{color:#00727c;}
.{color:#0072c0;}
x{color:#007304;}
.{color:#007348;}
x{color:#00738c;}
.{color:#0073d0;}
x{color:#007414;}
.{color:#007458;}
x{color:#00749c;}
.{color:#0074e0;}
x{color:#007524;}
.{color:#007568;}
x{color:#0075ac;}
.{color:#0075f0;}
x{color:#007634;}
.{color:#007678;}
x{color:#0076bc;}
.{color:#007700;}
x{color:#007744;}
.{color:#007788;}
x{color:#0077cc;}
.{color:#007810;}
x{color:#007854;}
.{color:#007898;}
x{color:#0078dc;}
.{color:#007920;}
x{color:#007964;}
.{color:#0079a8;}
x{color:#0079ec;}
.{color:#007a30;}
x{color:#007a74;}
.{color:#007ab8;}
x{color:#007afc;}
.{color:#007b40;}
x{color:#007b84;}
.{color:#007bc8;}
x{color:#007c0c;}
.{color:#007c50;}
x{color:#007c94;}
.{color:#007cd8;}
x{color:#007d1c;}
.{color:#007d60;}
x{color:#007da4;}
.{color:#007de8;}
x{color:#007e2c;}
.{color:#007e70;}
x{color:#007eb4;}
.{color:#007ef8;}
x{color:#007f3c;}
.{color:#007f80;}
x{color:#007fc4;}
.{color:#008008;}
x{color:#00804c;}
.{color:#008090;}
x{color:#0080d4;}
.{color:#008118;}
x{color:#00815c;}
.{color:#0081a0;}
x{color:#0081e4;}
.{color:#008228;}
x{color:#00826c;}
.{color:#0082b0;}
x{color:#0082f4;}
.{color:#008338;}
x{color:#00837c;}
.{color:#0083c0;}
x{color:#008404;}
.{color:#008448;}
x{color:#00848c;}
.{color:#0084d0;}
x{color:#008514;}
.{color:#008558;}
x{color:#00859c;}
.{color:#0085e0;}
x{color:#008624;}
.{color:#008668;}
x{color:#0086ac;}
.{color:#0086f0;}
x{color:#008734;}
.{color:#008778;}
x{color:#0087bc;}
.{color:#008800;}
x{color:#008844;}
.{color:#008888;}
x{color:#0088cc;}
.{color:#008910;}
x{color:#008954;}
.{color:#008998;}
x{color:#0089dc;}
.{color:#008a20;}
x{color:#008a64;}
.{color:#008aa8;}
x{color:#008aec;}
.{color:#008b30;}
x{color:#008b74;}
.{color:#008bb8;}
x{color:#008bfc;}
.{color:#008c40;}
x{color:#008c84;}
.{color:#008cc8;}
x{color:#008d0c;}
.{color:#008d50;}
x{color:#008d94;}
.{color:#008dd8;}
x{color:#008e1c;}
.{color:#008e60;}
x{color:#008ea4;}
.{color:#008ee8;}
x{color:#008f2c;}
.{color:#008f70;}
x{color:#008fb4;}
.{color:#008ff8;}
x{color:#00903c;}
.{color:#009080;}
x{color:#0090c4;}
.{color:#009108;}
x{color:#00914c;}
.{color:#009190;}
x{color:#0091d4;}
.{color:#009218;}
x{color:#00925c;}
.{color:#0092a0;}
x{color:#0092e4;}
.{color:#009328;}
x{color:#00936c;}
.{color:#0093b0;}
x{color:#0093f4;}
.{color:#009438;}
x{color:#00947c;}
.{color:#0094c0;}
x{color:#009504;}
.{color:#009548;}
x{color:#00958c;}
.{color:#0095d0;}
x{color:#009614;}
.{color:#009658;}
x{color:#00969c;}
.{color:#0096e0;}
x{color:#009724;}
.{color:#009768;}
x{color:#0097ac;}
.{color:#0097f0;}
x{color:#009834;}
.{color:#009878;}
x{color:#0098bc;}
.{color:#009900;}
x{color:#009944;}
.{color:#009988;}
x{color:#0099cc;}
.{color:#009a10;}
x{color:#009a54;}
.{color:#009a98;}
x{color:#009adc;}
.{color:#009b20;}
x{color:#009b64;}
.{color:#009ba8;}
x{color:#009bec;}
.{color:#009c30;}
x{color:#009c74;}
.{color:#009cb8;}
x{color:#009cfc;}
.{color:#009d40;}
x{color:#009d84;}
.{color:#009dc8;}
x{color:#009e0c;}
.{color:#009e50;}
x{color:#009e94;}
.{color:#009ed8;}
x{color:#009f1c;}
.{color:#009f60;}
x{color:#009fa4;}
.{color:#009fe8;}
x{color:#00a02c;}
.{color:#00a070;}
x{color:#00a0b4;}
.{color:#00a0f8;}
x{color:#00a13c;}
.{color:#00a180;}
x{color:#00a1c4;}
.{color:#00a208;}
x{color:#00a24c;}
.{color:#00a290;}
x{color:#00a2d4;}
.{color:#00a318;}
x{color:#00a35c;}
.{color:#00a3a0;}
x{color:#00a3e4;}
.{color:#00a428;}
x{color:#00a46c;}
.{color:#00a4b0;}
x{color:#00a4f4;}
.{color:#00a538;}
x{color:#00a57c;}
.{color:#00a5c0;}
x{color:#00a604;}
.{color:#00a648;}
x{color:#00a68c;}
.{color:#00a6d0;}
x{color:#00a714;}
.{color:#00a758;}
x{color:#00a79c;}
.{color:#00a7e0;}
x{color:#00a824;}
.{color:#00a868;}
x{color:#00a8ac;}
.{color:#00a8f0;}
x{color:#00a934;}
.{color:#00a978;}
x{color:#00a9bc;}
.{color:#00aa00;}
x{color:#00aa44;}
.{color:#00aa88;}
x{color:#00aacc;}
.{color:#00ab10;}
x{color:#00ab54;}
.{color:#00ab98;}
x{color:#00abdc;}
.{color:#00ac20;}
x{color:#00ac64;}
.{color:#00aca8;}
x{color:#00acec;}
.{color:#00ad30;}
x{color:#00ad74;}
.{color:#00adb8;}
x{color:#00adfc;}
.{color:#00ae40;}
x{color:#00ae84;}
.{color:#00aec8;}
x{color:#00af0c;}
.{color:#00af50;}
x{color:#00af94;}
.{color:#00afd8;}
x{color:#00b01c;}
.{color:#00b060;}
x{color:#00b0a4;}
.{color:#00b0e8;}
x{color:#00b12c;}
.{color:#00b170;}
x{color:#00b1b4;}
.{color:#00b1f8;}
x{color:#00b23c;}
.{color:#00b280;}
x{color:#00b2c4;}
.{color:#00b308;}
x{color:#00b34c;}
.{color:#00b390;}
x{color:#00b3d4;}
.{color:#00b418;}
x{color:#00b45c;}
.{color:#00b4a0;}
x{color:#00b4e4;}
.{color:#00b528;}
x{color:#00b56c;}
.{color:#00b5b0;}
x{color:#00b5f4;}
.{color:#00b638;}
x{color:#00b67c;}
.{color:#00b6c0;}
x{color:#00b704;}
.{color:#00b748;}
x{color:#00b78c;}
.{color:#00b7d0;}
x{color:#00b814;}
.{color:#00b858;}
x{color:#00b89c;}
.{color:#00b8e0;}
x{color:#00b924;}
.{color:#00b968;}
x{color:#00b9ac;}
.{color:#00b9f0;}
x{color:#00ba34;}
.{color:#00ba78;}
x{color:#00babc;}
.{color:#00bb00;}
x{color:#00bb44;}
.{color:#00bb88;}
x{color:#00bbcc;}
.{color:#00bc10;}
x{color:#00bc54;}
.{color:#00bc98;}
x{color:#00bcdc;}
.{color:#00bd20;}
x{color:#00bd64;}
.{color:#00bda8;}
x{color:#00bdec;}
.{color:#00be30;}
x{color:#00be74;}
.{color:#00beb8;}
x{color:#00befc;}
.{color:#00bf40;}
x{color:#00bf84;}
.{color:#00bfc8;}
x{color:#00c00c;}
.{color:#00c050;}
x{color:#00c094;}
.{color:#00c0d8;}
x{color:#00c11c;}
.{color:#00c160;}
x{color:#00c1a4;}
.{color:#00c1e8;}
x{color:#00c22c;}
.{color:#00c270;}
x{color:#00c2b4;}
.{color:#00c2f8;}
x{color:#00c33c;}
.{color:#00c380;}
x{color:#00c3c4;}
.{color:#00c408;}
x{color:#00c44c;}
.{color:#00c490;}
x{color:#00c4d4;}
.{color:#00c518;}
x{color:#00c55c;}
.{color:#00c5a0;}
x{color:#00c5e4;}
.{color:#00c628;}
x{color:#00c66c;}
.{color:#00c6b0;}
x{color:#00c6f4;}
.{color:#00c738;}
x{color:#00c77c;}
.{color:#00c7c0;}
x{color:#00c804;}
.{color:#00c848;}
x{color:#00c88c;}
.{color:#00c8d0;}
x{color:#00c914;}
.{color:#00c958;}
x{color:#00c99c;}
.{color:#00c9e0;}
x{color:#00ca24;}
.{color:#00ca68;}
x{color:#00caac;}
.{color:#00caf0;}
x{color:#00cb34;}
.{color:#00cb78;}
x{color:#00cbbc;}
.{color:#00cc00;}
x{color:#00cc44;}
.{color:#00cc88;}
x{color:#00cccc;}
.{color:#00cd10;}
x{color:#00cd54;}
.{color:#00cd98;}
x{color:#00cddc;}
.{color:#00ce20;}
x{color:#00ce64;}
.{color:#00cea8;}
x{color:#00ceec;}
.{color:#00cf30;}
x{color:#00cf74;}
.{color:#00cfb8;}
x{color:#00cffc;}
.{color:#00d040;}
x{color:#00d084;}
.{color:#00d0c8;}
x{color:#00d10c;}
.{color:#00d150;}
x{color:#00d194;}
.{color:#00d1d8;}
x{color:#00d21c;}
.{color:#00d260;}
x{color:#00d2a4;}
.{color:#00d2e8;}
x{color:#00d32c;}
.{color:#00d370;}
x{color:#00d3b4;}
.{color:#00d3f8;}
x{color:#00d43c;}
.{color:#00d480;}
x{color:#00d4c4;}
.{color:#00d508;}
x{color:#00d54c;}
.{color:#00d590;}
x{color:#00d5d4;}
.{color:#00d618;}
x{color:#00d65c;}
.{color:#00d6a0;}
x{color:#00d6e4;}
.{color:#00d728;}
x{color:#00d76c;}
.{color:#00d7b0;}
x{color:#00d7f4;}
.{color:#00d838;}
x{color:#00d87c;}
.{color:#00d8c0;}
x{color:#00d904;}
.{color:#00d948;}
x{color:#00d98c;}
.{color:#00d9d0;}
x{color:#00da14;}
.{color:#00da58;}
x{color:#00da9c;}
.{color:#00dae0;}
x{color:#00db24;}
.{color:#00db68;}
x{color:#00dbac;}
.{color:#00dbf0;}
x{color:#00dc34;}
.{color:#00dc78;}
x{color:#00dcbc;}
.{color:#00dd00;}
x{color:#00dd44;}
.{color:#00dd88;}
x{color:#00ddcc;}
.{color:#00de10;}
x{color:#00de54;}
.{color:#00de98;}
x{color:#00dedc;}
.{color:#00df20;}
x{color:#00df64;}
.{color:#00dfa8;}
x{color:#00dfec;}
.{color:#00e030;}
x{color:#00e074;}
.{color:#00e0b8;}
x{color:#00e0fc;}
.{color:#00e140;}
x{color:#00e184;}
.{color:#00e1c8;}
x{color:#00e20c;}
.{color:#00e250;}
x{color:#00e294;}
.{color:#00e2d8;}
x{color:#00e31c;}
.{color:#00e360;}
x{color:#00e3a4;}
.{color:#00e3e8;}
x{color:#00e42c;}
.{color:#00e470;}
x{color:#00e4b4;}
.{color:#00e4f8;}
x{color:#00e53c;}
.{color:#00e580;}
x{color:#00e5c4;}
.{color:#00e608;}
x{color:#00e64c;}
.{color:#00e690;}
x{color:#00e6d4;}
.{color:#00e718;}
x{color:#00e75c;}
.{color:#00e7a0;}
x{color:#00e7e4;}
.{color:#00e828;}
x{color:#00e86c;}
.{color:#00e8b0;}
x{color:#00e8f4;}
.{color:#00e938;}
x{color:#00e97c;}
.{color:#00e9c0;}
x{color:#00ea04;}
.{color:#00ea48;}
x{color:#00ea8c;}
.{color:#00ead0;}
x{color:#00eb14;}
.{color:#00eb58;}
x{color:#00eb9c;}
.{color:#00ebe0;}
x{color:#00ec24;}
.{color:#00ec68;}
x{color:#00ecac;}
.{color:#00ecf0;}
x{color:#00ed34;}
.{color:#00ed78;}
x{color:#00edbc;}
.{color:#00ee00;}
x{color:#00ee44;}
.{color:#00ee88;}
x{color:#00eecc;}
.{color:#00ef10;}
x{color:#00ef54;}
.{color:#00ef98;}
x{color:#00efdc;}
.{color:#00f020;}
x{color:#00f064;}
.{color:#00f0a8;}
x{color:#00f0ec;}
.{color:#00f130;}
x{color:#00f174;}
.{color:#00f1b8;}
x{color:#00f1fc;}
.{color:#00f240;}
x{color:#00f284;}
.{color:#00f2c8;}
x{color:#00f30c;}
.{color:#00f350;}
x{color:#00f394;}
.{color:#00f3d8;}
x{color:#00f41c;}
.{color:#00f460;}
x{color:#00f4a4;}
.{color:#00f4e8;}
x{color:#00f52c;}
.{color:#00f570;}
x{color:#00f5b4;}
.{color:#00f5f8;}
x{color:#00f63c;}
.{color:#00f680;}
x{color:#00f6c4;}
.{color:#00f708;}
x{color:#00f74c;}
.{color:#00f790;}
x{color:#00f7d4;}
.{color:#00f818;}
x{color:#00f85c;}
.{color:#00f8a0;}
x{color:#00f8e4;}
.{color:#00f928;}
x{color:#00f96c;}
.{color:#00f9b0;}
x{color:#00f9f4;}
.{color:#00fa38;}
x{color:#00fa7c;}
.{color:#00fac0;}
x{color:#00fb04;}
.{color:#00fb48;}
x{color:#00fb8c;}
.{color:#00fbd0;}
x{color:#00fc14;}
.{color:#00fc58;}
x{color:#00fc9c;}
.{color:#00fce0;}
x{color:#00fd24;}
.{color:#00fd68;}
x{color:#00fdac;}
.{color:#00fdf0;}
x{color:#00fe34;}
.{color:#00fe78;}
x{color:#00febc;}
.{color:#00ff00;}
x{color:#00ff44;}
.{color:#00ff88;}
x{color:#00ffcc;}
.{color:#010010;}
x{color:#010054;}
.{color:#010098;}
x{color:#0100dc;}
.{color:#010120;}
x{color:#010164;}
.{color:#0101a8;}
x{color:#0101ec;}
.{color:#010230;}
x{color:#010274;}
.{color:#0102b8;}
x{color:#0102fc;}
.{color:#010340;}
x{color:#010384;}
.{color:#0103c8;}
x{color:#01040c;}
.{color:#010450;}
x{color:#010494;}
.{color:#0104d8;}
x{color:#01051c;}
.{color:#010560;}
x{color:#0105a4;}
.{color:#0105e8;}
x{color:#01062c;}
.{color:#010670;}
x{color:#0106b4;}
.{color:#0106f8;}
x{color:#01073c;}
.{color:#010780;}
x{color:#0107c4;}
.{color:#010808;}
x{color:#01084c;}
.{color:#010890;}
x{color:#0108d4;}
.{color:#010918;}
x{color:#01095c;}
