/* css */
.{color:#000000;}
x{color:#000187;}
.{color:#00030e;}
x{color:#000495;}
.{color:#00061c;}
x{color:#0007a3;}
.{color:#00092a;}
x{color:#000ab1;}
.{color:#000c38;}
x{color:#000dbf;}
.{color:#000f46;}
x{color:#0010cd;}
.{color:#001254;}
x{color:#0013db;}
.{color:#001562;}
x{color:#0016e9;}
.{color:#001870;}
x{color:#0019f7;}
.{color:#001b7e;}
x{color:#001d05;}
.{color:#001e8c;}
x{color:#002013;}
.{color:#00219a;}
x{color:#002321;}
.{color:#0024a8;}
x{color:#00262f;}
.{color:#0027b6;}
x{color:#00293d;}
.{color:#002ac4;}
x{color:#002c4b;}
.{color:#002dd2;}
x{color:#002f59;}
.{color:#0030e0;}
x{color:#003267;}
.{color:#0033ee;}
x{color:#003575;}
.{color:#0036fc;}
x{color:#003883;}
.{color:#003a0a;}
x{color:#003b91;}
.{color:#003d18;}
x{color:#003e9f;}
.{color:#004026;}
x{color:#0041ad;}
.{color:#004334;}
x{color:#0044bb;}
.{color:#004642;}
x{color:#0047c9;}
.{color:#004950;}
x{color:#004ad7;}
.{color:#004c5e;}
x{color:#004de5;}
.{color:#004f6c;}
x{color:#0050f3;}
.{color:#00527a;}
x{color:#005401;}
.{color:#005588;}
x{color:#00570f;}
.{color:#005896;}
x{color:#005a1d;}
.{color:#005ba4;}
x{color:#005d2b;}
.{color:#005eb2;}
x{color:#006039;}
.{color:#0061c0;}
x{color:#006347;}
.{color:#0064ce;}
x{color:#006655;}
.{color:#0067dc;}
x{color:#006963;}
.{color:#006aea;}
x{color:#006c71;}
.{color:#006df8;}
x{color:#006f7f;}
.{color:#007106;}
x{color:#00728d;}
.{color:#007414;}
x{color:#00759b;}
.{color:#007722;}
x{color:#0078a9;}
.{color:#007a30;}
x{color:#007bb7;}
.{color:#007d3e;}
x{color:#007ec5;}
.{color:#00804c;}
x{color:#0081d3;}
.{color:#00835a;}
x{color:#0084e1;}
.{color:#008668;}
x{color:#0087ef;}
.{color:#008976;}
x{color:#008afd;}
.{color:#008c84;}
x{color:#008e0b;}
.{color:#008f92;}
x{color:#009119;}
.{color:#0092a0;}
x{color:#009427;}
.{color:#0095ae;}
x{color:#009735;}
.{color:#0098bc;}
x{color:#009a43;}
.{color:#009bca;}
x{color:#009d51;}
.{color:#009ed8;}
x{color:#00a05f;}
.{color:#00a1e6;}
x{color:#00a36d;}
.{color:#00a4f4;}
x{color:#00a67b;}
.{color:#00a802;}
x{color:#00a989;}
.{color:#00ab10;}
x{color:#00ac97;}
.{color:#00ae1e;}
x{color:#00afa5;}
.{color:#00b12c;}
x{color:#00b2b3;}
.{color:#00b43a;}
x{color:#00b5c1;}
.{color:#00b748;}
x{color:#00b8cf;}
.{color:#00ba56;}
x{color:#00bbdd;}
.{color:#00bd64;}
x{color:#00beeb;}
.{color:#00c072;}
x{color:#00c1f9;}
.{color:#00c380;}
x{color:#00c507;}
.{color:#00c68e;}
x{color:#00c815;}
.{color:#00c99c;}
x{color:#00cb23;}
.{color:#00ccaa;}
x{color:#00ce31;}
.{color:#00cfb8;}
x{color:#00d13f;}
.{color:#00d2c6;}
x{color:#00d44d;}
.{color:#00d5d4;}
x{color:#00d75b;}
.{color:#00d8e2;}
x{color:#00da69;}
.{color:#00dbf0;}
x{color:#00dd77;}
.{color:#00defe;}
x{color:#00e085;}
.{color:#00e20c;}
x{color:#00e393;}
.{color:#00e51a;}
x{color:#00e6a1;}
.{color:#00e828;}
x{color:#00e9af;}
.{color:#00eb36;}
x{color:#00ecbd;}
.{color:#00ee44;}
x{color:#00efcb;}
.{color:#00f152;}
x{color:#00f2d9;}
.{color:#00f460;}
x{color:#00f5e7;}
.{color:#00f76e;}
x{color:#00f8f5;}
.{color:#00fa7c;}
x{color:#00fc03;}
.{color:#00fd8a;}
x{color:#00ff11;}
.{color:#010098;}
x{color:#01021f;}
.{color:#0103a6;}
x{color:#01052d;}
.{color:#0106b4;}
x{color:#01083b;}
.{color:#0109c2;}
x{color:#010b49;}
.{color:#010cd0;}
x{color:#010e57;}
.{color:#010fde;}
x{color:#011165;}
.{color:#0112ec;}
x{color:#011473;}
.{color:#0115fa;}
x{color:#011781;}
.{color:#011908;}
x{color:#011a8f;}
.{color:#011c16;}
x{color:#011d9d;}
.{color:#011f24;}
x{color:#0120ab;}
.{color:#012232;}
x{color:#0123b9;}
.{color:#012540;}
x{color:#0126c7;}
.{color:#01284e;}
x{color:#0129d5;}
.{color:#012b5c;}
x{color:#012ce3;}
.{color:#012e6a;}
x{color:#012ff1;}
.{color:#013178;}
x{color:#0132ff;}
.{color:#013486;}
x{color:#01360d;}
.{color:#013794;}
x{color:#01391b;}
.{color:#013aa2;}
x{color:#013c29;}
.{color:#013db0;}
x{color:#013f37;}
.{color:#0140be;}
x{color:#014245;}
.{color:#0143cc;}
x{color:#014553;}
.{color:#0146da;}
x{color:#014861;}
.{color:#0149e8;}
x{color:#014b6f;}
.{color:#014cf6;}
x{color:#014e7d;}
.{color:#015004;}
x{color:#01518b;}
.{color:#015312;}
x{color:#015499;}
.{color:#015620;}
x{color:#0157a7;}
.{color:#01592e;}
x{color:#015ab5;}
.{color:#015c3c;}
x{color:#015dc3;}
.{color:#015f4a;}
x{color:#0160d1;}
.{color:#016258;}
x{color:#0163df;}
.{color:#016566;}
x{color:#0166ed;}
.{color:#016874;}
x{color:#0169fb;}
.{color:#016b82;}
x{color:#016d09;}
.{color:#016e90;}
x{color:#017017;}
.{color:#01719e;}
x{color:#017325;}
.{color:#0174ac;}
x{color:#017633;}
.{color:#0177ba;}
x{color:#017941;}
.{color:#017ac8;}
x{color:#017c4f;}
.{color:#017dd6;}
x{color:#017f5d;}
.{color:#0180e4;}
x{color:#01826b;}
.{color:#0183f2;}
x{color:#018579;}
.{color:#018700;}
x{color:#018887;}
.{color:#018a0e;}
x{color:#018b95;}
.{color:#018d1c;}
x{color:#018ea3;}
.{color:#01902a;}
x{color:#0191b1;}
.{color:#019338;}
x{color:#0194bf;}
.{color:#019646;}
x{color:#0197cd;}
.{color:#019954;}
x{color:#019adb;}
.{color:#019c62;}
x{color:#019de9;}
.{color:#019f70;}
x{color:#01a0f7;}
.{color:#01a27e;}
x{color:#01a405;}
.{color:#01a58c;}
x{color:#01a713;}
.{color:#01a89a;}
x{color:#01aa21;}
.{color:#01aba8;}
x{color:#01ad2f;}
.{color:#01aeb6;}
x{color:#01b03d;}
.{color:#01b1c4;}
x{color:#01b34b;}
.{color:#01b4d2;}
x{color:#01b659;}
.{color:#01b7e0;}
x{color:#01b967;}
.{color:#01baee;}
x{color:#01bc75;}
.{color:#01bdfc;}
x{color:#01bf83;}
.{color:#01c10a;}
x{color:#01c291;}
.{color:#01c418;}
x{color:#01c59f;}
.{color:#01c726;}
x{color:#01c8ad;}
.{color:#01ca34;}
x{color:#01cbbb;}
.{color:#01cd42;}
x{color:#01cec9;}
.{color:#01d050;}
x{color:#01d1d7;}
.{color:#01d35e;}
x{color:#01d4e5;}
.{color:#01d66c;}
x{color:#01d7f3;}
.{color:#01d97a;}
x{color:#01db01;}
.{color:#01dc88;}
x{color:#01de0f;}
.{color:#01df96;}
x{color:#01e11d;}
.{color:#01e2a4;}
x{color:#01e42b;}
.{color:#01e5b2;}
x{color:#01e739;}
.{color:#01e8c0;}
x{color:#01ea47;}
.{color:#01ebce;}
x{color:#01ed55;}
.{color:#01eedc;}
x{color:#01f063;}
.{color:#01f1ea;}
x{color:#01f371;}
.{color:#01f4f8;}
x{color:#01f67f;}
.{color:#01f806;}
x{color:#01f98d;}
.{color:#01fb14;}
x{color:#01fc9b;}
.{color:#01fe22;}
x{color:#01ffa9;}
.{color:#020130;}
x{color:#0202b7;}
.{color:#02043e;}
x{color:#0205c5;}
.{color:#02074c;}
x{color:#0208d3;}
.{color:#020a5a;}
x{color:#020be1;}
.{color:#020d68;}
x{color:#020eef;}
.{color:#021076;}
x{color:#0211fd;}
.{color:#021384;}
x{color:#02150b;}
.{color:#021692;}
x{color:#021819;}
.{color:#0219a0;}
x{color:#021b27;}
.{color:#021cae;}
x{color:#021e35;}
.{color:#021fbc;}
x{color:#022143;}
.{color:#0222ca;}
x{color:#022451;}
.{color:#0225d8;}
x{color:#02275f;}
.{color:#0228e6;}
x{color:#022a6d;}
.{color:#022bf4;}
x{color:#022d7b;}
.{color:#022f02;}
x{color:#023089;}
.{color:#023210;}
x{color:#023397;}
.{color:#02351e;}
x{color:#0236a5;}
.{color:#02382c;}
x{color:#0239b3;}
.{color:#023b3a;}
x{color:#023cc1;}
.{color:#023e48;}
x{color:#023fcf;}
.{color:#024156;}
x{color:#0242dd;}
.{color:#024464;}
x{color:#0245eb;}
.{color:#024772;}
x{color:#0248f9;}
.{color:#024a80;}
x{color:#024c07;}
.{color:#024d8e;}
x{color:#024f15;}
.{color:#02509c;}
x{color:#025223;}
.{color:#0253aa;}
x{color:#025531;}
.{color:#0256b8;}
x{color:#02583f;}
.{color:#0259c6;}
x{color:#025b4d;}
.{color:#025cd4;}
x{color:#025e5b;}
.{color:#025fe2;}
x{color:#026169;}
.{color:#0262f0;}
x{color:#026477;}
.{color:#0265fe;}
x{color:#026785;}
.{color:#02690c;}
x{color:#026a93;}
.{color:#026c1a;}
x{color:#026da1;}
.{color:#026f28;}
x{color:#0270af;}
.{color:#027236;}
x{color:#0273bd;}
.{color:#027544;}
x{color:#0276cb;}
.{color:#027852;}
x{color:#0279d9;}
.{color:#027b60;}
x{color:#027ce7;}
.{color:#027e6e;}
x{color:#027ff5;}
.{color:#02817c;}
x{color:#028303;}
.{color:#02848a;}
x{color:#028611;}
.{color:#028798;}
x{color:#02891f;}
.{color:#028aa6;}
x{color:#028c2d;}
.{color:#028db4;}
x{color:#028f3b;}
.{color:#0290c2;}
x{color:#029249;}
.{color:#0293d0;}
x{color:#029557;}
.{color:#0296de;}
x{color:#029865;}
.{color:#0299ec;}
x{color:#029b73;}
.{color:#029cfa;}
x{color:#029e81;}
.{color:#02a008;}
x{color:#02a18f;}
.{color:#02a316;}
x{color:#02a49d;}
.{color:#02a624;}
x{color:#02a7ab;}
.{color:#02a932;}
x{color:#02aab9;}
.{color:#02ac40;}
x{color:#02adc7;}
.{color:#02af4e;}
x{color:#02b0d5;}
.{color:#02b25c;}
x{color:#02b3e3;}
.{color:#02b56a;}
x{color:#02b6f1;}
.{color:#02b878;}
x{color:#02b9ff;}
.{color:#02bb86;}
x{color:#02bd0d;}
.{color:#02be94;}
x{color:#02c01b;}
.{color:#02c1a2;}
x{color:#02c329;}
.{color:#02c4b0;}
x{color:#02c637;}
.{color:#02c7be;}
x{color:#02c945;}
.{color:#02cacc;}
x{color:#02cc53;}
.{color:#02cdda;}
x{color:#02cf61;}
.{color:#02d0e8;}
x{color:#02d26f;}
.{color:#02d3f6;}
x{color:#02d57d;}
.{color:#02d704;}
x{color:#02d88b;}
.{color:#02da12;}
x{color:#02db99;}
.{color:#02dd20;}
x{color:#02dea7;}
.{color:#02e02e;}
x{color:#02e1b5;}
.{color:#02e33c;}
x{color:#02e4c3;}
.{color:#02e64a;}
x{color:#02e7d1;}
.{color:#02e958;}
x{color:#02eadf;}
.{color:#02ec66;}
x{color:#02eded;}
.{color:#02ef74;}
x{color:#02f0fb;}
.{color:#02f282;}
x{color:#02f409;}
.{color:#02f590;}
x{color:#02f717;}
.{color:#02f89e;}
x{color:#02fa25;}
.{color:#02fbac;}
x{color:#02fd33;}
.{color:#02feba;}
x{color:#030041;}
.{color:#0301c8;}
x{color:#03034f;}
.{color:#0304d6;}
x{color:#03065d;}
.{color:#0307e4;}
x{color:#03096b;}
.{color:#030af2;}
x{color:#030c79;}
.{color:#030e00;}
x{color:#030f87;}
.{color:#03110e;}
x{color:#031295;}
.{color:#03141c;}
x{color:#0315a3;}
.{color:#03172a;}
x{color:#0318b1;}
.{color:#031a38;}
x{color:#031bbf;}
.{color:#031d46;}
x{color:#031ecd;}
.{color:#032054;}
x{color:#0321db;}
.{color:#032362;}
x{color:#0324e9;}
.{color:#032670;}
x{color:#0327f7;}
.{color:#03297e;}
x{color:#032b05;}
.{color:#032c8c;}
x{color:#032e13;}
.{color:#032f9a;}
x{color:#033121;}
.{color:#0332a8;}
x{color:#03342f;}
.{color:#0335b6;}
x{color:#03373d;}
.{color:#0338c4;}
x{color:#033a4b;}
.{color:#033bd2;}
x{color:#033d59;}
.{color:#033ee0;}
x{color:#034067;}
.{color:#0341ee;}
x{color:#034375;}
.{color:#0344fc;}
x{color:#034683;}
.{color:#03480a;}
x{color:#034991;}
.{color:#034b18;}
x{color:#034c9f;}
.{color:#034e26;}
x{color:#034fad;}
.{color:#035134;}
x{color:#0352bb;}
.{color:#035442;}
x{color:#0355c9;}
.{color:#035750;}
x{color:#0358d7;}
.{color:#035a5e;}
x{color:#035be5;}
.{color:#035d6c;}
x{color:#035ef3;}
.{color:#03607a;}
x{color:#036201;}
.{color:#036388;}
x{color:#03650f;}
.{color:#036696;}
x{color:#03681d;}
.{color:#0369a4;}
x{color:#036b2b;}
.{color:#036cb2;}
x{color:#036e39;}
.{color:#036fc0;}
x{color:#037147;}
.{color:#0372ce;}
x{color:#037455;}
.{color:#0375dc;}
x{color:#037763;}
.{color:#0378ea;}
x{color:#037a71;}
.{color:#037bf8;}
x{color:#037d7f;}
.{color:#037f06;}
x{color:#03808d;}
.{color:#038214;}
x{color:#03839b;}
.{color:#038522;}
x{color:#0386a9;}
.{color:#038830;}
x{color:#0389b7;}
.{color:#038b3e;}
x{color:#038cc5;}
.{color:#038e4c;}
x{color:#038fd3;}
.{color:#03915a;}
x{color:#0392e1;}
.{color:#039468;}
x{color:#0395ef;}
.{color:#039776;}
x{color:#0398fd;}
.{color:#039a84;}
x{color:#039c0b;}
.{color:#039d92;}
x{color:#039f19;}
.{color:#03a0a0;}
x{color:#03a227;}
.{color:#03a3ae;}
x{color:#03a535;}
.{color:#03a6bc;}
x{color:#03a843;}
.{color:#03a9ca;}
x{color:#03ab51;}
.{color:#03acd8;}
x{color:#03ae5f;}
.{color:#03afe6;}
x{color:#03b16d;}
.{color:#03b2f4;}
x{color:#03b47b;}
.{color:#03b602;}
x{color:#03b789;}
.{color:#03b910;}
x{color:#03ba97;}
.{color:#03bc1e;}
x{color:#03bda5;}
.{color:#03bf2c;}
x{color:#03c0b3;}
.{color:#03c23a;}
x{color:#03c3c1;}
.{color:#03c548;}
x{color:#03c6cf;}
.{color:#03c856;}
x{color:#03c9dd;}
.{color:#03cb64;}
x{color:#03cceb;}
.{color:#03ce72;}
x{color:#03cff9;}
.{color:#03d180;}
x{color:#03d307;}
.{color:#03d48e;}
x{color:#03d615;}
.{color:#03d79c;}
x{color:#03d923;}
.{color:#03daaa;}
x{color:#03dc31;}
.{color:#03ddb8;}
x{color:#03df3f;}
.{color:#03e0c6;}
x{color:#03e24d;}
.{color:#03e3d4;}
x{color:#03e55b;}
.{color:#03e6e2;}
x{color:#03e869;}
.{color:#03e9f0;}
x{color:#03eb77;}
.{color:#03ecfe;}
x{color:#03ee85;}
.{color:#03f00c;}
x{color:#03f193;}
.{color:#03f31a;}
x{color:#03f4a1;}
.{color:#03f628;}
x{color:#03f7af;}
.{color:#03f936;}
x{color:#03fabd;}
.{color:#03fc44;}
x{color:#03fdcb;}
.{color:#03ff52;}
x{color:#0400d9;}
.{color:#040260;}
x{color:#0403e7;}
.{color:#04056e;}
x{color:#0406f5;}
.{color:#04087c;}
x{color:#040a03;}
.{color:#040b8a;}
x{color:#040d11;}
.{color:#040e98;}
x{color:#04101f;}
.{color:#0411a6;}
x{color:#04132d;}
.{color:#0414b4;}
x{color:#04163b;}
.{color:#0417c2;}
x{color:#041949;}
.{color:#041ad0;}
x{color:#041c57;}
.{color:#041dde;}
x{color:#041f65;}
.{color:#0420ec;}
x{color:#042273;}
.{color:#0423fa;}
x{color:#042581;}
.{color:#042708;}
x{color:#04288f;}
.{color:#042a16;}
x{color:#042b9d;}
.{color:#042d24;}
x{color:#042eab;}
.{color:#043032;}
x{color:#0431b9;}
.{color:#043340;}
x{color:#0434c7;}
.{color:#04364e;}
x{color:#0437d5;}
.{color:#04395c;}
x{color:#043ae3;}
.{color:#043c6a;}
x{color:#043df1;}
.{color:#043f78;}
x{color:#0440ff;}
.{color:#044286;}
x{color:#04440d;}
.{color:#044594;}
x{color:#04471b;}
.{color:#0448a2;}
x{color:#044a29;}
.{color:#044bb0;}
x{color:#044d37;}
.{color:#044ebe;}
x{color:#045045;}
.{color:#0451cc;}
x{color:#045353;}
.{color:#0454da;}
x{color:#045661;}
.{color:#0457e8;}
x{color:#04596f;}
.{color:#045af6;}
x{color:#045c7d;}
.{color:#045e04;}
x{color:#045f8b;}
.{color:#046112;}
x{color:#046299;}
.{color:#046420;}
x{color:#0465a7;}
.{color:#04672e;}
x{color:#0468b5;}
.{color:#046a3c;}
x{color:#046bc3;}
.{color:#046d4a;}
x{color:#046ed1;}
.{color:#047058;}
x{color:#0471df;}
.{color:#047366;}
x{color:#0474ed;}
.{color:#047674;}
x{color:#0477fb;}
.{color:#047982;}
x{color:#047b09;}
.{color:#047c90;}
x{color:#047e17;}
.{color:#047f9e;}
x{color:#048125;}
.{color:#0482ac;}
x{color:#048433;}
.{color:#0485ba;}
x{color:#048741;}
.{color:#0488c8;}
x{color:#048a4f;}
.{color:#048bd6;}
x{color:#048d5d;}
.{color:#048ee4;}
x{color:#04906b;}
.{color:#0491f2;}
x{color:#049379;}
.{color:#049500;}
x{color:#049687;}
.{color:#04980e;}
x{color:#049995;}
.{color:#049b1c;}
x{color:#049ca3;}
.{color:#049e2a;}
x{color:#049fb1;}
.{color:#04a138;}
x{color:#04a2bf;}
.{color:#04a446;}
x{color:#04a5cd;}
.{color:#04a754;}
x{color:#04a8db;}
.{color:#04aa62;}
x{color:#04abe9;}
.{color:#04ad70;}
x{color:#04aef7;}
.{color:#04b07e;}
x{color:#04b205;}
.{color:#04b38c;}
x{color:#04b513;}
.{color:#04b69a;}
x{color:#04b821;}
.{color:#04b9a8;}
x{color:#04bb2f;}
.{color:#04bcb6;}
x{color:#04be3d;}
.{color:#04bfc4;}
x{color:#04c14b;}
.{color:#04c2d2;}
x{color:#04c459;}
.{color:#04c5e0;}
x{color:#04c767;}
.{color:#04c8ee;}
x{color:#04ca75;}
.{color:#04cbfc;}
x{color:#04cd83;}
.{color:#04cf0a;}
x{color:#04d091;}
.{color:#04d218;}
x{color:#04d39f;}
.{color:#04d526;}
x{color:#04d6ad;}
.{color:#04d834;}
x{color:#04d9bb;}
.{color:#04db42;}
x{color:#04dcc9;}
.{color:#04de50;}
x{color:#04dfd7;}
.{color:#04e15e;}
x{color:#04e2e5;}
.{color:#04e46c;}
x{color:#04e5f3;}
.{color:#04e77a;}
x{color:#04e901;}
.{color:#04ea88;}
x{color:#04ec0f;}
.{color:#04ed96;}
x{color:#04ef1d;}
.{color:#04f0a4;}
x{color:#04f22b;}
.{color:#04f3b2;}
x{color:#04f539;}
.{color:#04f6c0;}
x{color:#04f847;}
.{color:#04f9ce;}
x{color:#04fb55;}
.{color:#04fcdc;}
x{color:#04fe63;}
.{color:#04ffea;}
x{color:#050171;}
.{color:#0502f8;}
x{color:#05047f;}
.{color:#050606;}
x{color:#05078d;}
.{color:#050914;}
x{color:#050a9b;}
.{color:#050c22;}
x{color:#050da9;}
.{color:#050f30;}
x{color:#0510b7;}
.{color:#05123e;}
x{color:#0513c5;}
.{color:#05154c;}
x{color:#0516d3;}
.{color:#05185a;}
x{color:#0519e1;}
.{color:#051b68;}
x{color:#051cef;}
.{color:#051e76;}
x{color:#051ffd;}
.{color:#052184;}
x{color:#05230b;}
.{color:#052492;}
x{color:#052619;}
.{color:#0527a0;}
x{color:#052927;}
.{color:#052aae;}
x{color:#052c35;}
.{color:#052dbc;}
x{color:#052f43;}
.{color:#0530ca;}
x{color:#053251;}
.{color:#0533d8;}
x{color:#05355f;}
.{color:#0536e6;}
x{color:#05386d;}
.{color:#0539f4;}
x{color:#053b7b;}
.{color:#053d02;}
x{color:#053e89;}
.{color:#054010;}
x{color:#054197;}
.{color:#05431e;}
x{color:#0544a5;}
.{color:#05462c;}
x{color:#0547b3;}
.{color:#05493a;}
x{color:#054ac1;}
.{color:#054c48;}
x{color:#054dcf;}
.{color:#054f56;}
x{color:#0550dd;}
.{color:#055264;}
x{color:#0553eb;}
.{color:#055572;}
x{color:#0556f9;}
.{color:#055880;}
x{color:#055a07;}
.{color:#055b8e;}
x{color:#055d15;}
.{color:#055e9c;}
x{color:#056023;}
.{color:#0561aa;}
x{color:#056331;}
.{color:#0564b8;}
x{color:#05663f;}
.{color:#0567c6;}
x{color:#05694d;}
.{color:#056ad4;}
x{color:#056c5b;}
.{color:#056de2;}
x{color:#056f69;}
.{color:#0570f0;}
x{color:#057277;}
.{color:#0573fe;}
x{color:#057585;}
.{color:#05770c;}
x{color:#057893;}
.{color:#057a1a;}
x{color:#057ba1;}
.{color:#057d28;}
x{color:#057eaf;}
.{color:#058036;}
x{color:#0581bd;}
.{color:#058344;}
x{color:#0584cb;}
.{color:#058652;}
x{color:#0587d9;}
.{color:#058960;}
x{color:#058ae7;}
.{color:#058c6e;}
x{color:#058df5;}
.{color:#058f7c;}
x{color:#059103;}
.{color:#05928a;}
x{color:#059411;}
.{color:#059598;}
x{color:#05971f;}
.{color:#0598a6;}
x{color:#059a2d;}
.{color:#059bb4;}
x{color:#059d3b;}
.{color:#059ec2;}
x{color:#05a049;}
.{color:#05a1d0;}
x{color:#05a357;}
.{color:#05a4de;}
x{color:#05a665;}
.{color:#05a7ec;}
x{color:#05a973;}
.{color:#05aafa;}
x{color:#05ac81;}
.{color:#05ae08;}
x{color:#05af8f;}
.{color:#05b116;}
x{color:#05b29d;}
.{color:#05b424;}
x{color:#05b5ab;}
.{color:#05b732;}
x{color:#05b8b9;}
.{color:#05ba40;}
x{color:#05bbc7;}
.{color:#05bd4e;}
x{color:#05bed5;}
.{color:#05c05c;}
x{color:#05c1e3;}
.{color:#05c36a;}
x{color:#05c4f1;}
.{color:#05c678;}
x{color:#05c7ff;}
.{color:#05c986;}
x{color:#05cb0d;}
.{color:#05cc94;}
x{color:#05ce1b;}
.{color:#05cfa2;}
x{color:#05d129;}
.{color:#05d2b0;}
x{color:#05d437;}
.{color:#05d5be;}
x{color:#05d745;}
.{color:#05d8cc;}
x{color:#05da53;}
.{color:#05dbda;}
x{color:#05dd61;}
.{color:#05dee8;}
x{color:#05e06f;}
.{color:#05e1f6;}
x{color:#05e37d;}
.{color:#05e504;}
x{color:#05e68b;}
.{color:#05e812;}
x{color:#05e999;}
.{color:#05eb20;}
x{color:#05eca7;}
.{color:#05ee2e;}
x{color:#05efb5;}
.{color:#05f13c;}
x{color:#05f2c3;}
.{color:#05f44a;}
x{color:#05f5d1;}
