/* css */
.{color:#000000;}
x{color:#0001ba;}
.{color:#000374;}
x{color:#00052e;}
.{color:#0006e8;}
x{color:#0008a2;}
.{color:#000a5c;}
x{color:#000c16;}
.{color:#000dd0;}
x{color:#000f8a;}
.{color:#001144;}
x{color:#0012fe;}
.{color:#0014b8;}
x{color:#001672;}
.{color:#00182c;}
x{color:#0019e6;}
.{color:#001ba0;}
x{color:#001d5a;}
.{color:#001f14;}
x{color:#0020ce;}
.{color:#002288;}
x{color:#002442;}
.{color:#0025fc;}
x{color:#0027b6;}
.{color:#002970;}
x{color:#002b2a;}
.{color:#002ce4;}
x{color:#002e9e;}
.{color:#003058;}
x{color:#003212;}
.{color:#0033cc;}
x{color:#003586;}
.{color:#003740;}
x{color:#0038fa;}
.{color:#003ab4;}
x{color:#003c6e;}
.{color:#003e28;}
x{color:#003fe2;}
.{color:#00419c;}
x{color:#004356;}
.{color:#004510;}
x{color:#0046ca;}
.{color:#004884;}
x{color:#004a3e;}
.{color:#004bf8;}
x{color:#004db2;}
.{color:#004f6c;}
x{color:#005126;}
.{color:#0052e0;}
x{color:#00549a;}
.{color:#005654;}
x{color:#00580e;}
.{color:#0059c8;}
x{color:#005b82;}
.{color:#005d3c;}
x{color:#005ef6;}
.{color:#0060b0;}
x{color:#00626a;}
.{color:#006424;}
x{color:#0065de;}
.{color:#006798;}
x{color:#006952;}
.{color:#006b0c;}
x{color:#006cc6;}
.{color:#006e80;}
x{color:#00703a;}
.{color:#0071f4;}
x{color:#0073ae;}
.{color:#007568;}
x{color:#007722;}
.{color:#0078dc;}
x{color:#007a96;}
.{color:#007c50;}
x{color:#007e0a;}
.{color:#007fc4;}
x{color:#00817e;}
.{color:#008338;}
x{color:#0084f2;}
.{color:#0086ac;}
x{color:#008866;}
.{color:#008a20;}
x{color:#008bda;}
.{color:#008d94;}
x{color:#008f4e;}
.{color:#009108;}
x{color:#0092c2;}
.{color:#00947c;}
x{color:#009636;}
.{color:#0097f0;}
x{color:#0099aa;}
.{color:#009b64;}
x{color:#009d1e;}
.{color:#009ed8;}
x{color:#00a092;}
.{color:#00a24c;}
x{color:#00a406;}
.{color:#00a5c0;}
x{color:#00a77a;}
.{color:#00a934;}
x{color:#00aaee;}
.{color:#00aca8;}
x{color:#00ae62;}
.{color:#00b01c;}
x{color:#00b1d6;}
.{color:#00b390;}
x{color:#00b54a;}
.{color:#00b704;}
x{color:#00b8be;}
.{color:#00ba78;}
x{color:#00bc32;}
.{color:#00bdec;}
x{color:#00bfa6;}
.{color:#00c160;}
x{color:#00c31a;}
.{color:#00c4d4;}
x{color:#00c68e;}
.{color:#00c848;}
x{color:#00ca02;}
.{color:#00cbbc;}
x{color:#00cd76;}
.{color:#00cf30;}
x{color:#00d0ea;}
.{color:#00d2a4;}
x{color:#00d45e;}
.{color:#00d618;}
x{color:#00d7d2;}
.{color:#00d98c;}
x{color:#00db46;}
.{color:#00dd00;}
x{color:#00deba;}
.{color:#00e074;}
x{color:#00e22e;}
.{color:#00e3e8;}
x{color:#00e5a2;}
.{color:#00e75c;}
x{color:#00e916;}
.{color:#00ead0;}
x{color:#00ec8a;}
.{color:#00ee44;}
x{color:#00effe;}
.{color:#00f1b8;}
x{color:#00f372;}
.{color:#00f52c;}
x{color:#00f6e6;}
.{color:#00f8a0;}
x{color:#00fa5a;}
.{color:#00fc14;}
x{color:#00fdce;}
.{color:#00ff88;}
x{color:#010142;}
.{color:#0102fc;}
x{color:#0104b6;}
.{color:#010670;}
x{color:#01082a;}
.{color:#0109e4;}
x{color:#010b9e;}
.{color:#010d58;}
x{color:#010f12;}
.{color:#0110cc;}
x{color:#011286;}
.{color:#011440;}
x{color:#0115fa;}
.{color:#0117b4;}
x{color:#01196e;}
.{color:#011b28;}
x{color:#011ce2;}
.{color:#011e9c;}
x{color:#012056;}
.{color:#012210;}
x{color:#0123ca;}
.{color:#012584;}
x{color:#01273e;}
.{color:#0128f8;}
x{color:#012ab2;}
.{color:#012c6c;}
x{color:#012e26;}
.{color:#012fe0;}
x{color:#01319a;}
.{color:#013354;}
x{color:#01350e;}
.{color:#0136c8;}
x{color:#013882;}
.{color:#013a3c;}
x{color:#013bf6;}
.{color:#013db0;}
x{color:#013f6a;}
.{color:#014124;}
x{color:#0142de;}
.{color:#014498;}
x{color:#014652;}
.{color:#01480c;}
x{color:#0149c6;}
.{color:#014b80;}
x{color:#014d3a;}
.{color:#014ef4;}
x{color:#0150ae;}
.{color:#015268;}
x{color:#015422;}
.{color:#0155dc;}
x{color:#015796;}
.{color:#015950;}
x{color:#015b0a;}
.{color:#015cc4;}
x{color:#015e7e;}
.{color:#016038;}
x{color:#0161f2;}
.{color:#0163ac;}
x{color:#016566;}
.{color:#016720;}
x{color:#0168da;}
.{color:#016a94;}
x{color:#016c4e;}
.{color:#016e08;}
x{color:#016fc2;}
.{color:#01717c;}
x{color:#017336;}
.{color:#0174f0;}
x{color:#0176aa;}
.{color:#017864;}
x{color:#017a1e;}
.{color:#017bd8;}
x{color:#017d92;}
.{color:#017f4c;}
x{color:#018106;}
.{color:#0182c0;}
x{color:#01847a;}
.{color:#018634;}
x{color:#0187ee;}
.{color:#0189a8;}
x{color:#018b62;}
.{color:#018d1c;}
x{color:#018ed6;}
.{color:#019090;}
x{color:#01924a;}
.{color:#019404;}
x{color:#0195be;}
.{color:#019778;}
x{color:#019932;}
.{color:#019aec;}
x{color:#019ca6;}
.{color:#019e60;}
x{color:#01a01a;}
.{color:#01a1d4;}
x{color:#01a38e;}
.{color:#01a548;}
x{color:#01a702;}
.{color:#01a8bc;}
x{color:#01aa76;}
.{color:#01ac30;}
x{color:#01adea;}
.{color:#01afa4;}
x{color:#01b15e;}
.{color:#01b318;}
x{color:#01b4d2;}
.{color:#01b68c;}
x{color:#01b846;}
.{color:#01ba00;}
x{color:#01bbba;}
.{color:#01bd74;}
x{color:#01bf2e;}
.{color:#01c0e8;}
x{color:#01c2a2;}
.{color:#01c45c;}
x{color:#01c616;}
.{color:#01c7d0;}
x{color:#01c98a;}
.{color:#01cb44;}
x{color:#01ccfe;}
.{color:#01ceb8;}
x{color:#01d072;}
.{color:#01d22c;}
x{color:#01d3e6;}
.{color:#01d5a0;}
x{color:#01d75a;}
.{color:#01d914;}
x{color:#01dace;}
.{color:#01dc88;}
x{color:#01de42;}
.{color:#01dffc;}
x{color:#01e1b6;}
.{color:#01e370;}
x{color:#01e52a;}
.{color:#01e6e4;}
x{color:#01e89e;}
.{color:#01ea58;}
x{color:#01ec12;}
.{color:#01edcc;}
x{color:#01ef86;}
.{color:#01f140;}
x{color:#01f2fa;}
.{color:#01f4b4;}
x{color:#01f66e;}
.{color:#01f828;}
x{color:#01f9e2;}
.{color:#01fb9c;}
x{color:#01fd56;}
.{color:#01ff10;}
x{color:#0200ca;}
.{color:#020284;}
x{color:#02043e;}
.{color:#0205f8;}
x{color:#0207b2;}
.{color:#02096c;}
x{color:#020b26;}
.{color:#020ce0;}
x{color:#020e9a;}
.{color:#021054;}
x{color:#02120e;}
.{color:#0213c8;}
x{color:#021582;}
.{color:#02173c;}
x{color:#0218f6;}
.{color:#021ab0;}
x{color:#021c6a;}
.{color:#021e24;}
x{color:#021fde;}
.{color:#022198;}
x{color:#022352;}
.{color:#02250c;}
x{color:#0226c6;}
.{color:#022880;}
x{color:#022a3a;}
.{color:#022bf4;}
x{color:#022dae;}
.{color:#022f68;}
x{color:#023122;}
.{color:#0232dc;}
x{color:#023496;}
.{color:#023650;}
x{color:#02380a;}
.{color:#0239c4;}
x{color:#023b7e;}
.{color:#023d38;}
x{color:#023ef2;}
.{color:#0240ac;}
x{color:#024266;}
.{color:#024420;}
x{color:#0245da;}
.{color:#024794;}
x{color:#02494e;}
.{color:#024b08;}
x{color:#024cc2;}
.{color:#024e7c;}
x{color:#025036;}
.{color:#0251f0;}
x{color:#0253aa;}
.{color:#025564;}
x{color:#02571e;}
.{color:#0258d8;}
x{color:#025a92;}
.{color:#025c4c;}
x{color:#025e06;}
.{color:#025fc0;}
x{color:#02617a;}
.{color:#026334;}
x{color:#0264ee;}
.{color:#0266a8;}
x{color:#026862;}
.{color:#026a1c;}
x{color:#026bd6;}
.{color:#026d90;}
x{color:#026f4a;}
.{color:#027104;}
x{color:#0272be;}
.{color:#027478;}
x{color:#027632;}
.{color:#0277ec;}
x{color:#0279a6;}
.{color:#027b60;}
x{color:#027d1a;}
.{color:#027ed4;}
x{color:#02808e;}
.{color:#028248;}
x{color:#028402;}
.{color:#0285bc;}
x{color:#028776;}
.{color:#028930;}
x{color:#028aea;}
.{color:#028ca4;}
x{color:#028e5e;}
.{color:#029018;}
x{color:#0291d2;}
.{color:#02938c;}
x{color:#029546;}
.{color:#029700;}
x{color:#0298ba;}
.{color:#029a74;}
x{color:#029c2e;}
.{color:#029de8;}
x{color:#029fa2;}
.{color:#02a15c;}
x{color:#02a316;}
.{color:#02a4d0;}
x{color:#02a68a;}
.{color:#02a844;}
x{color:#02a9fe;}
.{color:#02abb8;}
x{color:#02ad72;}
.{color:#02af2c;}
x{color:#02b0e6;}
.{color:#02b2a0;}
x{color:#02b45a;}
.{color:#02b614;}
x{color:#02b7ce;}
.{color:#02b988;}
x{color:#02bb42;}
.{color:#02bcfc;}
x{color:#02beb6;}
.{color:#02c070;}
x{color:#02c22a;}
.{color:#02c3e4;}
x{color:#02c59e;}
.{color:#02c758;}
x{color:#02c912;}
.{color:#02cacc;}
x{color:#02cc86;}
.{color:#02ce40;}
x{color:#02cffa;}
.{color:#02d1b4;}
x{color:#02d36e;}
.{color:#02d528;}
x{color:#02d6e2;}
.{color:#02d89c;}
x{color:#02da56;}
.{color:#02dc10;}
x{color:#02ddca;}
.{color:#02df84;}
x{color:#02e13e;}
.{color:#02e2f8;}
x{color:#02e4b2;}
.{color:#02e66c;}
x{color:#02e826;}
.{color:#02e9e0;}
x{color:#02eb9a;}
.{color:#02ed54;}
x{color:#02ef0e;}
.{color:#02f0c8;}
x{color:#02f282;}
.{color:#02f43c;}
x{color:#02f5f6;}
.{color:#02f7b0;}
x{color:#02f96a;}
.{color:#02fb24;}
x{color:#02fcde;}
.{color:#02fe98;}
x{color:#030052;}
.{color:#03020c;}
x{color:#0303c6;}
.{color:#030580;}
x{color:#03073a;}
.{color:#0308f4;}
x{color:#030aae;}
.{color:#030c68;}
x{color:#030e22;}
.{color:#030fdc;}
x{color:#031196;}
.{color:#031350;}
x{color:#03150a;}
.{color:#0316c4;}
x{color:#03187e;}
.{color:#031a38;}
x{color:#031bf2;}
.{color:#031dac;}
x{color:#031f66;}
.{color:#032120;}
x{color:#0322da;}
.{color:#032494;}
x{color:#03264e;}
.{color:#032808;}
x{color:#0329c2;}
.{color:#032b7c;}
x{color:#032d36;}
.{color:#032ef0;}
x{color:#0330aa;}
.{color:#033264;}
x{color:#03341e;}
.{color:#0335d8;}
x{color:#033792;}
.{color:#03394c;}
x{color:#033b06;}
.{color:#033cc0;}
x{color:#033e7a;}
.{color:#034034;}
x{color:#0341ee;}
.{color:#0343a8;}
x{color:#034562;}
.{color:#03471c;}
x{color:#0348d6;}
.{color:#034a90;}
x{color:#034c4a;}
.{color:#034e04;}
x{color:#034fbe;}
.{color:#035178;}
x{color:#035332;}
.{color:#0354ec;}
x{color:#0356a6;}
.{color:#035860;}
x{color:#035a1a;}
.{color:#035bd4;}
x{color:#035d8e;}
.{color:#035f48;}
x{color:#036102;}
.{color:#0362bc;}
x{color:#036476;}
.{color:#036630;}
x{color:#0367ea;}
.{color:#0369a4;}
x{color:#036b5e;}
.{color:#036d18;}
x{color:#036ed2;}
.{color:#03708c;}
x{color:#037246;}
.{color:#037400;}
x{color:#0375ba;}
.{color:#037774;}
x{color:#03792e;}
.{color:#037ae8;}
x{color:#037ca2;}
.{color:#037e5c;}
x{color:#038016;}
.{color:#0381d0;}
x{color:#03838a;}
.{color:#038544;}
x{color:#0386fe;}
.{color:#0388b8;}
x{color:#038a72;}
.{color:#038c2c;}
x{color:#038de6;}
.{color:#038fa0;}
x{color:#03915a;}
.{color:#039314;}
x{color:#0394ce;}
.{color:#039688;}
x{color:#039842;}
.{color:#0399fc;}
x{color:#039bb6;}
.{color:#039d70;}
x{color:#039f2a;}
.{color:#03a0e4;}
x{color:#03a29e;}
.{color:#03a458;}
x{color:#03a612;}
.{color:#03a7cc;}
x{color:#03a986;}
.{color:#03ab40;}
x{color:#03acfa;}
.{color:#03aeb4;}
x{color:#03b06e;}
.{color:#03b228;}
x{color:#03b3e2;}
.{color:#03b59c;}
x{color:#03b756;}
.{color:#03b910;}
x{color:#03baca;}
.{color:#03bc84;}
x{color:#03be3e;}
.{color:#03bff8;}
x{color:#03c1b2;}
.{color:#03c36c;}
x{color:#03c526;}
.{color:#03c6e0;}
x{color:#03c89a;}
.{color:#03ca54;}
x{color:#03cc0e;}
.{color:#03cdc8;}
x{color:#03cf82;}
.{color:#03d13c;}
x{color:#03d2f6;}
.{color:#03d4b0;}
x{color:#03d66a;}
.{color:#03d824;}
x{color:#03d9de;}
.{color:#03db98;}
x{color:#03dd52;}
.{color:#03df0c;}
x{color:#03e0c6;}
.{color:#03e280;}
x{color:#03e43a;}
.{color:#03e5f4;}
x{color:#03e7ae;}
.{color:#03e968;}
x{color:#03eb22;}
.{color:#03ecdc;}
x{color:#03ee96;}
.{color:#03f050;}
x{color:#03f20a;}
.{color:#03f3c4;}
x{color:#03f57e;}
.{color:#03f738;}
x{color:#03f8f2;}
.{color:#03faac;}
x{color:#03fc66;}
.{color:#03fe20;}
x{color:#03ffda;}
.{color:#040194;}
x{color:#04034e;}
.{color:#040508;}
x{color:#0406c2;}
.{color:#04087c;}
x{color:#040a36;}
.{color:#040bf0;}
x{color:#040daa;}
.{color:#040f64;}
x{color:#04111e;}
.{color:#0412d8;}
x{color:#041492;}
.{color:#04164c;}
x{color:#041806;}
.{color:#0419c0;}
x{color:#041b7a;}
.{color:#041d34;}
x{color:#041eee;}
.{color:#0420a8;}
x{color:#042262;}
.{color:#04241c;}
x{color:#0425d6;}
.{color:#042790;}
x{color:#04294a;}
.{color:#042b04;}
x{color:#042cbe;}
.{color:#042e78;}
x{color:#043032;}
.{color:#0431ec;}
x{color:#0433a6;}
.{color:#043560;}
x{color:#04371a;}
.{color:#0438d4;}
x{color:#043a8e;}
.{color:#043c48;}
x{color:#043e02;}
.{color:#043fbc;}
x{color:#044176;}
.{color:#044330;}
x{color:#0444ea;}
.{color:#0446a4;}
x{color:#04485e;}
.{color:#044a18;}
x{color:#044bd2;}
.{color:#044d8c;}
x{color:#044f46;}
.{color:#045100;}
x{color:#0452ba;}
.{color:#045474;}
x{color:#04562e;}
.{color:#0457e8;}
x{color:#0459a2;}
.{color:#045b5c;}
x{color:#045d16;}
.{color:#045ed0;}
x{color:#04608a;}
.{color:#046244;}
x{color:#0463fe;}
.{color:#0465b8;}
x{color:#046772;}
.{color:#04692c;}
x{color:#046ae6;}
.{color:#046ca0;}
x{color:#046e5a;}
.{color:#047014;}
x{color:#0471ce;}
.{color:#047388;}
x{color:#047542;}
.{color:#0476fc;}
x{color:#0478b6;}
.{color:#047a70;}
x{color:#047c2a;}
.{color:#047de4;}
x{color:#047f9e;}
.{color:#048158;}
x{color:#048312;}
.{color:#0484cc;}
x{color:#048686;}
.{color:#048840;}
x{color:#0489fa;}
.{color:#048bb4;}
x{color:#048d6e;}
.{color:#048f28;}
x{color:#0490e2;}
.{color:#04929c;}
x{color:#049456;}
.{color:#049610;}
x{color:#0497ca;}
.{color:#049984;}
x{color:#049b3e;}
.{color:#049cf8;}
x{color:#049eb2;}
.{color:#04a06c;}
x{color:#04a226;}
.{color:#04a3e0;}
x{color:#04a59a;}
.{color:#04a754;}
x{color:#04a90e;}
.{color:#04aac8;}
x{color:#04ac82;}
.{color:#04ae3c;}
x{color:#04aff6;}
.{color:#04b1b0;}
x{color:#04b36a;}
.{color:#04b524;}
x{color:#04b6de;}
.{color:#04b898;}
x{color:#04ba52;}
.{color:#04bc0c;}
x{color:#04bdc6;}
.{color:#04bf80;}
x{color:#04c13a;}
.{color:#04c2f4;}
x{color:#04c4ae;}
.{color:#04c668;}
x{color:#04c822;}
.{color:#04c9dc;}
x{color:#04cb96;}
.{color:#04cd50;}
x{color:#04cf0a;}
.{color:#04d0c4;}
x{color:#04d27e;}
.{color:#04d438;}
x{color:#04d5f2;}
.{color:#04d7ac;}
x{color:#04d966;}
.{color:#04db20;}
x{color:#04dcda;}
.{color:#04de94;}
x{color:#04e04e;}
.{color:#04e208;}
x{color:#04e3c2;}
.{color:#04e57c;}
x{color:#04e736;}
.{color:#04e8f0;}
x{color:#04eaaa;}
.{color:#04ec64;}
x{color:#04ee1e;}
.{color:#04efd8;}
x{color:#04f192;}
.{color:#04f34c;}
x{color:#04f506;}
.{color:#04f6c0;}
x{color:#04f87a;}
.{color:#04fa34;}
x{color:#04fbee;}
.{color:#04fda8;}
x{color:#04ff62;}
.{color:#05011c;}
x{color:#0502d6;}
.{color:#050490;}
x{color:#05064a;}
.{color:#050804;}
x{color:#0509be;}
.{color:#050b78;}
x{color:#050d32;}
.{color:#050eec;}
x{color:#0510a6;}
.{color:#051260;}
x{color:#05141a;}
.{color:#0515d4;}
x{color:#05178e;}
.{color:#051948;}
x{color:#051b02;}
.{color:#051cbc;}
x{color:#051e76;}
.{color:#052030;}
x{color:#0521ea;}
.{color:#0523a4;}
x{color:#05255e;}
.{color:#052718;}
x{color:#0528d2;}
.{color:#052a8c;}
x{color:#052c46;}
.{color:#052e00;}
x{color:#052fba;}
.{color:#053174;}
x{color:#05332e;}
.{color:#0534e8;}
x{color:#0536a2;}
.{color:#05385c;}
x{color:#053a16;}
.{color:#053bd0;}
x{color:#053d8a;}
.{color:#053f44;}
x{color:#0540fe;}
.{color:#0542b8;}
x{color:#054472;}
.{color:#05462c;}
x{color:#0547e6;}
.{color:#0549a0;}
x{color:#054b5a;}
.{color:#054d14;}
x{color:#054ece;}
.{color:#055088;}
x{color:#055242;}
.{color:#0553fc;}
x{color:#0555b6;}
.{color:#055770;}
x{color:#05592a;}
.{color:#055ae4;}
x{color:#055c9e;}
.{color:#055e58;}
x{color:#056012;}
.{color:#0561cc;}
x{color:#056386;}
.{color:#056540;}
x{color:#0566fa;}
.{color:#0568b4;}
x{color:#056a6e;}
.{color:#056c28;}
x{color:#056de2;}
.{color:#056f9c;}
x{color:#057156;}
.{color:#057310;}
x{color:#0574ca;}
.{color:#057684;}
x{color:#05783e;}
.{color:#0579f8;}
x{color:#057bb2;}
.{color:#057d6c;}
x{color:#057f26;}
.{color:#0580e0;}
x{color:#05829a;}
.{color:#058454;}
x{color:#05860e;}
.{color:#0587c8;}
x{color:#058982;}
.{color:#058b3c;}
x{color:#058cf6;}
.{color:#058eb0;}
x{color:#05906a;}
.{color:#059224;}
x{color:#0593de;}
.{color:#059598;}
x{color:#059752;}
.{color:#05990c;}
x{color:#059ac6;}
.{color:#059c80;}
x{color:#059e3a;}
.{color:#059ff4;}
x{color:#05a1ae;}
.{color:#05a368;}
x{color:#05a522;}
.{color:#05a6dc;}
x{color:#05a896;}
.{color:#05aa50;}
x{color:#05ac0a;}
.{color:#05adc4;}
x{color:#05af7e;}
.{color:#05b138;}
x{color:#05b2f2;}
.{color:#05b4ac;}
x{color:#05b666;}
.{color:#05b820;}
x{color:#05b9da;}
.{color:#05bb94;}
x{color:#05bd4e;}
.{color:#05bf08;}
x{color:#05c0c2;}
.{color:#05c27c;}
x{color:#05c436;}
.{color:#05c5f0;}
x{color:#05c7aa;}
.{color:#05c964;}
x{color:#05cb1e;}
.{color:#05ccd8;}
x{color:#05ce92;}
.{color:#05d04c;}
x{color:#05d206;}
.{color:#05d3c0;}
x{color:#05d57a;}
.{color:#05d734;}
x{color:#05d8ee;}
.{color:#05daa8;}
x{color:#05dc62;}
.{color:#05de1c;}
x{color:#05dfd6;}
.{color:#05e190;}
x{color:#05e34a;}
.{color:#05e504;}
x{color:#05e6be;}
.{color:#05e878;}
x{color:#05ea32;}
.{color:#05ebec;}
x{color:#05eda6;}
.{color:#05ef60;}
x{color:#05f11a;}
.{color:#05f2d4;}
x{color:#05f48e;}
.{color:#05f648;}
x{color:#05f802;}
.{color:#05f9bc;}
x{color:#05fb76;}
.{color:#05fd30;}
x{color:#05feea;}
.{color:#0600a4;}
x{color:#06025e;}
.{color:#060418;}
x{color:#0605d2;}
.{color:#06078c;}
x{color:#060946;}
.{color:#060b00;}
x{color:#060cba;}
.{color:#060e74;}
x{color:#06102e;}
.{color:#0611e8;}
x{color:#0613a2;}
.{color:#06155c;}
x{color:#061716;}
.{color:#0618d0;}
x{color:#061a8a;}
.{color:#061c44;}
x{color:#061dfe;}
.{color:#061fb8;}
x{color:#062172;}
.{color:#06232c;}
x{color:#0624e6;}
.{color:#0626a0;}
x{color:#06285a;}
.{color:#062a14;}
x{color:#062bce;}
.{color:#062d88;}
x{color:#062f42;}
.{color:#0630fc;}
x{color:#0632b6;}
.{color:#063470;}
x{color:#06362a;}
.{color:#0637e4;}
x{color:#06399e;}
.{color:#063b58;}
x{color:#063d12;}
.{color:#063ecc;}
x{color:#064086;}
.{color:#064240;}
x{color:#0643fa;}
.{color:#0645b4;}
x{color:#06476e;}
.{color:#064928;}
x{color:#064ae2;}
.{color:#064c9c;}
x{color:#064e56;}
.{color:#065010;}
x{color:#0651ca;}
.{color:#065384;}
x{color:#06553e;}
.{color:#0656f8;}
x{color:#0658b2;}
.{color:#065a6c;}
x{color:#065c26;}
.{color:#065de0;}
x{color:#065f9a;}
.{color:#066154;}
x{color:#06630e;}
.{color:#0664c8;}
x{color:#066682;}
.{color:#06683c;}
x{color:#0669f6;}
.{color:#066bb0;}
x{color:#066d6a;}
.{color:#066f24;}
x{color:#0670de;}
.{color:#067298;}
x{color:#067452;}
.{color:#06760c;}
x{color:#0677c6;}
.{color:#067980;}
x{color:#067b3a;}
.{color:#067cf4;}
x{color:#067eae;}
.{color:#068068;}
x{color:#068222;}
.{color:#0683dc;}
x{color:#068596;}
.{color:#068750;}
x{color:#06890a;}
.{color:#068ac4;}
x{color:#068c7e;}
.{color:#068e38;}
x{color:#068ff2;}
.{color:#0691ac;}
x{color:#069366;}
.{color:#069520;}
x{color:#0696da;}
.{color:#069894;}
x{color:#069a4e;}
.{color:#069c08;}
x{color:#069dc2;}
.{color:#069f7c;}
x{color:#06a136;}
.{color:#06a2f0;}
x{color:#06a4aa;}
.{color:#06a664;}
x{color:#06a81e;}
.{color:#06a9d8;}
x{color:#06ab92;}
.{color:#06ad4c;}
x{color:#06af06;}
.{color:#06b0c0;}
x{color:#06b27a;}
.{color:#06b434;}
x{color:#06b5ee;}
.{color:#06b7a8;}
x{color:#06b962;}
.{color:#06bb1c;}
x{color:#06bcd6;}
