/* css */
.{color:#000000;}
x{color:#0000ee;}
.{color:#0001dc;}
x{color:#0002ca;}
.{color:#0003b8;}
x{color:#0004a6;}
.{color:#000594;}
x{color:#000682;}
.{color:#000770;}
x{color:#00085e;}
.{color:#00094c;}
x{color:#000a3a;}
.{color:#000b28;}
x{color:#000c16;}
.{color:#000d04;}
x{color:#000df2;}
.{color:#000ee0;}
x{color:#000fce;}
.{color:#0010bc;}
x{color:#0011aa;}
.{color:#001298;}
x{color:#001386;}
.{color:#001474;}
x{color:#001562;}
.{color:#001650;}
x{color:#00173e;}
.{color:#00182c;}
x{color:#00191a;}
.{color:#001a08;}
x{color:#001af6;}
.{color:#001be4;}
x{color:#001cd2;}
.{color:#001dc0;}
x{color:#001eae;}
.{color:#001f9c;}
x{color:#00208a;}
.{color:#002178;}
x{color:#002266;}
.{color:#002354;}
x{color:#002442;}
.{color:#002530;}
x{color:#00261e;}
.{color:#00270c;}
x{color:#0027fa;}
.{color:#0028e8;}
x{color:#0029d6;}
.{color:#002ac4;}
x{color:#002bb2;}
.{color:#002ca0;}
x{color:#002d8e;}
.{color:#002e7c;}
x{color:#002f6a;}
.{color:#003058;}
x{color:#003146;}
.{color:#003234;}
x{color:#003322;}
.{color:#003410;}
x{color:#0034fe;}
.{color:#0035ec;}
x{color:#0036da;}
.{color:#0037c8;}
x{color:#0038b6;}
.{color:#0039a4;}
x{color:#003a92;}
.{color:#003b80;}
x{color:#003c6e;}
.{color:#003d5c;}
x{color:#003e4a;}
.{color:#003f38;}
x{color:#004026;}
.{color:#004114;}
x{color:#004202;}
.{color:#0042f0;}
x{color:#0043de;}
.{color:#0044cc;}
x{color:#0045ba;}
.{color:#0046a8;}
x{color:#004796;}
.{color:#004884;}
x{color:#004972;}
.{color:#004a60;}
x{color:#004b4e;}
.{color:#004c3c;}
x{color:#004d2a;}
.{color:#004e18;}
x{color:#004f06;}
.{color:#004ff4;}
x{color:#0050e2;}
.{color:#0051d0;}
x{color:#0052be;}
.{color:#0053ac;}
x{color:#00549a;}
.{color:#005588;}
x{color:#005676;}
.{color:#005764;}
x{color:#005852;}
.{color:#005940;}
x{color:#005a2e;}
.{color:#005b1c;}
x{color:#005c0a;}
.{color:#005cf8;}
x{color:#005de6;}
.{color:#005ed4;}
x{color:#005fc2;}
.{color:#0060b0;}
x{color:#00619e;}
.{color:#00628c;}
x{color:#00637a;}
.{color:#006468;}
x{color:#006556;}
.{color:#006644;}
x{color:#006732;}
.{color:#006820;}
x{color:#00690e;}
.{color:#0069fc;}
x{color:#006aea;}
.{color:#006bd8;}
x{color:#006cc6;}
.{color:#006db4;}
x{color:#006ea2;}
.{color:#006f90;}
x{color:#00707e;}
.{color:#00716c;}
x{color:#00725a;}
.{color:#007348;}
x{color:#007436;}
.{color:#007524;}
x{color:#007612;}
.{color:#007700;}
x{color:#0077ee;}
.{color:#0078dc;}
x{color:#0079ca;}
.{color:#007ab8;}
x{color:#007ba6;}
.{color:#007c94;}
x{color:#007d82;}
.{color:#007e70;}
x{color:#007f5e;}
.{color:#00804c;}
x{color:#00813a;}
.{color:#008228;}
x{color:#008316;}
.{color:#008404;}
x{color:#0084f2;}
.{color:#0085e0;}
x{color:#0086ce;}
.{color:#0087bc;}
x{color:#0088aa;}
.{color:#008998;}
x{color:#008a86;}
.{color:#008b74;}
x{color:#008c62;}
.{color:#008d50;}
x{color:#008e3e;}
.{color:#008f2c;}
x{color:#00901a;}
.{color:#009108;}
x{color:#0091f6;}
.{color:#0092e4;}
x{color:#0093d2;}
.{color:#0094c0;}
x{color:#0095ae;}
.{color:#00969c;}
x{color:#00978a;}
.{color:#009878;}
x{color:#009966;}
.{color:#009a54;}
x{color:#009b42;}
.{color:#009c30;}
x{color:#009d1e;}
.{color:#009e0c;}
x{color:#009efa;}
.{color:#009fe8;}
x{color:#00a0d6;}
.{color:#00a1c4;}
x{color:#00a2b2;}
.{color:#00a3a0;}
x{color:#00a48e;}
.{color:#00a57c;}
x{color:#00a66a;}
.{color:#00a758;}
x{color:#00a846;}
.{color:#00a934;}
x{color:#00aa22;}
.{color:#00ab10;}
x{color:#00abfe;}
.{color:#00acec;}
x{color:#00adda;}
.{color:#00aec8;}
x{color:#00afb6;}
.{color:#00b0a4;}
x{color:#00b192;}
.{color:#00b280;}
x{color:#00b36e;}
.{color:#00b45c;}
x{color:#00b54a;}
.{color:#00b638;}
x{color:#00b726;}
.{color:#00b814;}
x{color:#00b902;}
.{color:#00b9f0;}
x{color:#00bade;}
.{color:#00bbcc;}
x{color:#00bcba;}
.{color:#00bda8;}
x{color:#00be96;}
.{color:#00bf84;}
x{color:#00c072;}
.{color:#00c160;}
x{color:#00c24e;}
.{color:#00c33c;}
x{color:#00c42a;}
.{color:#00c518;}
x{color:#00c606;}
.{color:#00c6f4;}
x{color:#00c7e2;}
.{color:#00c8d0;}
x{color:#00c9be;}
.{color:#00caac;}
x{color:#00cb9a;}
.{color:#00cc88;}
x{color:#00cd76;}
.{color:#00ce64;}
x{color:#00cf52;}
.{color:#00d040;}
x{color:#00d12e;}
.{color:#00d21c;}
x{color:#00d30a;}
.{color:#00d3f8;}
x{color:#00d4e6;}
.{color:#00d5d4;}
x{color:#00d6c2;}
.{color:#00d7b0;}
x{color:#00d89e;}
.{color:#00d98c;}
x{color:#00da7a;}
.{color:#00db68;}
x{color:#00dc56;}
.{color:#00dd44;}
x{color:#00de32;}
.{color:#00df20;}
x{color:#00e00e;}
.{color:#00e0fc;}
x{color:#00e1ea;}
.{color:#00e2d8;}
x{color:#00e3c6;}
.{color:#00e4b4;}
x{color:#00e5a2;}
.{color:#00e690;}
x{color:#00e77e;}
.{color:#00e86c;}
x{color:#00e95a;}
.{color:#00ea48;}
x{color:#00eb36;}
.{color:#00ec24;}
x{color:#00ed12;}
.{color:#00ee00;}
x{color:#00eeee;}
.{color:#00efdc;}
x{color:#00f0ca;}
.{color:#00f1b8;}
x{color:#00f2a6;}
.{color:#00f394;}
x{color:#00f482;}
.{color:#00f570;}
x{color:#00f65e;}
.{color:#00f74c;}
x{color:#00f83a;}
.{color:#00f928;}
x{color:#00fa16;}
.{color:#00fb04;}
x{color:#00fbf2;}
.{color:#00fce0;}
x{color:#00fdce;}
.{color:#00febc;}
x{color:#00ffaa;}
.{color:#010098;}
x{color:#010186;}
.{color:#010274;}
x{color:#010362;}
.{color:#010450;}
x{color:#01053e;}
.{color:#01062c;}
x{color:#01071a;}
.{color:#010808;}
x{color:#0108f6;}
.{color:#0109e4;}
x{color:#010ad2;}
.{color:#010bc0;}
x{color:#010cae;}
.{color:#010d9c;}
x{color:#010e8a;}
.{color:#010f78;}
x{color:#011066;}
.{color:#011154;}
x{color:#011242;}
.{color:#011330;}
x{color:#01141e;}
.{color:#01150c;}
x{color:#0115fa;}
.{color:#0116e8;}
x{color:#0117d6;}
.{color:#0118c4;}
x{color:#0119b2;}
.{color:#011aa0;}
x{color:#011b8e;}
.{color:#011c7c;}
x{color:#011d6a;}
.{color:#011e58;}
x{color:#011f46;}
.{color:#012034;}
x{color:#012122;}
.{color:#012210;}
x{color:#0122fe;}
.{color:#0123ec;}
x{color:#0124da;}
.{color:#0125c8;}
x{color:#0126b6;}
.{color:#0127a4;}
x{color:#012892;}
.{color:#012980;}
x{color:#012a6e;}
.{color:#012b5c;}
x{color:#012c4a;}
.{color:#012d38;}
x{color:#012e26;}
.{color:#012f14;}
x{color:#013002;}
.{color:#0130f0;}
x{color:#0131de;}
.{color:#0132cc;}
x{color:#0133ba;}
.{color:#0134a8;}
x{color:#013596;}
.{color:#013684;}
x{color:#013772;}
.{color:#013860;}
x{color:#01394e;}
.{color:#013a3c;}
x{color:#013b2a;}
.{color:#013c18;}
x{color:#013d06;}
.{color:#013df4;}
x{color:#013ee2;}
.{color:#013fd0;}
x{color:#0140be;}
.{color:#0141ac;}
x{color:#01429a;}
.{color:#014388;}
x{color:#014476;}
.{color:#014564;}
x{color:#014652;}
.{color:#014740;}
x{color:#01482e;}
.{color:#01491c;}
x{color:#014a0a;}
.{color:#014af8;}
x{color:#014be6;}
.{color:#014cd4;}
x{color:#014dc2;}
.{color:#014eb0;}
x{color:#014f9e;}
.{color:#01508c;}
x{color:#01517a;}
.{color:#015268;}
x{color:#015356;}
.{color:#015444;}
x{color:#015532;}
.{color:#015620;}
x{color:#01570e;}
.{color:#0157fc;}
x{color:#0158ea;}
.{color:#0159d8;}
x{color:#015ac6;}
.{color:#015bb4;}
x{color:#015ca2;}
.{color:#015d90;}
x{color:#015e7e;}
.{color:#015f6c;}
x{color:#01605a;}
.{color:#016148;}
x{color:#016236;}
.{color:#016324;}
x{color:#016412;}
.{color:#016500;}
x{color:#0165ee;}
.{color:#0166dc;}
x{color:#0167ca;}
.{color:#0168b8;}
x{color:#0169a6;}
.{color:#016a94;}
x{color:#016b82;}
.{color:#016c70;}
x{color:#016d5e;}
.{color:#016e4c;}
x{color:#016f3a;}
.{color:#017028;}
x{color:#017116;}
.{color:#017204;}
x{color:#0172f2;}
.{color:#0173e0;}
x{color:#0174ce;}
.{color:#0175bc;}
x{color:#0176aa;}
.{color:#017798;}
x{color:#017886;}
.{color:#017974;}
x{color:#017a62;}
.{color:#017b50;}
x{color:#017c3e;}
.{color:#017d2c;}
x{color:#017e1a;}
.{color:#017f08;}
x{color:#017ff6;}
.{color:#0180e4;}
x{color:#0181d2;}
.{color:#0182c0;}
x{color:#0183ae;}
.{color:#01849c;}
x{color:#01858a;}
.{color:#018678;}
x{color:#018766;}
.{color:#018854;}
x{color:#018942;}
.{color:#018a30;}
x{color:#018b1e;}
.{color:#018c0c;}
x{color:#018cfa;}
.{color:#018de8;}
x{color:#018ed6;}
.{color:#018fc4;}
x{color:#0190b2;}
.{color:#0191a0;}
x{color:#01928e;}
.{color:#01937c;}
x{color:#01946a;}
.{color:#019558;}
x{color:#019646;}
.{color:#019734;}
x{color:#019822;}
.{color:#019910;}
x{color:#0199fe;}
.{color:#019aec;}
x{color:#019bda;}
.{color:#019cc8;}
x{color:#019db6;}
.{color:#019ea4;}
x{color:#019f92;}
.{color:#01a080;}
x{color:#01a16e;}
.{color:#01a25c;}
x{color:#01a34a;}
.{color:#01a438;}
x{color:#01a526;}
.{color:#01a614;}
x{color:#01a702;}
.{color:#01a7f0;}
x{color:#01a8de;}
.{color:#01a9cc;}
x{color:#01aaba;}
.{color:#01aba8;}
x{color:#01ac96;}
.{color:#01ad84;}
x{color:#01ae72;}
.{color:#01af60;}
x{color:#01b04e;}
.{color:#01b13c;}
x{color:#01b22a;}
.{color:#01b318;}
x{color:#01b406;}
.{color:#01b4f4;}
x{color:#01b5e2;}
.{color:#01b6d0;}
x{color:#01b7be;}
.{color:#01b8ac;}
x{color:#01b99a;}
.{color:#01ba88;}
x{color:#01bb76;}
.{color:#01bc64;}
x{color:#01bd52;}
.{color:#01be40;}
x{color:#01bf2e;}
.{color:#01c01c;}
x{color:#01c10a;}
.{color:#01c1f8;}
x{color:#01c2e6;}
.{color:#01c3d4;}
x{color:#01c4c2;}
.{color:#01c5b0;}
x{color:#01c69e;}
.{color:#01c78c;}
x{color:#01c87a;}
.{color:#01c968;}
x{color:#01ca56;}
.{color:#01cb44;}
x{color:#01cc32;}
.{color:#01cd20;}
x{color:#01ce0e;}
.{color:#01cefc;}
x{color:#01cfea;}
.{color:#01d0d8;}
x{color:#01d1c6;}
.{color:#01d2b4;}
x{color:#01d3a2;}
.{color:#01d490;}
x{color:#01d57e;}
.{color:#01d66c;}
x{color:#01d75a;}
.{color:#01d848;}
x{color:#01d936;}
.{color:#01da24;}
x{color:#01db12;}
.{color:#01dc00;}
x{color:#01dcee;}
.{color:#01dddc;}
x{color:#01deca;}
.{color:#01dfb8;}
x{color:#01e0a6;}
.{color:#01e194;}
x{color:#01e282;}
.{color:#01e370;}
x{color:#01e45e;}
.{color:#01e54c;}
x{color:#01e63a;}
.{color:#01e728;}
x{color:#01e816;}
.{color:#01e904;}
x{color:#01e9f2;}
.{color:#01eae0;}
x{color:#01ebce;}
.{color:#01ecbc;}
x{color:#01edaa;}
.{color:#01ee98;}
x{color:#01ef86;}
.{color:#01f074;}
x{color:#01f162;}
.{color:#01f250;}
x{color:#01f33e;}
.{color:#01f42c;}
x{color:#01f51a;}
.{color:#01f608;}
x{color:#01f6f6;}
.{color:#01f7e4;}
x{color:#01f8d2;}
.{color:#01f9c0;}
x{color:#01faae;}
.{color:#01fb9c;}
x{color:#01fc8a;}
.{color:#01fd78;}
x{color:#01fe66;}
.{color:#01ff54;}
x{color:#020042;}
.{color:#020130;}
x{color:#02021e;}
.{color:#02030c;}
x{color:#0203fa;}
.{color:#0204e8;}
x{color:#0205d6;}
.{color:#0206c4;}
x{color:#0207b2;}
.{color:#0208a0;}
x{color:#02098e;}
.{color:#020a7c;}
x{color:#020b6a;}
.{color:#020c58;}
x{color:#020d46;}
.{color:#020e34;}
x{color:#020f22;}
.{color:#021010;}
x{color:#0210fe;}
.{color:#0211ec;}
x{color:#0212da;}
.{color:#0213c8;}
x{color:#0214b6;}
.{color:#0215a4;}
x{color:#021692;}
.{color:#021780;}
x{color:#02186e;}
.{color:#02195c;}
x{color:#021a4a;}
.{color:#021b38;}
x{color:#021c26;}
.{color:#021d14;}
x{color:#021e02;}
.{color:#021ef0;}
x{color:#021fde;}
.{color:#0220cc;}
x{color:#0221ba;}
.{color:#0222a8;}
x{color:#022396;}
.{color:#022484;}
x{color:#022572;}
.{color:#022660;}
x{color:#02274e;}
.{color:#02283c;}
x{color:#02292a;}
.{color:#022a18;}
x{color:#022b06;}
.{color:#022bf4;}
x{color:#022ce2;}
.{color:#022dd0;}
x{color:#022ebe;}
.{color:#022fac;}
x{color:#02309a;}
.{color:#023188;}
x{color:#023276;}
.{color:#023364;}
x{color:#023452;}
.{color:#023540;}
x{color:#02362e;}
.{color:#02371c;}
x{color:#02380a;}
.{color:#0238f8;}
x{color:#0239e6;}
.{color:#023ad4;}
x{color:#023bc2;}
.{color:#023cb0;}
x{color:#023d9e;}
.{color:#023e8c;}
x{color:#023f7a;}
.{color:#024068;}
x{color:#024156;}
.{color:#024244;}
x{color:#024332;}
.{color:#024420;}
x{color:#02450e;}
.{color:#0245fc;}
x{color:#0246ea;}
.{color:#0247d8;}
x{color:#0248c6;}
.{color:#0249b4;}
x{color:#024aa2;}
.{color:#024b90;}
x{color:#024c7e;}
.{color:#024d6c;}
x{color:#024e5a;}
.{color:#024f48;}
x{color:#025036;}
.{color:#025124;}
x{color:#025212;}
.{color:#025300;}
x{color:#0253ee;}
.{color:#0254dc;}
x{color:#0255ca;}
.{color:#0256b8;}
x{color:#0257a6;}
.{color:#025894;}
x{color:#025982;}
.{color:#025a70;}
x{color:#025b5e;}
.{color:#025c4c;}
x{color:#025d3a;}
.{color:#025e28;}
x{color:#025f16;}
.{color:#026004;}
x{color:#0260f2;}
.{color:#0261e0;}
x{color:#0262ce;}
.{color:#0263bc;}
x{color:#0264aa;}
.{color:#026598;}
x{color:#026686;}
.{color:#026774;}
x{color:#026862;}
.{color:#026950;}
x{color:#026a3e;}
.{color:#026b2c;}
x{color:#026c1a;}
.{color:#026d08;}
x{color:#026df6;}
.{color:#026ee4;}
x{color:#026fd2;}
.{color:#0270c0;}
x{color:#0271ae;}
.{color:#02729c;}
x{color:#02738a;}
.{color:#027478;}
x{color:#027566;}
.{color:#027654;}
x{color:#027742;}
.{color:#027830;}
x{color:#02791e;}
.{color:#027a0c;}
x{color:#027afa;}
.{color:#027be8;}
x{color:#027cd6;}
.{color:#027dc4;}
x{color:#027eb2;}
.{color:#027fa0;}
x{color:#02808e;}
.{color:#02817c;}
x{color:#02826a;}
.{color:#028358;}
x{color:#028446;}
.{color:#028534;}
x{color:#028622;}
.{color:#028710;}
x{color:#0287fe;}
.{color:#0288ec;}
x{color:#0289da;}
.{color:#028ac8;}
x{color:#028bb6;}
.{color:#028ca4;}
x{color:#028d92;}
.{color:#028e80;}
x{color:#028f6e;}
.{color:#02905c;}
x{color:#02914a;}
.{color:#029238;}
x{color:#029326;}
.{color:#029414;}
x{color:#029502;}
.{color:#0295f0;}
x{color:#0296de;}
.{color:#0297cc;}
x{color:#0298ba;}
.{color:#0299a8;}
x{color:#029a96;}
.{color:#029b84;}
x{color:#029c72;}
.{color:#029d60;}
x{color:#029e4e;}
.{color:#029f3c;}
x{color:#02a02a;}
.{color:#02a118;}
x{color:#02a206;}
.{color:#02a2f4;}
x{color:#02a3e2;}
.{color:#02a4d0;}
x{color:#02a5be;}
.{color:#02a6ac;}
x{color:#02a79a;}
.{color:#02a888;}
x{color:#02a976;}
.{color:#02aa64;}
x{color:#02ab52;}
.{color:#02ac40;}
x{color:#02ad2e;}
.{color:#02ae1c;}
x{color:#02af0a;}
.{color:#02aff8;}
x{color:#02b0e6;}
.{color:#02b1d4;}
x{color:#02b2c2;}
.{color:#02b3b0;}
x{color:#02b49e;}
.{color:#02b58c;}
x{color:#02b67a;}
.{color:#02b768;}
x{color:#02b856;}
.{color:#02b944;}
x{color:#02ba32;}
.{color:#02bb20;}
x{color:#02bc0e;}
.{color:#02bcfc;}
x{color:#02bdea;}
.{color:#02bed8;}
x{color:#02bfc6;}
.{color:#02c0b4;}
x{color:#02c1a2;}
.{color:#02c290;}
x{color:#02c37e;}
.{color:#02c46c;}
x{color:#02c55a;}
.{color:#02c648;}
x{color:#02c736;}
.{color:#02c824;}
x{color:#02c912;}
.{color:#02ca00;}
x{color:#02caee;}
.{color:#02cbdc;}
x{color:#02ccca;}
.{color:#02cdb8;}
x{color:#02cea6;}
.{color:#02cf94;}
x{color:#02d082;}
.{color:#02d170;}
x{color:#02d25e;}
.{color:#02d34c;}
x{color:#02d43a;}
.{color:#02d528;}
x{color:#02d616;}
.{color:#02d704;}
x{color:#02d7f2;}
.{color:#02d8e0;}
x{color:#02d9ce;}
.{color:#02dabc;}
x{color:#02dbaa;}
.{color:#02dc98;}
x{color:#02dd86;}
.{color:#02de74;}
x{color:#02df62;}
.{color:#02e050;}
x{color:#02e13e;}
.{color:#02e22c;}
x{color:#02e31a;}
.{color:#02e408;}
x{color:#02e4f6;}
.{color:#02e5e4;}
x{color:#02e6d2;}
.{color:#02e7c0;}
x{color:#02e8ae;}
.{color:#02e99c;}
x{color:#02ea8a;}
.{color:#02eb78;}
x{color:#02ec66;}
.{color:#02ed54;}
x{color:#02ee42;}
.{color:#02ef30;}
x{color:#02f01e;}
.{color:#02f10c;}
x{color:#02f1fa;}
.{color:#02f2e8;}
x{color:#02f3d6;}
.{color:#02f4c4;}
x{color:#02f5b2;}
.{color:#02f6a0;}
x{color:#02f78e;}
.{color:#02f87c;}
x{color:#02f96a;}
.{color:#02fa58;}
x{color:#02fb46;}
.{color:#02fc34;}
x{color:#02fd22;}
.{color:#02fe10;}
x{color:#02fefe;}
.{color:#02ffec;}
x{color:#0300da;}
.{color:#0301c8;}
x{color:#0302b6;}
.{color:#0303a4;}
x{color:#030492;}
.{color:#030580;}
x{color:#03066e;}
.{color:#03075c;}
x{color:#03084a;}
.{color:#030938;}
x{color:#030a26;}
.{color:#030b14;}
x{color:#030c02;}
.{color:#030cf0;}
x{color:#030dde;}
.{color:#030ecc;}
x{color:#030fba;}
.{color:#0310a8;}
x{color:#031196;}
.{color:#031284;}
x{color:#031372;}
.{color:#031460;}
x{color:#03154e;}
.{color:#03163c;}
x{color:#03172a;}
.{color:#031818;}
x{color:#031906;}
.{color:#0319f4;}
x{color:#031ae2;}
.{color:#031bd0;}
x{color:#031cbe;}
.{color:#031dac;}
x{color:#031e9a;}
.{color:#031f88;}
x{color:#032076;}
.{color:#032164;}
x{color:#032252;}
.{color:#032340;}
x{color:#03242e;}
.{color:#03251c;}
x{color:#03260a;}
.{color:#0326f8;}
x{color:#0327e6;}
.{color:#0328d4;}
x{color:#0329c2;}
.{color:#032ab0;}
x{color:#032b9e;}
.{color:#032c8c;}
x{color:#032d7a;}
.{color:#032e68;}
x{color:#032f56;}
.{color:#033044;}
x{color:#033132;}
.{color:#033220;}
x{color:#03330e;}
.{color:#0333fc;}
x{color:#0334ea;}
.{color:#0335d8;}
x{color:#0336c6;}
.{color:#0337b4;}
x{color:#0338a2;}
.{color:#033990;}
x{color:#033a7e;}
.{color:#033b6c;}
x{color:#033c5a;}
.{color:#033d48;}
x{color:#033e36;}
.{color:#033f24;}
x{color:#034012;}
.{color:#034100;}
x{color:#0341ee;}
.{color:#0342dc;}
x{color:#0343ca;}
.{color:#0344b8;}
x{color:#0345a6;}
.{color:#034694;}
x{color:#034782;}
.{color:#034870;}
x{color:#03495e;}
.{color:#034a4c;}
x{color:#034b3a;}
.{color:#034c28;}
x{color:#034d16;}
.{color:#034e04;}
x{color:#034ef2;}
.{color:#034fe0;}
x{color:#0350ce;}
.{color:#0351bc;}
x{color:#0352aa;}
.{color:#035398;}
x{color:#035486;}
.{color:#035574;}
x{color:#035662;}
.{color:#035750;}
x{color:#03583e;}
.{color:#03592c;}
x{color:#035a1a;}
.{color:#035b08;}
x{color:#035bf6;}
.{color:#035ce4;}
x{color:#035dd2;}
.{color:#035ec0;}
x{color:#035fae;}
.{color:#03609c;}
x{color:#03618a;}
.{color:#036278;}
x{color:#036366;}
.{color:#036454;}
x{color:#036542;}
.{color:#036630;}
x{color:#03671e;}
.{color:#03680c;}
x{color:#0368fa;}
.{color:#0369e8;}
x{color:#036ad6;}
.{color:#036bc4;}
x{color:#036cb2;}
.{color:#036da0;}
x{color:#036e8e;}
.{color:#036f7c;}
x{color:#03706a;}
.{color:#037158;}
x{color:#037246;}
.{color:#037334;}
x{color:#037422;}
.{color:#037510;}
x{color:#0375fe;}
.{color:#0376ec;}
x{color:#0377da;}
.{color:#0378c8;}
x{color:#0379b6;}
.{color:#037aa4;}
x{color:#037b92;}
.{color:#037c80;}
x{color:#037d6e;}
.{color:#037e5c;}
x{color:#037f4a;}
.{color:#038038;}
x{color:#038126;}
.{color:#038214;}
x{color:#038302;}
.{color:#0383f0;}
x{color:#0384de;}
.{color:#0385cc;}
x{color:#0386ba;}
.{color:#0387a8;}
x{color:#038896;}
.{color:#038984;}
x{color:#038a72;}
.{color:#038b60;}
x{color:#038c4e;}
.{color:#038d3c;}
x{color:#038e2a;}
.{color:#038f18;}
x{color:#039006;}
.{color:#0390f4;}
x{color:#0391e2;}
.{color:#0392d0;}
x{color:#0393be;}
.{color:#0394ac;}
x{color:#03959a;}
.{color:#039688;}
x{color:#039776;}
.{color:#039864;}
x{color:#039952;}
.{color:#039a40;}
x{color:#039b2e;}
.{color:#039c1c;}
x{color:#039d0a;}
.{color:#039df8;}
x{color:#039ee6;}
.{color:#039fd4;}
x{color:#03a0c2;}
