/* css */
.{color:#000000;}
x{color:#000066;}
.{color:#0000cc;}
x{color:#000132;}
.{color:#000198;}
x{color:#0001fe;}
.{color:#000264;}
x{color:#0002ca;}
.{color:#000330;}
x{color:#000396;}
.{color:#0003fc;}
x{color:#000462;}
.{color:#0004c8;}
x{color:#00052e;}
.{color:#000594;}
x{color:#0005fa;}
.{color:#000660;}
x{color:#0006c6;}
.{color:#00072c;}
x{color:#000792;}
.{color:#0007f8;}
x{color:#00085e;}
.{color:#0008c4;}
x{color:#00092a;}
.{color:#000990;}
x{color:#0009f6;}
.{color:#000a5c;}
x{color:#000ac2;}
.{color:#000b28;}
x{color:#000b8e;}
.{color:#000bf4;}
x{color:#000c5a;}
.{color:#000cc0;}
x{color:#000d26;}
.{color:#000d8c;}
x{color:#000df2;}
.{color:#000e58;}
x{color:#000ebe;}
.{color:#000f24;}
x{color:#000f8a;}
.{color:#000ff0;}
x{color:#001056;}
.{color:#0010bc;}
x{color:#001122;}
.{color:#001188;}
x{color:#0011ee;}
.{color:#001254;}
x{color:#0012ba;}
.{color:#001320;}
x{color:#001386;}
.{color:#0013ec;}
x{color:#001452;}
.{color:#0014b8;}
x{color:#00151e;}
.{color:#001584;}
x{color:#0015ea;}
.{color:#001650;}
x{color:#0016b6;}
.{color:#00171c;}
x{color:#001782;}
.{color:#0017e8;}
x{color:#00184e;}
.{color:#0018b4;}
x{color:#00191a;}
.{color:#001980;}
x{color:#0019e6;}
.{color:#001a4c;}
x{color:#001ab2;}
.{color:#001b18;}
x{color:#001b7e;}
.{color:#001be4;}
x{color:#001c4a;}
.{color:#001cb0;}
x{color:#001d16;}
.{color:#001d7c;}
x{color:#001de2;}
.{color:#001e48;}
x{color:#001eae;}
.{color:#001f14;}
x{color:#001f7a;}
.{color:#001fe0;}
x{color:#002046;}
.{color:#0020ac;}
x{color:#002112;}
.{color:#002178;}
x{color:#0021de;}
.{color:#002244;}
x{color:#0022aa;}
.{color:#002310;}
x{color:#002376;}
.{color:#0023dc;}
x{color:#002442;}
.{color:#0024a8;}
x{color:#00250e;}
.{color:#002574;}
x{color:#0025da;}
.{color:#002640;}
x{color:#0026a6;}
.{color:#00270c;}
x{color:#002772;}
.{color:#0027d8;}
x{color:#00283e;}
.{color:#0028a4;}
x{color:#00290a;}
.{color:#002970;}
x{color:#0029d6;}
.{color:#002a3c;}
x{color:#002aa2;}
.{color:#002b08;}
x{color:#002b6e;}
.{color:#002bd4;}
x{color:#002c3a;}
.{color:#002ca0;}
x{color:#002d06;}
.{color:#002d6c;}
x{color:#002dd2;}
.{color:#002e38;}
x{color:#002e9e;}
.{color:#002f04;}
x{color:#002f6a;}
.{color:#002fd0;}
x{color:#003036;}
.{color:#00309c;}
x{color:#003102;}
.{color:#003168;}
x{color:#0031ce;}
.{color:#003234;}
x{color:#00329a;}
.{color:#003300;}
x{color:#003366;}
.{color:#0033cc;}
x{color:#003432;}
.{color:#003498;}
x{color:#0034fe;}
.{color:#003564;}
x{color:#0035ca;}
.{color:#003630;}
x{color:#003696;}
.{color:#0036fc;}
x{color:#003762;}
.{color:#0037c8;}
x{color:#00382e;}
.{color:#003894;}
x{color:#0038fa;}
.{color:#003960;}
x{color:#0039c6;}
.{color:#003a2c;}
x{color:#003a92;}
.{color:#003af8;}
x{color:#003b5e;}
.{color:#003bc4;}
x{color:#003c2a;}
.{color:#003c90;}
x{color:#003cf6;}
.{color:#003d5c;}
x{color:#003dc2;}
.{color:#003e28;}
x{color:#003e8e;}
.{color:#003ef4;}
x{color:#003f5a;}
.{color:#003fc0;}
x{color:#004026;}
.{color:#00408c;}
x{color:#0040f2;}
.{color:#004158;}
x{color:#0041be;}
.{color:#004224;}
x{color:#00428a;}
.{color:#0042f0;}
x{color:#004356;}
.{color:#0043bc;}
x{color:#004422;}
.{color:#004488;}
x{color:#0044ee;}
.{color:#004554;}
x{color:#0045ba;}
.{color:#004620;}
x{color:#004686;}
.{color:#0046ec;}
x{color:#004752;}
.{color:#0047b8;}
x{color:#00481e;}
.{color:#004884;}
x{color:#0048ea;}
.{color:#004950;}
x{color:#0049b6;}
.{color:#004a1c;}
x{color:#004a82;}
.{color:#004ae8;}
x{color:#004b4e;}
.{color:#004bb4;}
x{color:#004c1a;}
.{color:#004c80;}
x{color:#004ce6;}
.{color:#004d4c;}
x{color:#004db2;}
.{color:#004e18;}
x{color:#004e7e;}
.{color:#004ee4;}
x{color:#004f4a;}
.{color:#004fb0;}
x{color:#005016;}
.{color:#00507c;}
x{color:#0050e2;}
.{color:#005148;}
x{color:#0051ae;}
.{color:#005214;}
x{color:#00527a;}
.{color:#0052e0;}
x{color:#005346;}
.{color:#0053ac;}
x{color:#005412;}
.{color:#005478;}
x{color:#0054de;}
.{color:#005544;}
x{color:#0055aa;}
.{color:#005610;}
x{color:#005676;}
.{color:#0056dc;}
x{color:#005742;}
.{color:#0057a8;}
x{color:#00580e;}
.{color:#005874;}
x{color:#0058da;}
.{color:#005940;}
x{color:#0059a6;}
.{color:#005a0c;}
x{color:#005a72;}
.{color:#005ad8;}
x{color:#005b3e;}
.{color:#005ba4;}
x{color:#005c0a;}
.{color:#005c70;}
x{color:#005cd6;}
.{color:#005d3c;}
x{color:#005da2;}
.{color:#005e08;}
x{color:#005e6e;}
.{color:#005ed4;}
x{color:#005f3a;}
.{color:#005fa0;}
x{color:#006006;}
.{color:#00606c;}
x{color:#0060d2;}
.{color:#006138;}
x{color:#00619e;}
.{color:#006204;}
x{color:#00626a;}
.{color:#0062d0;}
x{color:#006336;}
.{color:#00639c;}
x{color:#006402;}
.{color:#006468;}
x{color:#0064ce;}
.{color:#006534;}
x{color:#00659a;}
.{color:#006600;}
x{color:#006666;}
.{color:#0066cc;}
x{color:#006732;}
.{color:#006798;}
x{color:#0067fe;}
.{color:#006864;}
x{color:#0068ca;}
.{color:#006930;}
x{color:#006996;}
.{color:#0069fc;}
x{color:#006a62;}
.{color:#006ac8;}
x{color:#006b2e;}
.{color:#006b94;}
x{color:#006bfa;}
.{color:#006c60;}
x{color:#006cc6;}
.{color:#006d2c;}
x{color:#006d92;}
.{color:#006df8;}
x{color:#006e5e;}
.{color:#006ec4;}
x{color:#006f2a;}
.{color:#006f90;}
x{color:#006ff6;}
.{color:#00705c;}
x{color:#0070c2;}
.{color:#007128;}
x{color:#00718e;}
.{color:#0071f4;}
x{color:#00725a;}
.{color:#0072c0;}
x{color:#007326;}
.{color:#00738c;}
x{color:#0073f2;}
.{color:#007458;}
x{color:#0074be;}
.{color:#007524;}
x{color:#00758a;}
.{color:#0075f0;}
x{color:#007656;}
.{color:#0076bc;}
x{color:#007722;}
.{color:#007788;}
x{color:#0077ee;}
.{color:#007854;}
x{color:#0078ba;}
.{color:#007920;}
x{color:#007986;}
.{color:#0079ec;}
x{color:#007a52;}
.{color:#007ab8;}
x{color:#007b1e;}
.{color:#007b84;}
x{color:#007bea;}
.{color:#007c50;}
x{color:#007cb6;}
.{color:#007d1c;}
x{color:#007d82;}
.{color:#007de8;}
x{color:#007e4e;}
.{color:#007eb4;}
x{color:#007f1a;}
.{color:#007f80;}
x{color:#007fe6;}
.{color:#00804c;}
x{color:#0080b2;}
.{color:#008118;}
x{color:#00817e;}
.{color:#0081e4;}
x{color:#00824a;}
.{color:#0082b0;}
x{color:#008316;}
.{color:#00837c;}
x{color:#0083e2;}
.{color:#008448;}
x{color:#0084ae;}
.{color:#008514;}
x{color:#00857a;}
.{color:#0085e0;}
x{color:#008646;}
.{color:#0086ac;}
x{color:#008712;}
.{color:#008778;}
x{color:#0087de;}
.{color:#008844;}
x{color:#0088aa;}
.{color:#008910;}
x{color:#008976;}
.{color:#0089dc;}
x{color:#008a42;}
.{color:#008aa8;}
x{color:#008b0e;}
.{color:#008b74;}
x{color:#008bda;}
.{color:#008c40;}
x{color:#008ca6;}
.{color:#008d0c;}
x{color:#008d72;}
.{color:#008dd8;}
x{color:#008e3e;}
.{color:#008ea4;}
x{color:#008f0a;}
.{color:#008f70;}
x{color:#008fd6;}
.{color:#00903c;}
x{color:#0090a2;}
.{color:#009108;}
x{color:#00916e;}
.{color:#0091d4;}
x{color:#00923a;}
.{color:#0092a0;}
x{color:#009306;}
.{color:#00936c;}
x{color:#0093d2;}
.{color:#009438;}
x{color:#00949e;}
.{color:#009504;}
x{color:#00956a;}
.{color:#0095d0;}
x{color:#009636;}
.{color:#00969c;}
x{color:#009702;}
.{color:#009768;}
x{color:#0097ce;}
.{color:#009834;}
x{color:#00989a;}
.{color:#009900;}
x{color:#009966;}
.{color:#0099cc;}
x{color:#009a32;}
.{color:#009a98;}
x{color:#009afe;}
.{color:#009b64;}
x{color:#009bca;}
.{color:#009c30;}
x{color:#009c96;}
.{color:#009cfc;}
x{color:#009d62;}
.{color:#009dc8;}
x{color:#009e2e;}
.{color:#009e94;}
x{color:#009efa;}
.{color:#009f60;}
x{color:#009fc6;}
.{color:#00a02c;}
x{color:#00a092;}
.{color:#00a0f8;}
x{color:#00a15e;}
.{color:#00a1c4;}
x{color:#00a22a;}
.{color:#00a290;}
x{color:#00a2f6;}
.{color:#00a35c;}
x{color:#00a3c2;}
.{color:#00a428;}
x{color:#00a48e;}
.{color:#00a4f4;}
x{color:#00a55a;}
.{color:#00a5c0;}
x{color:#00a626;}
.{color:#00a68c;}
x{color:#00a6f2;}
.{color:#00a758;}
x{color:#00a7be;}
.{color:#00a824;}
x{color:#00a88a;}
.{color:#00a8f0;}
x{color:#00a956;}
.{color:#00a9bc;}
x{color:#00aa22;}
.{color:#00aa88;}
x{color:#00aaee;}
.{color:#00ab54;}
x{color:#00abba;}
.{color:#00ac20;}
x{color:#00ac86;}
.{color:#00acec;}
x{color:#00ad52;}
.{color:#00adb8;}
x{color:#00ae1e;}
.{color:#00ae84;}
x{color:#00aeea;}
.{color:#00af50;}
x{color:#00afb6;}
.{color:#00b01c;}
x{color:#00b082;}
.{color:#00b0e8;}
x{color:#00b14e;}
.{color:#00b1b4;}
x{color:#00b21a;}
.{color:#00b280;}
x{color:#00b2e6;}
.{color:#00b34c;}
x{color:#00b3b2;}
.{color:#00b418;}
x{color:#00b47e;}
.{color:#00b4e4;}
x{color:#00b54a;}
.{color:#00b5b0;}
x{color:#00b616;}
.{color:#00b67c;}
x{color:#00b6e2;}
.{color:#00b748;}
x{color:#00b7ae;}
.{color:#00b814;}
x{color:#00b87a;}
.{color:#00b8e0;}
x{color:#00b946;}
.{color:#00b9ac;}
x{color:#00ba12;}
.{color:#00ba78;}
x{color:#00bade;}
.{color:#00bb44;}
x{color:#00bbaa;}
.{color:#00bc10;}
x{color:#00bc76;}
.{color:#00bcdc;}
x{color:#00bd42;}
.{color:#00bda8;}
x{color:#00be0e;}
.{color:#00be74;}
x{color:#00beda;}
.{color:#00bf40;}
x{color:#00bfa6;}
.{color:#00c00c;}
x{color:#00c072;}
.{color:#00c0d8;}
x{color:#00c13e;}
.{color:#00c1a4;}
x{color:#00c20a;}
.{color:#00c270;}
x{color:#00c2d6;}
.{color:#00c33c;}
x{color:#00c3a2;}
.{color:#00c408;}
x{color:#00c46e;}
.{color:#00c4d4;}
x{color:#00c53a;}
.{color:#00c5a0;}
x{color:#00c606;}
.{color:#00c66c;}
x{color:#00c6d2;}
.{color:#00c738;}
x{color:#00c79e;}
.{color:#00c804;}
x{color:#00c86a;}
.{color:#00c8d0;}
x{color:#00c936;}
.{color:#00c99c;}
x{color:#00ca02;}
.{color:#00ca68;}
x{color:#00cace;}
.{color:#00cb34;}
x{color:#00cb9a;}
.{color:#00cc00;}
x{color:#00cc66;}
.{color:#00cccc;}
x{color:#00cd32;}
.{color:#00cd98;}
x{color:#00cdfe;}
.{color:#00ce64;}
x{color:#00ceca;}
.{color:#00cf30;}
x{color:#00cf96;}
.{color:#00cffc;}
x{color:#00d062;}
.{color:#00d0c8;}
x{color:#00d12e;}
.{color:#00d194;}
x{color:#00d1fa;}
.{color:#00d260;}
x{color:#00d2c6;}
.{color:#00d32c;}
x{color:#00d392;}
.{color:#00d3f8;}
x{color:#00d45e;}
.{color:#00d4c4;}
x{color:#00d52a;}
.{color:#00d590;}
x{color:#00d5f6;}
.{color:#00d65c;}
x{color:#00d6c2;}
.{color:#00d728;}
x{color:#00d78e;}
.{color:#00d7f4;}
x{color:#00d85a;}
.{color:#00d8c0;}
x{color:#00d926;}
.{color:#00d98c;}
x{color:#00d9f2;}
.{color:#00da58;}
x{color:#00dabe;}
.{color:#00db24;}
x{color:#00db8a;}
.{color:#00dbf0;}
x{color:#00dc56;}
.{color:#00dcbc;}
x{color:#00dd22;}
.{color:#00dd88;}
x{color:#00ddee;}
.{color:#00de54;}
x{color:#00deba;}
.{color:#00df20;}
x{color:#00df86;}
.{color:#00dfec;}
x{color:#00e052;}
.{color:#00e0b8;}
x{color:#00e11e;}
.{color:#00e184;}
x{color:#00e1ea;}
.{color:#00e250;}
x{color:#00e2b6;}
.{color:#00e31c;}
x{color:#00e382;}
.{color:#00e3e8;}
x{color:#00e44e;}
.{color:#00e4b4;}
x{color:#00e51a;}
.{color:#00e580;}
x{color:#00e5e6;}
.{color:#00e64c;}
x{color:#00e6b2;}
.{color:#00e718;}
x{color:#00e77e;}
.{color:#00e7e4;}
x{color:#00e84a;}
.{color:#00e8b0;}
x{color:#00e916;}
.{color:#00e97c;}
x{color:#00e9e2;}
.{color:#00ea48;}
x{color:#00eaae;}
.{color:#00eb14;}
x{color:#00eb7a;}
.{color:#00ebe0;}
x{color:#00ec46;}
.{color:#00ecac;}
x{color:#00ed12;}
.{color:#00ed78;}
x{color:#00edde;}
.{color:#00ee44;}
x{color:#00eeaa;}
.{color:#00ef10;}
x{color:#00ef76;}
.{color:#00efdc;}
x{color:#00f042;}
.{color:#00f0a8;}
x{color:#00f10e;}
.{color:#00f174;}
x{color:#00f1da;}
.{color:#00f240;}
x{color:#00f2a6;}
.{color:#00f30c;}
x{color:#00f372;}
.{color:#00f3d8;}
x{color:#00f43e;}
.{color:#00f4a4;}
x{color:#00f50a;}
.{color:#00f570;}
x{color:#00f5d6;}
.{color:#00f63c;}
x{color:#00f6a2;}
.{color:#00f708;}
x{color:#00f76e;}
.{color:#00f7d4;}
x{color:#00f83a;}
.{color:#00f8a0;}
x{color:#00f906;}
.{color:#00f96c;}
x{color:#00f9d2;}
.{color:#00fa38;}
x{color:#00fa9e;}
.{color:#00fb04;}
x{color:#00fb6a;}
.{color:#00fbd0;}
x{color:#00fc36;}
.{color:#00fc9c;}
x{color:#00fd02;}
.{color:#00fd68;}
x{color:#00fdce;}
.{color:#00fe34;}
x{color:#00fe9a;}
.{color:#00ff00;}
x{color:#00ff66;}
.{color:#00ffcc;}
x{color:#010032;}
.{color:#010098;}
x{color:#0100fe;}
.{color:#010164;}
x{color:#0101ca;}
.{color:#010230;}
x{color:#010296;}
.{color:#0102fc;}
x{color:#010362;}
.{color:#0103c8;}
x{color:#01042e;}
.{color:#010494;}
x{color:#0104fa;}
.{color:#010560;}
x{color:#0105c6;}
.{color:#01062c;}
x{color:#010692;}
.{color:#0106f8;}
x{color:#01075e;}
.{color:#0107c4;}
x{color:#01082a;}
.{color:#010890;}
x{color:#0108f6;}
.{color:#01095c;}
x{color:#0109c2;}
.{color:#010a28;}
x{color:#010a8e;}
.{color:#010af4;}
x{color:#010b5a;}
.{color:#010bc0;}
x{color:#010c26;}
.{color:#010c8c;}
x{color:#010cf2;}
.{color:#010d58;}
x{color:#010dbe;}
.{color:#010e24;}
x{color:#010e8a;}
.{color:#010ef0;}
x{color:#010f56;}
.{color:#010fbc;}
x{color:#011022;}
.{color:#011088;}
x{color:#0110ee;}
.{color:#011154;}
x{color:#0111ba;}
.{color:#011220;}
x{color:#011286;}
.{color:#0112ec;}
x{color:#011352;}
.{color:#0113b8;}
x{color:#01141e;}
.{color:#011484;}
x{color:#0114ea;}
.{color:#011550;}
x{color:#0115b6;}
.{color:#01161c;}
x{color:#011682;}
.{color:#0116e8;}
x{color:#01174e;}
.{color:#0117b4;}
x{color:#01181a;}
.{color:#011880;}
x{color:#0118e6;}
.{color:#01194c;}
x{color:#0119b2;}
.{color:#011a18;}
x{color:#011a7e;}
.{color:#011ae4;}
x{color:#011b4a;}
.{color:#011bb0;}
x{color:#011c16;}
.{color:#011c7c;}
x{color:#011ce2;}
.{color:#011d48;}
x{color:#011dae;}
.{color:#011e14;}
x{color:#011e7a;}
.{color:#011ee0;}
x{color:#011f46;}
.{color:#011fac;}
x{color:#012012;}
.{color:#012078;}
x{color:#0120de;}
.{color:#012144;}
x{color:#0121aa;}
.{color:#012210;}
x{color:#012276;}
.{color:#0122dc;}
x{color:#012342;}
.{color:#0123a8;}
x{color:#01240e;}
.{color:#012474;}
x{color:#0124da;}
.{color:#012540;}
x{color:#0125a6;}
.{color:#01260c;}
x{color:#012672;}
.{color:#0126d8;}
x{color:#01273e;}
.{color:#0127a4;}
x{color:#01280a;}
.{color:#012870;}
x{color:#0128d6;}
.{color:#01293c;}
x{color:#0129a2;}
.{color:#012a08;}
x{color:#012a6e;}
.{color:#012ad4;}
x{color:#012b3a;}
.{color:#012ba0;}
x{color:#012c06;}
.{color:#012c6c;}
x{color:#012cd2;}
.{color:#012d38;}
x{color:#012d9e;}
.{color:#012e04;}
x{color:#012e6a;}
.{color:#012ed0;}
x{color:#012f36;}
.{color:#012f9c;}
x{color:#013002;}
.{color:#013068;}
x{color:#0130ce;}
.{color:#013134;}
x{color:#01319a;}
.{color:#013200;}
x{color:#013266;}
.{color:#0132cc;}
x{color:#013332;}
.{color:#013398;}
x{color:#0133fe;}
.{color:#013464;}
x{color:#0134ca;}
.{color:#013530;}
x{color:#013596;}
.{color:#0135fc;}
x{color:#013662;}
.{color:#0136c8;}
x{color:#01372e;}
.{color:#013794;}
x{color:#0137fa;}
.{color:#013860;}
x{color:#0138c6;}
.{color:#01392c;}
x{color:#013992;}
.{color:#0139f8;}
x{color:#013a5e;}
.{color:#013ac4;}
x{color:#013b2a;}
.{color:#013b90;}
x{color:#013bf6;}
.{color:#013c5c;}
x{color:#013cc2;}
.{color:#013d28;}
x{color:#013d8e;}
.{color:#013df4;}
x{color:#013e5a;}
.{color:#013ec0;}
x{color:#013f26;}
.{color:#013f8c;}
x{color:#013ff2;}
.{color:#014058;}
x{color:#0140be;}
.{color:#014124;}
x{color:#01418a;}
.{color:#0141f0;}
x{color:#014256;}
.{color:#0142bc;}
x{color:#014322;}
.{color:#014388;}
x{color:#0143ee;}
.{color:#014454;}
x{color:#0144ba;}
.{color:#014520;}
x{color:#014586;}
.{color:#0145ec;}
x{color:#014652;}
.{color:#0146b8;}
x{color:#01471e;}
.{color:#014784;}
x{color:#0147ea;}
.{color:#014850;}
x{color:#0148b6;}
.{color:#01491c;}
x{color:#014982;}
.{color:#0149e8;}
x{color:#014a4e;}
.{color:#014ab4;}
x{color:#014b1a;}
.{color:#014b80;}
x{color:#014be6;}
.{color:#014c4c;}
x{color:#014cb2;}
.{color:#014d18;}
x{color:#014d7e;}
.{color:#014de4;}
x{color:#014e4a;}
.{color:#014eb0;}
x{color:#014f16;}
.{color:#014f7c;}
x{color:#014fe2;}
.{color:#015048;}
x{color:#0150ae;}
.{color:#015114;}
x{color:#01517a;}
.{color:#0151e0;}
x{color:#015246;}
.{color:#0152ac;}
x{color:#015312;}
.{color:#015378;}
x{color:#0153de;}
.{color:#015444;}
x{color:#0154aa;}
.{color:#015510;}
x{color:#015576;}
.{color:#0155dc;}
x{color:#015642;}
.{color:#0156a8;}
x{color:#01570e;}
.{color:#015774;}
x{color:#0157da;}
.{color:#015840;}
x{color:#0158a6;}
.{color:#01590c;}
x{color:#015972;}
.{color:#0159d8;}
x{color:#015a3e;}
.{color:#015aa4;}
x{color:#015b0a;}
.{color:#015b70;}
x{color:#015bd6;}
.{color:#015c3c;}
x{color:#015ca2;}
.{color:#015d08;}
x{color:#015d6e;}
.{color:#015dd4;}
x{color:#015e3a;}
.{color:#015ea0;}
x{color:#015f06;}
.{color:#015f6c;}
x{color:#015fd2;}
.{color:#016038;}
x{color:#01609e;}
.{color:#016104;}
x{color:#01616a;}
.{color:#0161d0;}
x{color:#016236;}
.{color:#01629c;}
x{color:#016302;}
.{color:#016368;}
x{color:#0163ce;}
.{color:#016434;}
x{color:#01649a;}
.{color:#016500;}
x{color:#016566;}
.{color:#0165cc;}
x{color:#016632;}
.{color:#016698;}
x{color:#0166fe;}
.{color:#016764;}
x{color:#0167ca;}
.{color:#016830;}
x{color:#016896;}
.{color:#0168fc;}
x{color:#016962;}
.{color:#0169c8;}
x{color:#016a2e;}
.{color:#016a94;}
x{color:#016afa;}
.{color:#016b60;}
x{color:#016bc6;}
.{color:#016c2c;}
x{color:#016c92;}
.{color:#016cf8;}
x{color:#016d5e;}
.{color:#016dc4;}
x{color:#016e2a;}
.{color:#016e90;}
x{color:#016ef6;}
.{color:#016f5c;}
x{color:#016fc2;}
.{color:#017028;}
x{color:#01708e;}
.{color:#0170f4;}
x{color:#01715a;}
.{color:#0171c0;}
x{color:#017226;}
.{color:#01728c;}
x{color:#0172f2;}
.{color:#017358;}
x{color:#0173be;}
.{color:#017424;}
x{color:#01748a;}
.{color:#0174f0;}
x{color:#017556;}
.{color:#0175bc;}
x{color:#017622;}
.{color:#017688;}
x{color:#0176ee;}
.{color:#017754;}
x{color:#0177ba;}
.{color:#017820;}
x{color:#017886;}
.{color:#0178ec;}
x{color:#017952;}
.{color:#0179b8;}
x{color:#017a1e;}
.{color:#017a84;}
x{color:#017aea;}
.{color:#017b50;}
x{color:#017bb6;}
.{color:#017c1c;}
x{color:#017c82;}
.{color:#017ce8;}
x{color:#017d4e;}
.{color:#017db4;}
x{color:#017e1a;}
.{color:#017e80;}
x{color:#017ee6;}
.{color:#017f4c;}
x{color:#017fb2;}
.{color:#018018;}
x{color:#01807e;}
.{color:#0180e4;}
x{color:#01814a;}
.{color:#0181b0;}
x{color:#018216;}
.{color:#01827c;}
x{color:#0182e2;}
.{color:#018348;}
x{color:#0183ae;}
.{color:#018414;}
x{color:#01847a;}
.{color:#0184e0;}
x{color:#018546;}
.{color:#0185ac;}
x{color:#018612;}
.{color:#018678;}
x{color:#0186de;}
.{color:#018744;}
x{color:#0187aa;}
.{color:#018810;}
x{color:#018876;}
.{color:#0188dc;}
x{color:#018942;}
.{color:#0189a8;}
x{color:#018a0e;}
.{color:#018a74;}
x{color:#018ada;}
.{color:#018b40;}
x{color:#018ba6;}
.{color:#018c0c;}
x{color:#018c72;}
.{color:#018cd8;}
x{color:#018d3e;}
.{color:#018da4;}
x{color:#018e0a;}
