/* css */
.{color:#000000;}
x{color:#0000ff;}
.{color:#0001fe;}
x{color:#0002fd;}
.{color:#0003fc;}
x{color:#0004fb;}
.{color:#0005fa;}
x{color:#0006f9;}
.{color:#0007f8;}
x{color:#0008f7;}
.{color:#0009f6;}
x{color:#000af5;}
.{color:#000bf4;}
x{color:#000cf3;}
.{color:#000df2;}
x{color:#000ef1;}
.{color:#000ff0;}
x{color:#0010ef;}
.{color:#0011ee;}
x{color:#0012ed;}
.{color:#0013ec;}
x{color:#0014eb;}
.{color:#0015ea;}
x{color:#0016e9;}
.{color:#0017e8;}
x{color:#0018e7;}
.{color:#0019e6;}
x{color:#001ae5;}
.{color:#001be4;}
x{color:#001ce3;}
.{color:#001de2;}
x{color:#001ee1;}
.{color:#001fe0;}
x{color:#0020df;}
.{color:#0021de;}
x{color:#0022dd;}
.{color:#0023dc;}
x{color:#0024db;}
.{color:#0025da;}
x{color:#0026d9;}
.{color:#0027d8;}
x{color:#0028d7;}
.{color:#0029d6;}
x{color:#002ad5;}
.{color:#002bd4;}
x{color:#002cd3;}
.{color:#002dd2;}
x{color:#002ed1;}
.{color:#002fd0;}
x{color:#0030cf;}
.{color:#0031ce;}
x{color:#0032cd;}
.{color:#0033cc;}
x{color:#0034cb;}
.{color:#0035ca;}
x{color:#0036c9;}
.{color:#0037c8;}
x{color:#0038c7;}
.{color:#0039c6;}
x{color:#003ac5;}
.{color:#003bc4;}
x{color:#003cc3;}
.{color:#003dc2;}
x{color:#003ec1;}
.{color:#003fc0;}
x{color:#0040bf;}
.{color:#0041be;}
x{color:#0042bd;}
.{color:#0043bc;}
x{color:#0044bb;}
.{color:#0045ba;}
x{color:#0046b9;}
.{color:#0047b8;}
x{color:#0048b7;}
.{color:#0049b6;}
x{color:#004ab5;}
.{color:#004bb4;}
x{color:#004cb3;}
.{color:#004db2;}
x{color:#004eb1;}
.{color:#004fb0;}
x{color:#0050af;}
.{color:#0051ae;}
x{color:#0052ad;}
.{color:#0053ac;}
x{color:#0054ab;}
.{color:#0055aa;}
x{color:#0056a9;}
.{color:#0057a8;}
x{color:#0058a7;}
.{color:#0059a6;}
x{color:#005aa5;}
.{color:#005ba4;}
x{color:#005ca3;}
.{color:#005da2;}
x{color:#005ea1;}
.{color:#005fa0;}
x{color:#00609f;}
.{color:#00619e;}
x{color:#00629d;}
.{color:#00639c;}
x{color:#00649b;}
.{color:#00659a;}
x{color:#006699;}
.{color:#006798;}
x{color:#006897;}
.{color:#006996;}
x{color:#006a95;}
.{color:#006b94;}
x{color:#006c93;}
.{color:#006d92;}
x{color:#006e91;}
.{color:#006f90;}
x{color:#00708f;}
.{color:#00718e;}
x{color:#00728d;}
.{color:#00738c;}
x{color:#00748b;}
.{color:#00758a;}
x{color:#007689;}
.{color:#007788;}
x{color:#007887;}
.{color:#007986;}
x{color:#007a85;}
.{color:#007b84;}
x{color:#007c83;}
.{color:#007d82;}
x{color:#007e81;}
.{color:#007f80;}
x{color:#00807f;}
.{color:#00817e;}
x{color:#00827d;}
.{color:#00837c;}
x{color:#00847b;}
.{color:#00857a;}
x{color:#008679;}
.{color:#008778;}
x{color:#008877;}
.{color:#008976;}
x{color:#008a75;}
.{color:#008b74;}
x{color:#008c73;}
.{color:#008d72;}
x{color:#008e71;}
.{color:#008f70;}
x{color:#00906f;}
.{color:#00916e;}
x{color:#00926d;}
.{color:#00936c;}
x{color:#00946b;}
.{color:#00956a;}
x{color:#009669;}
.{color:#009768;}
x{color:#009867;}
.{color:#009966;}
x{color:#009a65;}
.{color:#009b64;}
x{color:#009c63;}
.{color:#009d62;}
x{color:#009e61;}
.{color:#009f60;}
x{color:#00a05f;}
.{color:#00a15e;}
x{color:#00a25d;}
.{color:#00a35c;}
x{color:#00a45b;}
.{color:#00a55a;}
x{color:#00a659;}
.{color:#00a758;}
x{color:#00a857;}
.{color:#00a956;}
x{color:#00aa55;}
.{color:#00ab54;}
x{color:#00ac53;}
.{color:#00ad52;}
x{color:#00ae51;}
.{color:#00af50;}
x{color:#00b04f;}
.{color:#00b14e;}
x{color:#00b24d;}
.{color:#00b34c;}
x{color:#00b44b;}
.{color:#00b54a;}
x{color:#00b649;}
.{color:#00b748;}
x{color:#00b847;}
.{color:#00b946;}
x{color:#00ba45;}
.{color:#00bb44;}
x{color:#00bc43;}
.{color:#00bd42;}
x{color:#00be41;}
.{color:#00bf40;}
x{color:#00c03f;}
.{color:#00c13e;}
x{color:#00c23d;}
.{color:#00c33c;}
x{color:#00c43b;}
.{color:#00c53a;}
x{color:#00c639;}
.{color:#00c738;}
x{color:#00c837;}
.{color:#00c936;}
x{color:#00ca35;}
.{color:#00cb34;}
x{color:#00cc33;}
.{color:#00cd32;}
x{color:#00ce31;}
.{color:#00cf30;}
x{color:#00d02f;}
.{color:#00d12e;}
x{color:#00d22d;}
.{color:#00d32c;}
x{color:#00d42b;}
.{color:#00d52a;}
x{color:#00d629;}
.{color:#00d728;}
x{color:#00d827;}
.{color:#00d926;}
x{color:#00da25;}
.{color:#00db24;}
x{color:#00dc23;}
.{color:#00dd22;}
x{color:#00de21;}
.{color:#00df20;}
x{color:#00e01f;}
.{color:#00e11e;}
x{color:#00e21d;}
.{color:#00e31c;}
x{color:#00e41b;}
.{color:#00e51a;}
x{color:#00e619;}
.{color:#00e718;}
x{color:#00e817;}
.{color:#00e916;}
x{color:#00ea15;}
.{color:#00eb14;}
x{color:#00ec13;}
.{color:#00ed12;}
x{color:#00ee11;}
.{color:#00ef10;}
x{color:#00f00f;}
.{color:#00f10e;}
x{color:#00f20d;}
.{color:#00f30c;}
x{color:#00f40b;}
.{color:#00f50a;}
x{color:#00f609;}
.{color:#00f708;}
x{color:#00f807;}
.{color:#00f906;}
x{color:#00fa05;}
.{color:#00fb04;}
x{color:#00fc03;}
.{color:#00fd02;}
x{color:#00fe01;}
.{color:#00ff00;}
x{color:#00ffff;}
.{color:#0100fe;}
x{color:#0101fd;}
.{color:#0102fc;}
x{color:#0103fb;}
.{color:#0104fa;}
x{color:#0105f9;}
.{color:#0106f8;}
x{color:#0107f7;}
.{color:#0108f6;}
x{color:#0109f5;}
.{color:#010af4;}
x{color:#010bf3;}
.{color:#010cf2;}
x{color:#010df1;}
.{color:#010ef0;}
x{color:#010fef;}
.{color:#0110ee;}
x{color:#0111ed;}
.{color:#0112ec;}
x{color:#0113eb;}
.{color:#0114ea;}
x{color:#0115e9;}
.{color:#0116e8;}
x{color:#0117e7;}
.{color:#0118e6;}
x{color:#0119e5;}
.{color:#011ae4;}
x{color:#011be3;}
.{color:#011ce2;}
x{color:#011de1;}
.{color:#011ee0;}
x{color:#011fdf;}
.{color:#0120de;}
x{color:#0121dd;}
.{color:#0122dc;}
x{color:#0123db;}
.{color:#0124da;}
x{color:#0125d9;}
.{color:#0126d8;}
x{color:#0127d7;}
.{color:#0128d6;}
x{color:#0129d5;}
.{color:#012ad4;}
x{color:#012bd3;}
.{color:#012cd2;}
x{color:#012dd1;}
.{color:#012ed0;}
x{color:#012fcf;}
.{color:#0130ce;}
x{color:#0131cd;}
.{color:#0132cc;}
x{color:#0133cb;}
.{color:#0134ca;}
x{color:#0135c9;}
.{color:#0136c8;}
x{color:#0137c7;}
.{color:#0138c6;}
x{color:#0139c5;}
.{color:#013ac4;}
x{color:#013bc3;}
.{color:#013cc2;}
x{color:#013dc1;}
.{color:#013ec0;}
x{color:#013fbf;}
.{color:#0140be;}
x{color:#0141bd;}
.{color:#0142bc;}
x{color:#0143bb;}
.{color:#0144ba;}
x{color:#0145b9;}
.{color:#0146b8;}
x{color:#0147b7;}
.{color:#0148b6;}
x{color:#0149b5;}
.{color:#014ab4;}
x{color:#014bb3;}
.{color:#014cb2;}
x{color:#014db1;}
.{color:#014eb0;}
x{color:#014faf;}
.{color:#0150ae;}
x{color:#0151ad;}
.{color:#0152ac;}
x{color:#0153ab;}
.{color:#0154aa;}
x{color:#0155a9;}
.{color:#0156a8;}
x{color:#0157a7;}
.{color:#0158a6;}
x{color:#0159a5;}
.{color:#015aa4;}
x{color:#015ba3;}
.{color:#015ca2;}
x{color:#015da1;}
.{color:#015ea0;}
x{color:#015f9f;}
.{color:#01609e;}
x{color:#01619d;}
.{color:#01629c;}
x{color:#01639b;}
.{color:#01649a;}
x{color:#016599;}
.{color:#016698;}
x{color:#016797;}
.{color:#016896;}
x{color:#016995;}
.{color:#016a94;}
x{color:#016b93;}
.{color:#016c92;}
x{color:#016d91;}
.{color:#016e90;}
x{color:#016f8f;}
.{color:#01708e;}
x{color:#01718d;}
.{color:#01728c;}
x{color:#01738b;}
.{color:#01748a;}
x{color:#017589;}
.{color:#017688;}
x{color:#017787;}
.{color:#017886;}
x{color:#017985;}
.{color:#017a84;}
x{color:#017b83;}
.{color:#017c82;}
x{color:#017d81;}
.{color:#017e80;}
x{color:#017f7f;}
.{color:#01807e;}
x{color:#01817d;}
.{color:#01827c;}
x{color:#01837b;}
.{color:#01847a;}
x{color:#018579;}
.{color:#018678;}
x{color:#018777;}
.{color:#018876;}
x{color:#018975;}
.{color:#018a74;}
x{color:#018b73;}
.{color:#018c72;}
x{color:#018d71;}
.{color:#018e70;}
x{color:#018f6f;}
.{color:#01906e;}
x{color:#01916d;}
.{color:#01926c;}
x{color:#01936b;}
.{color:#01946a;}
x{color:#019569;}
.{color:#019668;}
x{color:#019767;}
.{color:#019866;}
x{color:#019965;}
.{color:#019a64;}
x{color:#019b63;}
.{color:#019c62;}
x{color:#019d61;}
.{color:#019e60;}
x{color:#019f5f;}
.{color:#01a05e;}
x{color:#01a15d;}
.{color:#01a25c;}
x{color:#01a35b;}
.{color:#01a45a;}
x{color:#01a559;}
.{color:#01a658;}
x{color:#01a757;}
.{color:#01a856;}
x{color:#01a955;}
.{color:#01aa54;}
x{color:#01ab53;}
.{color:#01ac52;}
x{color:#01ad51;}
.{color:#01ae50;}
x{color:#01af4f;}
.{color:#01b04e;}
x{color:#01b14d;}
.{color:#01b24c;}
x{color:#01b34b;}
.{color:#01b44a;}
x{color:#01b549;}
.{color:#01b648;}
x{color:#01b747;}
.{color:#01b846;}
x{color:#01b945;}
.{color:#01ba44;}
x{color:#01bb43;}
.{color:#01bc42;}
x{color:#01bd41;}
.{color:#01be40;}
x{color:#01bf3f;}
.{color:#01c03e;}
x{color:#01c13d;}
.{color:#01c23c;}
x{color:#01c33b;}
.{color:#01c43a;}
x{color:#01c539;}
.{color:#01c638;}
x{color:#01c737;}
.{color:#01c836;}
x{color:#01c935;}
.{color:#01ca34;}
x{color:#01cb33;}
.{color:#01cc32;}
x{color:#01cd31;}
.{color:#01ce30;}
x{color:#01cf2f;}
.{color:#01d02e;}
x{color:#01d12d;}
.{color:#01d22c;}
x{color:#01d32b;}
.{color:#01d42a;}
x{color:#01d529;}
.{color:#01d628;}
x{color:#01d727;}
.{color:#01d826;}
x{color:#01d925;}
.{color:#01da24;}
x{color:#01db23;}
.{color:#01dc22;}
x{color:#01dd21;}
.{color:#01de20;}
x{color:#01df1f;}
.{color:#01e01e;}
x{color:#01e11d;}
.{color:#01e21c;}
x{color:#01e31b;}
.{color:#01e41a;}
x{color:#01e519;}
.{color:#01e618;}
x{color:#01e717;}
.{color:#01e816;}
x{color:#01e915;}
.{color:#01ea14;}
x{color:#01eb13;}
.{color:#01ec12;}
x{color:#01ed11;}
.{color:#01ee10;}
x{color:#01ef0f;}
.{color:#01f00e;}
x{color:#01f10d;}
.{color:#01f20c;}
x{color:#01f30b;}
.{color:#01f40a;}
x{color:#01f509;}
.{color:#01f608;}
x{color:#01f707;}
.{color:#01f806;}
x{color:#01f905;}
.{color:#01fa04;}
x{color:#01fb03;}
.{color:#01fc02;}
x{color:#01fd01;}
.{color:#01fe00;}
x{color:#01feff;}
.{color:#01fffe;}
x{color:#0200fd;}
.{color:#0201fc;}
x{color:#0202fb;}
.{color:#0203fa;}
x{color:#0204f9;}
.{color:#0205f8;}
x{color:#0206f7;}
.{color:#0207f6;}
x{color:#0208f5;}
.{color:#0209f4;}
x{color:#020af3;}
.{color:#020bf2;}
x{color:#020cf1;}
.{color:#020df0;}
x{color:#020eef;}
.{color:#020fee;}
x{color:#0210ed;}
.{color:#0211ec;}
x{color:#0212eb;}
.{color:#0213ea;}
x{color:#0214e9;}
.{color:#0215e8;}
x{color:#0216e7;}
.{color:#0217e6;}
x{color:#0218e5;}
.{color:#0219e4;}
x{color:#021ae3;}
.{color:#021be2;}
x{color:#021ce1;}
.{color:#021de0;}
x{color:#021edf;}
.{color:#021fde;}
x{color:#0220dd;}
.{color:#0221dc;}
x{color:#0222db;}
.{color:#0223da;}
x{color:#0224d9;}
.{color:#0225d8;}
x{color:#0226d7;}
.{color:#0227d6;}
x{color:#0228d5;}
.{color:#0229d4;}
x{color:#022ad3;}
.{color:#022bd2;}
x{color:#022cd1;}
.{color:#022dd0;}
x{color:#022ecf;}
.{color:#022fce;}
x{color:#0230cd;}
.{color:#0231cc;}
x{color:#0232cb;}
.{color:#0233ca;}
x{color:#0234c9;}
.{color:#0235c8;}
x{color:#0236c7;}
.{color:#0237c6;}
x{color:#0238c5;}
.{color:#0239c4;}
x{color:#023ac3;}
.{color:#023bc2;}
x{color:#023cc1;}
.{color:#023dc0;}
x{color:#023ebf;}
.{color:#023fbe;}
x{color:#0240bd;}
.{color:#0241bc;}
x{color:#0242bb;}
.{color:#0243ba;}
x{color:#0244b9;}
.{color:#0245b8;}
x{color:#0246b7;}
.{color:#0247b6;}
x{color:#0248b5;}
.{color:#0249b4;}
x{color:#024ab3;}
.{color:#024bb2;}
x{color:#024cb1;}
.{color:#024db0;}
x{color:#024eaf;}
.{color:#024fae;}
x{color:#0250ad;}
.{color:#0251ac;}
x{color:#0252ab;}
.{color:#0253aa;}
x{color:#0254a9;}
.{color:#0255a8;}
x{color:#0256a7;}
.{color:#0257a6;}
x{color:#0258a5;}
.{color:#0259a4;}
x{color:#025aa3;}
.{color:#025ba2;}
x{color:#025ca1;}
.{color:#025da0;}
x{color:#025e9f;}
.{color:#025f9e;}
x{color:#02609d;}
.{color:#02619c;}
x{color:#02629b;}
.{color:#02639a;}
x{color:#026499;}
.{color:#026598;}
x{color:#026697;}
.{color:#026796;}
x{color:#026895;}
.{color:#026994;}
x{color:#026a93;}
.{color:#026b92;}
x{color:#026c91;}
.{color:#026d90;}
x{color:#026e8f;}
.{color:#026f8e;}
x{color:#02708d;}
.{color:#02718c;}
x{color:#02728b;}
.{color:#02738a;}
x{color:#027489;}
.{color:#027588;}
x{color:#027687;}
.{color:#027786;}
x{color:#027885;}
.{color:#027984;}
x{color:#027a83;}
.{color:#027b82;}
x{color:#027c81;}
.{color:#027d80;}
x{color:#027e7f;}
.{color:#027f7e;}
x{color:#02807d;}
.{color:#02817c;}
x{color:#02827b;}
.{color:#02837a;}
x{color:#028479;}
.{color:#028578;}
x{color:#028677;}
.{color:#028776;}
x{color:#028875;}
.{color:#028974;}
x{color:#028a73;}
.{color:#028b72;}
x{color:#028c71;}
.{color:#028d70;}
x{color:#028e6f;}
.{color:#028f6e;}
x{color:#02906d;}
.{color:#02916c;}
x{color:#02926b;}
.{color:#02936a;}
x{color:#029469;}
.{color:#029568;}
x{color:#029667;}
.{color:#029766;}
x{color:#029865;}
.{color:#029964;}
x{color:#029a63;}
.{color:#029b62;}
x{color:#029c61;}
.{color:#029d60;}
x{color:#029e5f;}
.{color:#029f5e;}
x{color:#02a05d;}
.{color:#02a15c;}
x{color:#02a25b;}
.{color:#02a35a;}
x{color:#02a459;}
.{color:#02a558;}
x{color:#02a657;}
.{color:#02a756;}
x{color:#02a855;}
.{color:#02a954;}
x{color:#02aa53;}
.{color:#02ab52;}
x{color:#02ac51;}
.{color:#02ad50;}
x{color:#02ae4f;}
.{color:#02af4e;}
x{color:#02b04d;}
.{color:#02b14c;}
x{color:#02b24b;}
.{color:#02b34a;}
x{color:#02b449;}
.{color:#02b548;}
x{color:#02b647;}
.{color:#02b746;}
x{color:#02b845;}
.{color:#02b944;}
x{color:#02ba43;}
.{color:#02bb42;}
x{color:#02bc41;}
.{color:#02bd40;}
x{color:#02be3f;}
.{color:#02bf3e;}
x{color:#02c03d;}
.{color:#02c13c;}
x{color:#02c23b;}
.{color:#02c33a;}
x{color:#02c439;}
.{color:#02c538;}
x{color:#02c637;}
.{color:#02c736;}
x{color:#02c835;}
.{color:#02c934;}
x{color:#02ca33;}
.{color:#02cb32;}
x{color:#02cc31;}
.{color:#02cd30;}
x{color:#02ce2f;}
.{color:#02cf2e;}
x{color:#02d02d;}
.{color:#02d12c;}
x{color:#02d22b;}
.{color:#02d32a;}
x{color:#02d429;}
.{color:#02d528;}
x{color:#02d627;}
.{color:#02d726;}
x{color:#02d825;}
.{color:#02d924;}
x{color:#02da23;}
.{color:#02db22;}
x{color:#02dc21;}
.{color:#02dd20;}
x{color:#02de1f;}
.{color:#02df1e;}
x{color:#02e01d;}
.{color:#02e11c;}
x{color:#02e21b;}
.{color:#02e31a;}
x{color:#02e419;}
.{color:#02e518;}
x{color:#02e617;}
.{color:#02e716;}
x{color:#02e815;}
.{color:#02e914;}
x{color:#02ea13;}
.{color:#02eb12;}
x{color:#02ec11;}
.{color:#02ed10;}
x{color:#02ee0f;}
.{color:#02ef0e;}
x{color:#02f00d;}
.{color:#02f10c;}
x{color:#02f20b;}
.{color:#02f30a;}
x{color:#02f409;}
.{color:#02f508;}
x{color:#02f607;}
.{color:#02f706;}
x{color:#02f805;}
.{color:#02f904;}
x{color:#02fa03;}
.{color:#02fb02;}
x{color:#02fc01;}
.{color:#02fd00;}
x{color:#02fdff;}
.{color:#02fefe;}
x{color:#02fffd;}
.{color:#0300fc;}
x{color:#0301fb;}
.{color:#0302fa;}
x{color:#0303f9;}
.{color:#0304f8;}
x{color:#0305f7;}
.{color:#0306f6;}
x{color:#0307f5;}
.{color:#0308f4;}
x{color:#0309f3;}
.{color:#030af2;}
x{color:#030bf1;}
.{color:#030cf0;}
x{color:#030def;}
.{color:#030eee;}
x{color:#030fed;}
.{color:#0310ec;}
x{color:#0311eb;}
.{color:#0312ea;}
x{color:#0313e9;}
.{color:#0314e8;}
x{color:#0315e7;}
.{color:#0316e6;}
x{color:#0317e5;}
.{color:#0318e4;}
x{color:#0319e3;}
.{color:#031ae2;}
x{color:#031be1;}
.{color:#031ce0;}
x{color:#031ddf;}
.{color:#031ede;}
x{color:#031fdd;}
.{color:#0320dc;}
x{color:#0321db;}
.{color:#0322da;}
x{color:#0323d9;}
.{color:#0324d8;}
x{color:#0325d7;}
.{color:#0326d6;}
x{color:#0327d5;}
.{color:#0328d4;}
x{color:#0329d3;}
.{color:#032ad2;}
x{color:#032bd1;}
.{color:#032cd0;}
x{color:#032dcf;}
.{color:#032ece;}
x{color:#032fcd;}
.{color:#0330cc;}
x{color:#0331cb;}
.{color:#0332ca;}
x{color:#0333c9;}
.{color:#0334c8;}
x{color:#0335c7;}
.{color:#0336c6;}
x{color:#0337c5;}
.{color:#0338c4;}
x{color:#0339c3;}
.{color:#033ac2;}
x{color:#033bc1;}
.{color:#033cc0;}
x{color:#033dbf;}
.{color:#033ebe;}
x{color:#033fbd;}
.{color:#0340bc;}
x{color:#0341bb;}
.{color:#0342ba;}
x{color:#0343b9;}
.{color:#0344b8;}
x{color:#0345b7;}
.{color:#0346b6;}
x{color:#0347b5;}
.{color:#0348b4;}
x{color:#0349b3;}
.{color:#034ab2;}
x{color:#034bb1;}
.{color:#034cb0;}
x{color:#034daf;}
.{color:#034eae;}
x{color:#034fad;}
.{color:#0350ac;}
x{color:#0351ab;}
.{color:#0352aa;}
x{color:#0353a9;}
.{color:#0354a8;}
x{color:#0355a7;}
.{color:#0356a6;}
x{color:#0357a5;}
.{color:#0358a4;}
x{color:#0359a3;}
.{color:#035aa2;}
x{color:#035ba1;}
.{color:#035ca0;}
x{color:#035d9f;}
.{color:#035e9e;}
x{color:#035f9d;}
.{color:#03609c;}
x{color:#03619b;}
.{color:#03629a;}
x{color:#036399;}
.{color:#036498;}
x{color:#036597;}
.{color:#036696;}
x{color:#036795;}
.{color:#036894;}
x{color:#036993;}
.{color:#036a92;}
x{color:#036b91;}
.{color:#036c90;}
x{color:#036d8f;}
.{color:#036e8e;}
x{color:#036f8d;}
.{color:#03708c;}
x{color:#03718b;}
.{color:#03728a;}
x{color:#037389;}
.{color:#037488;}
x{color:#037587;}
.{color:#037686;}
x{color:#037785;}
.{color:#037884;}
x{color:#037983;}
.{color:#037a82;}
x{color:#037b81;}
.{color:#037c80;}
x{color:#037d7f;}
.{color:#037e7e;}
x{color:#037f7d;}
.{color:#03807c;}
x{color:#03817b;}
.{color:#03827a;}
x{color:#038379;}
.{color:#038478;}
x{color:#038577;}
.{color:#038676;}
x{color:#038775;}
.{color:#038874;}
x{color:#038973;}
.{color:#038a72;}
x{color:#038b71;}
.{color:#038c70;}
x{color:#038d6f;}
.{color:#038e6e;}
x{color:#038f6d;}
.{color:#03906c;}
x{color:#03916b;}
.{color:#03926a;}
x{color:#039369;}
.{color:#039468;}
x{color:#039567;}
.{color:#039666;}
x{color:#039765;}
.{color:#039864;}
x{color:#039963;}
.{color:#039a62;}
x{color:#039b61;}
.{color:#039c60;}
x{color:#039d5f;}
.{color:#039e5e;}
x{color:#039f5d;}
.{color:#03a05c;}
x{color:#03a15b;}
.{color:#03a25a;}
x{color:#03a359;}
.{color:#03a458;}
x{color:#03a557;}
.{color:#03a656;}
x{color:#03a755;}
.{color:#03a854;}
x{color:#03a953;}
.{color:#03aa52;}
x{color:#03ab51;}
.{color:#03ac50;}
x{color:#03ad4f;}
.{color:#03ae4e;}
x{color:#03af4d;}
.{color:#03b04c;}
x{color:#03b14b;}
.{color:#03b24a;}
x{color:#03b349;}
.{color:#03b448;}
x{color:#03b547;}
.{color:#03b646;}
x{color:#03b745;}
.{color:#03b844;}
x{color:#03b943;}
.{color:#03ba42;}
x{color:#03bb41;}
.{color:#03bc40;}
x{color:#03bd3f;}
.{color:#03be3e;}
x{color:#03bf3d;}
.{color:#03c03c;}
x{color:#03c13b;}
.{color:#03c23a;}
x{color:#03c339;}
.{color:#03c438;}
x{color:#03c537;}
.{color:#03c636;}
x{color:#03c735;}
.{color:#03c834;}
x{color:#03c933;}
.{color:#03ca32;}
x{color:#03cb31;}
.{color:#03cc30;}
x{color:#03cd2f;}
.{color:#03ce2e;}
x{color:#03cf2d;}
.{color:#03d02c;}
x{color:#03d12b;}
.{color:#03d22a;}
x{color:#03d329;}
.{color:#03d428;}
x{color:#03d527;}
.{color:#03d626;}
x{color:#03d725;}
.{color:#03d824;}
x{color:#03d923;}
.{color:#03da22;}
x{color:#03db21;}
.{color:#03dc20;}
x{color:#03dd1f;}
.{color:#03de1e;}
x{color:#03df1d;}
.{color:#03e01c;}
x{color:#03e11b;}
.{color:#03e21a;}
x{color:#03e319;}
