/* css */
.{color:#000000;}
x{color:#000132;}
.{color:#000264;}
x{color:#000396;}
.{color:#0004c8;}
x{color:#0005fa;}
.{color:#00072c;}
x{color:#00085e;}
.{color:#000990;}
x{color:#000ac2;}
.{color:#000bf4;}
x{color:#000d26;}
.{color:#000e58;}
x{color:#000f8a;}
.{color:#0010bc;}
x{color:#0011ee;}
.{color:#001320;}
x{color:#001452;}
.{color:#001584;}
x{color:#0016b6;}
.{color:#0017e8;}
x{color:#00191a;}
.{color:#001a4c;}
x{color:#001b7e;}
.{color:#001cb0;}
x{color:#001de2;}
.{color:#001f14;}
x{color:#002046;}
.{color:#002178;}
x{color:#0022aa;}
.{color:#0023dc;}
x{color:#00250e;}
.{color:#002640;}
x{color:#002772;}
.{color:#0028a4;}
x{color:#0029d6;}
.{color:#002b08;}
x{color:#002c3a;}
.{color:#002d6c;}
x{color:#002e9e;}
.{color:#002fd0;}
x{color:#003102;}
.{color:#003234;}
x{color:#003366;}
.{color:#003498;}
x{color:#0035ca;}
.{color:#0036fc;}
x{color:#00382e;}
.{color:#003960;}
x{color:#003a92;}
.{color:#003bc4;}
x{color:#003cf6;}
.{color:#003e28;}
x{color:#003f5a;}
.{color:#00408c;}
x{color:#0041be;}
.{color:#0042f0;}
x{color:#004422;}
.{color:#004554;}
x{color:#004686;}
.{color:#0047b8;}
x{color:#0048ea;}
.{color:#004a1c;}
x{color:#004b4e;}
.{color:#004c80;}
x{color:#004db2;}
.{color:#004ee4;}
x{color:#005016;}
.{color:#005148;}
x{color:#00527a;}
.{color:#0053ac;}
x{color:#0054de;}
.{color:#005610;}
x{color:#005742;}
.{color:#005874;}
x{color:#0059a6;}
.{color:#005ad8;}
x{color:#005c0a;}
.{color:#005d3c;}
x{color:#005e6e;}
.{color:#005fa0;}
x{color:#0060d2;}
.{color:#006204;}
x{color:#006336;}
.{color:#006468;}
x{color:#00659a;}
.{color:#0066cc;}
x{color:#0067fe;}
.{color:#006930;}
x{color:#006a62;}
.{color:#006b94;}
x{color:#006cc6;}
.{color:#006df8;}
x{color:#006f2a;}
.{color:#00705c;}
x{color:#00718e;}
.{color:#0072c0;}
x{color:#0073f2;}
.{color:#007524;}
x{color:#007656;}
.{color:#007788;}
x{color:#0078ba;}
.{color:#0079ec;}
x{color:#007b1e;}
.{color:#007c50;}
x{color:#007d82;}
.{color:#007eb4;}
x{color:#007fe6;}
.{color:#008118;}
x{color:#00824a;}
.{color:#00837c;}
x{color:#0084ae;}
.{color:#0085e0;}
x{color:#008712;}
.{color:#008844;}
x{color:#008976;}
.{color:#008aa8;}
x{color:#008bda;}
.{color:#008d0c;}
x{color:#008e3e;}
.{color:#008f70;}
x{color:#0090a2;}
.{color:#0091d4;}
x{color:#009306;}
.{color:#009438;}
x{color:#00956a;}
.{color:#00969c;}
x{color:#0097ce;}
.{color:#009900;}
x{color:#009a32;}
.{color:#009b64;}
x{color:#009c96;}
.{color:#009dc8;}
x{color:#009efa;}
.{color:#00a02c;}
x{color:#00a15e;}
.{color:#00a290;}
x{color:#00a3c2;}
.{color:#00a4f4;}
x{color:#00a626;}
.{color:#00a758;}
x{color:#00a88a;}
.{color:#00a9bc;}
x{color:#00aaee;}
.{color:#00ac20;}
x{color:#00ad52;}
.{color:#00ae84;}
x{color:#00afb6;}
.{color:#00b0e8;}
x{color:#00b21a;}
.{color:#00b34c;}
x{color:#00b47e;}
.{color:#00b5b0;}
x{color:#00b6e2;}
.{color:#00b814;}
x{color:#00b946;}
.{color:#00ba78;}
x{color:#00bbaa;}
.{color:#00bcdc;}
x{color:#00be0e;}
.{color:#00bf40;}
x{color:#00c072;}
.{color:#00c1a4;}
x{color:#00c2d6;}
.{color:#00c408;}
x{color:#00c53a;}
.{color:#00c66c;}
x{color:#00c79e;}
.{color:#00c8d0;}
x{color:#00ca02;}
.{color:#00cb34;}
x{color:#00cc66;}
.{color:#00cd98;}
x{color:#00ceca;}
.{color:#00cffc;}
x{color:#00d12e;}
.{color:#00d260;}
x{color:#00d392;}
.{color:#00d4c4;}
x{color:#00d5f6;}
.{color:#00d728;}
x{color:#00d85a;}
.{color:#00d98c;}
x{color:#00dabe;}
.{color:#00dbf0;}
x{color:#00dd22;}
.{color:#00de54;}
x{color:#00df86;}
.{color:#00e0b8;}
x{color:#00e1ea;}
.{color:#00e31c;}
x{color:#00e44e;}
.{color:#00e580;}
x{color:#00e6b2;}
.{color:#00e7e4;}
x{color:#00e916;}
.{color:#00ea48;}
x{color:#00eb7a;}
.{color:#00ecac;}
x{color:#00edde;}
.{color:#00ef10;}
x{color:#00f042;}
.{color:#00f174;}
x{color:#00f2a6;}
.{color:#00f3d8;}
x{color:#00f50a;}
.{color:#00f63c;}
x{color:#00f76e;}
.{color:#00f8a0;}
x{color:#00f9d2;}
.{color:#00fb04;}
x{color:#00fc36;}
.{color:#00fd68;}
x{color:#00fe9a;}
.{color:#00ffcc;}
x{color:#0100fe;}
.{color:#010230;}
x{color:#010362;}
.{color:#010494;}
x{color:#0105c6;}
.{color:#0106f8;}
x{color:#01082a;}
.{color:#01095c;}
x{color:#010a8e;}
.{color:#010bc0;}
x{color:#010cf2;}
.{color:#010e24;}
x{color:#010f56;}
.{color:#011088;}
x{color:#0111ba;}
.{color:#0112ec;}
x{color:#01141e;}
.{color:#011550;}
x{color:#011682;}
.{color:#0117b4;}
x{color:#0118e6;}
.{color:#011a18;}
x{color:#011b4a;}
.{color:#011c7c;}
x{color:#011dae;}
.{color:#011ee0;}
x{color:#012012;}
.{color:#012144;}
x{color:#012276;}
.{color:#0123a8;}
x{color:#0124da;}
.{color:#01260c;}
x{color:#01273e;}
.{color:#012870;}
x{color:#0129a2;}
.{color:#012ad4;}
x{color:#012c06;}
.{color:#012d38;}
x{color:#012e6a;}
.{color:#012f9c;}
x{color:#0130ce;}
.{color:#013200;}
x{color:#013332;}
.{color:#013464;}
x{color:#013596;}
.{color:#0136c8;}
x{color:#0137fa;}
.{color:#01392c;}
x{color:#013a5e;}
.{color:#013b90;}
x{color:#013cc2;}
.{color:#013df4;}
x{color:#013f26;}
.{color:#014058;}
x{color:#01418a;}
.{color:#0142bc;}
x{color:#0143ee;}
.{color:#014520;}
x{color:#014652;}
.{color:#014784;}
x{color:#0148b6;}
.{color:#0149e8;}
x{color:#014b1a;}
.{color:#014c4c;}
x{color:#014d7e;}
.{color:#014eb0;}
x{color:#014fe2;}
.{color:#015114;}
x{color:#015246;}
.{color:#015378;}
x{color:#0154aa;}
.{color:#0155dc;}
x{color:#01570e;}
.{color:#015840;}
x{color:#015972;}
.{color:#015aa4;}
x{color:#015bd6;}
.{color:#015d08;}
x{color:#015e3a;}
.{color:#015f6c;}
x{color:#01609e;}
.{color:#0161d0;}
x{color:#016302;}
.{color:#016434;}
x{color:#016566;}
.{color:#016698;}
x{color:#0167ca;}
.{color:#0168fc;}
x{color:#016a2e;}
.{color:#016b60;}
x{color:#016c92;}
.{color:#016dc4;}
x{color:#016ef6;}
.{color:#017028;}
x{color:#01715a;}
.{color:#01728c;}
x{color:#0173be;}
.{color:#0174f0;}
x{color:#017622;}
.{color:#017754;}
x{color:#017886;}
.{color:#0179b8;}
x{color:#017aea;}
.{color:#017c1c;}
x{color:#017d4e;}
.{color:#017e80;}
x{color:#017fb2;}
.{color:#0180e4;}
x{color:#018216;}
.{color:#018348;}
x{color:#01847a;}
.{color:#0185ac;}
x{color:#0186de;}
.{color:#018810;}
x{color:#018942;}
.{color:#018a74;}
x{color:#018ba6;}
.{color:#018cd8;}
x{color:#018e0a;}
.{color:#018f3c;}
x{color:#01906e;}
.{color:#0191a0;}
x{color:#0192d2;}
.{color:#019404;}
x{color:#019536;}
.{color:#019668;}
x{color:#01979a;}
.{color:#0198cc;}
x{color:#0199fe;}
.{color:#019b30;}
x{color:#019c62;}
.{color:#019d94;}
x{color:#019ec6;}
.{color:#019ff8;}
x{color:#01a12a;}
.{color:#01a25c;}
x{color:#01a38e;}
.{color:#01a4c0;}
x{color:#01a5f2;}
.{color:#01a724;}
x{color:#01a856;}
.{color:#01a988;}
x{color:#01aaba;}
.{color:#01abec;}
x{color:#01ad1e;}
.{color:#01ae50;}
x{color:#01af82;}
.{color:#01b0b4;}
x{color:#01b1e6;}
.{color:#01b318;}
x{color:#01b44a;}
.{color:#01b57c;}
x{color:#01b6ae;}
.{color:#01b7e0;}
x{color:#01b912;}
.{color:#01ba44;}
x{color:#01bb76;}
.{color:#01bca8;}
x{color:#01bdda;}
.{color:#01bf0c;}
x{color:#01c03e;}
.{color:#01c170;}
x{color:#01c2a2;}
.{color:#01c3d4;}
x{color:#01c506;}
.{color:#01c638;}
x{color:#01c76a;}
.{color:#01c89c;}
x{color:#01c9ce;}
.{color:#01cb00;}
x{color:#01cc32;}
.{color:#01cd64;}
x{color:#01ce96;}
.{color:#01cfc8;}
x{color:#01d0fa;}
.{color:#01d22c;}
x{color:#01d35e;}
.{color:#01d490;}
x{color:#01d5c2;}
.{color:#01d6f4;}
x{color:#01d826;}
.{color:#01d958;}
x{color:#01da8a;}
.{color:#01dbbc;}
x{color:#01dcee;}
.{color:#01de20;}
x{color:#01df52;}
.{color:#01e084;}
x{color:#01e1b6;}
.{color:#01e2e8;}
x{color:#01e41a;}
.{color:#01e54c;}
x{color:#01e67e;}
.{color:#01e7b0;}
x{color:#01e8e2;}
.{color:#01ea14;}
x{color:#01eb46;}
.{color:#01ec78;}
x{color:#01edaa;}
.{color:#01eedc;}
x{color:#01f00e;}
.{color:#01f140;}
x{color:#01f272;}
.{color:#01f3a4;}
x{color:#01f4d6;}
.{color:#01f608;}
x{color:#01f73a;}
.{color:#01f86c;}
x{color:#01f99e;}
.{color:#01fad0;}
x{color:#01fc02;}
.{color:#01fd34;}
x{color:#01fe66;}
.{color:#01ff98;}
x{color:#0200ca;}
.{color:#0201fc;}
x{color:#02032e;}
.{color:#020460;}
x{color:#020592;}
.{color:#0206c4;}
x{color:#0207f6;}
.{color:#020928;}
x{color:#020a5a;}
.{color:#020b8c;}
x{color:#020cbe;}
.{color:#020df0;}
x{color:#020f22;}
.{color:#021054;}
x{color:#021186;}
.{color:#0212b8;}
x{color:#0213ea;}
.{color:#02151c;}
x{color:#02164e;}
.{color:#021780;}
x{color:#0218b2;}
.{color:#0219e4;}
x{color:#021b16;}
.{color:#021c48;}
x{color:#021d7a;}
.{color:#021eac;}
x{color:#021fde;}
.{color:#022110;}
x{color:#022242;}
.{color:#022374;}
x{color:#0224a6;}
.{color:#0225d8;}
x{color:#02270a;}
.{color:#02283c;}
x{color:#02296e;}
.{color:#022aa0;}
x{color:#022bd2;}
.{color:#022d04;}
x{color:#022e36;}
.{color:#022f68;}
x{color:#02309a;}
.{color:#0231cc;}
x{color:#0232fe;}
.{color:#023430;}
x{color:#023562;}
.{color:#023694;}
x{color:#0237c6;}
.{color:#0238f8;}
x{color:#023a2a;}
.{color:#023b5c;}
x{color:#023c8e;}
.{color:#023dc0;}
x{color:#023ef2;}
.{color:#024024;}
x{color:#024156;}
.{color:#024288;}
x{color:#0243ba;}
.{color:#0244ec;}
x{color:#02461e;}
.{color:#024750;}
x{color:#024882;}
.{color:#0249b4;}
x{color:#024ae6;}
.{color:#024c18;}
x{color:#024d4a;}
.{color:#024e7c;}
x{color:#024fae;}
.{color:#0250e0;}
x{color:#025212;}
.{color:#025344;}
x{color:#025476;}
.{color:#0255a8;}
x{color:#0256da;}
.{color:#02580c;}
x{color:#02593e;}
.{color:#025a70;}
x{color:#025ba2;}
.{color:#025cd4;}
x{color:#025e06;}
.{color:#025f38;}
x{color:#02606a;}
.{color:#02619c;}
x{color:#0262ce;}
.{color:#026400;}
x{color:#026532;}
.{color:#026664;}
x{color:#026796;}
.{color:#0268c8;}
x{color:#0269fa;}
.{color:#026b2c;}
x{color:#026c5e;}
.{color:#026d90;}
x{color:#026ec2;}
.{color:#026ff4;}
x{color:#027126;}
.{color:#027258;}
x{color:#02738a;}
.{color:#0274bc;}
x{color:#0275ee;}
.{color:#027720;}
x{color:#027852;}
.{color:#027984;}
x{color:#027ab6;}
.{color:#027be8;}
x{color:#027d1a;}
.{color:#027e4c;}
x{color:#027f7e;}
.{color:#0280b0;}
x{color:#0281e2;}
.{color:#028314;}
x{color:#028446;}
.{color:#028578;}
x{color:#0286aa;}
.{color:#0287dc;}
x{color:#02890e;}
.{color:#028a40;}
x{color:#028b72;}
.{color:#028ca4;}
x{color:#028dd6;}
.{color:#028f08;}
x{color:#02903a;}
.{color:#02916c;}
x{color:#02929e;}
.{color:#0293d0;}
x{color:#029502;}
.{color:#029634;}
x{color:#029766;}
.{color:#029898;}
x{color:#0299ca;}
.{color:#029afc;}
x{color:#029c2e;}
.{color:#029d60;}
x{color:#029e92;}
.{color:#029fc4;}
x{color:#02a0f6;}
.{color:#02a228;}
x{color:#02a35a;}
.{color:#02a48c;}
x{color:#02a5be;}
.{color:#02a6f0;}
x{color:#02a822;}
.{color:#02a954;}
x{color:#02aa86;}
.{color:#02abb8;}
x{color:#02acea;}
.{color:#02ae1c;}
x{color:#02af4e;}
.{color:#02b080;}
x{color:#02b1b2;}
.{color:#02b2e4;}
x{color:#02b416;}
.{color:#02b548;}
x{color:#02b67a;}
.{color:#02b7ac;}
x{color:#02b8de;}
.{color:#02ba10;}
x{color:#02bb42;}
.{color:#02bc74;}
x{color:#02bda6;}
.{color:#02bed8;}
x{color:#02c00a;}
.{color:#02c13c;}
x{color:#02c26e;}
.{color:#02c3a0;}
x{color:#02c4d2;}
.{color:#02c604;}
x{color:#02c736;}
.{color:#02c868;}
x{color:#02c99a;}
.{color:#02cacc;}
x{color:#02cbfe;}
.{color:#02cd30;}
x{color:#02ce62;}
.{color:#02cf94;}
x{color:#02d0c6;}
.{color:#02d1f8;}
x{color:#02d32a;}
.{color:#02d45c;}
x{color:#02d58e;}
.{color:#02d6c0;}
x{color:#02d7f2;}
.{color:#02d924;}
x{color:#02da56;}
.{color:#02db88;}
x{color:#02dcba;}
.{color:#02ddec;}
x{color:#02df1e;}
.{color:#02e050;}
x{color:#02e182;}
.{color:#02e2b4;}
x{color:#02e3e6;}
.{color:#02e518;}
x{color:#02e64a;}
.{color:#02e77c;}
x{color:#02e8ae;}
.{color:#02e9e0;}
x{color:#02eb12;}
.{color:#02ec44;}
x{color:#02ed76;}
.{color:#02eea8;}
x{color:#02efda;}
.{color:#02f10c;}
x{color:#02f23e;}
.{color:#02f370;}
x{color:#02f4a2;}
.{color:#02f5d4;}
x{color:#02f706;}
.{color:#02f838;}
x{color:#02f96a;}
.{color:#02fa9c;}
x{color:#02fbce;}
.{color:#02fd00;}
x{color:#02fe32;}
.{color:#02ff64;}
x{color:#030096;}
.{color:#0301c8;}
x{color:#0302fa;}
.{color:#03042c;}
x{color:#03055e;}
.{color:#030690;}
x{color:#0307c2;}
.{color:#0308f4;}
x{color:#030a26;}
.{color:#030b58;}
x{color:#030c8a;}
.{color:#030dbc;}
x{color:#030eee;}
.{color:#031020;}
x{color:#031152;}
.{color:#031284;}
x{color:#0313b6;}
.{color:#0314e8;}
x{color:#03161a;}
.{color:#03174c;}
x{color:#03187e;}
.{color:#0319b0;}
x{color:#031ae2;}
.{color:#031c14;}
x{color:#031d46;}
.{color:#031e78;}
x{color:#031faa;}
.{color:#0320dc;}
x{color:#03220e;}
.{color:#032340;}
x{color:#032472;}
.{color:#0325a4;}
x{color:#0326d6;}
.{color:#032808;}
x{color:#03293a;}
.{color:#032a6c;}
x{color:#032b9e;}
.{color:#032cd0;}
x{color:#032e02;}
.{color:#032f34;}
x{color:#033066;}
.{color:#033198;}
x{color:#0332ca;}
.{color:#0333fc;}
x{color:#03352e;}
.{color:#033660;}
x{color:#033792;}
.{color:#0338c4;}
x{color:#0339f6;}
.{color:#033b28;}
x{color:#033c5a;}
.{color:#033d8c;}
x{color:#033ebe;}
.{color:#033ff0;}
x{color:#034122;}
.{color:#034254;}
x{color:#034386;}
.{color:#0344b8;}
x{color:#0345ea;}
.{color:#03471c;}
x{color:#03484e;}
.{color:#034980;}
x{color:#034ab2;}
.{color:#034be4;}
x{color:#034d16;}
.{color:#034e48;}
x{color:#034f7a;}
.{color:#0350ac;}
x{color:#0351de;}
.{color:#035310;}
x{color:#035442;}
.{color:#035574;}
x{color:#0356a6;}
.{color:#0357d8;}
x{color:#03590a;}
.{color:#035a3c;}
x{color:#035b6e;}
.{color:#035ca0;}
x{color:#035dd2;}
.{color:#035f04;}
x{color:#036036;}
.{color:#036168;}
x{color:#03629a;}
.{color:#0363cc;}
x{color:#0364fe;}
.{color:#036630;}
x{color:#036762;}
.{color:#036894;}
x{color:#0369c6;}
.{color:#036af8;}
x{color:#036c2a;}
.{color:#036d5c;}
x{color:#036e8e;}
.{color:#036fc0;}
x{color:#0370f2;}
.{color:#037224;}
x{color:#037356;}
.{color:#037488;}
x{color:#0375ba;}
.{color:#0376ec;}
x{color:#03781e;}
.{color:#037950;}
x{color:#037a82;}
.{color:#037bb4;}
x{color:#037ce6;}
.{color:#037e18;}
x{color:#037f4a;}
.{color:#03807c;}
x{color:#0381ae;}
.{color:#0382e0;}
x{color:#038412;}
.{color:#038544;}
x{color:#038676;}
.{color:#0387a8;}
x{color:#0388da;}
.{color:#038a0c;}
x{color:#038b3e;}
.{color:#038c70;}
x{color:#038da2;}
.{color:#038ed4;}
x{color:#039006;}
.{color:#039138;}
x{color:#03926a;}
.{color:#03939c;}
x{color:#0394ce;}
.{color:#039600;}
x{color:#039732;}
.{color:#039864;}
x{color:#039996;}
.{color:#039ac8;}
x{color:#039bfa;}
.{color:#039d2c;}
x{color:#039e5e;}
.{color:#039f90;}
x{color:#03a0c2;}
.{color:#03a1f4;}
x{color:#03a326;}
.{color:#03a458;}
x{color:#03a58a;}
.{color:#03a6bc;}
x{color:#03a7ee;}
.{color:#03a920;}
x{color:#03aa52;}
.{color:#03ab84;}
x{color:#03acb6;}
.{color:#03ade8;}
x{color:#03af1a;}
.{color:#03b04c;}
x{color:#03b17e;}
.{color:#03b2b0;}
x{color:#03b3e2;}
.{color:#03b514;}
x{color:#03b646;}
.{color:#03b778;}
x{color:#03b8aa;}
.{color:#03b9dc;}
x{color:#03bb0e;}
.{color:#03bc40;}
x{color:#03bd72;}
.{color:#03bea4;}
x{color:#03bfd6;}
.{color:#03c108;}
x{color:#03c23a;}
.{color:#03c36c;}
x{color:#03c49e;}
.{color:#03c5d0;}
x{color:#03c702;}
.{color:#03c834;}
x{color:#03c966;}
.{color:#03ca98;}
x{color:#03cbca;}
.{color:#03ccfc;}
x{color:#03ce2e;}
.{color:#03cf60;}
x{color:#03d092;}
.{color:#03d1c4;}
x{color:#03d2f6;}
.{color:#03d428;}
x{color:#03d55a;}
.{color:#03d68c;}
x{color:#03d7be;}
.{color:#03d8f0;}
x{color:#03da22;}
.{color:#03db54;}
x{color:#03dc86;}
.{color:#03ddb8;}
x{color:#03deea;}
.{color:#03e01c;}
x{color:#03e14e;}
.{color:#03e280;}
x{color:#03e3b2;}
.{color:#03e4e4;}
x{color:#03e616;}
.{color:#03e748;}
x{color:#03e87a;}
.{color:#03e9ac;}
x{color:#03eade;}
.{color:#03ec10;}
x{color:#03ed42;}
.{color:#03ee74;}
x{color:#03efa6;}
.{color:#03f0d8;}
x{color:#03f20a;}
.{color:#03f33c;}
x{color:#03f46e;}
.{color:#03f5a0;}
x{color:#03f6d2;}
.{color:#03f804;}
x{color:#03f936;}
.{color:#03fa68;}
x{color:#03fb9a;}
.{color:#03fccc;}
x{color:#03fdfe;}
.{color:#03ff30;}
x{color:#040062;}
.{color:#040194;}
x{color:#0402c6;}
.{color:#0403f8;}
x{color:#04052a;}
.{color:#04065c;}
x{color:#04078e;}
.{color:#0408c0;}
x{color:#0409f2;}
.{color:#040b24;}
x{color:#040c56;}
.{color:#040d88;}
x{color:#040eba;}
.{color:#040fec;}
x{color:#04111e;}
.{color:#041250;}
x{color:#041382;}
.{color:#0414b4;}
x{color:#0415e6;}
.{color:#041718;}
x{color:#04184a;}
.{color:#04197c;}
x{color:#041aae;}
.{color:#041be0;}
x{color:#041d12;}
.{color:#041e44;}
x{color:#041f76;}
.{color:#0420a8;}
x{color:#0421da;}
.{color:#04230c;}
x{color:#04243e;}
.{color:#042570;}
x{color:#0426a2;}
.{color:#0427d4;}
x{color:#042906;}
.{color:#042a38;}
x{color:#042b6a;}
.{color:#042c9c;}
x{color:#042dce;}
.{color:#042f00;}
x{color:#043032;}
.{color:#043164;}
x{color:#043296;}
.{color:#0433c8;}
x{color:#0434fa;}
.{color:#04362c;}
x{color:#04375e;}
.{color:#043890;}
x{color:#0439c2;}
.{color:#043af4;}
x{color:#043c26;}
.{color:#043d58;}
x{color:#043e8a;}
.{color:#043fbc;}
x{color:#0440ee;}
.{color:#044220;}
x{color:#044352;}
.{color:#044484;}
x{color:#0445b6;}
.{color:#0446e8;}
x{color:#04481a;}
.{color:#04494c;}
x{color:#044a7e;}
.{color:#044bb0;}
x{color:#044ce2;}
.{color:#044e14;}
x{color:#044f46;}
.{color:#045078;}
x{color:#0451aa;}
.{color:#0452dc;}
x{color:#04540e;}
.{color:#045540;}
x{color:#045672;}
.{color:#0457a4;}
x{color:#0458d6;}
.{color:#045a08;}
x{color:#045b3a;}
.{color:#045c6c;}
x{color:#045d9e;}
.{color:#045ed0;}
x{color:#046002;}
.{color:#046134;}
x{color:#046266;}
.{color:#046398;}
x{color:#0464ca;}
.{color:#0465fc;}
x{color:#04672e;}
.{color:#046860;}
x{color:#046992;}
.{color:#046ac4;}
x{color:#046bf6;}
.{color:#046d28;}
x{color:#046e5a;}
.{color:#046f8c;}
x{color:#0470be;}
.{color:#0471f0;}
x{color:#047322;}
.{color:#047454;}
x{color:#047586;}
.{color:#0476b8;}
x{color:#0477ea;}
.{color:#04791c;}
x{color:#047a4e;}
.{color:#047b80;}
x{color:#047cb2;}
.{color:#047de4;}
x{color:#047f16;}
.{color:#048048;}
x{color:#04817a;}
.{color:#0482ac;}
x{color:#0483de;}
.{color:#048510;}
x{color:#048642;}
.{color:#048774;}
x{color:#0488a6;}
.{color:#0489d8;}
x{color:#048b0a;}
.{color:#048c3c;}
x{color:#048d6e;}
.{color:#048ea0;}
x{color:#048fd2;}
.{color:#049104;}
x{color:#049236;}
.{color:#049368;}
x{color:#04949a;}
.{color:#0495cc;}
x{color:#0496fe;}
.{color:#049830;}
x{color:#049962;}
.{color:#049a94;}
x{color:#049bc6;}
.{color:#049cf8;}
x{color:#049e2a;}
.{color:#049f5c;}
x{color:#04a08e;}
.{color:#04a1c0;}
x{color:#04a2f2;}
.{color:#04a424;}
x{color:#04a556;}
.{color:#04a688;}
x{color:#04a7ba;}
.{color:#04a8ec;}
x{color:#04aa1e;}
