/* css */
.{color:#000000;}
x{color:#0001ed;}
.{color:#0003da;}
x{color:#0005c7;}
.{color:#0007b4;}
x{color:#0009a1;}
.{color:#000b8e;}
x{color:#000d7b;}
.{color:#000f68;}
x{color:#001155;}
.{color:#001342;}
x{color:#00152f;}
.{color:#00171c;}
x{color:#001909;}
.{color:#001af6;}
x{color:#001ce3;}
.{color:#001ed0;}
x{color:#0020bd;}
.{color:#0022aa;}
x{color:#002497;}
.{color:#002684;}
x{color:#002871;}
.{color:#002a5e;}
x{color:#002c4b;}
.{color:#002e38;}
x{color:#003025;}
.{color:#003212;}
x{color:#0033ff;}
.{color:#0035ec;}
x{color:#0037d9;}
.{color:#0039c6;}
x{color:#003bb3;}
.{color:#003da0;}
x{color:#003f8d;}
.{color:#00417a;}
x{color:#004367;}
.{color:#004554;}
x{color:#004741;}
.{color:#00492e;}
x{color:#004b1b;}
.{color:#004d08;}
x{color:#004ef5;}
.{color:#0050e2;}
x{color:#0052cf;}
.{color:#0054bc;}
x{color:#0056a9;}
.{color:#005896;}
x{color:#005a83;}
.{color:#005c70;}
x{color:#005e5d;}
.{color:#00604a;}
x{color:#006237;}
.{color:#006424;}
x{color:#006611;}
.{color:#0067fe;}
x{color:#0069eb;}
.{color:#006bd8;}
x{color:#006dc5;}
.{color:#006fb2;}
x{color:#00719f;}
.{color:#00738c;}
x{color:#007579;}
.{color:#007766;}
x{color:#007953;}
.{color:#007b40;}
x{color:#007d2d;}
.{color:#007f1a;}
x{color:#008107;}
.{color:#0082f4;}
x{color:#0084e1;}
.{color:#0086ce;}
x{color:#0088bb;}
.{color:#008aa8;}
x{color:#008c95;}
.{color:#008e82;}
x{color:#00906f;}
.{color:#00925c;}
x{color:#009449;}
.{color:#009636;}
x{color:#009823;}
.{color:#009a10;}
x{color:#009bfd;}
.{color:#009dea;}
x{color:#009fd7;}
.{color:#00a1c4;}
x{color:#00a3b1;}
.{color:#00a59e;}
x{color:#00a78b;}
.{color:#00a978;}
x{color:#00ab65;}
.{color:#00ad52;}
x{color:#00af3f;}
.{color:#00b12c;}
x{color:#00b319;}
.{color:#00b506;}
x{color:#00b6f3;}
.{color:#00b8e0;}
x{color:#00bacd;}
.{color:#00bcba;}
x{color:#00bea7;}
.{color:#00c094;}
x{color:#00c281;}
.{color:#00c46e;}
x{color:#00c65b;}
.{color:#00c848;}
x{color:#00ca35;}
.{color:#00cc22;}
x{color:#00ce0f;}
.{color:#00cffc;}
x{color:#00d1e9;}
.{color:#00d3d6;}
x{color:#00d5c3;}
.{color:#00d7b0;}
x{color:#00d99d;}
.{color:#00db8a;}
x{color:#00dd77;}
.{color:#00df64;}
x{color:#00e151;}
.{color:#00e33e;}
x{color:#00e52b;}
.{color:#00e718;}
x{color:#00e905;}
.{color:#00eaf2;}
x{color:#00ecdf;}
.{color:#00eecc;}
x{color:#00f0b9;}
.{color:#00f2a6;}
x{color:#00f493;}
.{color:#00f680;}
x{color:#00f86d;}
.{color:#00fa5a;}
x{color:#00fc47;}
.{color:#00fe34;}
x{color:#010021;}
.{color:#01020e;}
x{color:#0103fb;}
.{color:#0105e8;}
x{color:#0107d5;}
.{color:#0109c2;}
x{color:#010baf;}
.{color:#010d9c;}
x{color:#010f89;}
.{color:#011176;}
x{color:#011363;}
.{color:#011550;}
x{color:#01173d;}
.{color:#01192a;}
x{color:#011b17;}
.{color:#011d04;}
x{color:#011ef1;}
.{color:#0120de;}
x{color:#0122cb;}
.{color:#0124b8;}
x{color:#0126a5;}
.{color:#012892;}
x{color:#012a7f;}
.{color:#012c6c;}
x{color:#012e59;}
.{color:#013046;}
x{color:#013233;}
.{color:#013420;}
x{color:#01360d;}
.{color:#0137fa;}
x{color:#0139e7;}
.{color:#013bd4;}
x{color:#013dc1;}
.{color:#013fae;}
x{color:#01419b;}
.{color:#014388;}
x{color:#014575;}
.{color:#014762;}
x{color:#01494f;}
.{color:#014b3c;}
x{color:#014d29;}
.{color:#014f16;}
x{color:#015103;}
.{color:#0152f0;}
x{color:#0154dd;}
.{color:#0156ca;}
x{color:#0158b7;}
.{color:#015aa4;}
x{color:#015c91;}
.{color:#015e7e;}
x{color:#01606b;}
.{color:#016258;}
x{color:#016445;}
.{color:#016632;}
x{color:#01681f;}
.{color:#016a0c;}
x{color:#016bf9;}
.{color:#016de6;}
x{color:#016fd3;}
.{color:#0171c0;}
x{color:#0173ad;}
.{color:#01759a;}
x{color:#017787;}
.{color:#017974;}
x{color:#017b61;}
.{color:#017d4e;}
x{color:#017f3b;}
.{color:#018128;}
x{color:#018315;}
.{color:#018502;}
x{color:#0186ef;}
.{color:#0188dc;}
x{color:#018ac9;}
.{color:#018cb6;}
x{color:#018ea3;}
.{color:#019090;}
x{color:#01927d;}
.{color:#01946a;}
x{color:#019657;}
.{color:#019844;}
x{color:#019a31;}
.{color:#019c1e;}
x{color:#019e0b;}
.{color:#019ff8;}
x{color:#01a1e5;}
.{color:#01a3d2;}
x{color:#01a5bf;}
.{color:#01a7ac;}
x{color:#01a999;}
.{color:#01ab86;}
x{color:#01ad73;}
.{color:#01af60;}
x{color:#01b14d;}
.{color:#01b33a;}
x{color:#01b527;}
.{color:#01b714;}
x{color:#01b901;}
.{color:#01baee;}
x{color:#01bcdb;}
.{color:#01bec8;}
x{color:#01c0b5;}
.{color:#01c2a2;}
x{color:#01c48f;}
.{color:#01c67c;}
x{color:#01c869;}
.{color:#01ca56;}
x{color:#01cc43;}
.{color:#01ce30;}
x{color:#01d01d;}
.{color:#01d20a;}
x{color:#01d3f7;}
.{color:#01d5e4;}
x{color:#01d7d1;}
.{color:#01d9be;}
x{color:#01dbab;}
.{color:#01dd98;}
x{color:#01df85;}
.{color:#01e172;}
x{color:#01e35f;}
.{color:#01e54c;}
x{color:#01e739;}
.{color:#01e926;}
x{color:#01eb13;}
.{color:#01ed00;}
x{color:#01eeed;}
.{color:#01f0da;}
x{color:#01f2c7;}
.{color:#01f4b4;}
x{color:#01f6a1;}
.{color:#01f88e;}
x{color:#01fa7b;}
.{color:#01fc68;}
x{color:#01fe55;}
.{color:#020042;}
x{color:#02022f;}
.{color:#02041c;}
x{color:#020609;}
.{color:#0207f6;}
x{color:#0209e3;}
.{color:#020bd0;}
x{color:#020dbd;}
.{color:#020faa;}
x{color:#021197;}
.{color:#021384;}
x{color:#021571;}
.{color:#02175e;}
x{color:#02194b;}
.{color:#021b38;}
x{color:#021d25;}
.{color:#021f12;}
x{color:#0220ff;}
.{color:#0222ec;}
x{color:#0224d9;}
.{color:#0226c6;}
x{color:#0228b3;}
.{color:#022aa0;}
x{color:#022c8d;}
.{color:#022e7a;}
x{color:#023067;}
.{color:#023254;}
x{color:#023441;}
.{color:#02362e;}
x{color:#02381b;}
.{color:#023a08;}
x{color:#023bf5;}
.{color:#023de2;}
x{color:#023fcf;}
.{color:#0241bc;}
x{color:#0243a9;}
.{color:#024596;}
x{color:#024783;}
.{color:#024970;}
x{color:#024b5d;}
.{color:#024d4a;}
x{color:#024f37;}
.{color:#025124;}
x{color:#025311;}
.{color:#0254fe;}
x{color:#0256eb;}
.{color:#0258d8;}
x{color:#025ac5;}
.{color:#025cb2;}
x{color:#025e9f;}
.{color:#02608c;}
x{color:#026279;}
.{color:#026466;}
x{color:#026653;}
.{color:#026840;}
x{color:#026a2d;}
.{color:#026c1a;}
x{color:#026e07;}
.{color:#026ff4;}
x{color:#0271e1;}
.{color:#0273ce;}
x{color:#0275bb;}
.{color:#0277a8;}
x{color:#027995;}
.{color:#027b82;}
x{color:#027d6f;}
.{color:#027f5c;}
x{color:#028149;}
.{color:#028336;}
x{color:#028523;}
.{color:#028710;}
x{color:#0288fd;}
.{color:#028aea;}
x{color:#028cd7;}
.{color:#028ec4;}
x{color:#0290b1;}
.{color:#02929e;}
x{color:#02948b;}
.{color:#029678;}
x{color:#029865;}
.{color:#029a52;}
x{color:#029c3f;}
.{color:#029e2c;}
x{color:#02a019;}
.{color:#02a206;}
x{color:#02a3f3;}
.{color:#02a5e0;}
x{color:#02a7cd;}
.{color:#02a9ba;}
x{color:#02aba7;}
.{color:#02ad94;}
x{color:#02af81;}
.{color:#02b16e;}
x{color:#02b35b;}
.{color:#02b548;}
x{color:#02b735;}
.{color:#02b922;}
x{color:#02bb0f;}
.{color:#02bcfc;}
x{color:#02bee9;}
.{color:#02c0d6;}
x{color:#02c2c3;}
.{color:#02c4b0;}
x{color:#02c69d;}
.{color:#02c88a;}
x{color:#02ca77;}
.{color:#02cc64;}
x{color:#02ce51;}
.{color:#02d03e;}
x{color:#02d22b;}
.{color:#02d418;}
x{color:#02d605;}
.{color:#02d7f2;}
x{color:#02d9df;}
.{color:#02dbcc;}
x{color:#02ddb9;}
.{color:#02dfa6;}
x{color:#02e193;}
.{color:#02e380;}
x{color:#02e56d;}
.{color:#02e75a;}
x{color:#02e947;}
.{color:#02eb34;}
x{color:#02ed21;}
.{color:#02ef0e;}
x{color:#02f0fb;}
.{color:#02f2e8;}
x{color:#02f4d5;}
.{color:#02f6c2;}
x{color:#02f8af;}
.{color:#02fa9c;}
x{color:#02fc89;}
.{color:#02fe76;}
x{color:#030063;}
.{color:#030250;}
x{color:#03043d;}
.{color:#03062a;}
x{color:#030817;}
.{color:#030a04;}
x{color:#030bf1;}
.{color:#030dde;}
x{color:#030fcb;}
.{color:#0311b8;}
x{color:#0313a5;}
.{color:#031592;}
x{color:#03177f;}
.{color:#03196c;}
x{color:#031b59;}
.{color:#031d46;}
x{color:#031f33;}
.{color:#032120;}
x{color:#03230d;}
.{color:#0324fa;}
x{color:#0326e7;}
.{color:#0328d4;}
x{color:#032ac1;}
.{color:#032cae;}
x{color:#032e9b;}
.{color:#033088;}
x{color:#033275;}
.{color:#033462;}
x{color:#03364f;}
.{color:#03383c;}
x{color:#033a29;}
.{color:#033c16;}
x{color:#033e03;}
.{color:#033ff0;}
x{color:#0341dd;}
.{color:#0343ca;}
x{color:#0345b7;}
.{color:#0347a4;}
x{color:#034991;}
.{color:#034b7e;}
x{color:#034d6b;}
.{color:#034f58;}
x{color:#035145;}
.{color:#035332;}
x{color:#03551f;}
.{color:#03570c;}
x{color:#0358f9;}
.{color:#035ae6;}
x{color:#035cd3;}
.{color:#035ec0;}
x{color:#0360ad;}
.{color:#03629a;}
x{color:#036487;}
.{color:#036674;}
x{color:#036861;}
.{color:#036a4e;}
x{color:#036c3b;}
.{color:#036e28;}
x{color:#037015;}
.{color:#037202;}
x{color:#0373ef;}
.{color:#0375dc;}
x{color:#0377c9;}
.{color:#0379b6;}
x{color:#037ba3;}
.{color:#037d90;}
x{color:#037f7d;}
.{color:#03816a;}
x{color:#038357;}
.{color:#038544;}
x{color:#038731;}
.{color:#03891e;}
x{color:#038b0b;}
.{color:#038cf8;}
x{color:#038ee5;}
.{color:#0390d2;}
x{color:#0392bf;}
.{color:#0394ac;}
x{color:#039699;}
.{color:#039886;}
x{color:#039a73;}
.{color:#039c60;}
x{color:#039e4d;}
.{color:#03a03a;}
x{color:#03a227;}
.{color:#03a414;}
x{color:#03a601;}
.{color:#03a7ee;}
x{color:#03a9db;}
.{color:#03abc8;}
x{color:#03adb5;}
.{color:#03afa2;}
x{color:#03b18f;}
.{color:#03b37c;}
x{color:#03b569;}
.{color:#03b756;}
x{color:#03b943;}
.{color:#03bb30;}
x{color:#03bd1d;}
.{color:#03bf0a;}
x{color:#03c0f7;}
.{color:#03c2e4;}
x{color:#03c4d1;}
.{color:#03c6be;}
x{color:#03c8ab;}
.{color:#03ca98;}
x{color:#03cc85;}
.{color:#03ce72;}
x{color:#03d05f;}
.{color:#03d24c;}
x{color:#03d439;}
.{color:#03d626;}
x{color:#03d813;}
.{color:#03da00;}
x{color:#03dbed;}
.{color:#03ddda;}
x{color:#03dfc7;}
.{color:#03e1b4;}
x{color:#03e3a1;}
.{color:#03e58e;}
x{color:#03e77b;}
.{color:#03e968;}
x{color:#03eb55;}
.{color:#03ed42;}
x{color:#03ef2f;}
.{color:#03f11c;}
x{color:#03f309;}
.{color:#03f4f6;}
x{color:#03f6e3;}
.{color:#03f8d0;}
x{color:#03fabd;}
.{color:#03fcaa;}
x{color:#03fe97;}
.{color:#040084;}
x{color:#040271;}
.{color:#04045e;}
x{color:#04064b;}
.{color:#040838;}
x{color:#040a25;}
.{color:#040c12;}
x{color:#040dff;}
.{color:#040fec;}
x{color:#0411d9;}
.{color:#0413c6;}
x{color:#0415b3;}
.{color:#0417a0;}
x{color:#04198d;}
.{color:#041b7a;}
x{color:#041d67;}
.{color:#041f54;}
x{color:#042141;}
.{color:#04232e;}
x{color:#04251b;}
.{color:#042708;}
x{color:#0428f5;}
.{color:#042ae2;}
x{color:#042ccf;}
.{color:#042ebc;}
x{color:#0430a9;}
.{color:#043296;}
x{color:#043483;}
.{color:#043670;}
x{color:#04385d;}
.{color:#043a4a;}
x{color:#043c37;}
.{color:#043e24;}
x{color:#044011;}
.{color:#0441fe;}
x{color:#0443eb;}
.{color:#0445d8;}
x{color:#0447c5;}
.{color:#0449b2;}
x{color:#044b9f;}
.{color:#044d8c;}
x{color:#044f79;}
.{color:#045166;}
x{color:#045353;}
.{color:#045540;}
x{color:#04572d;}
.{color:#04591a;}
x{color:#045b07;}
.{color:#045cf4;}
x{color:#045ee1;}
.{color:#0460ce;}
x{color:#0462bb;}
.{color:#0464a8;}
x{color:#046695;}
.{color:#046882;}
x{color:#046a6f;}
.{color:#046c5c;}
x{color:#046e49;}
.{color:#047036;}
x{color:#047223;}
.{color:#047410;}
x{color:#0475fd;}
.{color:#0477ea;}
x{color:#0479d7;}
.{color:#047bc4;}
x{color:#047db1;}
.{color:#047f9e;}
x{color:#04818b;}
.{color:#048378;}
x{color:#048565;}
.{color:#048752;}
x{color:#04893f;}
.{color:#048b2c;}
x{color:#048d19;}
.{color:#048f06;}
x{color:#0490f3;}
.{color:#0492e0;}
x{color:#0494cd;}
.{color:#0496ba;}
x{color:#0498a7;}
.{color:#049a94;}
x{color:#049c81;}
.{color:#049e6e;}
x{color:#04a05b;}
.{color:#04a248;}
x{color:#04a435;}
.{color:#04a622;}
x{color:#04a80f;}
.{color:#04a9fc;}
x{color:#04abe9;}
.{color:#04add6;}
x{color:#04afc3;}
.{color:#04b1b0;}
x{color:#04b39d;}
.{color:#04b58a;}
x{color:#04b777;}
.{color:#04b964;}
x{color:#04bb51;}
.{color:#04bd3e;}
x{color:#04bf2b;}
.{color:#04c118;}
x{color:#04c305;}
.{color:#04c4f2;}
x{color:#04c6df;}
.{color:#04c8cc;}
x{color:#04cab9;}
.{color:#04cca6;}
x{color:#04ce93;}
.{color:#04d080;}
x{color:#04d26d;}
.{color:#04d45a;}
x{color:#04d647;}
.{color:#04d834;}
x{color:#04da21;}
.{color:#04dc0e;}
x{color:#04ddfb;}
.{color:#04dfe8;}
x{color:#04e1d5;}
.{color:#04e3c2;}
x{color:#04e5af;}
.{color:#04e79c;}
x{color:#04e989;}
.{color:#04eb76;}
x{color:#04ed63;}
.{color:#04ef50;}
x{color:#04f13d;}
.{color:#04f32a;}
x{color:#04f517;}
.{color:#04f704;}
x{color:#04f8f1;}
.{color:#04fade;}
x{color:#04fccb;}
.{color:#04feb8;}
x{color:#0500a5;}
.{color:#050292;}
x{color:#05047f;}
.{color:#05066c;}
x{color:#050859;}
.{color:#050a46;}
x{color:#050c33;}
.{color:#050e20;}
x{color:#05100d;}
.{color:#0511fa;}
x{color:#0513e7;}
.{color:#0515d4;}
x{color:#0517c1;}
.{color:#0519ae;}
x{color:#051b9b;}
.{color:#051d88;}
x{color:#051f75;}
.{color:#052162;}
x{color:#05234f;}
.{color:#05253c;}
x{color:#052729;}
.{color:#052916;}
x{color:#052b03;}
.{color:#052cf0;}
x{color:#052edd;}
.{color:#0530ca;}
x{color:#0532b7;}
.{color:#0534a4;}
x{color:#053691;}
.{color:#05387e;}
x{color:#053a6b;}
.{color:#053c58;}
x{color:#053e45;}
.{color:#054032;}
x{color:#05421f;}
.{color:#05440c;}
x{color:#0545f9;}
.{color:#0547e6;}
x{color:#0549d3;}
.{color:#054bc0;}
x{color:#054dad;}
.{color:#054f9a;}
x{color:#055187;}
.{color:#055374;}
x{color:#055561;}
.{color:#05574e;}
x{color:#05593b;}
.{color:#055b28;}
x{color:#055d15;}
.{color:#055f02;}
x{color:#0560ef;}
.{color:#0562dc;}
x{color:#0564c9;}
.{color:#0566b6;}
x{color:#0568a3;}
.{color:#056a90;}
x{color:#056c7d;}
.{color:#056e6a;}
x{color:#057057;}
.{color:#057244;}
x{color:#057431;}
.{color:#05761e;}
x{color:#05780b;}
.{color:#0579f8;}
x{color:#057be5;}
.{color:#057dd2;}
x{color:#057fbf;}
.{color:#0581ac;}
x{color:#058399;}
.{color:#058586;}
x{color:#058773;}
.{color:#058960;}
x{color:#058b4d;}
.{color:#058d3a;}
x{color:#058f27;}
.{color:#059114;}
x{color:#059301;}
.{color:#0594ee;}
x{color:#0596db;}
.{color:#0598c8;}
x{color:#059ab5;}
.{color:#059ca2;}
x{color:#059e8f;}
.{color:#05a07c;}
x{color:#05a269;}
.{color:#05a456;}
x{color:#05a643;}
.{color:#05a830;}
x{color:#05aa1d;}
.{color:#05ac0a;}
x{color:#05adf7;}
.{color:#05afe4;}
x{color:#05b1d1;}
.{color:#05b3be;}
x{color:#05b5ab;}
.{color:#05b798;}
x{color:#05b985;}
.{color:#05bb72;}
x{color:#05bd5f;}
.{color:#05bf4c;}
x{color:#05c139;}
.{color:#05c326;}
x{color:#05c513;}
.{color:#05c700;}
x{color:#05c8ed;}
.{color:#05cada;}
x{color:#05ccc7;}
.{color:#05ceb4;}
x{color:#05d0a1;}
.{color:#05d28e;}
x{color:#05d47b;}
.{color:#05d668;}
x{color:#05d855;}
.{color:#05da42;}
x{color:#05dc2f;}
.{color:#05de1c;}
x{color:#05e009;}
.{color:#05e1f6;}
x{color:#05e3e3;}
.{color:#05e5d0;}
x{color:#05e7bd;}
.{color:#05e9aa;}
x{color:#05eb97;}
.{color:#05ed84;}
x{color:#05ef71;}
.{color:#05f15e;}
x{color:#05f34b;}
.{color:#05f538;}
x{color:#05f725;}
.{color:#05f912;}
x{color:#05faff;}
.{color:#05fcec;}
x{color:#05fed9;}
.{color:#0600c6;}
x{color:#0602b3;}
.{color:#0604a0;}
x{color:#06068d;}
.{color:#06087a;}
x{color:#060a67;}
.{color:#060c54;}
x{color:#060e41;}
.{color:#06102e;}
x{color:#06121b;}
.{color:#061408;}
x{color:#0615f5;}
.{color:#0617e2;}
x{color:#0619cf;}
.{color:#061bbc;}
x{color:#061da9;}
.{color:#061f96;}
x{color:#062183;}
.{color:#062370;}
x{color:#06255d;}
.{color:#06274a;}
x{color:#062937;}
.{color:#062b24;}
x{color:#062d11;}
.{color:#062efe;}
x{color:#0630eb;}
.{color:#0632d8;}
x{color:#0634c5;}
.{color:#0636b2;}
x{color:#06389f;}
.{color:#063a8c;}
x{color:#063c79;}
.{color:#063e66;}
x{color:#064053;}
.{color:#064240;}
x{color:#06442d;}
.{color:#06461a;}
x{color:#064807;}
.{color:#0649f4;}
x{color:#064be1;}
.{color:#064dce;}
x{color:#064fbb;}
.{color:#0651a8;}
x{color:#065395;}
.{color:#065582;}
x{color:#06576f;}
.{color:#06595c;}
x{color:#065b49;}
.{color:#065d36;}
x{color:#065f23;}
.{color:#066110;}
x{color:#0662fd;}
.{color:#0664ea;}
x{color:#0666d7;}
.{color:#0668c4;}
x{color:#066ab1;}
.{color:#066c9e;}
x{color:#066e8b;}
.{color:#067078;}
x{color:#067265;}
.{color:#067452;}
x{color:#06763f;}
.{color:#06782c;}
x{color:#067a19;}
.{color:#067c06;}
x{color:#067df3;}
.{color:#067fe0;}
x{color:#0681cd;}
.{color:#0683ba;}
x{color:#0685a7;}
.{color:#068794;}
x{color:#068981;}
.{color:#068b6e;}
x{color:#068d5b;}
.{color:#068f48;}
x{color:#069135;}
.{color:#069322;}
x{color:#06950f;}
.{color:#0696fc;}
x{color:#0698e9;}
.{color:#069ad6;}
x{color:#069cc3;}
.{color:#069eb0;}
x{color:#06a09d;}
.{color:#06a28a;}
x{color:#06a477;}
.{color:#06a664;}
x{color:#06a851;}
.{color:#06aa3e;}
x{color:#06ac2b;}
.{color:#06ae18;}
x{color:#06b005;}
.{color:#06b1f2;}
x{color:#06b3df;}
.{color:#06b5cc;}
x{color:#06b7b9;}
.{color:#06b9a6;}
x{color:#06bb93;}
.{color:#06bd80;}
x{color:#06bf6d;}
.{color:#06c15a;}
x{color:#06c347;}
.{color:#06c534;}
x{color:#06c721;}
.{color:#06c90e;}
x{color:#06cafb;}
.{color:#06cce8;}
x{color:#06ced5;}
.{color:#06d0c2;}
x{color:#06d2af;}
.{color:#06d49c;}
x{color:#06d689;}
.{color:#06d876;}
x{color:#06da63;}
.{color:#06dc50;}
x{color:#06de3d;}
.{color:#06e02a;}
x{color:#06e217;}
.{color:#06e404;}
x{color:#06e5f1;}
.{color:#06e7de;}
x{color:#06e9cb;}
.{color:#06ebb8;}
x{color:#06eda5;}
.{color:#06ef92;}
x{color:#06f17f;}
.{color:#06f36c;}
x{color:#06f559;}
.{color:#06f746;}
x{color:#06f933;}
.{color:#06fb20;}
x{color:#06fd0d;}
.{color:#06fefa;}
x{color:#0700e7;}
.{color:#0702d4;}
x{color:#0704c1;}
.{color:#0706ae;}
x{color:#07089b;}
.{color:#070a88;}
x{color:#070c75;}
.{color:#070e62;}
x{color:#07104f;}
.{color:#07123c;}
x{color:#071429;}
.{color:#071616;}
x{color:#071803;}
.{color:#0719f0;}
x{color:#071bdd;}
.{color:#071dca;}
x{color:#071fb7;}
.{color:#0721a4;}
x{color:#072391;}
.{color:#07257e;}
x{color:#07276b;}
.{color:#072958;}
x{color:#072b45;}
.{color:#072d32;}
x{color:#072f1f;}
.{color:#07310c;}
x{color:#0732f9;}
.{color:#0734e6;}
x{color:#0736d3;}
.{color:#0738c0;}
x{color:#073aad;}
.{color:#073c9a;}
x{color:#073e87;}
.{color:#074074;}
x{color:#074261;}
.{color:#07444e;}
x{color:#07463b;}
.{color:#074828;}
x{color:#074a15;}
.{color:#074c02;}
x{color:#074def;}
.{color:#074fdc;}
x{color:#0751c9;}
.{color:#0753b6;}
x{color:#0755a3;}
.{color:#075790;}
x{color:#07597d;}
.{color:#075b6a;}
x{color:#075d57;}
.{color:#075f44;}
x{color:#076131;}
.{color:#07631e;}
x{color:#07650b;}
.{color:#0766f8;}
x{color:#0768e5;}
.{color:#076ad2;}
x{color:#076cbf;}
.{color:#076eac;}
x{color:#077099;}
.{color:#077286;}
x{color:#077473;}
.{color:#077660;}
x{color:#07784d;}
.{color:#077a3a;}
x{color:#077c27;}
.{color:#077e14;}
x{color:#078001;}
.{color:#0781ee;}
x{color:#0783db;}
