/* css */
.{color:#000000;}
x{color:#000165;}
.{color:#0002ca;}
x{color:#00042f;}
.{color:#000594;}
x{color:#0006f9;}
.{color:#00085e;}
x{color:#0009c3;}
.{color:#000b28;}
x{color:#000c8d;}
.{color:#000df2;}
x{color:#000f57;}
.{color:#0010bc;}
x{color:#001221;}
.{color:#001386;}
x{color:#0014eb;}
.{color:#001650;}
x{color:#0017b5;}
.{color:#00191a;}
x{color:#001a7f;}
.{color:#001be4;}
x{color:#001d49;}
.{color:#001eae;}
x{color:#002013;}
.{color:#002178;}
x{color:#0022dd;}
.{color:#002442;}
x{color:#0025a7;}
.{color:#00270c;}
x{color:#002871;}
.{color:#0029d6;}
x{color:#002b3b;}
.{color:#002ca0;}
x{color:#002e05;}
.{color:#002f6a;}
x{color:#0030cf;}
.{color:#003234;}
x{color:#003399;}
.{color:#0034fe;}
x{color:#003663;}
.{color:#0037c8;}
x{color:#00392d;}
.{color:#003a92;}
x{color:#003bf7;}
.{color:#003d5c;}
x{color:#003ec1;}
.{color:#004026;}
x{color:#00418b;}
.{color:#0042f0;}
x{color:#004455;}
.{color:#0045ba;}
x{color:#00471f;}
.{color:#004884;}
x{color:#0049e9;}
.{color:#004b4e;}
x{color:#004cb3;}
.{color:#004e18;}
x{color:#004f7d;}
.{color:#0050e2;}
x{color:#005247;}
.{color:#0053ac;}
x{color:#005511;}
.{color:#005676;}
x{color:#0057db;}
.{color:#005940;}
x{color:#005aa5;}
.{color:#005c0a;}
x{color:#005d6f;}
.{color:#005ed4;}
x{color:#006039;}
.{color:#00619e;}
x{color:#006303;}
.{color:#006468;}
x{color:#0065cd;}
.{color:#006732;}
x{color:#006897;}
.{color:#0069fc;}
x{color:#006b61;}
.{color:#006cc6;}
x{color:#006e2b;}
.{color:#006f90;}
x{color:#0070f5;}
.{color:#00725a;}
x{color:#0073bf;}
.{color:#007524;}
x{color:#007689;}
.{color:#0077ee;}
x{color:#007953;}
.{color:#007ab8;}
x{color:#007c1d;}
.{color:#007d82;}
x{color:#007ee7;}
.{color:#00804c;}
x{color:#0081b1;}
.{color:#008316;}
x{color:#00847b;}
.{color:#0085e0;}
x{color:#008745;}
.{color:#0088aa;}
x{color:#008a0f;}
.{color:#008b74;}
x{color:#008cd9;}
.{color:#008e3e;}
x{color:#008fa3;}
.{color:#009108;}
x{color:#00926d;}
.{color:#0093d2;}
x{color:#009537;}
.{color:#00969c;}
x{color:#009801;}
.{color:#009966;}
x{color:#009acb;}
.{color:#009c30;}
x{color:#009d95;}
.{color:#009efa;}
x{color:#00a05f;}
.{color:#00a1c4;}
x{color:#00a329;}
.{color:#00a48e;}
x{color:#00a5f3;}
.{color:#00a758;}
x{color:#00a8bd;}
.{color:#00aa22;}
x{color:#00ab87;}
.{color:#00acec;}
x{color:#00ae51;}
.{color:#00afb6;}
x{color:#00b11b;}
.{color:#00b280;}
x{color:#00b3e5;}
.{color:#00b54a;}
x{color:#00b6af;}
.{color:#00b814;}
x{color:#00b979;}
.{color:#00bade;}
x{color:#00bc43;}
.{color:#00bda8;}
x{color:#00bf0d;}
.{color:#00c072;}
x{color:#00c1d7;}
.{color:#00c33c;}
x{color:#00c4a1;}
.{color:#00c606;}
x{color:#00c76b;}
.{color:#00c8d0;}
x{color:#00ca35;}
.{color:#00cb9a;}
x{color:#00ccff;}
.{color:#00ce64;}
x{color:#00cfc9;}
.{color:#00d12e;}
x{color:#00d293;}
.{color:#00d3f8;}
x{color:#00d55d;}
.{color:#00d6c2;}
x{color:#00d827;}
.{color:#00d98c;}
x{color:#00daf1;}
.{color:#00dc56;}
x{color:#00ddbb;}
.{color:#00df20;}
x{color:#00e085;}
.{color:#00e1ea;}
x{color:#00e34f;}
.{color:#00e4b4;}
x{color:#00e619;}
.{color:#00e77e;}
x{color:#00e8e3;}
.{color:#00ea48;}
x{color:#00ebad;}
.{color:#00ed12;}
x{color:#00ee77;}
.{color:#00efdc;}
x{color:#00f141;}
.{color:#00f2a6;}
x{color:#00f40b;}
.{color:#00f570;}
x{color:#00f6d5;}
.{color:#00f83a;}
x{color:#00f99f;}
.{color:#00fb04;}
x{color:#00fc69;}
.{color:#00fdce;}
x{color:#00ff33;}
.{color:#010098;}
x{color:#0101fd;}
.{color:#010362;}
x{color:#0104c7;}
.{color:#01062c;}
x{color:#010791;}
.{color:#0108f6;}
x{color:#010a5b;}
.{color:#010bc0;}
x{color:#010d25;}
.{color:#010e8a;}
x{color:#010fef;}
.{color:#011154;}
x{color:#0112b9;}
.{color:#01141e;}
x{color:#011583;}
.{color:#0116e8;}
x{color:#01184d;}
.{color:#0119b2;}
x{color:#011b17;}
.{color:#011c7c;}
x{color:#011de1;}
.{color:#011f46;}
x{color:#0120ab;}
.{color:#012210;}
x{color:#012375;}
.{color:#0124da;}
x{color:#01263f;}
.{color:#0127a4;}
x{color:#012909;}
.{color:#012a6e;}
x{color:#012bd3;}
.{color:#012d38;}
x{color:#012e9d;}
.{color:#013002;}
x{color:#013167;}
.{color:#0132cc;}
x{color:#013431;}
.{color:#013596;}
x{color:#0136fb;}
.{color:#013860;}
x{color:#0139c5;}
.{color:#013b2a;}
x{color:#013c8f;}
.{color:#013df4;}
x{color:#013f59;}
.{color:#0140be;}
x{color:#014223;}
.{color:#014388;}
x{color:#0144ed;}
.{color:#014652;}
x{color:#0147b7;}
.{color:#01491c;}
x{color:#014a81;}
.{color:#014be6;}
x{color:#014d4b;}
.{color:#014eb0;}
x{color:#015015;}
.{color:#01517a;}
x{color:#0152df;}
.{color:#015444;}
x{color:#0155a9;}
.{color:#01570e;}
x{color:#015873;}
.{color:#0159d8;}
x{color:#015b3d;}
.{color:#015ca2;}
x{color:#015e07;}
.{color:#015f6c;}
x{color:#0160d1;}
.{color:#016236;}
x{color:#01639b;}
.{color:#016500;}
x{color:#016665;}
.{color:#0167ca;}
x{color:#01692f;}
.{color:#016a94;}
x{color:#016bf9;}
.{color:#016d5e;}
x{color:#016ec3;}
.{color:#017028;}
x{color:#01718d;}
.{color:#0172f2;}
x{color:#017457;}
.{color:#0175bc;}
x{color:#017721;}
.{color:#017886;}
x{color:#0179eb;}
.{color:#017b50;}
x{color:#017cb5;}
.{color:#017e1a;}
x{color:#017f7f;}
.{color:#0180e4;}
x{color:#018249;}
.{color:#0183ae;}
x{color:#018513;}
.{color:#018678;}
x{color:#0187dd;}
.{color:#018942;}
x{color:#018aa7;}
.{color:#018c0c;}
x{color:#018d71;}
.{color:#018ed6;}
x{color:#01903b;}
.{color:#0191a0;}
x{color:#019305;}
.{color:#01946a;}
x{color:#0195cf;}
.{color:#019734;}
x{color:#019899;}
.{color:#0199fe;}
x{color:#019b63;}
.{color:#019cc8;}
x{color:#019e2d;}
.{color:#019f92;}
x{color:#01a0f7;}
.{color:#01a25c;}
x{color:#01a3c1;}
.{color:#01a526;}
x{color:#01a68b;}
.{color:#01a7f0;}
x{color:#01a955;}
.{color:#01aaba;}
x{color:#01ac1f;}
.{color:#01ad84;}
x{color:#01aee9;}
.{color:#01b04e;}
x{color:#01b1b3;}
.{color:#01b318;}
x{color:#01b47d;}
.{color:#01b5e2;}
x{color:#01b747;}
.{color:#01b8ac;}
x{color:#01ba11;}
.{color:#01bb76;}
x{color:#01bcdb;}
.{color:#01be40;}
x{color:#01bfa5;}
.{color:#01c10a;}
x{color:#01c26f;}
.{color:#01c3d4;}
x{color:#01c539;}
.{color:#01c69e;}
x{color:#01c803;}
.{color:#01c968;}
x{color:#01cacd;}
.{color:#01cc32;}
x{color:#01cd97;}
.{color:#01cefc;}
x{color:#01d061;}
.{color:#01d1c6;}
x{color:#01d32b;}
.{color:#01d490;}
x{color:#01d5f5;}
.{color:#01d75a;}
x{color:#01d8bf;}
.{color:#01da24;}
x{color:#01db89;}
.{color:#01dcee;}
x{color:#01de53;}
.{color:#01dfb8;}
x{color:#01e11d;}
.{color:#01e282;}
x{color:#01e3e7;}
.{color:#01e54c;}
x{color:#01e6b1;}
.{color:#01e816;}
x{color:#01e97b;}
.{color:#01eae0;}
x{color:#01ec45;}
.{color:#01edaa;}
x{color:#01ef0f;}
.{color:#01f074;}
x{color:#01f1d9;}
.{color:#01f33e;}
x{color:#01f4a3;}
.{color:#01f608;}
x{color:#01f76d;}
.{color:#01f8d2;}
x{color:#01fa37;}
.{color:#01fb9c;}
x{color:#01fd01;}
.{color:#01fe66;}
x{color:#01ffcb;}
.{color:#020130;}
x{color:#020295;}
.{color:#0203fa;}
x{color:#02055f;}
.{color:#0206c4;}
x{color:#020829;}
.{color:#02098e;}
x{color:#020af3;}
.{color:#020c58;}
x{color:#020dbd;}
.{color:#020f22;}
x{color:#021087;}
.{color:#0211ec;}
x{color:#021351;}
.{color:#0214b6;}
x{color:#02161b;}
.{color:#021780;}
x{color:#0218e5;}
.{color:#021a4a;}
x{color:#021baf;}
.{color:#021d14;}
x{color:#021e79;}
.{color:#021fde;}
x{color:#022143;}
.{color:#0222a8;}
x{color:#02240d;}
.{color:#022572;}
x{color:#0226d7;}
.{color:#02283c;}
x{color:#0229a1;}
.{color:#022b06;}
x{color:#022c6b;}
.{color:#022dd0;}
x{color:#022f35;}
.{color:#02309a;}
x{color:#0231ff;}
.{color:#023364;}
x{color:#0234c9;}
.{color:#02362e;}
x{color:#023793;}
.{color:#0238f8;}
x{color:#023a5d;}
.{color:#023bc2;}
x{color:#023d27;}
.{color:#023e8c;}
x{color:#023ff1;}
.{color:#024156;}
x{color:#0242bb;}
.{color:#024420;}
x{color:#024585;}
.{color:#0246ea;}
x{color:#02484f;}
.{color:#0249b4;}
x{color:#024b19;}
.{color:#024c7e;}
x{color:#024de3;}
.{color:#024f48;}
x{color:#0250ad;}
.{color:#025212;}
x{color:#025377;}
.{color:#0254dc;}
x{color:#025641;}
.{color:#0257a6;}
x{color:#02590b;}
.{color:#025a70;}
x{color:#025bd5;}
.{color:#025d3a;}
x{color:#025e9f;}
.{color:#026004;}
x{color:#026169;}
.{color:#0262ce;}
x{color:#026433;}
.{color:#026598;}
x{color:#0266fd;}
.{color:#026862;}
x{color:#0269c7;}
.{color:#026b2c;}
x{color:#026c91;}
.{color:#026df6;}
x{color:#026f5b;}
.{color:#0270c0;}
x{color:#027225;}
.{color:#02738a;}
x{color:#0274ef;}
.{color:#027654;}
x{color:#0277b9;}
.{color:#02791e;}
x{color:#027a83;}
.{color:#027be8;}
x{color:#027d4d;}
.{color:#027eb2;}
x{color:#028017;}
.{color:#02817c;}
x{color:#0282e1;}
.{color:#028446;}
x{color:#0285ab;}
.{color:#028710;}
x{color:#028875;}
.{color:#0289da;}
x{color:#028b3f;}
.{color:#028ca4;}
x{color:#028e09;}
.{color:#028f6e;}
x{color:#0290d3;}
.{color:#029238;}
x{color:#02939d;}
.{color:#029502;}
x{color:#029667;}
.{color:#0297cc;}
x{color:#029931;}
.{color:#029a96;}
x{color:#029bfb;}
.{color:#029d60;}
x{color:#029ec5;}
.{color:#02a02a;}
x{color:#02a18f;}
.{color:#02a2f4;}
x{color:#02a459;}
.{color:#02a5be;}
x{color:#02a723;}
.{color:#02a888;}
x{color:#02a9ed;}
.{color:#02ab52;}
x{color:#02acb7;}
.{color:#02ae1c;}
x{color:#02af81;}
.{color:#02b0e6;}
x{color:#02b24b;}
.{color:#02b3b0;}
x{color:#02b515;}
.{color:#02b67a;}
x{color:#02b7df;}
.{color:#02b944;}
x{color:#02baa9;}
.{color:#02bc0e;}
x{color:#02bd73;}
.{color:#02bed8;}
x{color:#02c03d;}
.{color:#02c1a2;}
x{color:#02c307;}
.{color:#02c46c;}
x{color:#02c5d1;}
.{color:#02c736;}
x{color:#02c89b;}
.{color:#02ca00;}
x{color:#02cb65;}
.{color:#02ccca;}
x{color:#02ce2f;}
.{color:#02cf94;}
x{color:#02d0f9;}
.{color:#02d25e;}
x{color:#02d3c3;}
.{color:#02d528;}
x{color:#02d68d;}
.{color:#02d7f2;}
x{color:#02d957;}
.{color:#02dabc;}
x{color:#02dc21;}
.{color:#02dd86;}
x{color:#02deeb;}
.{color:#02e050;}
x{color:#02e1b5;}
.{color:#02e31a;}
x{color:#02e47f;}
.{color:#02e5e4;}
x{color:#02e749;}
.{color:#02e8ae;}
x{color:#02ea13;}
.{color:#02eb78;}
x{color:#02ecdd;}
.{color:#02ee42;}
x{color:#02efa7;}
.{color:#02f10c;}
x{color:#02f271;}
.{color:#02f3d6;}
x{color:#02f53b;}
.{color:#02f6a0;}
x{color:#02f805;}
.{color:#02f96a;}
x{color:#02facf;}
.{color:#02fc34;}
x{color:#02fd99;}
.{color:#02fefe;}
x{color:#030063;}
.{color:#0301c8;}
x{color:#03032d;}
.{color:#030492;}
x{color:#0305f7;}
.{color:#03075c;}
x{color:#0308c1;}
.{color:#030a26;}
x{color:#030b8b;}
.{color:#030cf0;}
x{color:#030e55;}
.{color:#030fba;}
x{color:#03111f;}
.{color:#031284;}
x{color:#0313e9;}
.{color:#03154e;}
x{color:#0316b3;}
.{color:#031818;}
x{color:#03197d;}
.{color:#031ae2;}
x{color:#031c47;}
.{color:#031dac;}
x{color:#031f11;}
.{color:#032076;}
x{color:#0321db;}
.{color:#032340;}
x{color:#0324a5;}
.{color:#03260a;}
x{color:#03276f;}
.{color:#0328d4;}
x{color:#032a39;}
.{color:#032b9e;}
x{color:#032d03;}
.{color:#032e68;}
x{color:#032fcd;}
.{color:#033132;}
x{color:#033297;}
.{color:#0333fc;}
x{color:#033561;}
.{color:#0336c6;}
x{color:#03382b;}
.{color:#033990;}
x{color:#033af5;}
.{color:#033c5a;}
x{color:#033dbf;}
.{color:#033f24;}
x{color:#034089;}
.{color:#0341ee;}
x{color:#034353;}
.{color:#0344b8;}
x{color:#03461d;}
.{color:#034782;}
x{color:#0348e7;}
.{color:#034a4c;}
x{color:#034bb1;}
.{color:#034d16;}
x{color:#034e7b;}
.{color:#034fe0;}
x{color:#035145;}
.{color:#0352aa;}
x{color:#03540f;}
.{color:#035574;}
x{color:#0356d9;}
.{color:#03583e;}
x{color:#0359a3;}
.{color:#035b08;}
x{color:#035c6d;}
.{color:#035dd2;}
x{color:#035f37;}
.{color:#03609c;}
x{color:#036201;}
.{color:#036366;}
x{color:#0364cb;}
.{color:#036630;}
x{color:#036795;}
.{color:#0368fa;}
x{color:#036a5f;}
.{color:#036bc4;}
x{color:#036d29;}
.{color:#036e8e;}
x{color:#036ff3;}
.{color:#037158;}
x{color:#0372bd;}
.{color:#037422;}
x{color:#037587;}
.{color:#0376ec;}
x{color:#037851;}
.{color:#0379b6;}
x{color:#037b1b;}
.{color:#037c80;}
x{color:#037de5;}
.{color:#037f4a;}
x{color:#0380af;}
.{color:#038214;}
x{color:#038379;}
.{color:#0384de;}
x{color:#038643;}
.{color:#0387a8;}
x{color:#03890d;}
.{color:#038a72;}
x{color:#038bd7;}
.{color:#038d3c;}
x{color:#038ea1;}
.{color:#039006;}
x{color:#03916b;}
.{color:#0392d0;}
x{color:#039435;}
.{color:#03959a;}
x{color:#0396ff;}
.{color:#039864;}
x{color:#0399c9;}
.{color:#039b2e;}
x{color:#039c93;}
.{color:#039df8;}
x{color:#039f5d;}
.{color:#03a0c2;}
x{color:#03a227;}
.{color:#03a38c;}
x{color:#03a4f1;}
.{color:#03a656;}
x{color:#03a7bb;}
.{color:#03a920;}
x{color:#03aa85;}
.{color:#03abea;}
x{color:#03ad4f;}
.{color:#03aeb4;}
x{color:#03b019;}
.{color:#03b17e;}
x{color:#03b2e3;}
.{color:#03b448;}
x{color:#03b5ad;}
.{color:#03b712;}
x{color:#03b877;}
.{color:#03b9dc;}
x{color:#03bb41;}
.{color:#03bca6;}
x{color:#03be0b;}
.{color:#03bf70;}
x{color:#03c0d5;}
.{color:#03c23a;}
x{color:#03c39f;}
.{color:#03c504;}
x{color:#03c669;}
.{color:#03c7ce;}
x{color:#03c933;}
.{color:#03ca98;}
x{color:#03cbfd;}
.{color:#03cd62;}
x{color:#03cec7;}
.{color:#03d02c;}
x{color:#03d191;}
.{color:#03d2f6;}
x{color:#03d45b;}
.{color:#03d5c0;}
x{color:#03d725;}
.{color:#03d88a;}
x{color:#03d9ef;}
.{color:#03db54;}
x{color:#03dcb9;}
.{color:#03de1e;}
x{color:#03df83;}
.{color:#03e0e8;}
x{color:#03e24d;}
.{color:#03e3b2;}
x{color:#03e517;}
.{color:#03e67c;}
x{color:#03e7e1;}
.{color:#03e946;}
x{color:#03eaab;}
.{color:#03ec10;}
x{color:#03ed75;}
.{color:#03eeda;}
x{color:#03f03f;}
.{color:#03f1a4;}
x{color:#03f309;}
.{color:#03f46e;}
x{color:#03f5d3;}
.{color:#03f738;}
x{color:#03f89d;}
.{color:#03fa02;}
x{color:#03fb67;}
.{color:#03fccc;}
x{color:#03fe31;}
.{color:#03ff96;}
x{color:#0400fb;}
.{color:#040260;}
x{color:#0403c5;}
.{color:#04052a;}
x{color:#04068f;}
.{color:#0407f4;}
x{color:#040959;}
.{color:#040abe;}
x{color:#040c23;}
.{color:#040d88;}
x{color:#040eed;}
.{color:#041052;}
x{color:#0411b7;}
.{color:#04131c;}
x{color:#041481;}
.{color:#0415e6;}
x{color:#04174b;}
.{color:#0418b0;}
x{color:#041a15;}
.{color:#041b7a;}
x{color:#041cdf;}
.{color:#041e44;}
x{color:#041fa9;}
.{color:#04210e;}
x{color:#042273;}
.{color:#0423d8;}
x{color:#04253d;}
.{color:#0426a2;}
x{color:#042807;}
.{color:#04296c;}
x{color:#042ad1;}
.{color:#042c36;}
x{color:#042d9b;}
.{color:#042f00;}
x{color:#043065;}
.{color:#0431ca;}
x{color:#04332f;}
.{color:#043494;}
x{color:#0435f9;}
.{color:#04375e;}
x{color:#0438c3;}
.{color:#043a28;}
x{color:#043b8d;}
.{color:#043cf2;}
x{color:#043e57;}
.{color:#043fbc;}
x{color:#044121;}
.{color:#044286;}
x{color:#0443eb;}
.{color:#044550;}
x{color:#0446b5;}
.{color:#04481a;}
x{color:#04497f;}
.{color:#044ae4;}
x{color:#044c49;}
.{color:#044dae;}
x{color:#044f13;}
.{color:#045078;}
x{color:#0451dd;}
.{color:#045342;}
x{color:#0454a7;}
.{color:#04560c;}
x{color:#045771;}
.{color:#0458d6;}
x{color:#045a3b;}
.{color:#045ba0;}
x{color:#045d05;}
.{color:#045e6a;}
x{color:#045fcf;}
.{color:#046134;}
x{color:#046299;}
.{color:#0463fe;}
x{color:#046563;}
.{color:#0466c8;}
x{color:#04682d;}
.{color:#046992;}
x{color:#046af7;}
.{color:#046c5c;}
x{color:#046dc1;}
.{color:#046f26;}
x{color:#04708b;}
.{color:#0471f0;}
x{color:#047355;}
.{color:#0474ba;}
x{color:#04761f;}
.{color:#047784;}
x{color:#0478e9;}
.{color:#047a4e;}
x{color:#047bb3;}
.{color:#047d18;}
x{color:#047e7d;}
.{color:#047fe2;}
x{color:#048147;}
.{color:#0482ac;}
x{color:#048411;}
.{color:#048576;}
x{color:#0486db;}
.{color:#048840;}
x{color:#0489a5;}
.{color:#048b0a;}
x{color:#048c6f;}
.{color:#048dd4;}
x{color:#048f39;}
.{color:#04909e;}
x{color:#049203;}
.{color:#049368;}
x{color:#0494cd;}
.{color:#049632;}
x{color:#049797;}
.{color:#0498fc;}
x{color:#049a61;}
.{color:#049bc6;}
x{color:#049d2b;}
.{color:#049e90;}
x{color:#049ff5;}
.{color:#04a15a;}
x{color:#04a2bf;}
.{color:#04a424;}
x{color:#04a589;}
.{color:#04a6ee;}
x{color:#04a853;}
.{color:#04a9b8;}
x{color:#04ab1d;}
.{color:#04ac82;}
x{color:#04ade7;}
.{color:#04af4c;}
x{color:#04b0b1;}
.{color:#04b216;}
x{color:#04b37b;}
.{color:#04b4e0;}
x{color:#04b645;}
.{color:#04b7aa;}
x{color:#04b90f;}
.{color:#04ba74;}
x{color:#04bbd9;}
.{color:#04bd3e;}
x{color:#04bea3;}
.{color:#04c008;}
x{color:#04c16d;}
.{color:#04c2d2;}
x{color:#04c437;}
.{color:#04c59c;}
x{color:#04c701;}
.{color:#04c866;}
x{color:#04c9cb;}
.{color:#04cb30;}
x{color:#04cc95;}
.{color:#04cdfa;}
x{color:#04cf5f;}
.{color:#04d0c4;}
x{color:#04d229;}
.{color:#04d38e;}
x{color:#04d4f3;}
.{color:#04d658;}
x{color:#04d7bd;}
.{color:#04d922;}
x{color:#04da87;}
.{color:#04dbec;}
x{color:#04dd51;}
.{color:#04deb6;}
x{color:#04e01b;}
.{color:#04e180;}
x{color:#04e2e5;}
.{color:#04e44a;}
x{color:#04e5af;}
.{color:#04e714;}
x{color:#04e879;}
.{color:#04e9de;}
x{color:#04eb43;}
.{color:#04eca8;}
x{color:#04ee0d;}
.{color:#04ef72;}
x{color:#04f0d7;}
.{color:#04f23c;}
x{color:#04f3a1;}
.{color:#04f506;}
x{color:#04f66b;}
.{color:#04f7d0;}
x{color:#04f935;}
.{color:#04fa9a;}
x{color:#04fbff;}
.{color:#04fd64;}
x{color:#04fec9;}
.{color:#05002e;}
x{color:#050193;}
.{color:#0502f8;}
x{color:#05045d;}
.{color:#0505c2;}
x{color:#050727;}
.{color:#05088c;}
x{color:#0509f1;}
.{color:#050b56;}
x{color:#050cbb;}
.{color:#050e20;}
x{color:#050f85;}
.{color:#0510ea;}
x{color:#05124f;}
.{color:#0513b4;}
x{color:#051519;}
.{color:#05167e;}
x{color:#0517e3;}
.{color:#051948;}
x{color:#051aad;}
.{color:#051c12;}
x{color:#051d77;}
.{color:#051edc;}
x{color:#052041;}
.{color:#0521a6;}
x{color:#05230b;}
.{color:#052470;}
x{color:#0525d5;}
.{color:#05273a;}
x{color:#05289f;}
.{color:#052a04;}
x{color:#052b69;}
.{color:#052cce;}
x{color:#052e33;}
.{color:#052f98;}
x{color:#0530fd;}
.{color:#053262;}
x{color:#0533c7;}
.{color:#05352c;}
x{color:#053691;}
.{color:#0537f6;}
x{color:#05395b;}
.{color:#053ac0;}
x{color:#053c25;}
.{color:#053d8a;}
x{color:#053eef;}
.{color:#054054;}
x{color:#0541b9;}
.{color:#05431e;}
x{color:#054483;}
.{color:#0545e8;}
x{color:#05474d;}
.{color:#0548b2;}
x{color:#054a17;}
.{color:#054b7c;}
x{color:#054ce1;}
.{color:#054e46;}
x{color:#054fab;}
.{color:#055110;}
x{color:#055275;}
.{color:#0553da;}
x{color:#05553f;}
.{color:#0556a4;}
x{color:#055809;}
.{color:#05596e;}
x{color:#055ad3;}
.{color:#055c38;}
x{color:#055d9d;}
.{color:#055f02;}
x{color:#056067;}
.{color:#0561cc;}
x{color:#056331;}
.{color:#056496;}
x{color:#0565fb;}
.{color:#056760;}
x{color:#0568c5;}
.{color:#056a2a;}
x{color:#056b8f;}
.{color:#056cf4;}
x{color:#056e59;}
.{color:#056fbe;}
x{color:#057123;}
