/* css */
.{color:#000000;}
x{color:#000033;}
.{color:#000066;}
x{color:#000099;}
.{color:#0000cc;}
x{color:#0000ff;}
.{color:#000132;}
x{color:#000165;}
.{color:#000198;}
x{color:#0001cb;}
.{color:#0001fe;}
x{color:#000231;}
.{color:#000264;}
x{color:#000297;}
.{color:#0002ca;}
x{color:#0002fd;}
.{color:#000330;}
x{color:#000363;}
.{color:#000396;}
x{color:#0003c9;}
.{color:#0003fc;}
x{color:#00042f;}
.{color:#000462;}
x{color:#000495;}
.{color:#0004c8;}
x{color:#0004fb;}
.{color:#00052e;}
x{color:#000561;}
.{color:#000594;}
x{color:#0005c7;}
.{color:#0005fa;}
x{color:#00062d;}
.{color:#000660;}
x{color:#000693;}
.{color:#0006c6;}
x{color:#0006f9;}
.{color:#00072c;}
x{color:#00075f;}
.{color:#000792;}
x{color:#0007c5;}
.{color:#0007f8;}
x{color:#00082b;}
.{color:#00085e;}
x{color:#000891;}
.{color:#0008c4;}
x{color:#0008f7;}
.{color:#00092a;}
x{color:#00095d;}
.{color:#000990;}
x{color:#0009c3;}
.{color:#0009f6;}
x{color:#000a29;}
.{color:#000a5c;}
x{color:#000a8f;}
.{color:#000ac2;}
x{color:#000af5;}
.{color:#000b28;}
x{color:#000b5b;}
.{color:#000b8e;}
x{color:#000bc1;}
.{color:#000bf4;}
x{color:#000c27;}
.{color:#000c5a;}
x{color:#000c8d;}
.{color:#000cc0;}
x{color:#000cf3;}
.{color:#000d26;}
x{color:#000d59;}
.{color:#000d8c;}
x{color:#000dbf;}
.{color:#000df2;}
x{color:#000e25;}
.{color:#000e58;}
x{color:#000e8b;}
.{color:#000ebe;}
x{color:#000ef1;}
.{color:#000f24;}
x{color:#000f57;}
.{color:#000f8a;}
x{color:#000fbd;}
.{color:#000ff0;}
x{color:#001023;}
.{color:#001056;}
x{color:#001089;}
.{color:#0010bc;}
x{color:#0010ef;}
.{color:#001122;}
x{color:#001155;}
.{color:#001188;}
x{color:#0011bb;}
.{color:#0011ee;}
x{color:#001221;}
.{color:#001254;}
x{color:#001287;}
.{color:#0012ba;}
x{color:#0012ed;}
.{color:#001320;}
x{color:#001353;}
.{color:#001386;}
x{color:#0013b9;}
.{color:#0013ec;}
x{color:#00141f;}
.{color:#001452;}
x{color:#001485;}
.{color:#0014b8;}
x{color:#0014eb;}
.{color:#00151e;}
x{color:#001551;}
.{color:#001584;}
x{color:#0015b7;}
.{color:#0015ea;}
x{color:#00161d;}
.{color:#001650;}
x{color:#001683;}
.{color:#0016b6;}
x{color:#0016e9;}
.{color:#00171c;}
x{color:#00174f;}
.{color:#001782;}
x{color:#0017b5;}
.{color:#0017e8;}
x{color:#00181b;}
.{color:#00184e;}
x{color:#001881;}
.{color:#0018b4;}
x{color:#0018e7;}
.{color:#00191a;}
x{color:#00194d;}
.{color:#001980;}
x{color:#0019b3;}
.{color:#0019e6;}
x{color:#001a19;}
.{color:#001a4c;}
x{color:#001a7f;}
.{color:#001ab2;}
x{color:#001ae5;}
.{color:#001b18;}
x{color:#001b4b;}
.{color:#001b7e;}
x{color:#001bb1;}
.{color:#001be4;}
x{color:#001c17;}
.{color:#001c4a;}
x{color:#001c7d;}
.{color:#001cb0;}
x{color:#001ce3;}
.{color:#001d16;}
x{color:#001d49;}
.{color:#001d7c;}
x{color:#001daf;}
.{color:#001de2;}
x{color:#001e15;}
.{color:#001e48;}
x{color:#001e7b;}
.{color:#001eae;}
x{color:#001ee1;}
.{color:#001f14;}
x{color:#001f47;}
.{color:#001f7a;}
x{color:#001fad;}
.{color:#001fe0;}
x{color:#002013;}
.{color:#002046;}
x{color:#002079;}
.{color:#0020ac;}
x{color:#0020df;}
.{color:#002112;}
x{color:#002145;}
.{color:#002178;}
x{color:#0021ab;}
.{color:#0021de;}
x{color:#002211;}
.{color:#002244;}
x{color:#002277;}
.{color:#0022aa;}
x{color:#0022dd;}
.{color:#002310;}
x{color:#002343;}
.{color:#002376;}
x{color:#0023a9;}
.{color:#0023dc;}
x{color:#00240f;}
.{color:#002442;}
x{color:#002475;}
.{color:#0024a8;}
x{color:#0024db;}
.{color:#00250e;}
x{color:#002541;}
.{color:#002574;}
x{color:#0025a7;}
.{color:#0025da;}
x{color:#00260d;}
.{color:#002640;}
x{color:#002673;}
.{color:#0026a6;}
x{color:#0026d9;}
.{color:#00270c;}
x{color:#00273f;}
.{color:#002772;}
x{color:#0027a5;}
.{color:#0027d8;}
x{color:#00280b;}
.{color:#00283e;}
x{color:#002871;}
.{color:#0028a4;}
x{color:#0028d7;}
.{color:#00290a;}
x{color:#00293d;}
.{color:#002970;}
x{color:#0029a3;}
.{color:#0029d6;}
x{color:#002a09;}
.{color:#002a3c;}
x{color:#002a6f;}
.{color:#002aa2;}
x{color:#002ad5;}
.{color:#002b08;}
x{color:#002b3b;}
.{color:#002b6e;}
x{color:#002ba1;}
.{color:#002bd4;}
x{color:#002c07;}
.{color:#002c3a;}
x{color:#002c6d;}
.{color:#002ca0;}
x{color:#002cd3;}
.{color:#002d06;}
x{color:#002d39;}
.{color:#002d6c;}
x{color:#002d9f;}
.{color:#002dd2;}
x{color:#002e05;}
.{color:#002e38;}
x{color:#002e6b;}
.{color:#002e9e;}
x{color:#002ed1;}
.{color:#002f04;}
x{color:#002f37;}
.{color:#002f6a;}
x{color:#002f9d;}
.{color:#002fd0;}
x{color:#003003;}
.{color:#003036;}
x{color:#003069;}
.{color:#00309c;}
x{color:#0030cf;}
.{color:#003102;}
x{color:#003135;}
.{color:#003168;}
x{color:#00319b;}
.{color:#0031ce;}
x{color:#003201;}
.{color:#003234;}
x{color:#003267;}
.{color:#00329a;}
x{color:#0032cd;}
.{color:#003300;}
x{color:#003333;}
.{color:#003366;}
x{color:#003399;}
.{color:#0033cc;}
x{color:#0033ff;}
.{color:#003432;}
x{color:#003465;}
.{color:#003498;}
x{color:#0034cb;}
.{color:#0034fe;}
x{color:#003531;}
.{color:#003564;}
x{color:#003597;}
.{color:#0035ca;}
x{color:#0035fd;}
.{color:#003630;}
x{color:#003663;}
.{color:#003696;}
x{color:#0036c9;}
.{color:#0036fc;}
x{color:#00372f;}
.{color:#003762;}
x{color:#003795;}
.{color:#0037c8;}
x{color:#0037fb;}
.{color:#00382e;}
x{color:#003861;}
.{color:#003894;}
x{color:#0038c7;}
.{color:#0038fa;}
x{color:#00392d;}
.{color:#003960;}
x{color:#003993;}
.{color:#0039c6;}
x{color:#0039f9;}
.{color:#003a2c;}
x{color:#003a5f;}
.{color:#003a92;}
x{color:#003ac5;}
.{color:#003af8;}
x{color:#003b2b;}
.{color:#003b5e;}
x{color:#003b91;}
.{color:#003bc4;}
x{color:#003bf7;}
.{color:#003c2a;}
x{color:#003c5d;}
.{color:#003c90;}
x{color:#003cc3;}
.{color:#003cf6;}
x{color:#003d29;}
.{color:#003d5c;}
x{color:#003d8f;}
.{color:#003dc2;}
x{color:#003df5;}
.{color:#003e28;}
x{color:#003e5b;}
.{color:#003e8e;}
x{color:#003ec1;}
.{color:#003ef4;}
x{color:#003f27;}
.{color:#003f5a;}
x{color:#003f8d;}
.{color:#003fc0;}
x{color:#003ff3;}
.{color:#004026;}
x{color:#004059;}
.{color:#00408c;}
x{color:#0040bf;}
.{color:#0040f2;}
x{color:#004125;}
.{color:#004158;}
x{color:#00418b;}
.{color:#0041be;}
x{color:#0041f1;}
.{color:#004224;}
x{color:#004257;}
.{color:#00428a;}
x{color:#0042bd;}
.{color:#0042f0;}
x{color:#004323;}
.{color:#004356;}
x{color:#004389;}
.{color:#0043bc;}
x{color:#0043ef;}
.{color:#004422;}
x{color:#004455;}
.{color:#004488;}
x{color:#0044bb;}
.{color:#0044ee;}
x{color:#004521;}
.{color:#004554;}
x{color:#004587;}
.{color:#0045ba;}
x{color:#0045ed;}
.{color:#004620;}
x{color:#004653;}
.{color:#004686;}
x{color:#0046b9;}
.{color:#0046ec;}
x{color:#00471f;}
.{color:#004752;}
x{color:#004785;}
.{color:#0047b8;}
x{color:#0047eb;}
.{color:#00481e;}
x{color:#004851;}
.{color:#004884;}
x{color:#0048b7;}
.{color:#0048ea;}
x{color:#00491d;}
.{color:#004950;}
x{color:#004983;}
.{color:#0049b6;}
x{color:#0049e9;}
.{color:#004a1c;}
x{color:#004a4f;}
.{color:#004a82;}
x{color:#004ab5;}
.{color:#004ae8;}
x{color:#004b1b;}
.{color:#004b4e;}
x{color:#004b81;}
.{color:#004bb4;}
x{color:#004be7;}
.{color:#004c1a;}
x{color:#004c4d;}
.{color:#004c80;}
x{color:#004cb3;}
.{color:#004ce6;}
x{color:#004d19;}
.{color:#004d4c;}
x{color:#004d7f;}
.{color:#004db2;}
x{color:#004de5;}
.{color:#004e18;}
x{color:#004e4b;}
.{color:#004e7e;}
x{color:#004eb1;}
.{color:#004ee4;}
x{color:#004f17;}
.{color:#004f4a;}
x{color:#004f7d;}
.{color:#004fb0;}
x{color:#004fe3;}
.{color:#005016;}
x{color:#005049;}
.{color:#00507c;}
x{color:#0050af;}
.{color:#0050e2;}
x{color:#005115;}
.{color:#005148;}
x{color:#00517b;}
.{color:#0051ae;}
x{color:#0051e1;}
.{color:#005214;}
x{color:#005247;}
.{color:#00527a;}
x{color:#0052ad;}
.{color:#0052e0;}
x{color:#005313;}
.{color:#005346;}
x{color:#005379;}
.{color:#0053ac;}
x{color:#0053df;}
.{color:#005412;}
x{color:#005445;}
.{color:#005478;}
x{color:#0054ab;}
.{color:#0054de;}
x{color:#005511;}
.{color:#005544;}
x{color:#005577;}
.{color:#0055aa;}
x{color:#0055dd;}
.{color:#005610;}
x{color:#005643;}
.{color:#005676;}
x{color:#0056a9;}
.{color:#0056dc;}
x{color:#00570f;}
.{color:#005742;}
x{color:#005775;}
.{color:#0057a8;}
x{color:#0057db;}
.{color:#00580e;}
x{color:#005841;}
.{color:#005874;}
x{color:#0058a7;}
.{color:#0058da;}
x{color:#00590d;}
.{color:#005940;}
x{color:#005973;}
.{color:#0059a6;}
x{color:#0059d9;}
.{color:#005a0c;}
x{color:#005a3f;}
.{color:#005a72;}
x{color:#005aa5;}
.{color:#005ad8;}
x{color:#005b0b;}
.{color:#005b3e;}
x{color:#005b71;}
.{color:#005ba4;}
x{color:#005bd7;}
.{color:#005c0a;}
x{color:#005c3d;}
.{color:#005c70;}
x{color:#005ca3;}
.{color:#005cd6;}
x{color:#005d09;}
.{color:#005d3c;}
x{color:#005d6f;}
.{color:#005da2;}
x{color:#005dd5;}
.{color:#005e08;}
x{color:#005e3b;}
.{color:#005e6e;}
x{color:#005ea1;}
.{color:#005ed4;}
x{color:#005f07;}
.{color:#005f3a;}
x{color:#005f6d;}
.{color:#005fa0;}
x{color:#005fd3;}
.{color:#006006;}
x{color:#006039;}
.{color:#00606c;}
x{color:#00609f;}
.{color:#0060d2;}
x{color:#006105;}
.{color:#006138;}
x{color:#00616b;}
.{color:#00619e;}
x{color:#0061d1;}
.{color:#006204;}
x{color:#006237;}
.{color:#00626a;}
x{color:#00629d;}
.{color:#0062d0;}
x{color:#006303;}
.{color:#006336;}
x{color:#006369;}
.{color:#00639c;}
x{color:#0063cf;}
.{color:#006402;}
x{color:#006435;}
.{color:#006468;}
x{color:#00649b;}
.{color:#0064ce;}
x{color:#006501;}
.{color:#006534;}
x{color:#006567;}
.{color:#00659a;}
x{color:#0065cd;}
.{color:#006600;}
x{color:#006633;}
.{color:#006666;}
x{color:#006699;}
.{color:#0066cc;}
x{color:#0066ff;}
.{color:#006732;}
x{color:#006765;}
.{color:#006798;}
x{color:#0067cb;}
.{color:#0067fe;}
x{color:#006831;}
.{color:#006864;}
x{color:#006897;}
.{color:#0068ca;}
x{color:#0068fd;}
.{color:#006930;}
x{color:#006963;}
.{color:#006996;}
x{color:#0069c9;}
.{color:#0069fc;}
x{color:#006a2f;}
.{color:#006a62;}
x{color:#006a95;}
.{color:#006ac8;}
x{color:#006afb;}
.{color:#006b2e;}
x{color:#006b61;}
.{color:#006b94;}
x{color:#006bc7;}
.{color:#006bfa;}
x{color:#006c2d;}
.{color:#006c60;}
x{color:#006c93;}
.{color:#006cc6;}
x{color:#006cf9;}
.{color:#006d2c;}
x{color:#006d5f;}
.{color:#006d92;}
x{color:#006dc5;}
.{color:#006df8;}
x{color:#006e2b;}
.{color:#006e5e;}
x{color:#006e91;}
.{color:#006ec4;}
x{color:#006ef7;}
.{color:#006f2a;}
x{color:#006f5d;}
.{color:#006f90;}
x{color:#006fc3;}
.{color:#006ff6;}
x{color:#007029;}
.{color:#00705c;}
x{color:#00708f;}
.{color:#0070c2;}
x{color:#0070f5;}
.{color:#007128;}
x{color:#00715b;}
.{color:#00718e;}
x{color:#0071c1;}
.{color:#0071f4;}
x{color:#007227;}
.{color:#00725a;}
x{color:#00728d;}
.{color:#0072c0;}
x{color:#0072f3;}
.{color:#007326;}
x{color:#007359;}
.{color:#00738c;}
x{color:#0073bf;}
.{color:#0073f2;}
x{color:#007425;}
.{color:#007458;}
x{color:#00748b;}
.{color:#0074be;}
x{color:#0074f1;}
.{color:#007524;}
x{color:#007557;}
.{color:#00758a;}
x{color:#0075bd;}
.{color:#0075f0;}
x{color:#007623;}
.{color:#007656;}
x{color:#007689;}
.{color:#0076bc;}
x{color:#0076ef;}
.{color:#007722;}
x{color:#007755;}
.{color:#007788;}
x{color:#0077bb;}
.{color:#0077ee;}
x{color:#007821;}
.{color:#007854;}
x{color:#007887;}
.{color:#0078ba;}
x{color:#0078ed;}
.{color:#007920;}
x{color:#007953;}
.{color:#007986;}
x{color:#0079b9;}
.{color:#0079ec;}
x{color:#007a1f;}
.{color:#007a52;}
x{color:#007a85;}
.{color:#007ab8;}
x{color:#007aeb;}
.{color:#007b1e;}
x{color:#007b51;}
.{color:#007b84;}
x{color:#007bb7;}
.{color:#007bea;}
x{color:#007c1d;}
.{color:#007c50;}
x{color:#007c83;}
.{color:#007cb6;}
x{color:#007ce9;}
.{color:#007d1c;}
x{color:#007d4f;}
.{color:#007d82;}
x{color:#007db5;}
.{color:#007de8;}
x{color:#007e1b;}
.{color:#007e4e;}
x{color:#007e81;}
.{color:#007eb4;}
x{color:#007ee7;}
.{color:#007f1a;}
x{color:#007f4d;}
.{color:#007f80;}
x{color:#007fb3;}
.{color:#007fe6;}
x{color:#008019;}
.{color:#00804c;}
x{color:#00807f;}
.{color:#0080b2;}
x{color:#0080e5;}
.{color:#008118;}
x{color:#00814b;}
.{color:#00817e;}
x{color:#0081b1;}
.{color:#0081e4;}
x{color:#008217;}
.{color:#00824a;}
x{color:#00827d;}
.{color:#0082b0;}
x{color:#0082e3;}
.{color:#008316;}
x{color:#008349;}
.{color:#00837c;}
x{color:#0083af;}
.{color:#0083e2;}
x{color:#008415;}
.{color:#008448;}
x{color:#00847b;}
.{color:#0084ae;}
x{color:#0084e1;}
.{color:#008514;}
x{color:#008547;}
.{color:#00857a;}
x{color:#0085ad;}
.{color:#0085e0;}
x{color:#008613;}
.{color:#008646;}
x{color:#008679;}
.{color:#0086ac;}
x{color:#0086df;}
.{color:#008712;}
x{color:#008745;}
.{color:#008778;}
x{color:#0087ab;}
.{color:#0087de;}
x{color:#008811;}
.{color:#008844;}
x{color:#008877;}
.{color:#0088aa;}
x{color:#0088dd;}
.{color:#008910;}
x{color:#008943;}
.{color:#008976;}
x{color:#0089a9;}
.{color:#0089dc;}
x{color:#008a0f;}
.{color:#008a42;}
x{color:#008a75;}
.{color:#008aa8;}
x{color:#008adb;}
.{color:#008b0e;}
x{color:#008b41;}
.{color:#008b74;}
x{color:#008ba7;}
.{color:#008bda;}
x{color:#008c0d;}
.{color:#008c40;}
x{color:#008c73;}
.{color:#008ca6;}
x{color:#008cd9;}
.{color:#008d0c;}
x{color:#008d3f;}
.{color:#008d72;}
x{color:#008da5;}
.{color:#008dd8;}
x{color:#008e0b;}
.{color:#008e3e;}
x{color:#008e71;}
.{color:#008ea4;}
x{color:#008ed7;}
.{color:#008f0a;}
x{color:#008f3d;}
.{color:#008f70;}
x{color:#008fa3;}
.{color:#008fd6;}
x{color:#009009;}
.{color:#00903c;}
x{color:#00906f;}
.{color:#0090a2;}
x{color:#0090d5;}
.{color:#009108;}
x{color:#00913b;}
.{color:#00916e;}
x{color:#0091a1;}
.{color:#0091d4;}
x{color:#009207;}
.{color:#00923a;}
x{color:#00926d;}
.{color:#0092a0;}
x{color:#0092d3;}
.{color:#009306;}
x{color:#009339;}
.{color:#00936c;}
x{color:#00939f;}
.{color:#0093d2;}
x{color:#009405;}
.{color:#009438;}
x{color:#00946b;}
.{color:#00949e;}
x{color:#0094d1;}
.{color:#009504;}
x{color:#009537;}
.{color:#00956a;}
x{color:#00959d;}
.{color:#0095d0;}
x{color:#009603;}
.{color:#009636;}
x{color:#009669;}
.{color:#00969c;}
x{color:#0096cf;}
.{color:#009702;}
x{color:#009735;}
.{color:#009768;}
x{color:#00979b;}
.{color:#0097ce;}
x{color:#009801;}
.{color:#009834;}
x{color:#009867;}
.{color:#00989a;}
x{color:#0098cd;}
.{color:#009900;}
x{color:#009933;}
.{color:#009966;}
x{color:#009999;}
.{color:#0099cc;}
x{color:#0099ff;}
.{color:#009a32;}
x{color:#009a65;}
.{color:#009a98;}
x{color:#009acb;}
.{color:#009afe;}
x{color:#009b31;}
.{color:#009b64;}
x{color:#009b97;}
.{color:#009bca;}
x{color:#009bfd;}
.{color:#009c30;}
x{color:#009c63;}
.{color:#009c96;}
x{color:#009cc9;}
.{color:#009cfc;}
x{color:#009d2f;}
.{color:#009d62;}
x{color:#009d95;}
.{color:#009dc8;}
x{color:#009dfb;}
.{color:#009e2e;}
x{color:#009e61;}
.{color:#009e94;}
x{color:#009ec7;}
.{color:#009efa;}
x{color:#009f2d;}
.{color:#009f60;}
x{color:#009f93;}
.{color:#009fc6;}
x{color:#009ff9;}
.{color:#00a02c;}
x{color:#00a05f;}
.{color:#00a092;}
x{color:#00a0c5;}
.{color:#00a0f8;}
x{color:#00a12b;}
.{color:#00a15e;}
x{color:#00a191;}
.{color:#00a1c4;}
x{color:#00a1f7;}
.{color:#00a22a;}
x{color:#00a25d;}
.{color:#00a290;}
x{color:#00a2c3;}
.{color:#00a2f6;}
x{color:#00a329;}
.{color:#00a35c;}
x{color:#00a38f;}
.{color:#00a3c2;}
x{color:#00a3f5;}
.{color:#00a428;}
x{color:#00a45b;}
.{color:#00a48e;}
x{color:#00a4c1;}
.{color:#00a4f4;}
x{color:#00a527;}
.{color:#00a55a;}
x{color:#00a58d;}
.{color:#00a5c0;}
x{color:#00a5f3;}
.{color:#00a626;}
x{color:#00a659;}
.{color:#00a68c;}
x{color:#00a6bf;}
.{color:#00a6f2;}
x{color:#00a725;}
.{color:#00a758;}
x{color:#00a78b;}
.{color:#00a7be;}
x{color:#00a7f1;}
.{color:#00a824;}
x{color:#00a857;}
.{color:#00a88a;}
x{color:#00a8bd;}
.{color:#00a8f0;}
x{color:#00a923;}
.{color:#00a956;}
x{color:#00a989;}
.{color:#00a9bc;}
x{color:#00a9ef;}
.{color:#00aa22;}
x{color:#00aa55;}
.{color:#00aa88;}
x{color:#00aabb;}
.{color:#00aaee;}
x{color:#00ab21;}
.{color:#00ab54;}
x{color:#00ab87;}
.{color:#00abba;}
x{color:#00abed;}
.{color:#00ac20;}
x{color:#00ac53;}
.{color:#00ac86;}
x{color:#00acb9;}
.{color:#00acec;}
x{color:#00ad1f;}
.{color:#00ad52;}
x{color:#00ad85;}
.{color:#00adb8;}
x{color:#00adeb;}
.{color:#00ae1e;}
x{color:#00ae51;}
.{color:#00ae84;}
x{color:#00aeb7;}
.{color:#00aeea;}
x{color:#00af1d;}
.{color:#00af50;}
x{color:#00af83;}
.{color:#00afb6;}
x{color:#00afe9;}
.{color:#00b01c;}
x{color:#00b04f;}
.{color:#00b082;}
x{color:#00b0b5;}
.{color:#00b0e8;}
x{color:#00b11b;}
.{color:#00b14e;}
x{color:#00b181;}
.{color:#00b1b4;}
x{color:#00b1e7;}
.{color:#00b21a;}
x{color:#00b24d;}
.{color:#00b280;}
x{color:#00b2b3;}
.{color:#00b2e6;}
x{color:#00b319;}
.{color:#00b34c;}
x{color:#00b37f;}
.{color:#00b3b2;}
x{color:#00b3e5;}
.{color:#00b418;}
x{color:#00b44b;}
.{color:#00b47e;}
x{color:#00b4b1;}
.{color:#00b4e4;}
x{color:#00b517;}
.{color:#00b54a;}
x{color:#00b57d;}
.{color:#00b5b0;}
x{color:#00b5e3;}
.{color:#00b616;}
x{color:#00b649;}
.{color:#00b67c;}
x{color:#00b6af;}
.{color:#00b6e2;}
x{color:#00b715;}
.{color:#00b748;}
x{color:#00b77b;}
.{color:#00b7ae;}
x{color:#00b7e1;}
.{color:#00b814;}
x{color:#00b847;}
.{color:#00b87a;}
x{color:#00b8ad;}
.{color:#00b8e0;}
x{color:#00b913;}
.{color:#00b946;}
x{color:#00b979;}
.{color:#00b9ac;}
x{color:#00b9df;}
.{color:#00ba12;}
x{color:#00ba45;}
.{color:#00ba78;}
x{color:#00baab;}
.{color:#00bade;}
x{color:#00bb11;}
.{color:#00bb44;}
x{color:#00bb77;}
.{color:#00bbaa;}
x{color:#00bbdd;}
.{color:#00bc10;}
x{color:#00bc43;}
.{color:#00bc76;}
x{color:#00bca9;}
.{color:#00bcdc;}
x{color:#00bd0f;}
.{color:#00bd42;}
x{color:#00bd75;}
.{color:#00bda8;}
x{color:#00bddb;}
.{color:#00be0e;}
x{color:#00be41;}
.{color:#00be74;}
x{color:#00bea7;}
.{color:#00beda;}
x{color:#00bf0d;}
.{color:#00bf40;}
x{color:#00bf73;}
.{color:#00bfa6;}
x{color:#00bfd9;}
.{color:#00c00c;}
x{color:#00c03f;}
.{color:#00c072;}
x{color:#00c0a5;}
.{color:#00c0d8;}
x{color:#00c10b;}
.{color:#00c13e;}
x{color:#00c171;}
.{color:#00c1a4;}
x{color:#00c1d7;}
.{color:#00c20a;}
x{color:#00c23d;}
.{color:#00c270;}
x{color:#00c2a3;}
.{color:#00c2d6;}
x{color:#00c309;}
.{color:#00c33c;}
x{color:#00c36f;}
.{color:#00c3a2;}
x{color:#00c3d5;}
.{color:#00c408;}
x{color:#00c43b;}
.{color:#00c46e;}
x{color:#00c4a1;}
.{color:#00c4d4;}
x{color:#00c507;}
.{color:#00c53a;}
x{color:#00c56d;}
.{color:#00c5a0;}
x{color:#00c5d3;}
.{color:#00c606;}
x{color:#00c639;}
.{color:#00c66c;}
x{color:#00c69f;}
.{color:#00c6d2;}
x{color:#00c705;}
