/* css */
.{color:#000000;}
x{color:#000077;}
.{color:#0000ee;}
x{color:#000165;}
.{color:#0001dc;}
x{color:#000253;}
.{color:#0002ca;}
x{color:#000341;}
.{color:#0003b8;}
x{color:#00042f;}
.{color:#0004a6;}
x{color:#00051d;}
.{color:#000594;}
x{color:#00060b;}
.{color:#000682;}
x{color:#0006f9;}
.{color:#000770;}
x{color:#0007e7;}
.{color:#00085e;}
x{color:#0008d5;}
.{color:#00094c;}
x{color:#0009c3;}
.{color:#000a3a;}
x{color:#000ab1;}
.{color:#000b28;}
x{color:#000b9f;}
.{color:#000c16;}
x{color:#000c8d;}
.{color:#000d04;}
x{color:#000d7b;}
.{color:#000df2;}
x{color:#000e69;}
.{color:#000ee0;}
x{color:#000f57;}
.{color:#000fce;}
x{color:#001045;}
.{color:#0010bc;}
x{color:#001133;}
.{color:#0011aa;}
x{color:#001221;}
.{color:#001298;}
x{color:#00130f;}
.{color:#001386;}
x{color:#0013fd;}
.{color:#001474;}
x{color:#0014eb;}
.{color:#001562;}
x{color:#0015d9;}
.{color:#001650;}
x{color:#0016c7;}
.{color:#00173e;}
x{color:#0017b5;}
.{color:#00182c;}
x{color:#0018a3;}
.{color:#00191a;}
x{color:#001991;}
.{color:#001a08;}
x{color:#001a7f;}
.{color:#001af6;}
x{color:#001b6d;}
.{color:#001be4;}
x{color:#001c5b;}
.{color:#001cd2;}
x{color:#001d49;}
.{color:#001dc0;}
x{color:#001e37;}
.{color:#001eae;}
x{color:#001f25;}
.{color:#001f9c;}
x{color:#002013;}
.{color:#00208a;}
x{color:#002101;}
.{color:#002178;}
x{color:#0021ef;}
.{color:#002266;}
x{color:#0022dd;}
.{color:#002354;}
x{color:#0023cb;}
.{color:#002442;}
x{color:#0024b9;}
.{color:#002530;}
x{color:#0025a7;}
.{color:#00261e;}
x{color:#002695;}
.{color:#00270c;}
x{color:#002783;}
.{color:#0027fa;}
x{color:#002871;}
.{color:#0028e8;}
x{color:#00295f;}
.{color:#0029d6;}
x{color:#002a4d;}
.{color:#002ac4;}
x{color:#002b3b;}
.{color:#002bb2;}
x{color:#002c29;}
.{color:#002ca0;}
x{color:#002d17;}
.{color:#002d8e;}
x{color:#002e05;}
.{color:#002e7c;}
x{color:#002ef3;}
.{color:#002f6a;}
x{color:#002fe1;}
.{color:#003058;}
x{color:#0030cf;}
.{color:#003146;}
x{color:#0031bd;}
.{color:#003234;}
x{color:#0032ab;}
.{color:#003322;}
x{color:#003399;}
.{color:#003410;}
x{color:#003487;}
.{color:#0034fe;}
x{color:#003575;}
.{color:#0035ec;}
x{color:#003663;}
.{color:#0036da;}
x{color:#003751;}
.{color:#0037c8;}
x{color:#00383f;}
.{color:#0038b6;}
x{color:#00392d;}
.{color:#0039a4;}
x{color:#003a1b;}
.{color:#003a92;}
x{color:#003b09;}
.{color:#003b80;}
x{color:#003bf7;}
.{color:#003c6e;}
x{color:#003ce5;}
.{color:#003d5c;}
x{color:#003dd3;}
.{color:#003e4a;}
x{color:#003ec1;}
.{color:#003f38;}
x{color:#003faf;}
.{color:#004026;}
x{color:#00409d;}
.{color:#004114;}
x{color:#00418b;}
.{color:#004202;}
x{color:#004279;}
.{color:#0042f0;}
x{color:#004367;}
.{color:#0043de;}
x{color:#004455;}
.{color:#0044cc;}
x{color:#004543;}
.{color:#0045ba;}
x{color:#004631;}
.{color:#0046a8;}
x{color:#00471f;}
.{color:#004796;}
x{color:#00480d;}
.{color:#004884;}
x{color:#0048fb;}
.{color:#004972;}
x{color:#0049e9;}
.{color:#004a60;}
x{color:#004ad7;}
.{color:#004b4e;}
x{color:#004bc5;}
.{color:#004c3c;}
x{color:#004cb3;}
.{color:#004d2a;}
x{color:#004da1;}
.{color:#004e18;}
x{color:#004e8f;}
.{color:#004f06;}
x{color:#004f7d;}
.{color:#004ff4;}
x{color:#00506b;}
.{color:#0050e2;}
x{color:#005159;}
.{color:#0051d0;}
x{color:#005247;}
.{color:#0052be;}
x{color:#005335;}
.{color:#0053ac;}
x{color:#005423;}
.{color:#00549a;}
x{color:#005511;}
.{color:#005588;}
x{color:#0055ff;}
.{color:#005676;}
x{color:#0056ed;}
.{color:#005764;}
x{color:#0057db;}
.{color:#005852;}
x{color:#0058c9;}
.{color:#005940;}
x{color:#0059b7;}
.{color:#005a2e;}
x{color:#005aa5;}
.{color:#005b1c;}
x{color:#005b93;}
.{color:#005c0a;}
x{color:#005c81;}
.{color:#005cf8;}
x{color:#005d6f;}
.{color:#005de6;}
x{color:#005e5d;}
.{color:#005ed4;}
x{color:#005f4b;}
.{color:#005fc2;}
x{color:#006039;}
.{color:#0060b0;}
x{color:#006127;}
.{color:#00619e;}
x{color:#006215;}
.{color:#00628c;}
x{color:#006303;}
.{color:#00637a;}
x{color:#0063f1;}
.{color:#006468;}
x{color:#0064df;}
.{color:#006556;}
x{color:#0065cd;}
.{color:#006644;}
x{color:#0066bb;}
.{color:#006732;}
x{color:#0067a9;}
.{color:#006820;}
x{color:#006897;}
.{color:#00690e;}
x{color:#006985;}
.{color:#0069fc;}
x{color:#006a73;}
.{color:#006aea;}
x{color:#006b61;}
.{color:#006bd8;}
x{color:#006c4f;}
.{color:#006cc6;}
x{color:#006d3d;}
.{color:#006db4;}
x{color:#006e2b;}
.{color:#006ea2;}
x{color:#006f19;}
.{color:#006f90;}
x{color:#007007;}
.{color:#00707e;}
x{color:#0070f5;}
.{color:#00716c;}
x{color:#0071e3;}
.{color:#00725a;}
x{color:#0072d1;}
.{color:#007348;}
x{color:#0073bf;}
.{color:#007436;}
x{color:#0074ad;}
.{color:#007524;}
x{color:#00759b;}
.{color:#007612;}
x{color:#007689;}
.{color:#007700;}
x{color:#007777;}
.{color:#0077ee;}
x{color:#007865;}
.{color:#0078dc;}
x{color:#007953;}
.{color:#0079ca;}
x{color:#007a41;}
.{color:#007ab8;}
x{color:#007b2f;}
.{color:#007ba6;}
x{color:#007c1d;}
.{color:#007c94;}
x{color:#007d0b;}
.{color:#007d82;}
x{color:#007df9;}
.{color:#007e70;}
x{color:#007ee7;}
.{color:#007f5e;}
x{color:#007fd5;}
.{color:#00804c;}
x{color:#0080c3;}
.{color:#00813a;}
x{color:#0081b1;}
.{color:#008228;}
x{color:#00829f;}
.{color:#008316;}
x{color:#00838d;}
.{color:#008404;}
x{color:#00847b;}
.{color:#0084f2;}
x{color:#008569;}
.{color:#0085e0;}
x{color:#008657;}
.{color:#0086ce;}
x{color:#008745;}
.{color:#0087bc;}
x{color:#008833;}
.{color:#0088aa;}
x{color:#008921;}
.{color:#008998;}
x{color:#008a0f;}
.{color:#008a86;}
x{color:#008afd;}
.{color:#008b74;}
x{color:#008beb;}
.{color:#008c62;}
x{color:#008cd9;}
.{color:#008d50;}
x{color:#008dc7;}
.{color:#008e3e;}
x{color:#008eb5;}
.{color:#008f2c;}
x{color:#008fa3;}
.{color:#00901a;}
x{color:#009091;}
.{color:#009108;}
x{color:#00917f;}
.{color:#0091f6;}
x{color:#00926d;}
.{color:#0092e4;}
x{color:#00935b;}
.{color:#0093d2;}
x{color:#009449;}
.{color:#0094c0;}
x{color:#009537;}
.{color:#0095ae;}
x{color:#009625;}
.{color:#00969c;}
x{color:#009713;}
.{color:#00978a;}
x{color:#009801;}
.{color:#009878;}
x{color:#0098ef;}
.{color:#009966;}
x{color:#0099dd;}
.{color:#009a54;}
x{color:#009acb;}
.{color:#009b42;}
x{color:#009bb9;}
.{color:#009c30;}
x{color:#009ca7;}
.{color:#009d1e;}
x{color:#009d95;}
.{color:#009e0c;}
x{color:#009e83;}
.{color:#009efa;}
x{color:#009f71;}
.{color:#009fe8;}
x{color:#00a05f;}
.{color:#00a0d6;}
x{color:#00a14d;}
.{color:#00a1c4;}
x{color:#00a23b;}
.{color:#00a2b2;}
x{color:#00a329;}
.{color:#00a3a0;}
x{color:#00a417;}
.{color:#00a48e;}
x{color:#00a505;}
.{color:#00a57c;}
x{color:#00a5f3;}
.{color:#00a66a;}
x{color:#00a6e1;}
.{color:#00a758;}
x{color:#00a7cf;}
.{color:#00a846;}
x{color:#00a8bd;}
.{color:#00a934;}
x{color:#00a9ab;}
.{color:#00aa22;}
x{color:#00aa99;}
.{color:#00ab10;}
x{color:#00ab87;}
.{color:#00abfe;}
x{color:#00ac75;}
.{color:#00acec;}
x{color:#00ad63;}
.{color:#00adda;}
x{color:#00ae51;}
.{color:#00aec8;}
x{color:#00af3f;}
.{color:#00afb6;}
x{color:#00b02d;}
.{color:#00b0a4;}
x{color:#00b11b;}
.{color:#00b192;}
x{color:#00b209;}
.{color:#00b280;}
x{color:#00b2f7;}
.{color:#00b36e;}
x{color:#00b3e5;}
.{color:#00b45c;}
x{color:#00b4d3;}
.{color:#00b54a;}
x{color:#00b5c1;}
.{color:#00b638;}
x{color:#00b6af;}
.{color:#00b726;}
x{color:#00b79d;}
.{color:#00b814;}
x{color:#00b88b;}
.{color:#00b902;}
x{color:#00b979;}
.{color:#00b9f0;}
x{color:#00ba67;}
.{color:#00bade;}
x{color:#00bb55;}
.{color:#00bbcc;}
x{color:#00bc43;}
.{color:#00bcba;}
x{color:#00bd31;}
.{color:#00bda8;}
x{color:#00be1f;}
.{color:#00be96;}
x{color:#00bf0d;}
.{color:#00bf84;}
x{color:#00bffb;}
.{color:#00c072;}
x{color:#00c0e9;}
.{color:#00c160;}
x{color:#00c1d7;}
.{color:#00c24e;}
x{color:#00c2c5;}
.{color:#00c33c;}
x{color:#00c3b3;}
.{color:#00c42a;}
x{color:#00c4a1;}
.{color:#00c518;}
x{color:#00c58f;}
.{color:#00c606;}
x{color:#00c67d;}
.{color:#00c6f4;}
x{color:#00c76b;}
.{color:#00c7e2;}
x{color:#00c859;}
.{color:#00c8d0;}
x{color:#00c947;}
.{color:#00c9be;}
x{color:#00ca35;}
.{color:#00caac;}
x{color:#00cb23;}
.{color:#00cb9a;}
x{color:#00cc11;}
.{color:#00cc88;}
x{color:#00ccff;}
.{color:#00cd76;}
x{color:#00cded;}
.{color:#00ce64;}
x{color:#00cedb;}
.{color:#00cf52;}
x{color:#00cfc9;}
.{color:#00d040;}
x{color:#00d0b7;}
.{color:#00d12e;}
x{color:#00d1a5;}
.{color:#00d21c;}
x{color:#00d293;}
.{color:#00d30a;}
x{color:#00d381;}
.{color:#00d3f8;}
x{color:#00d46f;}
.{color:#00d4e6;}
x{color:#00d55d;}
.{color:#00d5d4;}
x{color:#00d64b;}
.{color:#00d6c2;}
x{color:#00d739;}
.{color:#00d7b0;}
x{color:#00d827;}
.{color:#00d89e;}
x{color:#00d915;}
.{color:#00d98c;}
x{color:#00da03;}
.{color:#00da7a;}
x{color:#00daf1;}
.{color:#00db68;}
x{color:#00dbdf;}
.{color:#00dc56;}
x{color:#00dccd;}
.{color:#00dd44;}
x{color:#00ddbb;}
.{color:#00de32;}
x{color:#00dea9;}
.{color:#00df20;}
x{color:#00df97;}
.{color:#00e00e;}
x{color:#00e085;}
.{color:#00e0fc;}
x{color:#00e173;}
.{color:#00e1ea;}
x{color:#00e261;}
.{color:#00e2d8;}
x{color:#00e34f;}
.{color:#00e3c6;}
x{color:#00e43d;}
.{color:#00e4b4;}
x{color:#00e52b;}
.{color:#00e5a2;}
x{color:#00e619;}
.{color:#00e690;}
x{color:#00e707;}
.{color:#00e77e;}
x{color:#00e7f5;}
.{color:#00e86c;}
x{color:#00e8e3;}
.{color:#00e95a;}
x{color:#00e9d1;}
.{color:#00ea48;}
x{color:#00eabf;}
.{color:#00eb36;}
x{color:#00ebad;}
.{color:#00ec24;}
x{color:#00ec9b;}
.{color:#00ed12;}
x{color:#00ed89;}
.{color:#00ee00;}
x{color:#00ee77;}
.{color:#00eeee;}
x{color:#00ef65;}
.{color:#00efdc;}
x{color:#00f053;}
.{color:#00f0ca;}
x{color:#00f141;}
.{color:#00f1b8;}
x{color:#00f22f;}
.{color:#00f2a6;}
x{color:#00f31d;}
.{color:#00f394;}
x{color:#00f40b;}
.{color:#00f482;}
x{color:#00f4f9;}
.{color:#00f570;}
x{color:#00f5e7;}
.{color:#00f65e;}
x{color:#00f6d5;}
.{color:#00f74c;}
x{color:#00f7c3;}
.{color:#00f83a;}
x{color:#00f8b1;}
.{color:#00f928;}
x{color:#00f99f;}
.{color:#00fa16;}
x{color:#00fa8d;}
.{color:#00fb04;}
x{color:#00fb7b;}
.{color:#00fbf2;}
x{color:#00fc69;}
.{color:#00fce0;}
x{color:#00fd57;}
.{color:#00fdce;}
x{color:#00fe45;}
.{color:#00febc;}
x{color:#00ff33;}
.{color:#00ffaa;}
x{color:#010021;}
.{color:#010098;}
x{color:#01010f;}
.{color:#010186;}
x{color:#0101fd;}
.{color:#010274;}
x{color:#0102eb;}
.{color:#010362;}
x{color:#0103d9;}
.{color:#010450;}
x{color:#0104c7;}
.{color:#01053e;}
x{color:#0105b5;}
.{color:#01062c;}
x{color:#0106a3;}
.{color:#01071a;}
x{color:#010791;}
.{color:#010808;}
x{color:#01087f;}
.{color:#0108f6;}
x{color:#01096d;}
.{color:#0109e4;}
x{color:#010a5b;}
.{color:#010ad2;}
x{color:#010b49;}
.{color:#010bc0;}
x{color:#010c37;}
.{color:#010cae;}
x{color:#010d25;}
.{color:#010d9c;}
x{color:#010e13;}
.{color:#010e8a;}
x{color:#010f01;}
.{color:#010f78;}
x{color:#010fef;}
.{color:#011066;}
x{color:#0110dd;}
.{color:#011154;}
x{color:#0111cb;}
.{color:#011242;}
x{color:#0112b9;}
.{color:#011330;}
x{color:#0113a7;}
.{color:#01141e;}
x{color:#011495;}
.{color:#01150c;}
x{color:#011583;}
.{color:#0115fa;}
x{color:#011671;}
.{color:#0116e8;}
x{color:#01175f;}
.{color:#0117d6;}
x{color:#01184d;}
.{color:#0118c4;}
x{color:#01193b;}
.{color:#0119b2;}
x{color:#011a29;}
.{color:#011aa0;}
x{color:#011b17;}
.{color:#011b8e;}
x{color:#011c05;}
.{color:#011c7c;}
x{color:#011cf3;}
.{color:#011d6a;}
x{color:#011de1;}
.{color:#011e58;}
x{color:#011ecf;}
.{color:#011f46;}
x{color:#011fbd;}
.{color:#012034;}
x{color:#0120ab;}
.{color:#012122;}
x{color:#012199;}
.{color:#012210;}
x{color:#012287;}
.{color:#0122fe;}
x{color:#012375;}
.{color:#0123ec;}
x{color:#012463;}
.{color:#0124da;}
x{color:#012551;}
.{color:#0125c8;}
x{color:#01263f;}
.{color:#0126b6;}
x{color:#01272d;}
.{color:#0127a4;}
x{color:#01281b;}
.{color:#012892;}
x{color:#012909;}
.{color:#012980;}
x{color:#0129f7;}
.{color:#012a6e;}
x{color:#012ae5;}
.{color:#012b5c;}
x{color:#012bd3;}
.{color:#012c4a;}
x{color:#012cc1;}
.{color:#012d38;}
x{color:#012daf;}
.{color:#012e26;}
x{color:#012e9d;}
.{color:#012f14;}
x{color:#012f8b;}
.{color:#013002;}
x{color:#013079;}
.{color:#0130f0;}
x{color:#013167;}
.{color:#0131de;}
x{color:#013255;}
.{color:#0132cc;}
x{color:#013343;}
.{color:#0133ba;}
x{color:#013431;}
.{color:#0134a8;}
x{color:#01351f;}
.{color:#013596;}
x{color:#01360d;}
.{color:#013684;}
x{color:#0136fb;}
.{color:#013772;}
x{color:#0137e9;}
.{color:#013860;}
x{color:#0138d7;}
.{color:#01394e;}
x{color:#0139c5;}
.{color:#013a3c;}
x{color:#013ab3;}
.{color:#013b2a;}
x{color:#013ba1;}
.{color:#013c18;}
x{color:#013c8f;}
.{color:#013d06;}
x{color:#013d7d;}
.{color:#013df4;}
x{color:#013e6b;}
.{color:#013ee2;}
x{color:#013f59;}
.{color:#013fd0;}
x{color:#014047;}
.{color:#0140be;}
x{color:#014135;}
.{color:#0141ac;}
x{color:#014223;}
.{color:#01429a;}
x{color:#014311;}
.{color:#014388;}
x{color:#0143ff;}
.{color:#014476;}
x{color:#0144ed;}
.{color:#014564;}
x{color:#0145db;}
.{color:#014652;}
x{color:#0146c9;}
.{color:#014740;}
x{color:#0147b7;}
.{color:#01482e;}
x{color:#0148a5;}
.{color:#01491c;}
x{color:#014993;}
.{color:#014a0a;}
x{color:#014a81;}
.{color:#014af8;}
x{color:#014b6f;}
.{color:#014be6;}
x{color:#014c5d;}
.{color:#014cd4;}
x{color:#014d4b;}
.{color:#014dc2;}
x{color:#014e39;}
.{color:#014eb0;}
x{color:#014f27;}
.{color:#014f9e;}
x{color:#015015;}
.{color:#01508c;}
x{color:#015103;}
.{color:#01517a;}
x{color:#0151f1;}
.{color:#015268;}
x{color:#0152df;}
.{color:#015356;}
x{color:#0153cd;}
.{color:#015444;}
x{color:#0154bb;}
.{color:#015532;}
x{color:#0155a9;}
.{color:#015620;}
x{color:#015697;}
.{color:#01570e;}
x{color:#015785;}
.{color:#0157fc;}
x{color:#015873;}
.{color:#0158ea;}
x{color:#015961;}
.{color:#0159d8;}
x{color:#015a4f;}
.{color:#015ac6;}
x{color:#015b3d;}
.{color:#015bb4;}
x{color:#015c2b;}
.{color:#015ca2;}
x{color:#015d19;}
.{color:#015d90;}
x{color:#015e07;}
.{color:#015e7e;}
x{color:#015ef5;}
.{color:#015f6c;}
x{color:#015fe3;}
.{color:#01605a;}
x{color:#0160d1;}
.{color:#016148;}
x{color:#0161bf;}
.{color:#016236;}
x{color:#0162ad;}
.{color:#016324;}
x{color:#01639b;}
.{color:#016412;}
x{color:#016489;}
.{color:#016500;}
x{color:#016577;}
.{color:#0165ee;}
x{color:#016665;}
.{color:#0166dc;}
x{color:#016753;}
.{color:#0167ca;}
x{color:#016841;}
.{color:#0168b8;}
x{color:#01692f;}
.{color:#0169a6;}
x{color:#016a1d;}
.{color:#016a94;}
x{color:#016b0b;}
.{color:#016b82;}
x{color:#016bf9;}
.{color:#016c70;}
x{color:#016ce7;}
.{color:#016d5e;}
x{color:#016dd5;}
.{color:#016e4c;}
x{color:#016ec3;}
.{color:#016f3a;}
x{color:#016fb1;}
.{color:#017028;}
x{color:#01709f;}
.{color:#017116;}
x{color:#01718d;}
.{color:#017204;}
x{color:#01727b;}
.{color:#0172f2;}
x{color:#017369;}
.{color:#0173e0;}
x{color:#017457;}
.{color:#0174ce;}
x{color:#017545;}
.{color:#0175bc;}
x{color:#017633;}
.{color:#0176aa;}
x{color:#017721;}
.{color:#017798;}
x{color:#01780f;}
.{color:#017886;}
x{color:#0178fd;}
.{color:#017974;}
x{color:#0179eb;}
.{color:#017a62;}
x{color:#017ad9;}
.{color:#017b50;}
x{color:#017bc7;}
.{color:#017c3e;}
x{color:#017cb5;}
.{color:#017d2c;}
x{color:#017da3;}
.{color:#017e1a;}
x{color:#017e91;}
.{color:#017f08;}
x{color:#017f7f;}
.{color:#017ff6;}
x{color:#01806d;}
.{color:#0180e4;}
x{color:#01815b;}
.{color:#0181d2;}
x{color:#018249;}
.{color:#0182c0;}
x{color:#018337;}
.{color:#0183ae;}
x{color:#018425;}
.{color:#01849c;}
x{color:#018513;}
.{color:#01858a;}
x{color:#018601;}
.{color:#018678;}
x{color:#0186ef;}
.{color:#018766;}
x{color:#0187dd;}
.{color:#018854;}
x{color:#0188cb;}
.{color:#018942;}
x{color:#0189b9;}
.{color:#018a30;}
x{color:#018aa7;}
.{color:#018b1e;}
x{color:#018b95;}
.{color:#018c0c;}
x{color:#018c83;}
.{color:#018cfa;}
x{color:#018d71;}
.{color:#018de8;}
x{color:#018e5f;}
.{color:#018ed6;}
x{color:#018f4d;}
.{color:#018fc4;}
x{color:#01903b;}
.{color:#0190b2;}
x{color:#019129;}
.{color:#0191a0;}
x{color:#019217;}
.{color:#01928e;}
x{color:#019305;}
.{color:#01937c;}
x{color:#0193f3;}
.{color:#01946a;}
x{color:#0194e1;}
.{color:#019558;}
x{color:#0195cf;}
.{color:#019646;}
x{color:#0196bd;}
.{color:#019734;}
x{color:#0197ab;}
.{color:#019822;}
x{color:#019899;}
.{color:#019910;}
x{color:#019987;}
.{color:#0199fe;}
x{color:#019a75;}
.{color:#019aec;}
x{color:#019b63;}
.{color:#019bda;}
x{color:#019c51;}
.{color:#019cc8;}
x{color:#019d3f;}
.{color:#019db6;}
x{color:#019e2d;}
.{color:#019ea4;}
x{color:#019f1b;}
.{color:#019f92;}
x{color:#01a009;}
.{color:#01a080;}
x{color:#01a0f7;}
.{color:#01a16e;}
x{color:#01a1e5;}
.{color:#01a25c;}
x{color:#01a2d3;}
.{color:#01a34a;}
x{color:#01a3c1;}
.{color:#01a438;}
x{color:#01a4af;}
.{color:#01a526;}
x{color:#01a59d;}
.{color:#01a614;}
x{color:#01a68b;}
.{color:#01a702;}
x{color:#01a779;}
.{color:#01a7f0;}
x{color:#01a867;}
.{color:#01a8de;}
x{color:#01a955;}
.{color:#01a9cc;}
x{color:#01aa43;}
.{color:#01aaba;}
x{color:#01ab31;}
.{color:#01aba8;}
x{color:#01ac1f;}
.{color:#01ac96;}
x{color:#01ad0d;}
.{color:#01ad84;}
x{color:#01adfb;}
.{color:#01ae72;}
x{color:#01aee9;}
.{color:#01af60;}
x{color:#01afd7;}
.{color:#01b04e;}
x{color:#01b0c5;}
.{color:#01b13c;}
x{color:#01b1b3;}
.{color:#01b22a;}
x{color:#01b2a1;}
.{color:#01b318;}
x{color:#01b38f;}
.{color:#01b406;}
x{color:#01b47d;}
.{color:#01b4f4;}
x{color:#01b56b;}
.{color:#01b5e2;}
x{color:#01b659;}
.{color:#01b6d0;}
x{color:#01b747;}
.{color:#01b7be;}
x{color:#01b835;}
.{color:#01b8ac;}
x{color:#01b923;}
.{color:#01b99a;}
x{color:#01ba11;}
.{color:#01ba88;}
x{color:#01baff;}
.{color:#01bb76;}
x{color:#01bbed;}
.{color:#01bc64;}
x{color:#01bcdb;}
.{color:#01bd52;}
x{color:#01bdc9;}
.{color:#01be40;}
x{color:#01beb7;}
.{color:#01bf2e;}
x{color:#01bfa5;}
.{color:#01c01c;}
x{color:#01c093;}
.{color:#01c10a;}
x{color:#01c181;}
.{color:#01c1f8;}
x{color:#01c26f;}
.{color:#01c2e6;}
x{color:#01c35d;}
.{color:#01c3d4;}
x{color:#01c44b;}
.{color:#01c4c2;}
x{color:#01c539;}
.{color:#01c5b0;}
x{color:#01c627;}
.{color:#01c69e;}
x{color:#01c715;}
.{color:#01c78c;}
x{color:#01c803;}
.{color:#01c87a;}
x{color:#01c8f1;}
.{color:#01c968;}
x{color:#01c9df;}
.{color:#01ca56;}
x{color:#01cacd;}
.{color:#01cb44;}
x{color:#01cbbb;}
.{color:#01cc32;}
x{color:#01cca9;}
.{color:#01cd20;}
x{color:#01cd97;}
.{color:#01ce0e;}
x{color:#01ce85;}
.{color:#01cefc;}
x{color:#01cf73;}
.{color:#01cfea;}
x{color:#01d061;}
