/* css */
.{color:#000000;}
x{color:#000022;}
.{color:#000044;}
x{color:#000066;}
.{color:#000088;}
x{color:#0000aa;}
.{color:#0000cc;}
x{color:#0000ee;}
.{color:#000110;}
x{color:#000132;}
.{color:#000154;}
x{color:#000176;}
.{color:#000198;}
x{color:#0001ba;}
.{color:#0001dc;}
x{color:#0001fe;}
.{color:#000220;}
x{color:#000242;}
.{color:#000264;}
x{color:#000286;}
.{color:#0002a8;}
x{color:#0002ca;}
.{color:#0002ec;}
x{color:#00030e;}
.{color:#000330;}
x{color:#000352;}
.{color:#000374;}
x{color:#000396;}
.{color:#0003b8;}
x{color:#0003da;}
.{color:#0003fc;}
x{color:#00041e;}
.{color:#000440;}
x{color:#000462;}
.{color:#000484;}
x{color:#0004a6;}
.{color:#0004c8;}
x{color:#0004ea;}
.{color:#00050c;}
x{color:#00052e;}
.{color:#000550;}
x{color:#000572;}
.{color:#000594;}
x{color:#0005b6;}
.{color:#0005d8;}
x{color:#0005fa;}
.{color:#00061c;}
x{color:#00063e;}
.{color:#000660;}
x{color:#000682;}
.{color:#0006a4;}
x{color:#0006c6;}
.{color:#0006e8;}
x{color:#00070a;}
.{color:#00072c;}
x{color:#00074e;}
.{color:#000770;}
x{color:#000792;}
.{color:#0007b4;}
x{color:#0007d6;}
.{color:#0007f8;}
x{color:#00081a;}
.{color:#00083c;}
x{color:#00085e;}
.{color:#000880;}
x{color:#0008a2;}
.{color:#0008c4;}
x{color:#0008e6;}
.{color:#000908;}
x{color:#00092a;}
.{color:#00094c;}
x{color:#00096e;}
.{color:#000990;}
x{color:#0009b2;}
.{color:#0009d4;}
x{color:#0009f6;}
.{color:#000a18;}
x{color:#000a3a;}
.{color:#000a5c;}
x{color:#000a7e;}
.{color:#000aa0;}
x{color:#000ac2;}
.{color:#000ae4;}
x{color:#000b06;}
.{color:#000b28;}
x{color:#000b4a;}
.{color:#000b6c;}
x{color:#000b8e;}
.{color:#000bb0;}
x{color:#000bd2;}
.{color:#000bf4;}
x{color:#000c16;}
.{color:#000c38;}
x{color:#000c5a;}
.{color:#000c7c;}
x{color:#000c9e;}
.{color:#000cc0;}
x{color:#000ce2;}
.{color:#000d04;}
x{color:#000d26;}
.{color:#000d48;}
x{color:#000d6a;}
.{color:#000d8c;}
x{color:#000dae;}
.{color:#000dd0;}
x{color:#000df2;}
.{color:#000e14;}
x{color:#000e36;}
.{color:#000e58;}
x{color:#000e7a;}
.{color:#000e9c;}
x{color:#000ebe;}
.{color:#000ee0;}
x{color:#000f02;}
.{color:#000f24;}
x{color:#000f46;}
.{color:#000f68;}
x{color:#000f8a;}
.{color:#000fac;}
x{color:#000fce;}
.{color:#000ff0;}
x{color:#001012;}
.{color:#001034;}
x{color:#001056;}
.{color:#001078;}
x{color:#00109a;}
.{color:#0010bc;}
x{color:#0010de;}
.{color:#001100;}
x{color:#001122;}
.{color:#001144;}
x{color:#001166;}
.{color:#001188;}
x{color:#0011aa;}
.{color:#0011cc;}
x{color:#0011ee;}
.{color:#001210;}
x{color:#001232;}
.{color:#001254;}
x{color:#001276;}
.{color:#001298;}
x{color:#0012ba;}
.{color:#0012dc;}
x{color:#0012fe;}
.{color:#001320;}
x{color:#001342;}
.{color:#001364;}
x{color:#001386;}
.{color:#0013a8;}
x{color:#0013ca;}
.{color:#0013ec;}
x{color:#00140e;}
.{color:#001430;}
x{color:#001452;}
.{color:#001474;}
x{color:#001496;}
.{color:#0014b8;}
x{color:#0014da;}
.{color:#0014fc;}
x{color:#00151e;}
.{color:#001540;}
x{color:#001562;}
.{color:#001584;}
x{color:#0015a6;}
.{color:#0015c8;}
x{color:#0015ea;}
.{color:#00160c;}
x{color:#00162e;}
.{color:#001650;}
x{color:#001672;}
.{color:#001694;}
x{color:#0016b6;}
.{color:#0016d8;}
x{color:#0016fa;}
.{color:#00171c;}
x{color:#00173e;}
.{color:#001760;}
x{color:#001782;}
.{color:#0017a4;}
x{color:#0017c6;}
.{color:#0017e8;}
x{color:#00180a;}
.{color:#00182c;}
x{color:#00184e;}
.{color:#001870;}
x{color:#001892;}
.{color:#0018b4;}
x{color:#0018d6;}
.{color:#0018f8;}
x{color:#00191a;}
.{color:#00193c;}
x{color:#00195e;}
.{color:#001980;}
x{color:#0019a2;}
.{color:#0019c4;}
x{color:#0019e6;}
.{color:#001a08;}
x{color:#001a2a;}
.{color:#001a4c;}
x{color:#001a6e;}
.{color:#001a90;}
x{color:#001ab2;}
.{color:#001ad4;}
x{color:#001af6;}
.{color:#001b18;}
x{color:#001b3a;}
.{color:#001b5c;}
x{color:#001b7e;}
.{color:#001ba0;}
x{color:#001bc2;}
.{color:#001be4;}
x{color:#001c06;}
.{color:#001c28;}
x{color:#001c4a;}
.{color:#001c6c;}
x{color:#001c8e;}
.{color:#001cb0;}
x{color:#001cd2;}
.{color:#001cf4;}
x{color:#001d16;}
.{color:#001d38;}
x{color:#001d5a;}
.{color:#001d7c;}
x{color:#001d9e;}
.{color:#001dc0;}
x{color:#001de2;}
.{color:#001e04;}
x{color:#001e26;}
.{color:#001e48;}
x{color:#001e6a;}
.{color:#001e8c;}
x{color:#001eae;}
.{color:#001ed0;}
x{color:#001ef2;}
.{color:#001f14;}
x{color:#001f36;}
.{color:#001f58;}
x{color:#001f7a;}
.{color:#001f9c;}
x{color:#001fbe;}
.{color:#001fe0;}
x{color:#002002;}
.{color:#002024;}
x{color:#002046;}
.{color:#002068;}
x{color:#00208a;}
.{color:#0020ac;}
x{color:#0020ce;}
.{color:#0020f0;}
x{color:#002112;}
.{color:#002134;}
x{color:#002156;}
.{color:#002178;}
x{color:#00219a;}
.{color:#0021bc;}
x{color:#0021de;}
.{color:#002200;}
x{color:#002222;}
.{color:#002244;}
x{color:#002266;}
.{color:#002288;}
x{color:#0022aa;}
.{color:#0022cc;}
x{color:#0022ee;}
.{color:#002310;}
x{color:#002332;}
.{color:#002354;}
x{color:#002376;}
.{color:#002398;}
x{color:#0023ba;}
.{color:#0023dc;}
x{color:#0023fe;}
.{color:#002420;}
x{color:#002442;}
.{color:#002464;}
x{color:#002486;}
.{color:#0024a8;}
x{color:#0024ca;}
.{color:#0024ec;}
x{color:#00250e;}
.{color:#002530;}
x{color:#002552;}
.{color:#002574;}
x{color:#002596;}
.{color:#0025b8;}
x{color:#0025da;}
.{color:#0025fc;}
x{color:#00261e;}
.{color:#002640;}
x{color:#002662;}
.{color:#002684;}
x{color:#0026a6;}
.{color:#0026c8;}
x{color:#0026ea;}
.{color:#00270c;}
x{color:#00272e;}
.{color:#002750;}
x{color:#002772;}
.{color:#002794;}
x{color:#0027b6;}
.{color:#0027d8;}
x{color:#0027fa;}
.{color:#00281c;}
x{color:#00283e;}
.{color:#002860;}
x{color:#002882;}
.{color:#0028a4;}
x{color:#0028c6;}
.{color:#0028e8;}
x{color:#00290a;}
.{color:#00292c;}
x{color:#00294e;}
.{color:#002970;}
x{color:#002992;}
.{color:#0029b4;}
x{color:#0029d6;}
.{color:#0029f8;}
x{color:#002a1a;}
.{color:#002a3c;}
x{color:#002a5e;}
.{color:#002a80;}
x{color:#002aa2;}
.{color:#002ac4;}
x{color:#002ae6;}
.{color:#002b08;}
x{color:#002b2a;}
.{color:#002b4c;}
x{color:#002b6e;}
.{color:#002b90;}
x{color:#002bb2;}
.{color:#002bd4;}
x{color:#002bf6;}
.{color:#002c18;}
x{color:#002c3a;}
.{color:#002c5c;}
x{color:#002c7e;}
.{color:#002ca0;}
x{color:#002cc2;}
.{color:#002ce4;}
x{color:#002d06;}
.{color:#002d28;}
x{color:#002d4a;}
.{color:#002d6c;}
x{color:#002d8e;}
.{color:#002db0;}
x{color:#002dd2;}
.{color:#002df4;}
x{color:#002e16;}
.{color:#002e38;}
x{color:#002e5a;}
.{color:#002e7c;}
x{color:#002e9e;}
.{color:#002ec0;}
x{color:#002ee2;}
.{color:#002f04;}
x{color:#002f26;}
.{color:#002f48;}
x{color:#002f6a;}
.{color:#002f8c;}
x{color:#002fae;}
.{color:#002fd0;}
x{color:#002ff2;}
.{color:#003014;}
x{color:#003036;}
.{color:#003058;}
x{color:#00307a;}
.{color:#00309c;}
x{color:#0030be;}
.{color:#0030e0;}
x{color:#003102;}
.{color:#003124;}
x{color:#003146;}
.{color:#003168;}
x{color:#00318a;}
.{color:#0031ac;}
x{color:#0031ce;}
.{color:#0031f0;}
x{color:#003212;}
.{color:#003234;}
x{color:#003256;}
.{color:#003278;}
x{color:#00329a;}
.{color:#0032bc;}
x{color:#0032de;}
.{color:#003300;}
x{color:#003322;}
.{color:#003344;}
x{color:#003366;}
.{color:#003388;}
x{color:#0033aa;}
.{color:#0033cc;}
x{color:#0033ee;}
.{color:#003410;}
x{color:#003432;}
.{color:#003454;}
x{color:#003476;}
.{color:#003498;}
x{color:#0034ba;}
.{color:#0034dc;}
x{color:#0034fe;}
.{color:#003520;}
x{color:#003542;}
.{color:#003564;}
x{color:#003586;}
.{color:#0035a8;}
x{color:#0035ca;}
.{color:#0035ec;}
x{color:#00360e;}
.{color:#003630;}
x{color:#003652;}
.{color:#003674;}
x{color:#003696;}
.{color:#0036b8;}
x{color:#0036da;}
.{color:#0036fc;}
x{color:#00371e;}
.{color:#003740;}
x{color:#003762;}
.{color:#003784;}
x{color:#0037a6;}
.{color:#0037c8;}
x{color:#0037ea;}
.{color:#00380c;}
x{color:#00382e;}
.{color:#003850;}
x{color:#003872;}
.{color:#003894;}
x{color:#0038b6;}
.{color:#0038d8;}
x{color:#0038fa;}
.{color:#00391c;}
x{color:#00393e;}
.{color:#003960;}
x{color:#003982;}
.{color:#0039a4;}
x{color:#0039c6;}
.{color:#0039e8;}
x{color:#003a0a;}
.{color:#003a2c;}
x{color:#003a4e;}
.{color:#003a70;}
x{color:#003a92;}
.{color:#003ab4;}
x{color:#003ad6;}
.{color:#003af8;}
x{color:#003b1a;}
.{color:#003b3c;}
x{color:#003b5e;}
.{color:#003b80;}
x{color:#003ba2;}
.{color:#003bc4;}
x{color:#003be6;}
.{color:#003c08;}
x{color:#003c2a;}
.{color:#003c4c;}
x{color:#003c6e;}
.{color:#003c90;}
x{color:#003cb2;}
.{color:#003cd4;}
x{color:#003cf6;}
.{color:#003d18;}
x{color:#003d3a;}
.{color:#003d5c;}
x{color:#003d7e;}
.{color:#003da0;}
x{color:#003dc2;}
.{color:#003de4;}
x{color:#003e06;}
.{color:#003e28;}
x{color:#003e4a;}
.{color:#003e6c;}
x{color:#003e8e;}
.{color:#003eb0;}
x{color:#003ed2;}
.{color:#003ef4;}
x{color:#003f16;}
.{color:#003f38;}
x{color:#003f5a;}
.{color:#003f7c;}
x{color:#003f9e;}
.{color:#003fc0;}
x{color:#003fe2;}
.{color:#004004;}
x{color:#004026;}
.{color:#004048;}
x{color:#00406a;}
.{color:#00408c;}
x{color:#0040ae;}
.{color:#0040d0;}
x{color:#0040f2;}
.{color:#004114;}
x{color:#004136;}
.{color:#004158;}
x{color:#00417a;}
.{color:#00419c;}
x{color:#0041be;}
.{color:#0041e0;}
x{color:#004202;}
.{color:#004224;}
x{color:#004246;}
.{color:#004268;}
x{color:#00428a;}
.{color:#0042ac;}
x{color:#0042ce;}
.{color:#0042f0;}
x{color:#004312;}
.{color:#004334;}
x{color:#004356;}
.{color:#004378;}
x{color:#00439a;}
.{color:#0043bc;}
x{color:#0043de;}
.{color:#004400;}
x{color:#004422;}
.{color:#004444;}
x{color:#004466;}
.{color:#004488;}
x{color:#0044aa;}
.{color:#0044cc;}
x{color:#0044ee;}
.{color:#004510;}
x{color:#004532;}
.{color:#004554;}
x{color:#004576;}
.{color:#004598;}
x{color:#0045ba;}
.{color:#0045dc;}
x{color:#0045fe;}
.{color:#004620;}
x{color:#004642;}
.{color:#004664;}
x{color:#004686;}
.{color:#0046a8;}
x{color:#0046ca;}
.{color:#0046ec;}
x{color:#00470e;}
.{color:#004730;}
x{color:#004752;}
.{color:#004774;}
x{color:#004796;}
.{color:#0047b8;}
x{color:#0047da;}
.{color:#0047fc;}
x{color:#00481e;}
.{color:#004840;}
x{color:#004862;}
.{color:#004884;}
x{color:#0048a6;}
.{color:#0048c8;}
x{color:#0048ea;}
.{color:#00490c;}
x{color:#00492e;}
.{color:#004950;}
x{color:#004972;}
.{color:#004994;}
x{color:#0049b6;}
.{color:#0049d8;}
x{color:#0049fa;}
.{color:#004a1c;}
x{color:#004a3e;}
.{color:#004a60;}
x{color:#004a82;}
.{color:#004aa4;}
x{color:#004ac6;}
.{color:#004ae8;}
x{color:#004b0a;}
.{color:#004b2c;}
x{color:#004b4e;}
.{color:#004b70;}
x{color:#004b92;}
.{color:#004bb4;}
x{color:#004bd6;}
.{color:#004bf8;}
x{color:#004c1a;}
.{color:#004c3c;}
x{color:#004c5e;}
.{color:#004c80;}
x{color:#004ca2;}
.{color:#004cc4;}
x{color:#004ce6;}
.{color:#004d08;}
x{color:#004d2a;}
.{color:#004d4c;}
x{color:#004d6e;}
.{color:#004d90;}
x{color:#004db2;}
.{color:#004dd4;}
x{color:#004df6;}
.{color:#004e18;}
x{color:#004e3a;}
.{color:#004e5c;}
x{color:#004e7e;}
.{color:#004ea0;}
x{color:#004ec2;}
.{color:#004ee4;}
x{color:#004f06;}
.{color:#004f28;}
x{color:#004f4a;}
.{color:#004f6c;}
x{color:#004f8e;}
.{color:#004fb0;}
x{color:#004fd2;}
.{color:#004ff4;}
x{color:#005016;}
.{color:#005038;}
x{color:#00505a;}
.{color:#00507c;}
x{color:#00509e;}
.{color:#0050c0;}
x{color:#0050e2;}
.{color:#005104;}
x{color:#005126;}
.{color:#005148;}
x{color:#00516a;}
.{color:#00518c;}
x{color:#0051ae;}
.{color:#0051d0;}
x{color:#0051f2;}
.{color:#005214;}
x{color:#005236;}
.{color:#005258;}
x{color:#00527a;}
.{color:#00529c;}
x{color:#0052be;}
.{color:#0052e0;}
x{color:#005302;}
.{color:#005324;}
x{color:#005346;}
.{color:#005368;}
x{color:#00538a;}
.{color:#0053ac;}
x{color:#0053ce;}
.{color:#0053f0;}
x{color:#005412;}
.{color:#005434;}
x{color:#005456;}
.{color:#005478;}
x{color:#00549a;}
.{color:#0054bc;}
x{color:#0054de;}
.{color:#005500;}
x{color:#005522;}
.{color:#005544;}
x{color:#005566;}
.{color:#005588;}
x{color:#0055aa;}
.{color:#0055cc;}
x{color:#0055ee;}
.{color:#005610;}
x{color:#005632;}
.{color:#005654;}
x{color:#005676;}
.{color:#005698;}
x{color:#0056ba;}
.{color:#0056dc;}
x{color:#0056fe;}
.{color:#005720;}
x{color:#005742;}
.{color:#005764;}
x{color:#005786;}
.{color:#0057a8;}
x{color:#0057ca;}
.{color:#0057ec;}
x{color:#00580e;}
.{color:#005830;}
x{color:#005852;}
.{color:#005874;}
x{color:#005896;}
.{color:#0058b8;}
x{color:#0058da;}
.{color:#0058fc;}
x{color:#00591e;}
.{color:#005940;}
x{color:#005962;}
.{color:#005984;}
x{color:#0059a6;}
.{color:#0059c8;}
x{color:#0059ea;}
.{color:#005a0c;}
x{color:#005a2e;}
.{color:#005a50;}
x{color:#005a72;}
.{color:#005a94;}
x{color:#005ab6;}
.{color:#005ad8;}
x{color:#005afa;}
.{color:#005b1c;}
x{color:#005b3e;}
.{color:#005b60;}
x{color:#005b82;}
.{color:#005ba4;}
x{color:#005bc6;}
.{color:#005be8;}
x{color:#005c0a;}
.{color:#005c2c;}
x{color:#005c4e;}
.{color:#005c70;}
x{color:#005c92;}
.{color:#005cb4;}
x{color:#005cd6;}
.{color:#005cf8;}
x{color:#005d1a;}
.{color:#005d3c;}
x{color:#005d5e;}
.{color:#005d80;}
x{color:#005da2;}
.{color:#005dc4;}
x{color:#005de6;}
.{color:#005e08;}
x{color:#005e2a;}
.{color:#005e4c;}
x{color:#005e6e;}
.{color:#005e90;}
x{color:#005eb2;}
.{color:#005ed4;}
x{color:#005ef6;}
.{color:#005f18;}
x{color:#005f3a;}
.{color:#005f5c;}
x{color:#005f7e;}
.{color:#005fa0;}
x{color:#005fc2;}
.{color:#005fe4;}
x{color:#006006;}
.{color:#006028;}
x{color:#00604a;}
.{color:#00606c;}
x{color:#00608e;}
.{color:#0060b0;}
x{color:#0060d2;}
.{color:#0060f4;}
x{color:#006116;}
.{color:#006138;}
x{color:#00615a;}
.{color:#00617c;}
x{color:#00619e;}
.{color:#0061c0;}
x{color:#0061e2;}
.{color:#006204;}
x{color:#006226;}
.{color:#006248;}
x{color:#00626a;}
.{color:#00628c;}
x{color:#0062ae;}
.{color:#0062d0;}
x{color:#0062f2;}
.{color:#006314;}
x{color:#006336;}
.{color:#006358;}
x{color:#00637a;}
.{color:#00639c;}
x{color:#0063be;}
.{color:#0063e0;}
x{color:#006402;}
.{color:#006424;}
x{color:#006446;}
.{color:#006468;}
x{color:#00648a;}
.{color:#0064ac;}
x{color:#0064ce;}
.{color:#0064f0;}
x{color:#006512;}
.{color:#006534;}
x{color:#006556;}
.{color:#006578;}
x{color:#00659a;}
.{color:#0065bc;}
x{color:#0065de;}
.{color:#006600;}
x{color:#006622;}
.{color:#006644;}
x{color:#006666;}
.{color:#006688;}
x{color:#0066aa;}
.{color:#0066cc;}
x{color:#0066ee;}
.{color:#006710;}
x{color:#006732;}
.{color:#006754;}
x{color:#006776;}
.{color:#006798;}
x{color:#0067ba;}
.{color:#0067dc;}
x{color:#0067fe;}
.{color:#006820;}
x{color:#006842;}
.{color:#006864;}
x{color:#006886;}
.{color:#0068a8;}
x{color:#0068ca;}
.{color:#0068ec;}
x{color:#00690e;}
.{color:#006930;}
x{color:#006952;}
.{color:#006974;}
x{color:#006996;}
.{color:#0069b8;}
x{color:#0069da;}
.{color:#0069fc;}
x{color:#006a1e;}
.{color:#006a40;}
x{color:#006a62;}
.{color:#006a84;}
x{color:#006aa6;}
.{color:#006ac8;}
x{color:#006aea;}
.{color:#006b0c;}
x{color:#006b2e;}
.{color:#006b50;}
x{color:#006b72;}
.{color:#006b94;}
x{color:#006bb6;}
.{color:#006bd8;}
x{color:#006bfa;}
.{color:#006c1c;}
x{color:#006c3e;}
.{color:#006c60;}
x{color:#006c82;}
.{color:#006ca4;}
x{color:#006cc6;}
.{color:#006ce8;}
x{color:#006d0a;}
.{color:#006d2c;}
x{color:#006d4e;}
.{color:#006d70;}
x{color:#006d92;}
.{color:#006db4;}
x{color:#006dd6;}
.{color:#006df8;}
x{color:#006e1a;}
.{color:#006e3c;}
x{color:#006e5e;}
.{color:#006e80;}
x{color:#006ea2;}
.{color:#006ec4;}
x{color:#006ee6;}
.{color:#006f08;}
x{color:#006f2a;}
.{color:#006f4c;}
x{color:#006f6e;}
.{color:#006f90;}
x{color:#006fb2;}
.{color:#006fd4;}
x{color:#006ff6;}
.{color:#007018;}
x{color:#00703a;}
.{color:#00705c;}
x{color:#00707e;}
.{color:#0070a0;}
x{color:#0070c2;}
.{color:#0070e4;}
x{color:#007106;}
.{color:#007128;}
x{color:#00714a;}
.{color:#00716c;}
x{color:#00718e;}
.{color:#0071b0;}
x{color:#0071d2;}
.{color:#0071f4;}
x{color:#007216;}
.{color:#007238;}
x{color:#00725a;}
.{color:#00727c;}
x{color:#00729e;}
.{color:#0072c0;}
x{color:#0072e2;}
.{color:#007304;}
x{color:#007326;}
.{color:#007348;}
x{color:#00736a;}
.{color:#00738c;}
x{color:#0073ae;}
.{color:#0073d0;}
x{color:#0073f2;}
.{color:#007414;}
x{color:#007436;}
.{color:#007458;}
x{color:#00747a;}
.{color:#00749c;}
x{color:#0074be;}
.{color:#0074e0;}
x{color:#007502;}
.{color:#007524;}
x{color:#007546;}
.{color:#007568;}
x{color:#00758a;}
.{color:#0075ac;}
x{color:#0075ce;}
.{color:#0075f0;}
x{color:#007612;}
.{color:#007634;}
x{color:#007656;}
.{color:#007678;}
x{color:#00769a;}
.{color:#0076bc;}
x{color:#0076de;}
.{color:#007700;}
x{color:#007722;}
.{color:#007744;}
x{color:#007766;}
.{color:#007788;}
x{color:#0077aa;}
.{color:#0077cc;}
x{color:#0077ee;}
.{color:#007810;}
x{color:#007832;}
.{color:#007854;}
x{color:#007876;}
.{color:#007898;}
x{color:#0078ba;}
.{color:#0078dc;}
x{color:#0078fe;}
.{color:#007920;}
x{color:#007942;}
.{color:#007964;}
x{color:#007986;}
.{color:#0079a8;}
x{color:#0079ca;}
.{color:#0079ec;}
x{color:#007a0e;}
.{color:#007a30;}
x{color:#007a52;}
.{color:#007a74;}
x{color:#007a96;}
.{color:#007ab8;}
x{color:#007ada;}
.{color:#007afc;}
x{color:#007b1e;}
.{color:#007b40;}
x{color:#007b62;}
.{color:#007b84;}
x{color:#007ba6;}
.{color:#007bc8;}
x{color:#007bea;}
.{color:#007c0c;}
x{color:#007c2e;}
.{color:#007c50;}
x{color:#007c72;}
.{color:#007c94;}
x{color:#007cb6;}
.{color:#007cd8;}
x{color:#007cfa;}
.{color:#007d1c;}
x{color:#007d3e;}
.{color:#007d60;}
x{color:#007d82;}
.{color:#007da4;}
x{color:#007dc6;}
.{color:#007de8;}
x{color:#007e0a;}
.{color:#007e2c;}
x{color:#007e4e;}
.{color:#007e70;}
x{color:#007e92;}
.{color:#007eb4;}
x{color:#007ed6;}
.{color:#007ef8;}
x{color:#007f1a;}
.{color:#007f3c;}
x{color:#007f5e;}
.{color:#007f80;}
x{color:#007fa2;}
.{color:#007fc4;}
x{color:#007fe6;}
.{color:#008008;}
x{color:#00802a;}
.{color:#00804c;}
x{color:#00806e;}
.{color:#008090;}
x{color:#0080b2;}
.{color:#0080d4;}
x{color:#0080f6;}
.{color:#008118;}
x{color:#00813a;}
.{color:#00815c;}
x{color:#00817e;}
.{color:#0081a0;}
x{color:#0081c2;}
.{color:#0081e4;}
x{color:#008206;}
.{color:#008228;}
x{color:#00824a;}
.{color:#00826c;}
x{color:#00828e;}
.{color:#0082b0;}
x{color:#0082d2;}
.{color:#0082f4;}
x{color:#008316;}
.{color:#008338;}
x{color:#00835a;}
.{color:#00837c;}
x{color:#00839e;}
.{color:#0083c0;}
x{color:#0083e2;}
.{color:#008404;}
x{color:#008426;}
.{color:#008448;}
x{color:#00846a;}
.{color:#00848c;}
x{color:#0084ae;}
